@import "variables";

html, body{
  height: 100%;
}
body {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
}
*:not(p) {
  margin: 0;
  padding: 0;
}
[role=button] {
  cursor: pointer;
}
a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $color-orange;
  }
}
input, select {
  font-size: 14px;
  padding: 2px;
}

.page-wrapper.mat-drawer-container{
  z-index: unset;
  min-height: calc(100% - (#{$top-toolbar-height} + #{$footer-toolbar-height}));
  .mat-drawer-content{
    overflow: hidden;
    min-height: 450px;
    min-height: calc(100vh - (#{$top-toolbar-height} + #{$footer-toolbar-height}));
  }
}
.toolbar-dropdown-menu.mat-menu-panel{
  margin-top: 9px;
  border-radius: 0 !important;
  overflow: hidden;
  .mat-menu-content{
    padding: 0;
  }
  .ps__rail-y{
    left: auto !important;
  }
}

.logo-agrement{
  font-weight: 700;
  text-decoration: none;  
  min-width: calc(#{$sidenav-width} - 16px);
  color: #fff; 
  img{
    width: 55px;
    height: 55px;
    margin: 2px 2px 2px 2px;
  }
  &.mobile{
    min-width: calc(#{$mini-sidenav-width} - 16px); 
    span{
      display: none;
    } 
  }   
}

.logo{
  font-weight: 700;
  text-decoration: none;  
  min-width: calc(#{$sidenav-width} - 16px);
  color: #fff; 
  img{
    width: 200px;
    height: 55px;
    margin: 2px 2px 2px 2px;
  }
  &.mobile{
    min-width: calc(#{$mini-sidenav-width} - 16px); 
    span{
      display: none;
    } 
  }   
}

.sidenav .mat-drawer-inner-container{
  overflow: hidden; 
} 

.app {
  height: 100%;
  overflow: hidden;
  &.overflowYScroll {
    overflow-y: scroll;
  }
  &.fixed-header {
    .page-wrapper.mat-drawer-container{
      top: $top-toolbar-height;
      padding-bottom: $footer-toolbar-height;
      min-height: calc(100% - #{$top-toolbar-height}); 
    }
    .header{
      position: fixed;
      z-index: 999;
      width: 100%;
    }
    .sidenav{
      padding-bottom: $footer-toolbar-height;
    }
    &.fixed-sidenav{
      .sidenav{
        padding-bottom: 0;
      }
    }
  }
  &.fixed-sidenav{
    .sidenav{
      position: fixed;
      z-index: 3;
      .sidenav-menu-outer{
        height: calc(100% - #{$top-toolbar-height});
      }
    }
    .footer{
      transition: 0.3s;
      width: calc(100% - #{$sidenav-width});
      float: right;
      &.full-width{
        width: 100%;
      }
    }
    &.compact{
      .footer{
        width: calc(100% - #{$compact-sidenav-width});
        &.full-width{
          width: 100%;
        }
      }      
    }
    &.mini{
      .footer{
        width: calc(100% - #{$mini-sidenav-width});
        &.full-width{
          width: 100%;
        }
      }      
    }
  }
  &.fixed-footer{
    .page-wrapper.mat-drawer-container{
      padding-bottom: $footer-toolbar-height;
    }
    .sidenav{
      padding-bottom: $footer-toolbar-height;
    }
    .footer{
      position: fixed;
      bottom: 0;
      right: 0;
    }
    &.fixed-sidenav{
      .sidenav{
        padding-bottom: 0;
        z-index: 4;
      }
    }
  }
  &.compact{
    .logo{   
      min-width: calc(#{$compact-sidenav-width} - 16px);  
    }
    .sidenav{
      width: $compact-sidenav-width;
    }  
    .user-block{
      img{
        width: 90px;
        height: 90px;
      }
    }      
    .menu-item{
      .mat-button{
        cursor: pointer;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;        
        .menu-icon{
          margin: 0;
        }
        .menu-title{
          line-height: 24px;
        }
      }
      .mat-button-wrapper{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .menu-expand-icon{
      top: 28px;
    }
    .sub-menu{
      .mat-button{
        padding-left: 0 !important;
      }
    }
  }
  &.mini{
    .logo{   
      min-width: calc(#{$mini-sidenav-width} - 16px); 
      span{
        display: none;
      }   
    }
    .sidenav{
      width: $mini-sidenav-width;
    }
    .user-block{
      img{
        width: 45px;
        height: 45px;
      }
    }
    .menu-item{
      .mat-button{
        padding-top: 8px;
        padding-bottom: 8px;
        min-width: $mini-sidenav-width;
        .menu-icon{
          margin: 0;
        }
        .menu-title{
          line-height: 24px;
        }
      }
      .mat-button-wrapper{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .menu-title{
        display: none;
      }
    }    
    .menu-expand-icon{
      top: 14px;
      right: -4px;
    }
    .sub-menu{
      .mat-button{
        padding-left: 0 !important;
      }
    }
  }
  &.horizontal-menu{
    &.compact{
      .logo{   
        min-width: calc(#{$sidenav-width} - 16px); 
        span{
          display: block;
        }   
      }
      .horizontal-menu-item{
        .mat-button{
          padding-top: 4px;
          padding-bottom: 4px;
          .horizontal-menu-title{
            line-height: 18px;
          }
          .horizontal-menu-icon{
            margin:0;
          }
        }
        .mat-button-wrapper{
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .horizontal-sub-menu{
          .mat-button{
            flex-direction: row;
            justify-content: flex-start !important;
            align-items: center;
            .horizontal-menu-icon{
              margin-right: 10px;
            }
          }
          .mat-button-wrapper{
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }
    &.mini{
      .logo{   
        min-width: calc(#{$sidenav-width} - 16px); 
        span{
          display: block;
        }   
      }
      .horizontal-menu-item{
        .mat-button{
          min-width: 56px;
          .horizontal-menu-title{
            display: none;
          }
          .horizontal-menu-icon{
            margin:0;
          }
        }
        .horizontal-sub-menu{
          width: 68px;
          .mat-button{
            justify-content: center !important;
          }
        }
      }
    }
  }

}

/* Material Components */
.mat-card {
  overflow: hidden;
  &.custom-card {
    background-repeat: round;
    background-position-y: 1em;
    cursor: pointer;

    .mat-card-header {
      margin: -16px -16px 0;
      .mat-card-title {
        font-size: 1.8em;
        font-weight: 400;
      }
    }
    .mat-card-actions {
      padding-left: 6px;
      padding-right: 6px;
    }

    &:hover {
      -webkit-transform: translateY(-5px) scale(1.02) !important;
      transform: translateY(-5px) scale(1.02) !important;
      -webkit-box-shadow: 0px 5px 12px rgba(44, 143, 223, 0.5) !important;
      box-shadow: 0px 5px 12px rgba(44, 143, 223, 0.5) !important;
    }
  }
}

.mainPageMenu {
  .mat-card {
    .mat-card-title {
      margin: 1em 0 0;
      span {
        width: 3.25em;
        height: 3.25em;
      }
    }
    .mat-card-content {
      font-size: 2em;
      font-weight: 400;
    }
  }
}

.mat-list .mat-list-item, 
.mat-nav-list .mat-list-item, 
.mat-selection-list .mat-list-item,
.mat-menu-item{
  font-size: 14px !important;
}



.mat-icon-button .mat-icon.mat-icon-xs,
.mat-icon.mat-icon-xs{
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  width: 14px;
  vertical-align: middle;
}
.mat-icon-button .mat-icon.mat-icon-sm,
.mat-icon.mat-icon-sm,
.icon-sm {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.mat-icon-button .mat-icon.mat-icon-lg,
.mat-icon.mat-icon-lg{
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
}
.mat-icon-button .mat-icon.mat-icon-xlg,
.mat-icon.mat-icon-xlg{
  font-size: 48px;
  line-height: 48px;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.mat-icon-button, svg-icon {
  flex-direction: row;
  display: inline-flex;
  place-content: center;
  align-items: center;
}

svg-icon {
  display: inline-flex !important;
}

.vertical-tabs.mat-tab-group{
  flex-direction: row;
  .mat-tab-labels{
    flex-direction: column;
  }
  .mat-ink-bar{
    display: none;
  }
  .mat-tab-header{
    border: none !important
  }
  .mat-tab-body-wrapper{
    padding: 0 16px;
  }
}

.mat-tab-link, .mat-tab-label {
  opacity: 1 !important;
  min-width: auto !important;
  overflow: visible !important;
}
.mat-tab-link:not(:last-child), .mat-tab-label:not(:last-child) {
  margin-right: 35px;
}

// Customization
.app .mat-toolbar.mat-toolbar-single-row {
  &.content-toolbar {
    background-color: $color-yellow;
    color: white;
    height: auto;
    min-height: 40px;
    button {
      padding: 0 0.25rem;
      .mat-icon {
        font-size: 20px;
      }
    }
  }
}

.mat-card-p-0 {
  &.mat-card {
    padding: 0;
  }
}

.mat-radio-group-container {
  padding: 0.4375em 0 1.25em 0;
  border-top: 0.84375em solid transparent;
  label {
    margin-right: 1em;
  }
}
.mat-radio-group {
  position: relative;

  .mat-error {
    position: absolute;
    top: 2.2em;
    font-size: 75%;
  }
}

.mat-dialog-container {
  position: relative;
  .mat-dialog-title {
    text-align: center;
    font-size: 26px;
    font-weight: 360;
  }

  .mat-dialog-body {
    background: #f3f3f3;
    padding: 20px 24px 8px;
    margin: 0 -24px -24px;
    .mat-dialog-actions {
      div {
        &:first-child {
          padding-right: 8px;
        }
        &:last-child {
          padding-left: 8px;
        }
      }
    }
  }

  .mat-dialog-close-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }

  .mat-dialog-actions {
    margin-bottom: 0;
  }
}

.mat-accordion {
  .mat-expansion-panel-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-expansion-panel-body {
    padding: 1em 0px 1em;
    .datatable-checkbox {
      margin-top: -10px;
    }
  }
}

.mat-raised-button:hover .mat-button-focus-overlay,
.mat-icon-button:hover .mat-button-focus-overlay {
  opacity: .04;
}

.mat-menu-panel {
  max-width: initial !important;
  position: relative;
  .filter-ctn {
    max-width: 680px;
  }
}

.ngx-datatable.material {
  .datatable-body .datatable-body-row {
    .datatable-row-group {
      .datatable-body-cell:first-child {
        font-weight: 600;
      }
    }
  }
  datatable-selection {
    display: flex;
  }
  .empty-row {
    padding-top: 15px;
  }
}

//mailbox
.mail-body{
  p{
    margin-bottom: 1rem;
  }
  ul{
    margin: 0 16px;
  }
  .ql-container.ql-snow{
    min-height: 120px;
    margin-bottom: 10px;
  }
}

//default scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
  &:hover{
    background: #cccccc;
  }
  &:active{
    background: #888888; 
  }
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
  &:hover{
    background: #666666;
  }
  &:active{
    background: #333333; 
  }
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.grecaptcha-badge {
  z-index: 99;
}

.programInfo {
  span.color-orange {
    display: inline-block;
    min-width: 140px;
  }
  div.text-bold, div.mt-3 {
    font-size: 16px;
  }
}

.closeAction {
  position: absolute !important;
  top: 6px;
  right: 6px;
}

.readonlyField {
  flex-direction: column;
  display: flex;
  label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }
}