.menu-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-metfpet {
  @extend .menu-icon;
  background-image: url('/assets/img/logo.png');
}

.icon-outline {
  position: relative;
  .mat-icon {
    font-size: 32px;
  }
  .mat-icon:nth-child(2) {
    position: absolute;
    font-size: 16px;
    left: 8px;
    top: -11px;
  }
}

.mat-icon.material-icons.default-user {
  color: $color-orange;
  width: 120px;
  height: 120px;
  font-size: 120px;
}


