@import "variables";
@mixin theme-reset($theme, $typo) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .bg-primary {
    @include _mat-toolbar-color($primary);
  }
  .bg-accent {
    @include _mat-toolbar-color($accent);
  }
  .bg-warn {
    @include _mat-toolbar-color($warn);
  }
  .secondary-text-color{
    color: mat-color($foreground, secondary-text);
  }
  .primary-color{
    color: mat-color($primary) !important;
  }
  .accent-color{
    color: mat-color($accent) !important;
  }
  .warn-color{
    color: mat-color($warn) !important;
  }
  .headline {
    font-size: mat-font-size($typo, headline);
  }
  .title {
    font-size: mat-font-size($typo, title);
  }
  .subheading-2 {
    font-size: mat-font-size($typo, subheading-2);
  }
  .subheading-1 {
    font-size: mat-font-size($typo, subheading-1);
  }
  .caption {
    font-size: mat-font-size($typo, caption);
  }

  .header{
    background: mat-color($background, card);
    color: mat-color($foreground, base);
    .info-content{
      .top-contact-form{    
        border-color: mat-color($foreground, divider);
      }
    }
  }
  .content-header h4{
    color: mat-color($primary, lighter);
  }
  .favorites-container:after{
    color: mat-color($accent);
  }


  .horizontal-menu{
    background: mat-color($background, card);
  }
  .horizontal-menu-item {    
    .horizontal-sub-menu{
      background: mat-color($background, card);
    }
    .mat-button{
      color: mat-color($foreground, secondary-text);
      .horizontal-menu-title{
        color: mat-color($foreground, text);
      }
      &.parent-item{
        .horizontal-menu-icon{
          background: mat-color($background, focused-button);
          color: mat-color($foreground, secondary-text);
        }
        &.active-link{
          background: mat-color($background, focused-button);
          .horizontal-menu-icon{
            background: mat-color($primary);
            color: #fff;
          }
        }
      }
    }
  }
    
  .menu-item{
    .mat-button{
      text-decoration: none;
      font-size: mat-font-size($typo, subheading-2);
      .menu-title {
        color: mat-color($foreground, secondary-text);
      }
      &.active-link {
        background: mat-color($background, focused-button);
        .menu-title {
          color: mat-color($accent);
        }
      }
    }
  }
  .menu-expand-icon{
    color: mat-color($foreground, secondary-text);
  }
  .breadcrumb a{
    color: white;
  }
  .top-toolbar, .landing-toolbar{
    background: white;
    color: $color-blue;
  }
  .menu-toolbar{
    background: mat-color($primary, 900);
    color: mat-color($primary, 100);
  } 
  .ps__thumb-y{
    background-color: mat-color($primary);
  }

  .testimonial-item, .pricing-card {
    border-top: 4px solid mat-color($accent);    
  }

  /* ngx-charts */
  .ngx-charts{
    text{
      fill: mat-color($foreground, text); 
    }     
  }
  [class*=gradient-] .ngx-charts{
    text{
      fill: #fff;
    }     
  }

  /* ngx-pagination */
  .annular-pagination .ngx-pagination{
    margin-bottom: 0;
    padding: 4px;
    .current {
      @include _mat-toolbar-color($primary);
    }
    a:hover, button:hover{
      background: rgba(mat-color($primary), 0.2);
      color: mat-color($foreground, base);
    }
  }

  /* ngx-datatable */
  .ngx-datatable.material {
    .datatable-header {
      .datatable-header-cell {
        background: $color-green-dark;
        color: white;
        font-size: mat-font-size($typo, body-1);
      }
      .datatable-header-cell:not(:last-child) {
        border-right: 1px solid white;
      }
    }
  }

  /* angular-calendar */
  .cal-day-view .cal-hour-segment:hover, 
  .cal-day-view .cal-drag-over .cal-hour-segment,
  .cal-week-view .cal-day-headers .cal-header:hover, 
  .cal-week-view .cal-day-headers .cal-drag-over,
  .cal-month-view .cal-cell-row .cal-cell:hover, 
  .cal-month-view .cal-cell.cal-has-events.cal-open{
    background-color: rgba(mat-color($primary), 0.4);  
  }
  .cal-month-view .cal-cell-row:hover{
    background-color: rgba(mat-color($primary), 0.05);     
  }
  .cal-week-view .cal-header.cal-today,
  .cal-month-view .cal-day-cell.cal-today{
    background-color: rgba(mat-color($primary), 0.4);   
  }
  .cal-day-view .cal-hour:nth-child(odd){
    background-color: inherit;
  }
  .cal-event-action i{
    margin: 4px;
  }

  /* ngx-quill */
  .ql-snow .ql-picker,
  .ql-editor.ql-blank::before{
    color: mat-color($foreground, text);
  }
  .ql-snow .ql-stroke{
    stroke: mat-color($foreground, text);
  }
  .ql-snow .ql-fill{
    fill: mat-color($foreground, text);
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label, 
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    background: mat-color($background, app-bar);
  }

  /* ngx-charts */
  .ngx-charts{
    text{
      fill: mat-color($foreground, text); 
    }     
  }

  .mainPageMenu {
    .mat-card {
      &:hover {
        .mat-card-content {
          color: mat-color($accent); 
        }
      }
    }
  }

  .mat-tab-header {
    border-bottom: 2px solid $color-green-dark;
  }

  .mat-tab-group {
    .mat-tab-label {
      border: 2px solid $color-green-dark;
      border-bottom: none;
      color: $color-green-dark;
      text-decoration: none;

      &.mat-tab-label-active {
        color: white;
        background-color: $color-green-dark;
        border: 2px solid $color-green-dark;
      }
    }

    .mat-tab-list .mat-ink-bar {
      background-color: $color-green-dark;
    }

    .mat-tab-label, .mat-tab-label-active {
      min-width: 164px !important;
      margin: 0 24px;
      height: 35px;
      font-size: 16px !important;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .mat-tab-link, .mat-tab-label {
      font-size: mat-font-size($typo, title);
      font-weight: 400;
    }
  }

  .mat-expansion-panel {
    &:not(.table-expansion-panel) > .mat-expansion-panel-header {
      color: mat-color($accent);
      .mat-expansion-panel-header-title {
        color: mat-color($accent);
        font-size: mat-font-size($typo, subheading-2);
      }
    }
    &.table-expansion-panel .mat-expansion-panel-body {
      background-color: #f4f4f4;
      margin: 0;
    }
    &.has-nested {
      .mat-expansion-panel-body {
        padding: 0px;
      }
    }
  }

  /* Mat dialog */
  .mat-dialog-container {
    background: mat-color($primary);
    color: mat-color($foreground, elevation);
  }
  .Info .mat-dialog-container {
    background: $color-green;
  }
  .Warn .mat-dialog-container {
    background: $color-orange;
  }
  .Error .mat-dialog-container {
    background: mat-color($warn);
  }

  .mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: #fff;
    }
    .mat-slide-toggle-bar {
      background-color: $color-green;
    }
  }

  .mat-dialog-title, .mat-dialog-close-btn {
    color: mat-color($primary, default-contrast);
  }

  .mat-option {
    font-size: mat-font-size($typo, body-2);
    height: 42px;
  }

  @media screen and (max-width: 599px) {
    .choice_classement {
      .mat-card-header {
        .mat-card-title {
          font-size: mat-font-size($typo, subheading-1);   
        }
        .mat-card-subtitle {
          min-height: 48px;
        }
      }
    }
  }
  .mat-snack-bar-container {
    background: #fff;
    color: inherit;
  }

}

