@import 'variables';

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.vertical-top {
  vertical-align: top;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.text-bold-500 {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.flex-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  width: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none !important;
}

.o-hidden{
  overflow: hidden !important;
}

.h-300p {
  height: 300px;
}

.h-400p {
  height: 400px;
}

.mw-120p {
  min-width: 120px !important;
}

.transition {
  transition: 0.2s;
}

.pointer {
  cursor: pointer;
}

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.bg-green {
  background-color: $color-green !important;
  color: white !important;
}
.bg-green-dark {
  background-color: $color-green-dark !important;
  color: white !important;
}
.bg-orange {
  background-color: $color-orange !important;
  color: white !important;
}
.bg-orange-dark {
  background-color: $color-orange-dark !important;
  color: white !important;
}

.bg-pink-light {
  background-color: $color-pink-light  !important;
}

.bg-white {
  background-color: #fff !important;
}

.color-blue {
  color: $color-blue !important;
}
.color-green {
  color: $color-green !important;
}
.color-green-dark {
  color: $color-green-dark !important;
}
.color-orange {
  color: $color-orange !important;
}
.color-grey {
  color: $color-grey !important;
}
.color-red {
  color: $color-red !important;
}

.border {
  border: 1px solid $border-color !important;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
  &.green-dark {
    border-bottom: 1px solid $color-green-dark;
  }
}

.border-y-orange {
  border-top: 1px solid $color-orange;
  border-bottom: 1px solid $color-orange;
}

.rounded {
  border-radius: 5px;
}

.top-rounded {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bottom-rounded {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.shadow-all {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.button-icon {
  min-width: 180px !important;
  min-height: 100px;
  .mat-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  div {
    font-size: 18px;
  }
}