$main-font-family: 'Roboto', sans-serif;
$main-font-family-material: 'Roboto, sans-serif';

$top-toolbar-height: 56px; 
$horizontal-menu-height: 64px; 
$footer-toolbar-height: 56px; 

$sidenav-width: 260px;
$compact-sidenav-width: 170px;
$mini-sidenav-width: 66px;

$color-blue: #0288d1;
$color-blue-light: #aedff5;
$color-green: #79a82d;
$color-green-dark: #57a17a;
$color-grey: #b7b7b7;
$color-orange: #ED7F27;
$color-orange-dark: #DB6813;
$color-pink-light: #F7D2C9;
$color-yellow-light: #FAEBCF;
$color-yellow: #F8B400;
$color-red: #C70E0E;

$border-color: #d7d7d7;