@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import 'utilities';
@import 'base';
@import 'spaces';
@import 'libs-override';
@import 'theme';
@import 'gradients';
@import 'rtl';
@import 'icons';
@import 'dragula';
