<app-content-header 
  [customIcon]="'menu-diplomes'" 
  [title]="title" 
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<div class="m-3">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" hideToggle="true" disabled="true" class="has-nested">
      <mat-expansion-panel-header class="px-3">
        <mat-panel-title>Diplômes et certifications</mat-panel-title>
        <mat-icon>school</mat-icon>
      </mat-expansion-panel-header>

      <ngx-datatable fxHide fxShow.gt-xs="true" class="material m-3" [limit]="10" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="diplomeList"
        [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}"
        [loadingIndicator]="loadingIndicator">

        <ngx-datatable-column name="Type">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDiplomeName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Période de diplomation">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateDebut}} - {{row.dateFin}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Institution">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Programme">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="URL du diplôme">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.diplomaUrl}}</ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Statut">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Actions" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="color-orange" *ngIf="row.actionName === 'Ouvrir'">{{row.actionName}}</a>
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>

      <mat-accordion fxHide fxShow.xs="true" multi="true" class="m-3">
        <mat-expansion-panel *ngFor="let row of diplomeList" class="table-expansion-panel">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>{{row.typeDiplomeName}}</mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Type</span>
            <span fxFlex="50" class="px-2 text-right">{{row.typeDiplomeName}}</span>
          </div>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Période de diplomation</span>
            <span fxFlex="50" class="px-2 text-right">{{row.dateDebut}} - {{row.dateFin}}</span>
          </div>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Institution</span>
            <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
          </div>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Programme</span>
            <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
          </div>

          <!-- <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">URL du diplôme</span>
            <span fxFlex="50" class="px-2 text-right">{{row.diplomaUrl}}</span>
          </div> -->

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Statut</span>
            <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
          </div>

          <!-- <mat-action-row class="px-2">
            <div fxFlex="50" class="px-2"></div>
            <div fxFlex="50" class="px-2">
              <button mat-raised-button type="button" class="bg-orange w-100" *ngIf="row.actionName === 'Ouvrir'">{{row.actionName}}</button>
            </div>
          </mat-action-row> -->
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>