<div mat-dialog-title>Moyenne</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="column">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Moyenne du BAC" formControlName="generalAverage">
          <mat-error *ngIf="form.controls.generalAverage.errors?.required">La moyenne du BAC est requise</mat-error>
          <mat-error *ngIf="form.controls.generalAverage.hasError('pattern')">La moyenne du BAC n'a pas le bon format</mat-error>
        </mat-form-field>
      </div>
       
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Rang du BAC" formControlName="ranc">
          <mat-error *ngIf="form.controls.ranc.hasError('pattern')">Le rang du BAC n'a pas le bon format</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Ok
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>