<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content>
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="!isCreation">
          <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
            {{form.controls.status.value ? 'Actif' : 'Inactif'}}
          </mat-slide-toggle>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Type de statut associé" [values]="associatedTypeList" 
            idField="value" valueField="name" formControlName="associatedType" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Statut minimal de disponibilité" [values]="associatedTypeStatusList" 
            idField="value" valueField="name" formControlName="associatedTypeStatus" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Nécessite un paiement" [values]="requirePaymentList" 
            idField="value" valueField="name" formControlName="requirePayment" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Prix *" formControlName="montant">
            <mat-error *ngIf="form.controls.name.errors?.required">Le prix est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Commande" [values]="commandeList" 
            idField="value" valueField="name" formControlName="commande" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Mode de diffusion" [values]="diffusionList" 
            idField="value" valueField="name" formControlName="diffusion" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Statut du template" [values]="documentTemplateStatusList" 
            idField="value" valueField="name" formControlName="templateStatus" [required]="true">
          </autocomplete>
        </div>
      </div> 
    </mat-card-content>
  </mat-card>

  <mat-card class="m-3 document" *ngIf="!isCreation">
    <mat-card-content>
      <document-viewer [documentContent]="htmlTemplate"></document-viewer>
    </mat-card-content>
  </mat-card>
</form>

