<div mat-dialog-title>{{title}}</div>

<form *ngIf="showForm || removeCards" [formGroup]="form" class="mat-dialog-body">
    <div style="display:flex; flex-direction: column;">
        <div style="text-align: center;">{{formTitle}}</div>

        <div>
            <mat-form-field fxFlex="100" class="none-border-bottom mt-3">
                <input type="number" formControlName="numberOfCard" class="w-100" matInput
                    placeholder="Nombre de cartes - Max : 1000 *">
                <mat-error
                    *ngIf="form.controls.numberOfCard.hasError('required') && (form.get('numberOfCard').dirty || form.get('numberOfCard').touched)">Ce
                    champ est requis</mat-error>
                <mat-error *ngIf="form.controls.numberOfCard.hasError('maxLength')">Maximum 1000 cartes</mat-error>
                <mat-error *ngIf="form.controls.numberOfCard.hasError('minLength')">Minimum 1 carte</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100">
            <autocomplete formControlName="period" placeholder="Période*" [values]="datas.anneeAcademiqueList"
                idField="id" valueField="name">
            </autocomplete>
            <mat-error
                *ngIf="form.controls.period.hasError('required') && (form.get('period').dirty || form.get('period').touched)">Ce
                champ est requis</mat-error>
        </div>

        <div fxFlex="100">
            <autocomplete formControlName="institution" placeholder="Institution*" [values]="datas.institutionList"
                idField="id" valueField="name">
            </autocomplete>
            <mat-error
                *ngIf="form.controls.period.hasError('required') && (form.get('period').dirty || form.get('period').touched)">Ce
                champ est requis</mat-error>
        </div>

        <div fxFlex="100">
            <autocomplete formControlName="niveauEtude" placeholder="Niveau Etude" [values]="niveauEtudeList"
                idField="id" valueField="name">
            </autocomplete>
            <mat-error
                *ngIf="form.controls.period.hasError('required') && (form.get('period').dirty || form.get('period').touched)">Ce
                champ est requis</mat-error>
        </div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()" (click)="onClose()">
                Annuler
            </button>
        </div>
        <div class="submitAction">
            <button [disabled]="!form.valid" mat-raised-button #submitButton color="primary"
                (keydown.arrowleft)="cancelButton.focus()" (click)="onSubmit()">
                Valider
            </button>
        </div>
    </div>
</form>

<form *ngIf="showDownloadForm" [formGroup]="downloadForm" class="mat-dialog-body">
    <div *ngIf="!isDownloadStarted">
        <div style="display:flex; flex-direction: column;">
            <div style="text-align: center;">Veillez selectionner l'institution des cartes à télécharger.</div>
    
            <div fxFlex="100">
                <autocomplete formControlName="institution" placeholder="Institution*" [values]="datas.institutionList"
                    idField="id" valueField="name">
                </autocomplete>
            </div>
        </div>
    
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <div class="cancelAction">
                <button mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()" (click)="onClose()">
                    Annuler
                </button>
            </div>
            <div class="submitAction">
                <button [disabled]="!downloadForm.valid" mat-raised-button #submitButton color="primary"
                    (keydown.arrowleft)="cancelButton.focus()" (click)="onDowload()">
                    Telecharger
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isDownloadStarted">
        <div style="text-align: center; font-size: 14; padding: 20px">
            {{downloadText}}
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <div class="cancelAction">
                <button mat-raised-button #cancelButton (click)="onClose()">
                    Terminer
                </button>
            </div>
           
        </div>
    </div>
</form>

<div class="mat-dialog-body" *ngIf="showNumberOfCardLoaded">
    <div
        style="display: flex; justify-content: center; align-items: center; margin-top: 5px; margin-bottom: 5px; font-size: 30px;">
        <p>
            <strong>{{numberOfCard}}</strong> cartes ont été chargées.
        </p>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (click)="onClose()">
                Annuler
            </button>
        </div>
        <div class="submitAction" *ngIf="numberOfCard > 0">
            <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
                (click)="onGenerateOrRemoveAction()">
                Valider
            </button>
        </div>
    </div>
</div>

<div *ngIf="showCardPrinted" id="documentContent" class="mat-dialog-body">
    <div
        style="display: flex; justify-content: center; align-items: center; margin-top: 5px; margin-bottom: 5px; font-size: 30px;">
        <p *ngIf="!removeProcessDone">
            Traitement des cartes en cours... {{processedBatchCount}} / {{documentList.length}}
        </p>
        <p *ngIf="removeProcessDone">
            {{processedBatchCount}} carte(s) Supprimée(s) avec succès.
        </p>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (click)="onClose()">
                Terminer
            </button>
        </div>
    </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>