<app-content-header 
  [customIcon]="'menu-documents'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    <button mat-button (click)="newDocument()" *ngIf="!isMinistre()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="75" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Nom" formControlName="name">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-slide-toggle class="my-3" labelPosition="after" formControlName="isActive">
            Filtrer par statut actif
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom du document" prop="name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut minimal de disponibilité" prop="associatedTypeStatusName" [headerClass]="'col-associatedTypeStatusName'" [cellClass]="'col-associatedTypeStatusName'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.associatedTypeStatusName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut du template" prop="templateStatusName" [headerClass]="'col-templateStatus'" [cellClass]="'col-templateStatus'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.templateStatusName}}
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Prix du document" prop="montant" [headerClass]="'col-montant'" [cellClass]="'col-montant'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Diffusion" prop="diffusionName" [headerClass]="'col-diffusion'" [cellClass]="'col-diffusion'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.diffusionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Commande" prop="commandeName" [headerClass]="'col-commande'" [cellClass]="'col-commande'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.commandeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actif" prop="statusName" [headerClass]="'col-actif'" [cellClass]="'col-actif'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
          {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
        </mat-icon>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'" *ngIf="!isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span></mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut minimal de disponibilité</span>
          <span fxFlex="50" class="px-2 text-right">{{row.associatedTypeStatusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut du template</span>
          <span fxFlex="50" class="px-2 text-right">{{row.templateStatusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prix du document</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Diffusion</span>
          <span fxFlex="50" class="px-2 text-right">{{row.diffusionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Commande</span>
          <span fxFlex="50" class="px-2 text-right">{{row.commandeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actif</span>
          <span fxFlex="50" class="px-2 text-right">
            <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
              {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
          </span>
        </div>

        <mat-action-row class="px-2" *ngIf="!isMinistre()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
