:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-associatedTypeStatusName,
    .datatable-body-cell.col-associatedTypeStatusName {
      max-width: 300px !important;
    }

    .datatable-header-cell.col-templateStatus,
    .datatable-body-cell.col-templateStatus {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-diffusion,
    .datatable-body-cell.col-diffusion {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-commande,
    .datatable-body-cell.col-commande {
      max-width: 240px !important;
    }

    .datatable-header-cell.col-montant,
    .datatable-body-cell.col-montant {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-actif,
    .datatable-body-cell.col-actif {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 100px !important;
    }
  }
}