<app-content-header [customIcon]="'menu-documents'" [title]="title" [hideBreadcrumb]="false" [hasBgImage]="true"
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayoutAlign="end" class="mt-3" *ngIf="!this.isMinistre()">
  <button *ngIf="isAdminUser()" (click)="removeCardByInsitution()" class="mr-3" mat-raised-button color="warn">Supprimer les cartes par institution</button>
  <button (click)="downloadCardByInstitution()" class="mr-3" mat-raised-button color="primary">Télécharger les cartes par institution</button>
  <button (click)="loadRegistrationPeriod()" mat-raised-button color="primary" class="mr-3">Générer les cartes par institution</button> 
  <button (click)="getSelectedRow()" class="mr-3" mat-raised-button color="primary">Générer par sélection</button>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve"
              placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Période" [values]="anneeAcademiqueList" idField="id" valueField="name"
            formControlName="anneeAcademique">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" idField="id" valueField="name"
            formControlName="institution">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau d'étude" [values]="niveauEtudeList" idField="id" valueField="name"
            formControlName="niveauEtude">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchMatricule formControlName="matricule" placeholder="Matricule">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" idField="value" valueField="name"
            formControlName="etudiantStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25">
          <button mat-button type="button" color="primary" #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" class="px-4 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <div fxLayout="row wrap" class="filter-ctn px-2 pt-4 pb-2">

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Document disponible" [values]="documentList" idField="id" valueField="name"
              formControlName="documentId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Programme" [values]="programList" idField="id" valueField="name"
              formControlName="programme">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container">
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button"
              (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable fxHide fxShow.gt-xs="true" #table class="material" [rows]="pageRows" [count]="total"
    [offset]="pageOffset" [limit]="pageSize" [externalPaging]="true" [sorts]="[sort]" [sortType]="'single'"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator" [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }" (page)="onChangePage($event)" (sort)="onSort($event)">

    <ngx-datatable-column *ngIf="showMultipleSelect" name="Sélection" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="checkbox" [checked]="isSelected(row)" (change)="toggleSelection(row)" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom" prop="firstName" [headerClass]="'col-prenom'" [cellClass]="'col-prenom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom" prop="name" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Matricule" prop="matricule" [headerClass]="'col-matricule'"
      [cellClass]="'col-matricule'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution" prop="institutionName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Programme" prop="programmeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Période" prop="anneeAcademiqueName" [headerClass]="'col-periode'"
      [cellClass]="'col-periode'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" prop="etudiantStatusName" [headerClass]="'col-status'"
      [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantStatusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Document statut" prop="impressionDocumentStatusName" [headerClass]="'col-status'"
      [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.impressionDocumentStatusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [headerClass]="'col-action'" [cellClass]="'col-action'" *ngIf="!this.isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <a (click)="printDocument(row)" class="color-blue">{{row.isPdfCardExist ? 'Imprimer' : 'Générer'}}</a>
          <a *ngIf="row.isPdfCardExist && isAdminUser()" (click)="removeCard(row)" style="color: orangered;">Supprimer</a>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let row of pageRows" class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.firstName}} {{row.name}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Matricule</span>
          <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Période</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Document statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.impressionDocumentStatusName}}</span>
        </div>

        <mat-action-row class="px-2" *ngIf="!this.isMinistre()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="printDocument(row)" class="w-100">{{row.isPdfCardExist ? 'Imprimer' : 'Générer'}}</button>
            <button mat-raised-button type="button" color="warn" *ngIf="row.isPdfCardExist && isAdminUser()" (click)="removeCard(row)"  class="w-100">Supprimer</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator style="background: transparent" [length]="total" [pageSize]="pageSize"
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>