<app-content-header 
  [customIcon]="'menu-operation-documents'"
  [title]="'Opération - documents'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>
<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>
<div fxLayout="row wrap" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="25">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Générer les cartes des étudiants pour la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateStudentCards()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">GÉNÉRATION</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
  <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
    <span>{{processed}} sur {{totalToprocess}} traitées...</span>
    <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
  </div>
</div>
