<div mat-dialog-title>Générer les cartes des étudiants</div>
<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-bold text-center">Session {{currentAnneeAcademique?.name}}</div>
    <div class="text-center mt-3">Veuillez confirmer pour générer les cartes des étudiants</div>
  </mat-dialog-content>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Générer
      </button>
    </div>
  </div>
</form>
<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
