<app-content-header 
  [customIcon]="'menu-admission'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>

  <div>
    <button mat-button (click)="exportChoices()">
      <mat-icon>save_alt</mat-icon> Exporter par choix
    </button>
    <button mat-button (click)="exportAdmissions()">
      <mat-icon>save_alt</mat-icon> Exporter par admission
    </button>
  </div>
</mat-toolbar>

<div fxLayout="row" class="mr-3 mt-2" fxLayoutAlign="end">
  <button (click)="archiveOrDeleteAdmissions()" mat-raised-button color="primary">
    Archiver ou supprimer des admissions impayées
  </button>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-5">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumberEtudiant formControlName="numeroPVEtudiant" placeholder="PV Apprenant">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV Concours">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="name" valueField="name" formControlName="programmeName">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type Programme" [values]="typeProgrammeList" 
            idField="id" valueField="name" formControlName="typeProgramme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Decision" [values]="decisionList" 
            idField="value" valueField="name" formControlName="decision">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Année" [values]="anneeList" 
            idField="id" valueField="name" formControlName="annee">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Centre de concours" [values]="centreConcoursList" 
            idField="id" valueField="name" formControlName="centreConcours">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="residencePrefecture">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="75" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="px-5 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <div fxLayout="row wrap" class="filter-ctn px-2 pt-5 pb-2">
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du diplôme" [values]="optionsList" 
              idField="id" valueField="displayedName" formControlName="optionId">
            </autocomplete>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du diplôme" [values]="sessionsList" 
              idField="name" valueField="name" formControlName="session">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
              idField="id" valueField="name" formControlName="statusEtablissement">
            </autocomplete>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  > 
    <ngx-datatable-column name="Prénom" prop="etudiantFirstName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom" prop="etudiantName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV Apprenant" prop="etudiantNumeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantNumeroPV}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Etablissement" prop="etablissement" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etablissement}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Choix" prop="choixAdmissionInstitution" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.choixAdmissionInstitution}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Année" prop="anneeAcademiqueName" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV Concours" prop="numeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedNumeroPV}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut" prop="status" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Décision" prop="decision" [headerClass]="'col-decision'" [cellClass]="'col-decision'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.decisionName}}</ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-actions'" [cellClass]="'col-actions'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantFirstName}} {{row.etudiantName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV Apprenant</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.etudiantNumeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Etablissement</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.etablissement}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Choix</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.choixAdmissionInstitution}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Année</span>
          <span fxFlex="50" class="px-2 text-right col-annee">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV Concours</span>
          <span fxFlex="50" class="px-2 text-right col-numeroPV">{{row.displayedNumeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right col-status">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Décision</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.decisionName}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>