<div mat-dialog-title>Exporter tous les admission</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content *ngIf="!processing">
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2 mb-2">
        Veuillez sélectionner les champs à exporter
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPrenom">Prénom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNom">Nom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportDateNaissance">Date Naissance</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportSexe">Sexe</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportINA">INA</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPvEtudiant">Numéro PV Apprenant</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEtablissement">Etablissement</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportChoix">Choix</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportAnnee">Année</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPv">Numéro PV Concours</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportStatut">Statut</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportDecision">Décision</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportInstitution">Institution</mat-checkbox>
      </div>
      
      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportCentreConcours">Centre de concours</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPrefectureDeResidence">Prefecture de Résidence</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEtudiantLevel">Type de diplôme</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportTypeAdmissionName">Type d'admission</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNiveauAccesName">Institution Niveau accès</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEmail">Email</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPhone">Numéro de téléphone</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportLieuNaissance">Lieu de naissance</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomPere">Nom du père</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomMere">Nom de la mère</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportBiometricStatus">Statut biométrique</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!processing">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Exporter
      </button>
    </div>
  </div>

  <div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
    <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
      <span>{{processed}} sur {{totalToprocess}} traitées...</span>
      <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>