<div mat-dialog-title>Archiver ou supprimer des admissions impayées</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content *ngIf="!processing">
    <div class="text-center mt-3">{{confirmText}}</div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!processing">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        {{buttonText}}
      </button>
    </div>
  </div>

  <div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
    <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
      <span>{{processed}} sur {{totalToprocess}} traitées...</span>
      <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>