:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-checkbox,
    .datatable-body-cell.col-checkbox {
      max-width: 30px !important;
    }

    .datatable-body-cell.col-choix,
    .col-choix {
      white-space: pre-line;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 170px !important;
    }

    .datatable-header-cell.col-annee,
    .datatable-body-cell.col-annee {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-numeroPV,
    .datatable-body-cell.col-numeroPV {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-actions,
    .datatable-body-cell.col-actions {
      max-width: 80px !important;
    }

    .datatable-header-cell.col-creation,
    .datatable-body-cell.col-creation {
      max-width: 210px !important;
    }

    .datatable-header-cell.col-name,
    .datatable-body-cell.col-name {
      max-width: 170px !important;
    }
  }
}

