<app-content-header 
  [customIcon]="'menu-admission'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
    <button mat-button (click)="goBack()">
      <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
    </button>
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-5">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumberEtudiant formControlName="numeroPVEtudiant" placeholder="PV Apprenant">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV Concours">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>  

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" *ngIf="false">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" *ngIf="false">
          <autocomplete placeholder="Decision" [values]="decisionList" 
            idField="value" valueField="name" formControlName="decision">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Année" [values]="anneeList" 
            idField="id" valueField="name" formControlName="annee">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Centre de concours" [values]="centreConcoursList" 
            idField="id" valueField="name" formControlName="centreConcours">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="A un paiement associé" [values]="hasPaymentValues" 
            idField="value" valueField="name" formControlName="hasPayment">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Date de création</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="createFrom" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="createTo" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <div fxLayout="row wrap" class="filter-ctn px-2 pt-5 pb-2">
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du diplôme" [values]="optionsList" 
              idField="id" valueField="displayedName" formControlName="optionId">
            </autocomplete>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du diplôme" [values]="sessionsList" 
              idField="name" valueField="name" formControlName="session">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
              idField="id" valueField="name" formControlName="statusEtablissement">
            </autocomplete>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="mr-3 mb-2" fxLayoutAlign="end">
  <button (click)="deleteAdmission()" mat-raised-button color="primary" class="mr-2">
      Supprimer admission
  </button>
  <button (click)="deleteAllAdmission()" mat-raised-button color="primary" class="mr-2">
      Supprimer toutes les admissions
  </button>
  <button (click)="archiveAdmission()" mat-raised-button color="primary" class="mr-2">
      Archiver admission
  </button>
  <button (click)="archiveAllAdmission()" mat-raised-button color="primary">
      Archiver toutes les admissions
  </button>
</div>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [selectionType]="SelectionType.checkbox"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  > 
    
    <ngx-datatable-column
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
        [headerClass]="'col-checkbox'" 
        [cellClass]="'col-checkbox'">
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom" prop="etudiantFirstName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom" prop="etudiantName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV Apprenant" prop="etudiantNumeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantNumeroPV}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Etablissement" prop="etablissement" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etablissement}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Choix" prop="choixAdmissionInstitution" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.choixAdmissionInstitution}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Année" prop="anneeAcademiqueName" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" prop="status" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date de création" prop="creationDate" [headerClass]="'col-creation'" [cellClass]="'col-creation'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationDate | date: 'dd/MM/yyyy'}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut de paiement" prop="paymentStatus" [headerClass]="'col-creation'" [cellClass]="'col-creation'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.paymentStatus}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-actions'" [cellClass]="'col-actions'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantFirstName}} {{row.etudiantName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV Apprenant</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.etudiantNumeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Etablissement</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.etablissement}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Choix</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.choixAdmissionInstitution}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Année</span>
          <span fxFlex="50" class="px-2 text-right col-annee">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right col-status">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Date de création</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.creationDate | date: 'dd/MM/yyyy'}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut de paiement</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.paymentStatus}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>