<div mat-dialog-title>{{data.title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        {{data.message}}
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Année académique *" formControlName="anneeAcademiqueName" readonly="true">
        </mat-form-field>
      </div>
  
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput formControlName="dateDebutAdmission" [matDatepicker]="dateDebutAdmission" placeholder="Début de la session de choix d'institutions *">
          <mat-error *ngIf="form.controls.dateDebutAdmission.errors?.required">Début de la session de choix d'institutions est requis</mat-error>
          <mat-error *ngIf="form.controls.dateDebutAdmission.hasError('mustLessThan')">La date du début doit être antérieure à la date de fin</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dateDebutAdmission">
            <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateDebutAdmission></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput formControlName="dateLimiteAdmission" [matDatepicker]="dateLimiteAdmission" placeholder="Fin de la session de choix d'institutions *">
          <mat-error *ngIf="form.controls.dateLimiteAdmission.errors?.required">Fin de la session de choix d'institutions est requise</mat-error>
          <mat-error *ngIf="form.controls.dateLimiteAdmission.hasError('mustGreaterThan')">La date de fin doit être ultérieure à la date du début</mat-error>
          <mat-error *ngIf="form.controls.dateLimiteAdmission.hasError('mustBeInFuture')">La date de fin ne peut pas être antérieure à la date actuelle</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dateLimiteAdmission">
            <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateLimiteAdmission></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput formControlName="dateLimiteOffreAdmission" [matDatepicker]="dateLimiteOffreAdmission" placeholder="Date limite d'acceptation des offres de programmes *">
          <mat-error *ngIf="form.controls.dateLimiteOffreAdmission.errors?.required">Date limite d'acceptation des offres de programmes est requise</mat-error>
          <mat-error *ngIf="form.controls.dateLimiteOffreAdmission.hasError('mustGreaterThan')">La date limite d'acceptation des offres de programmes doit être ultérieure à la date du début</mat-error>
          <mat-error *ngIf="form.controls.dateLimiteOffreAdmission.hasError('mustBeInFuture')">La date limite d'acceptation des offres de programmes ne peut pas être antérieure à la date actuelle</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dateLimiteOffreAdmission">
            <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateLimiteOffreAdmission></mat-datepicker>
        </mat-form-field>
      </div>
    </div> 
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">Annuler</button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">Enregistrer</button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
