.sessions .mat-card-content {
  button {
    width: 8em;
    height: 8em;
    padding: 0.5em;
    font-size: 1.5em;
    .mat-icon {
      font-size: 54px;
      width: 54px;
      height: 54px;
    }
  }

  @media screen and (max-width: 599px) {
    button {
      width: 6em;
      height: 6em;
      padding: 0.4em;
      font-size: 1em;
      .mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
      }
    }
  }
}

