<app-content-header 
  [customIcon]="'menu-session'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar" *ngIf="isSessionExists()">
  <div fxLayout="row">
    <button mat-button (click)="modifySession()">
      <mat-icon>edit</mat-icon> Modifier la session
    </button>
    <button mat-button (click)="modifySessionStatus()">
      <mat-icon>edit</mat-icon> Modifier le statut de la session
    </button>
    <button mat-button (click)="modifyPlateformeInscriptionConfig()">
      <svg-icon [key]="'on-off'" class="mr-2"></svg-icon>{{getPlateformeInscriptionConfigButtonText()}}
    </button>
  </div>
</mat-toolbar>

<mat-card *ngIf="isSessionExists() && isAnneeAcademiqueExists()" class="mat-card-p-0 m-3 sessions">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title class="mt-2 mb-1">
      <ng-container *ngIf="!isSessionADemarrer(); else sessionNotStartedYet">
        <div>Session en cours : {{anneeAcademiqueName}}</div>
      </ng-container>

      <ng-template #sessionNotStartedYet>
        <div>La session {{anneeAcademiqueName}} n'a pas encore commencé, démarrez-la maintenant!</div>
      </ng-template>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="column" class="p-2">
      <div fxFlex="100" fxLayoutAlign="center">
        <table>
          <tr>
            <td class="px-1"><strong>Statut :</strong></td>
            <td class="text-bold">
              <span *ngIf="isSessionADemarrer()" class="primary-color">À Démarrer</span>
              <span *ngIf="isSessionEnCours()" class="color-green">En Cours</span>
              <span *ngIf="isSessionSuspendue()" class="color-orange">Suspendue</span>
              <span *ngIf="isSessionAExecuter()" class="color-green">À Exécuter</span>
              <span *ngIf="isSessionANotifier()" class="color-green">À Notifier</span>
              <span *ngIf="isSessionAConfirmer()" class="color-green">À Confirmer</span>
              <span *ngIf="isSessionTerminee()" class="color-orange">Terminée</span>
            </td>
          </tr>
          <tr>
            <td class="px-1"><strong>Début de la session de choix d'institutions:</strong></td>
            <td>{{dateDebutAdmission | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>Fin de la session de choix d'institutions:</strong></td>
            <td>{{dateLimiteAdmission | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>Date limite d'acceptation des offres de programmes :</strong></td>
            <td>{{dateLimiteOffreAdmission | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr *ngIf="notificationSentDate">
            <td class="px-1"><strong>Notifications envoyées le :</strong></td>
            <td>{{notificationSentDate | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </table>
      </div>
    </div>

    <ng-container *ngIf="isEnableDemarrerSuspendArreter()">
      <div fxLayout="row wrap" class="p-2" fxLayoutAlign="center">
        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="startSession()" [disabled]="!isEnableDemarrerSession()">
            <mat-icon>{{isEnableDemarrerSession() ? 'play_arrow' : 'play_circle_outline'}}</mat-icon> <div>DÉMARRER</div>
          </button>
        </div>

        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-orange-dark" (click)="holdSession()" [disabled]="!isEnableSuspendSession()">
            <mat-icon>{{isEnableSuspendSession() ? 'pause' : 'pause_circle_outline'}}</mat-icon> <div>SUSPENDRE</div>
          </button>
        </div>

        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-orange-dark" (click)="stopSession()" [disabled]="!isEnableArreterSession()">
            <mat-icon>stop</mat-icon> <div>ARRÊTER</div>
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container #sessionToExecuter *ngIf="isSessionAExecuter()">
      <div fxLayout="row wrap" class="p-2" fxLayoutAlign="center">
        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="runSession()">
            <mat-icon>play_arrow</mat-icon> <div>EXÉCUTER</div>
          </button>
        </div>
      </div>
    </ng-container> 

    <ng-container #sessionToNotifier *ngIf="isSessionANotifier()">
      <div fxLayout="row wrap" class="p-2" fxLayoutAlign="center">
        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="notifySession()">
            <mat-icon>play_circle_outline</mat-icon> <div>NOTIFIER</div>
          </button>
        </div>
      </div>
    </ng-container> 

    <ng-container #sessionToEnd *ngIf="isSessionAConfirmer()">
      <div fxLayout="row wrap" class="p-2" fxLayoutAlign="center">
        <div fxFlex="33.3" class="p-2" fxLayoutAlign="center">
          <button mat-raised-button color="accent" (click)="endSession()">
            <mat-icon>stop</mat-icon> <div>TERMINER</div>
          </button>
        </div>
      </div>
    </ng-container>    
  </mat-card-content>

  <mat-card-footer fxLayoutAlign="center" class="p-3">
    <mat-card-content class="p-2 border rounded">
      <div class="row wrap text-bold">
        Référence de Statut:
      </div>
      <div class="row wrap text-bold">
          1 - À Démarrer
      </div>
      <div class="row wrap text-bold">
          2 - En Cours
      </div>
      <div class="row wrap text-bold">
          3 - Suspendue
      </div>
      <div class="row wrap text-bold">
          4 - À Exécuter
      </div>
      <div class="row wrap text-bold">
          5 - À Notifier
      </div>
      <div class="row wrap text-bold">
          6 - À Confirmer
      </div>
      <div class="row wrap text-bold">
          7 - Terminée
      </div>
    </mat-card-content>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="!isAnneeAcademiqueExists()" class="mat-card-p-0 m-3 sessions">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title class="my-2">
      Pas d'inscription ouverte pour l'année académique, créez-en une maintenant!
    </mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card *ngIf="!isSessionExists() && isAnneeAcademiqueExists()" class="mat-card-p-0 m-3 sessions">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title class="my-2">
      Aucune session admission en cours, créez-en une maintenant!
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row wrap" class="p-2">
      <div fxFlex="100" class="p-2" fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="newSession()">
          <mat-icon>add</mat-icon> <div>AJOUTER</div>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
