<div mat-dialog-title>{{data.title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Année académique *" formControlName="anneeAcademiqueName" readonly="true">
        </mat-form-field>
      </div>
  
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Statut *" formControlName="status">
           <mat-option *ngFor="let sessionAdmissionStatus of sessionAdmissionStatusValues" [value]="sessionAdmissionStatus.value">
             {{sessionAdmissionStatus.name}}
           </mat-option>
         </mat-select>
         <mat-error *ngIf="form.controls.status.errors?.required">L'statut est requise</mat-error>
       </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="hideConcoursProgramme">Masquer sur concours admission</mat-checkbox>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="onlyShowConcoursPrivateProgramme">Afficher seulement : privé sur concours</mat-checkbox>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="hideConcoursOrientationAccess">Cacher l’accès aux orientations sur concours</mat-checkbox>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="hideDossierOrientationAccess">Cacher l’accès aux orientation sur dossier</mat-checkbox>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="showSanteConcours">Afficher les concours de santé</mat-checkbox>
      </div>
    </div> 
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">Annuler</button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">Enregistrer</button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
