<app-login 
  [loading]="loading" 
  [userNameLabel]="'INA'"
  (onSubmitLogin)="onSubmit($event)"
  [sectionTemplate]="inscriptionLink"
>
</app-login>

<ng-template #inscriptionLink>
  <a routerLink="/inscription" class="w-100 mb-4 text-center" *ngIf="showPlateformeInscriptionLink()">S'inscrire sur la platforme</a>
  <a routerLink="/reinscription" class="w-100 mb-4 text-center">Se réinscrire</a>
  <a routerLink="/faq" class="w-100 mb-4 text-center">Consulter la FAQ</a>
</ng-template>