<div mat-dialog-title>Plateforme en cours de maintenance</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100"class="px-2 text-center">
        <img src="/assets/img/Logo_METFPET.jpg" class="logo-mers mb-3" style="width: 200px;"/>
        <div>ParcoursPro Guinée est en cours de maintenance technique.</div>
        <div class="mb-3">Veuillez nous excuser pour la gêne occasionnée, la plateforme sera à nouveau disponible sous peu.</div>
        <div>Merci de votre compréhension et de votre patience.</div>
      </div>
    </div>  
  </mat-dialog-content>
</div>