<app-content-header 
  [customIcon]="'menu-cursus-examens'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>
  
<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtude">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut biométrique" [values]="biometricList" 
            idField="value" valueField="name" formControlName="biometricStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPV formControlName="numeroPV" placeholder="PV">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Centre" [values]="centreList" 
            idField="id" valueField="name" formControlName="finalExamenCentre">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="12" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchMoyenneTotalMin formControlName="moyenneTotalMin" placeholder="Intervalle notes">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="13" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchMoyenneTotalMax formControlName="moyenneTotalMax" placeholder="Intervalle notes max">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut global" [values]="statusGlobalList" 
            idField="value" valueField="name" formControlName="statusGlobal">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom" prop="etudiantFirstName" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom" prop="etudiantName" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution" prop="institutionName" [headerClass]="'col-institution'" [cellClass]="'col-institution'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Programme" prop="programmeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau" prop="niveauEtudeName" [headerClass]="'col-niveau'" [cellClass]="'col-niveau'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut biométrique" prop="biometricStatus">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.biometricStatus}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV" prop="numeroPV">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Centre" prop="finalExamenCentreName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.finalExamenCentreName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Notes moyenne" prop="displayedMoyenneTotal">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenneTotal}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut global" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusGlobalName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">
          Ouvrir
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.identifiantNationalEleve}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantFirstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>
        
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut biométrique</span>
          <span fxFlex="50" class="px-2 text-right">{{row.biometricStatus}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV</span>
          <span fxFlex="50" class="px-2 text-right">{{row.finalExamenCentreName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Centre</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Notes moyenne</span>
          <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenneTotal}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut global</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusGlobalName}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2">
          </div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">
              Ouvrir
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
