.mat-card.importUser {
  cursor: pointer;
  div.text {
    font-size: 22px;
    font-weight: 500;
    color: #6d6d6d;
  }
  span.imageType {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background-color: #bebebe;
    margin: 0 10px;
    width: 50px;
    text-align: center;
  }
}