<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error>{{error}}</mat-error>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="35" fxFlex.gt-sm="35" class="mt-4">
        <mat-label class="text-bold">Nom du concours * :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="65" class="mt-1">
        <mat-form-field class="w-100">
          <input matInput formControlName="name">
          <mat-error *ngIf="form.controls.name.errors?.required">Le nom du concours est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="35" fxFlex.gt-sm="35" class="mt-4">
        <mat-label class="text-bold">Moyenne minimale de succès * :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="65" class="mt-1">
        <mat-form-field class="w-100">
          <input matInput formControlName="successMoyenneMin">
          <mat-error *ngIf="form.controls.successMoyenneMin.errors?.required">Le moyenne minimale de succès est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="35" fxFlex.gt-sm="35" class="mt-4">
        <mat-label class="text-bold">Type de programme connexe * :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="65" class="mt-1">
        <mat-form-field class="w-100">
          <mat-select formControlName="typeProgrammeId">
            <mat-option *ngFor="let typeProgramme of typeProgrammeList" [value]="typeProgramme.id">
              {{typeProgramme.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.typeProgrammeId.errors?.required">Le type de programme connexe est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="35" fxFlex.gt-sm="35" class="mt-4">
        <mat-label class="text-bold">Niveau des filières * :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="65" fxFlex.gt-sm="65" class="mt-1">
        <mat-form-field class="w-100">
          <mat-select formControlName="niveauAccesIds" multiple>
            <mat-option *ngFor="let niveauAcces of niveauAccesList" [value]="niveauAcces.id">
              {{niveauAcces.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-1">
        <span class="text-bold">Matières et coefficient</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addConcoursMatiere()">
          Ajouter une matière
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="concoursMatieres">
        <ng-container *ngFor="let concoursMatiereForm of concoursMatieres.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1" [formGroup]="concoursMatiereForm" fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
              <div class="px-1" fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
                <mat-form-field class="w-100">
                  <mat-label>Nom de la matière *</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>
              <div class="px-1" fxFlex="100" fxFlex.sm="25" fxFlex.gt-sm="25">
                <mat-form-field class="w-100">
                  <mat-label>Coefficient *</mat-label>
                  <input matInput formControlName="coefficient">
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.sm="5" fxFlex.gt-sm="5">
                <button mat-icon-button (click)="delete(i)">
                  <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>