<app-content-header 
  [customIcon]="'menu-cursus-gestion'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Générer la liste, les PV et centres d’examen de concours des apprenants de la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateNewCandidates()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">GÉNÉRATION</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="currentAnneeAcademique?.dateGenererConcoursCandidats" class="text-center text-italic">
        Dernière détermination : {{currentAnneeAcademique?.dateGenererConcoursCandidats | dateFormat: 'DD/MM/YYYY'}}
      </mat-card-footer>
    </mat-card>
  </div>
  
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Archiver le statut des apprenants n’ayant pas terminés le processus d’examen de sortie</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="archiveFailedStudents()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ARCHIVAGE</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Remettre les quotas à 0 (à faire avant le lancement des concours)</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="resetQuotas()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">RÉINITIALISATION QUOTAS</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="!currentAnneeAcademique?.allowToPayAdmission">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Autoriser le paiement des candidats aux concours d’entrée ayant fait leurs choix mais pas encore payé</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="allowToPayAdmission()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">AUTORISER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les paiements sont actuellement bloqués
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="currentAnneeAcademique?.allowToPayAdmission">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Bloquer le paiement des candidats aux concours d’entrée ayant fait leurs choix mais pas encore payé</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button color="accent" (click)="blockToPayAdmission()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">stop</mat-icon> 
            <div class="title mt-2">BLOQUER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les paiements sont actuellement autorisés
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="!currentAnneeAcademique?.allowToCreateInscriptionPublic">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Afficher les boutons permettant aux apprenants du publique de faire leur inscription administrative</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="allowToCreateInscriptionPublic()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">AFFICHER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les inscriptions du publique sont ne actuellement pas autorisées
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="currentAnneeAcademique?.allowToCreateInscriptionPublic">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Cacher les boutons permettant aux apprenants du publique de faire leur inscription administrative</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button color="accent" (click)="blockToCreateInscriptionPublic()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">stop</mat-icon> 
            <div class="title mt-2">CACHER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les inscriptions du publique sont actuellement autorisées
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="!currentAnneeAcademique?.allowToCreateInscriptionPrivate">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Afficher les boutons permettant aux apprenants du privé de faire leur inscription administrative</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="allowToCreateInscriptionPrivate()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">AFFICHER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les inscriptions du privé sont ne actuellement pas autorisées
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33" *ngIf="currentAnneeAcademique?.allowToCreateInscriptionPrivate">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Cacher les boutons permettant aux apprenants du privé de faire leur inscription administrative</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button color="accent" (click)="blockToCreateInscriptionPrivate()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">stop</mat-icon> 
            <div class="title mt-2">CACHER</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        Les inscriptions du privé sont actuellement autorisées
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Générer inscription administrative des apprenants de la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateInscriptions()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">GÉNÉRATION</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">
          Réinitialiser le statut de l'apprenant de Terminé à En admission
        </div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="resetTermineEtudiants()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon>
            <div class="title mt-2">RÉINITIALISER</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Envoyer message de candidature générée</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="sendExamenCandidatureMessage()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ENVOI</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
  <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
    <span>{{processed}} sur {{totalToprocess}} traitées...</span>
    <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
  </div>
</div>