<app-content-header
  [customIcon]="'concours-entree'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-4'"
></app-content-header>

<mat-toolbar
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
  class="px-2 content-toolbar"
>
  <div fxLayout="row"></div>
  <div fxLayout="row">
    <button mat-button (click)="createConcours()"><mat-icon>add</mat-icon> Ajouter</button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a
    *ngFor="let nav of navs"
    mat-tab-link
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink"
    routerLinkActive="mat-tab-label-active"
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm" >
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>
      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="100" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Nom du concours" formControlName="name">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="p-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom du concours">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Moyenne minimale de succès">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.successMoyenneMin}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type de programme connexe">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeProgrammeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau des filières">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauAcces}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Matières et coefficient">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.matieres}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actif" prop="statusName">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
          {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
        </mat-icon>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>
            <span class="flex-text-ellipsis">
              {{row.name}}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Moyenne minimale de succès</span>
          <span fxFlex="50" class="px-2 text-right">{{row.successMoyenneMin}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type de programme connexe</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeProgrammeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau des filières</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauAcces}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Matières et coefficient</span>
          <span fxFlex="50" class="px-2 text-right">{{row.matieres}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actif</span>
          <span fxFlex="50" class="px-2 text-right">
            <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
              {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
          </span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
