<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <!-- sub breadcrum -->
    <div fxLayout="row" class="mb-0 mt-0">
      <div fxFlex="100">
        <div>
          <span [class]="getCurrentStepCss('Identification')">Identification</span> &gt;
          <span [class]="getCurrentStepCss('Entrée des notes')">Entrée des notes</span>
        </div>
      </div>
    </div>
    <!-- end of sub breadcrum -->

    <!-- Step 1: Identification -->
    <ng-container *ngIf="currentStepName === 'Identification'">
      <div fxLayout="row">
        <div fxFlex="100">
          <div>
            <span class="heading">Veuilles entrer le PV d’Examen ou l’INA de l’apprenant pour lequel vous souhaitez entrer une ou des notes de concours d’entrée</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">INA :</mat-label>
        </div>
        <div fxFlex="65">
          <mat-form-field class="w-100">
            <input matInput formControlName="identifiantNationalEleve">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">Ou</mat-label>
        </div>
        <div fxFlex="65">
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">PV de concours :</mat-label>
        </div>
        <div fxFlex="65">
          <mat-form-field class="w-100">
            <input matInput formControlName="numeroPV">
          </mat-form-field>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 1: Identification -->

    <!-- Step 2: 'Entrée des notes' -->
    <ng-container *ngIf="currentStepName === 'Entrée des notes'">
      <div>
        <span class="text-bold">INA : </span> <span>{{curIdentifiantNationalEleve}}</span>
      </div>
      <div>
        <span class="text-bold">PV de cours : </span> <span>{{curPVNumber}}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span>Veuilles entrer les notes de l’apprenant.</span> 
        <span class="text-center">Si vous ne disposez pas de l’une des notes, veuillez laisser le champs vide. Vous pourrez la rentrer lorsqu’elle sera disponible.</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <div class="px-2 py-2 border-3 payment-info-box">
          <ng-container formArrayName="notes">
            <ng-container *ngFor="let noteForm of notes.controls">
              <div fxLayout="row" [formGroup]="noteForm" fxLayoutAlign="center center">
                <div class="px-2 py-2 border-4 payment-info-box mt-2">
                  <mat-label class="w-100">Type de concours : {{noteForm.controls.concoursName.value}}</mat-label>
                  <ng-container *ngFor="let childNoteForm of noteForm.controls.concoursEtudiantNotes.controls">
                    <div fxLayout="row" [formGroup]="childNoteForm" fxLayoutAlign="center center">
                      <div fxFlex="50" class="text-right ml-3 mr-3">
                        <mat-label class="w-100">{{childNoteForm.controls.matiereName.value}} :</mat-label>
                      </div>
                      <div fxFlex="20">
                        <mat-form-field class="w-100">
                          <input matInput formControlName="moyenne">              
                        </mat-form-field>
                      </div>
                      <div fxFlex="30">
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 2: 'Entrée des notes' -->
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction" [hidden]="currentStepName !== 'Identification'">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="goToNextStep()">
        Suivant
      </button>
    </div>

    <ng-container *ngIf="currentStepName === 'Entrée des notes'">
      <div class="submitAction">
        <button mat-raised-button color="primary" (click)="save()">
          Enregistrer
        </button>
      </div>

      <div class="submitAction">
        <button mat-raised-button color="primary" (click)="saveAndEnterNewCase()" *ngIf="showSaveAndEnterNewCaseBtn">
          Enregistrer et entrer de nouvelles notes
        </button>
      </div>
    </ng-container>
  </div>

</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>