.border-3 {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
}

.payment-info-box {
  min-width: 647px;
}

.border-4 {
  box-sizing: border-box;
  border: 1px solid #8F8F8F;
  border-radius: 5px;
}