<div mat-dialog-title>Génération de rapport</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content *ngIf="!processing">
    <div class="text-center mb-2">Veuillez sélectionner la génération de rapport à effectuer</div>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Session *" formControlName="anneeAcademiqueId">
            <mat-option *ngFor="let annee of anneeAcademiqueList" [value]="annee.id">
              {{annee.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.anneeAcademiqueId.errors?.required">Le session est requis</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Rapport *" formControlName="reportType">
            <mat-option *ngFor="let repport of reportTypeList" [value]="repport.value">
              {{repport.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.anneeAcademiqueId.errors?.required">Le rapport est requis</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!processing">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Générer
      </button>
    </div>
  </div>

  <div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
    <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
      <span>{{processed}} sur {{totalToprocess}} traitées...</span>
      <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>