<app-content-header [customIcon]="'concours-entree'" [title]="title" [hideBreadcrumb]="false" [hasBgImage]="true"
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row"></div>
  <div fxLayout="row">
    <button mat-button (click)="createMention()"><mat-icon>add</mat-icon> Ajouter</button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs" mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
    routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>


<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable fxHide fxShow.gt-xs="true" #table class="material" [rows]="pageRows" [count]="total"
    [offset]="pageOffset" [limit]="pageSize" [externalPaging]="true" [sorts]="[sort]" [sortType]="'single'"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator" [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }" (page)="onChangePage($event)" (sort)="onSort($event)">
    <ngx-datatable-column name="Mention" prop="name" [headerClass]="'col-mention'" [cellClass]="'col-mention'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.name }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Moyenne total minimal" prop="moyenneMin" [headerClass]="'col-moyenne'"
      [cellClass]="'col-moyenne'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.moyenneMin }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" prop="statusName" [headerClass]="'col-statut'" [cellClass]="'col-statut'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.statusName  }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue"> Ouvrir </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let row of pageRows" class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{ row.name }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Name</span>
          <span fxFlex="50" class="px-2 text-right">{{ row.name }}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Moyenne total minimal</span>
          <span fxFlex="50" class="px-2 text-right">{{ row.moyenneMin }}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{ row.statusName }}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">
              Ouvrir
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator style="background: transparent" [length]="total" [pageSize]="pageSize" (page)="
        onChangePage({ pageSize: $event.pageSize, offset: $event.pageIndex })
      ">
    </mat-paginator>
  </div>
</div>