<app-content-header 
  [customIcon]="'menu-account'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>
  
<form [formGroup]="form">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="button" preventDoubleClick (throttledClick)="onSubmit()">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content>
      <div fxLayout="column" class="m-3">

        <div *ngIf="!isCreation" class="px-3 pb-3 accent-color">Biométrie</div>
        
        <div *ngIf="!isCreation" fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 readonlyField">
            <label>Statut biométrique</label>
            <span>{{_model?.biometricStatus}}</span>
          </div>
          <div  fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="p-2"> 
            <div  fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign="start"> 
              <img src="{{_model?.photoPath}}" alt="image" (click)="openFile()" height="100px">
              <input type="file" name="file" style="display:none" id="photoSelector"
                    (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                    placeholder="Téléverser une photo">
            </div>
            <div  fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign="end"> 
              <mat-slide-toggle formControlName="isActive" class="my-3" labelPosition="before">
                {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
              </mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="px-3 pb-3 accent-color">Informations personnelles et accès à la plateforme</div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Prénom *" formControlName="firstName" autofocus="true">
              <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
              <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Nom *" formControlName="name">
              <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
              <input matInput placeholder="Email *" formControlName="email">
              <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
              <input matInput placeholder="Numéro de téléphone" formControlName="phone">
              <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Identifiant *" formControlName="identifiant">
              <mat-error *ngIf="form.controls.identifiant.errors?.required">L'identifiant est requis</mat-error>
              <mat-error *ngIf="form.controls.identifiant.hasError('minlength')">L'identifiant doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-select placeholder="Accès *" formControlName="acces">
                <mat-option *ngFor="let access of accessList" [value]="access.value">
                  {{access.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.acces.errors?.required">L'accès est requis</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="p-3 accent-color">Informations sur l'emploi</div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Matricule" formControlName="matricule">
              <mat-error *ngIf="form.controls.matricule.hasError('minlength')">Le matricule doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Catégorie" formControlName="categorie">
              <mat-error *ngIf="form.controls.categorie.hasError('minlength')">La catégorie doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Service" formControlName="service">
              <mat-error *ngIf="form.controls.service.hasError('minlength')">Le service doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Fonction" formControlName="fonction">
              <mat-error *ngIf="form.controls.fonction.hasError('minlength')">La fonction doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Hiérarchie" formControlName="hierarchie">
              <mat-error *ngIf="form.controls.hierarchie.hasError('minlength')">La hiérarchie doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="px-3 pb-3 accent-color">Localisation et diplômes</div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Diplôme le plus élevé" formControlName="diplomePlusEleve">
              <mat-error *ngIf="form.controls.diplomePlusEleve.hasError('minlength')">Le diplôme le plus élevé doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Spécialité" formControlName="specialite">
              <mat-error *ngIf="form.controls.specialite.hasError('minlength')">La spécialité doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Type d'école" formControlName="typeEcole">
              <mat-error *ngIf="form.controls.typeEcole.hasError('minlength')">Le type d'école doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Préfecture" [values]="prefectureList" 
              idField="id" valueField="name" formControlName="prefectureId">
            </autocomplete>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
