<app-content-header
  [icon]="'home'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-4'"></app-content-header>

<div class="mainPageMenu py-2">
  <div fxLayout="column" fxLayout.gt-xs="row wrap" class="px-2">
    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isStudentManagementRole() || isExamRole() || isDirectionsNationalesRole()">
      <mat-card class="custom-card" (click)="goToStudentDossiers()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-dossier-students'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Dossier Apprenants</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isStudentManagementRole()">
      <mat-card class="custom-card" (click)="goToAdmission()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-admission'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Admission</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isStudentManagementRole() || isExamRole() || isDirectionsNationalesRole()">
      <mat-card class="custom-card" (click)="goToInscriptions()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-management'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Cursus</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isAgrementRole()">
      <mat-card class="custom-card" (click)="goToDemandeurDossiers()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-dossier-students'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Dossier demandeurs</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isAgrementRole()">
      <mat-card class="custom-card" (click)="goToAgrement()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'agrement'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Agréments</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2" *ngIf="isAdministrateur() || isStudentManagementRole() || isAgrementRole() || isDirectionsNationalesRole()">
      <mat-card class="custom-card" (click)="goToPaiements()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-payment'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Paiements</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
