<div class="sidenav-menu-outer" [perfectScrollbar]="psConfig" [disabled]="settings.fixedSidenavUserContent">  
  <div fxLayout="column" fxLayoutAlign="center center" class="user-block text-center px-2" 
    [class.py-3]="settings.menuType != 'mini'" [class.py-2]="settings.menuType == 'mini'">
    <!--<img src="assets/img/users/user.jpg" alt="user-image">-->
    <span *ngIf="user && user.photo">
      <img src="{{user.photo}}" alt="user-image">
    </span>
    
    <span *ngIf="settings.menuType != 'mini'" class="mt-2 headline color-orange">{{user.firstName}} {{user.name}}</span>
    
    <p *ngIf="settings.menuType == 'default'" class="secondary-text-color">{{user.email}}</p>
  </div>
  
  <mat-divider></mat-divider>
  
  <div id="vertical-menu" [perfectScrollbar]="psConfig" [disabled]="!settings.fixedSidenavUserContent">
    <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0"></app-vertical-menu> 
  </div>
</div>