<app-content-header 
  [customIcon]="'menu-dossier-students'" 
  [title]="title" 
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Profil">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
        <div>
          <img [src]="profilePhoto" alt="user-image" height="150px">
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
        <div > 
          <button mat-raised-button color="primary" type="button" (click)="openFile()" *ngIf="!this.student?.hasBiometricPicture">
            Modifier photo
          </button>
          <input type="file" name="file" style="display:none" id="photoSelector"
                (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                placeholder="Téléverser une photo">
        </div>
      </div>

      <div fxLayout="column" class="m-3">
        <mat-accordion multi="true">
          <mat-expansion-panel expanded="true" hideToggle="true" disabled="true" *ngIf="student">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Informations</mat-panel-title>
              <mat-icon>person_outline</mat-icon>
            </mat-expansion-panel-header>

            <div class="px-3 pb-3 accent-color">Informations personnelles</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>INA</label>
                <span>{{student.identifiantNationalEleve}}</span>
              </div>
          
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>Prénom</label>
                <span>{{student.firstName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>Nom</label>
                <span>{{student.name}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>Sexe</label>
                <span>{{student.genreName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>Date de naissance</label>
                <span>{{student.dateNaissance | dateFormat: 'DD/MM/YYYY'}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.lieuNaissance">
                <label>Lieu de naissance</label>
                <span>{{student.lieuNaissance}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.nationalite">
                <label>Nationalité</label>
                <span>{{student.nationalite}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.nomPere">
                <label>Nom du père</label>
                <span>{{student.nomPere}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.nomMere">
                <label>Nom du mère</label>
                <span>{{student.nomMere}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.adresse">
                <label>Adresse</label>
                <span>{{student.adresse}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.ville">
                <label>Ville</label>
                <span>{{student.ville}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.prefectureName">
                <label>Préfecture</label>
                <span>{{student.prefectureName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.pays">
                <label>Pays</label>
                <span>{{student.pays}}</span>
              </div>
            </div>

            <div class="p-3 accent-color">Informations d'examen</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
                <label>Numéro PV</label>
                <span>{{student.numeroPV}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.centreExamenName">
                <label>Centre d'examen</label>
                <span>{{student.centreExamenName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.moyenneGenerale">
                <label>Moyenne Générale</label>
                <span>{{student.moyenneGenerale}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.moyenneExamen">
                <label>Moyenne Examen</label>
                <span>{{student.moyenneExamen}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.rang">
                <label>Rang</label>
                <span>{{student.rang}}</span>
              </div>
            </div>

            <div class="p-3 accent-color">Informations du BAC</div>

            <div fxLayout="row wrap" class="px-2">              
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.lyceeName">
                <label>Lycée d'origine</label>
                <span>{{student.lyceeName}}</span>
              </div>
                            
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.lyceeTerminaleName && !student.lyceeName">
                <label>Lycée d'origine</label>
                <span>{{student.lyceeTerminaleName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.optionBACName">
                <label>Option du BAC</label>
                <span>{{student.optionBACName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.optionTerminaleName && !student.optionBACName">
                <label>Option du BAC</label>
                <span>{{student.optionTerminaleName}}</span>
              </div>
              
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.sessionBAC">
                <label>Session du BAC</label>
                <span>{{student.sessionBAC}}</span>
              </div>
              
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.sessionTerminale && !student.sessionBAC">
                <label>Session du BAC</label>
                <span>{{student.sessionTerminale}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.moyenneBAC">
                <label>Moyenne du BAC</label>
                <span>{{student.moyenneBAC}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.moyenneTerminale && !student.moyenneBAC">
                <label>Moyenne du BAC</label>
                <span>{{student.moyenneTerminale}}</span>
              </div>
            </div>

            <div class="p-3 accent-color">Informations du BEPC</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.collegeName">
                <label>Collège</label>
                <span>{{student.collegeName}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.optionBEPCName">
                <label>Option du BEPC</label>
                <span>{{student.optionBEPCName}}</span>
              </div>
              
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.sessionBEPC">
                <label>Session du BEPC</label>
                <span>{{student.sessionBEPC}}</span>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
                *ngIf="student.moyenneBEPC">
                <label>Moyenne du BEPC</label>
                <span>{{student.moyenneBEPC}}</span>
              </div>
            </div>

            <div class="p-3 accent-color">Contact</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2 readonlyField">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
                  <input matInput placeholder="Email *" formControlName="email" maxlength="255">
                  <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
                  <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2 readonlyField">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
                  <input matInput placeholder="Numéro de téléphone *" formControlName="phone">
                  <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
                  <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-action-row class="px-3">
              <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                <mat-icon *ngIf="loading">
                  <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                <span>Enregistrer</span>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </mat-tab>
  
  <mat-tab label="Historique scolaire" *ngIf="student">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Résultats du BAC</mat-panel-title>
            <mat-icon>assessment</mat-icon>
          </mat-expansion-panel-header>
          
          <ngx-datatable
            #table
            class="material mx-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="student.resultatsMatieres"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
            
            <ngx-datatable-column name="Matière">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Note">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.ponderation | number:'1.0-2'}}</ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>