<div mat-dialog-title>Validation du compte</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center mb-3">
      Afin de pouvoir vous connecter à votre compte, le Ministère de l’Enseignement Technique et de la Formation Professionnelle doit préalablement approuver votre demande d’utilisation de la plateforme. Pour ce faire, veuillez transmettre les documents demandés ci dessous.
    </div>

    <div class="border rounded p-2">
      <div class="row wrap">
        Veuillez joindre tous les documents requis ci-dessous
      </div>
  
      <div class="row wrap text-italic">
        Tous les documents doivent être lisibles et sans reflets
      </div>
      <div class="row wrap warn-color text-italic" *ngIf="!allowToGoNext()">
        * Certains documents sont manquants, veuillez les insérer avant de continuer. Dans le cas contraire, vous deverez les communiquer en personne.
      </div>

      <div>
        <ng-container *ngFor="let attachedDocument of attachedDemandeurDocumentDtos; let i = index">
          <div class="row wrap mb-3">
            <div [class]="getCss(attachedDocument)">
              {{attachedDocument.documentName}} (format {{attachedDocument.acceptedFormat}} ; max. {{attachedDocument.maxSize}} ko) {{getRequiredCharacter(attachedDocument)}}
            </div>
            <div class="row">
              <button *ngIf="isValidToDownloadModel(attachedDocument)" mat-raised-button color="secondary" type="button" (click)="openDocumentModel(attachedDocument)" class="mr-2">
                Télécharger modèle
              </button>
              <button mat-raised-button color="secondary" type="button" (click)="uploadDocument(attachedDocument)" class="mr-2">
                Choisir le fichier
              </button>
              <input type="file" name="file" style="display:none" [id]="getSelectorId(attachedDocument)"
                (change)="onFileUpload($event, attachedDocument)" accept="{{attachedDocument.acceptedFormat}}"
                placeholder="Choisir le fichier">
              <a *ngIf="attachedDocument.link" (click)="openDocument(attachedDocument)" class="color-blue">{{attachedDocument.fileName}}</a>
              <span *ngIf="!attachedDocument.link">Aucun document n'a été importé</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onContinue()">
        Suivant
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>