<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content>
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <ng-container *ngIf="!isCreation">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2"></div>
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
              {{form.controls.status.value ? 'Actif' : 'Inactif'}}
            </mat-slide-toggle>
          </div>
        </ng-container>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Préfecture" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefectureId" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="District" [values]="districtList" 
            idField="name" valueField="name" formControlName="district" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Région *" formControlName="zoneId">
              <mat-option *ngFor="let zone of zoneList" [value]="zone.id">
                {{zone.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.zoneId.errors?.required">La zone est requise</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Statut *" formControlName="statusEtablissementId">
              <mat-option *ngFor="let status of statusEtablissementList" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.statusEtablissementId.errors?.required">Le statut est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Options du BAC" formControlName="optionBACIds" multiple>
              <mat-option *ngFor="let optionBAC of optionsBACList" [value]="optionBAC.id">
                {{optionBAC.code}} ({{optionBAC.name}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Options Terminale" formControlName="optionTerminaleIds" multiple>
              <mat-option *ngFor="let optionTerminale of optionsTerminaleList" [value]="optionTerminale.id">
                {{optionTerminale.code}} ({{optionTerminale.name}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> 
    </mat-card-content>
  </mat-card>
</form>
