<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <div fxLayout="column" class="m-3">
    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="true" hideToggle="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Informations générales</mat-panel-title>
          <mat-icon>list_alt</mat-icon>
        </mat-expansion-panel-header>
        
        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Code *" formControlName="code" autofocus="true">
              <mat-error *ngIf="form.controls.code.errors?.required">Le code est requis</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Nom *" formControlName="name">
              <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Catégorie *" formControlName="categorie">
              <mat-error *ngIf="form.controls.categorie.errors?.required">La catégorie est requise</mat-error>
              <mat-error *ngIf="form.controls.categorie.hasError('minlength')">La catégorie doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true" hideToggle="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Matières</mat-panel-title>
          <mat-panel-description fxLayoutAlign="space-between center">Sélectionnez les matières comprises dans l'option</mat-panel-description>
          <mat-icon>book</mat-icon>
        </mat-expansion-panel-header>

        <div fxLayout="column" class="px-3 pb-2">       
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Entrer des critères pour filtrer par nom..." (keyup)="updateFilter($event)">
          </mat-form-field>
        </div>

        <ngx-datatable
          #table
          class="material mx-3"
          [limit]="10"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="rows"
          [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}"
          [selected]="selected"
          [selectionType]="'checkbox'">

          <ngx-datatable-column
            [width]="60"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="true"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="Matière">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Coéfficient">
            <ng-template ngx-datatable-cell-template let-row="row">
              <select  [(ngModel)]="row.coefficient" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of coefficients" [value]="item">{{item}}</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</form>