<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
      <app-content-header 
        [icon]="'error'" 
        [title]="'404'" 
        [hideBreadcrumb]="true"
        [hasBgImage]="true" 
        [class]="'pt-4 pb-3'"
        layout="column"></app-content-header>      
      <div class="p-4 text-center">
        <h2 class="py-2">Page non disponible</h2>
        <p class="pt-2">Cette page n'est pas disponible pour le moment, merci de réessayer plus tard.</p> 
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mt-3">
          <div class="mt-3">
            <button mat-raised-button color="primary" class="mat-elevation-z6 mx-1" type="button" (click)="goHome()">ACCUEIL</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</mat-sidenav-container>