<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="exportPayments()" *ngIf="allowAccessPaymentDetail()">
      <mat-icon>save_alt</mat-icon> Exporter les paiements
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="mt-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Option du diplôme" [values]="optionsList" 
            idField="id" valueField="displayedName" formControlName="optionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Période de création</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchTransactionId formControlName="transactionId" placeholder="Numéro de transaction">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign=" center" class="px-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="px-4">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>
        
        <div fxLayout="row wrap" class="px-2 pt-4 filter-ctn">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut" [values]="statusList" 
              idField="code" valueField="name" formControlName="status">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Opérateur" [values]="operatorList" 
              idField="code" valueField="name" formControlName="operateur">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="phone" placeholder="Numéro utilisé pour le paiement">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput formControlName="etudiantPhone" placeholder="Numéro téléphone de l'apprenant">
            </mat-form-field>
          </div>

          <ng-container *ngIf="isPaymentsAdmission()">
            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
              <autocomplete placeholder="Année scolaire" [values]="anneeAcademiqueList" 
                idField="id" valueField="name" formControlName="anneeAcademiqueId">
              </autocomplete>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
              <autocomplete placeholder="Institution" [values]="institutionList" 
                idField="id" valueField="name" formControlName="institutionId">
              </autocomplete>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
              <autocomplete placeholder="Programme" [values]="programList" 
                idField="id" valueField="name" formControlName="programmeId">
              </autocomplete>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
              <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
                idField="id" valueField="name" formControlName="statusEtablissementId">
              </autocomplete>
            </div>
          </ng-container>
        </div>

        <div fxLayout="row wrap" class="px-2 pb-2 filter-ctn">
          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >

    <ngx-datatable-column name="Opérateur" [headerClass]="'col-operateur'" [cellClass]="'col-operateur'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.operateur}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date" [headerClass]="'col-date'" [cellClass]="'col-date'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.transactionTime | date: 'd/M/yyyy, h:mm a'}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="N° Transaction" [headerClass]="'col-transactionId'" [cellClass]="'col-transactionId'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.transactionId}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Code de confirmation" *ngIf="allowAccessPaymentDetail()">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.notificationToken}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Montant" [headerClass]="'col-montant'" [cellClass]="'col-montant'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.amount}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom et Prénom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span [ngClass]="{'color-green': isPaiementEffectue(row), 'color-orange': isPaiementEchoue(row)}">{{row.statusName}}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [sortable]="false" [headerClass]="'col-actions'" [cellClass]="'col-actions'" *ngIf="allowAccessPaymentDetail()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button (click)="editPayment(row)">
          <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Opérateur</span>
          <span fxFlex="50" class="px-2 text-right">{{row.operateur}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date de transaction</span>
          <span fxFlex="50" class="px-2 text-right">
            {{row.transactionTime | date: 'd/M/yyyy, h:mm a'}}
          </span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">N° Transaction</span>
          <span fxFlex="50" class="px-2 text-right">{{row.transactionId}}</span>
        </div>

        <div fxLayout="row" class="p-2" *ngIf="allowAccessPaymentDetail()">
          <span fxFlex="50" class="px-2 text-bold">Code de confirmation</span>
          <span fxFlex="50" class="px-2 text-right">{{row.notificationToken}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.amount}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">
            <span [ngClass]="{'color-green': isPaiementEffectue(row), 'color-orange': isPaiementEchoue(row)}">{{row.statusName}}</span>
          </span>
        </div>

        <mat-action-row class="px-2" *ngIf="allowAccessPaymentDetail()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="editPayment(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>