:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-operateur,
    .datatable-body-cell.col-operateur {
      max-width: 180px !important;
    }

    .datatable-header-cell.col-date,
    .datatable-body-cell.col-date {
      max-width: 180px !important;
    }

    .datatable-header-cell.col-transactionId,
    .datatable-body-cell.col-transactionId {
      max-width: 180px !important;
    }

    .datatable-header-cell.col-montant,
    .datatable-body-cell.col-montant {
      max-width: 180px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 180px !important;
    }

    .datatable-header-cell.col-actions,
    .datatable-body-cell.col-actions {
      max-width: 180px !important;
    }
  }
}

