<div mat-dialog-title>Exporter les paiements</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2 mb-2">
        Veuillez sélectionner les champs à exporter
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEtudiantNom">Nom et Prénom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportOperateur">Opérateur</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportStatut">Statut</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportDateTransaction">Date de transaction</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportMontant">Montant</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNumeroTransaction">Numéro de transaction</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportConfirmationCode">Code de confirmation</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2" *ngIf="isPaymentsInscription">
        <mat-checkbox formControlName="exportInstitution">Institution</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2" *ngIf="isPaymentsInscription">
        <mat-checkbox formControlName="exportStatusEtablissement">Statut de l'institution</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportINA">Identifiant National Apprenant</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Exporter
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>