<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>
<mat-card class="importResult mat-card-p-0 m-3">
  <mat-card-content (click)="onClickImportButton()">
    <div fxLayout="column" class="p-2">
      <div fxFlex="100" class="p-2 text" fxLayoutAlign="center" >
        Cliquez pour synchroniser avec Inserjeune
      </div>

      <div class="border-box text-center">
        <div class="arrow-loading">
          <svg-icon [key]="'arrow-loading-left'" class="loading-left" fontSize="70px"></svg-icon>
          <svg-icon [key]="'arrow-loading-right'" class="loading-right" fontSize="70px"></svg-icon>
        </div>
      </div>

      <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center" *ngIf="importingIndicator">
        <span>{{imported}} sur {{totalToimport}} traitées...</span>
        <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
