.mat-card.importResult {
  cursor: pointer;
  div.text {
    font-size: 22px;
    font-weight: 500;
    color: #6d6d6d;
  }
  span.imageType {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background-color: #bebebe;
    margin: 0 10px;
    width: 50px;
    text-align: center;
  }
  .arrow-loading .loading-left {
    position: absolute;
    left: 34%;
    top: 10px;
    color: white;
  }
  .arrow-loading .loading-right {
    position: absolute;
    right: 34%;
    top: 30px;
    color: white;
  }
}
.border-box {
  height: 110px;
  width: 280px;
  border-radius: 10px;
  border: 2px solid #666666;
  margin: auto;
  position: relative;
}