<app-content-header 
  [customIcon]="'menu-track'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
    </div>
    <div fxLayout="row">
      <button mat-button (click)="exportLogs()">
        <mat-icon>save_alt</mat-icon> Exporter des journaux d’évènements
      </button>
    </div>
  </mat-toolbar>

  <form [formGroup]="searchForm">
    <mat-card class="m-3 p-3 border">
      <mat-card-content>
        <div class="subheading-1 text-bold-500 color-green-dark">
          Filtres
        </div>

    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
        <mat-form-field class="w-100">
          <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Période de création</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
            <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker">
            <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
          </mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
        <autocomplete placeholder="Type d’action / module" [values]="actionTypeList" 
          idField="value" valueField="name" formControlName="actionType">
        </autocomplete>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
        <mat-form-field class="w-100">
          <input matInput #searchFirstname formControlName="firstName" placeholder="Utilisateur Prénom">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
        <mat-form-field class="w-100">
          <input matInput #searchName formControlName="name" placeholder="Utilisateur Nom">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" class="px-2">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <i>Total d'entrées :</i>
        <span>{{total | number:'1.0-0'}}</span>
      </div>
    </div>
    
  </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Date" prop="creationTime" [headerClass]="'col-date'" [cellClass]="'col-date'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime | dateFormat: 'DD/MM/YYYY hh:mm A'}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Type d’action" prop="actionType" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.actionType}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Fait par" prop="userName" [headerClass]="'col-user'" [cellClass]="'col-user'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.userName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Description de l’action" prop="details">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.details}}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.identifiantNationalEleve}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date</span>
          <span fxFlex="50" class="px-2 text-right">{{row.creationTime | dateFormat: 'DD/MM/YYYY hh:mm A'}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type d’action</span>
          <span fxFlex="50" class="px-2 text-right">{{row.actionType}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Fait par</span>
          <span fxFlex="50" class="px-2 text-right">{{row.userName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Description de l’action</span>
          <span fxFlex="50" class="px-2 text-right">{{row.details}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>