:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 170px !important;
    }

    .datatable-header-cell.col-date,
    .datatable-body-cell.col-date {
      max-width: 190px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 300px !important;
    }

    .datatable-header-cell.col-user,
    .datatable-body-cell.col-user {
      max-width: 250px !important;
    }
  }
}

