<app-login 
  [loading]="loading" 
  (onSubmitLogin)="onSubmit($event)"
  [sectionTemplate]="registerLink"
>
</app-login>

<ng-template #registerLink>
  <div style="width: 300px; height: 40px; background-color: #0288d1; color: white; font-size: 20px;" class="w-100 pt-2 mb-4 mat-elevation-z6 text-center">
    Portail demandeur
  </div>
  <a routerLink="/register" class="w-100 mb-4 text-center">Créer un compte</a>
</ng-template>