$metfpet-primary: mat-palette($mat-light-blue, 700, 100, 800);
$metfpet-accent: mat-palette($mat-red, 800, 200, 900);
$metfpet-warn: mat-palette($mat-red, 500, 100, 800);

$metfpet-theme: mat-light-theme($metfpet-primary, $metfpet-accent, $metfpet-warn);