<app-progress-spinner [displayProgressSpinner]="loading">
</app-progress-spinner>

<div fxLayout="row" fxLayoutAlign="center center" class="mt-5" style="color: #237B83">
  <svg-icon [key]="'add-person2'" height="30px" width="36px"></svg-icon>
  <span class="headline text-bold-500 ml-1">Admission aux écoles et instituts</span>
</div>

<form [formGroup]="form" class="main-form">
  <div fxLayout="column">
    <div class="px-3 pb-2" fxLayoutAlign="end">
      <span class="warn-color">*</span> : Champs obligatoires
    </div>
  
    <mat-accordion class="px-3" multi="true">
      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Informations personnelles</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Prénom *" formControlName="firstName" autofocus="true">
              <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
              <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Nom *" formControlName="name">
              <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">                
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe *</label>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
              <mat-error style="font-size: 75%" *ngIf="form.controls.genreId.errors?.required 
              && (form.controls.genreId.dirty || form.controls.genreId.touched)">Le sexe est requis</mat-error>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput autocomplete="new-password" [matDatepicker]="dateNaissance" formControlName="dateNaissance" placeholder="Date de naissance *">
              <mat-datepicker-toggle matSuffix [for]="dateNaissance">
                <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dateNaissance disabled="false"></mat-datepicker>
              <mat-error *ngIf="form.controls.dateNaissance.errors?.required">La date de naissance est requise</mat-error>
            </mat-form-field>
          </div>
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
              idField="id" valueField="name" formControlName="prefectureResidenceId" [required]="true">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">password</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Mot de passe *" formControlName="password" type="password" minlength="6" maxlength="60">
              <mat-error *ngIf="form.controls.password.errors?.required">Le mot de passe est requis</mat-error>
              <mat-error *ngIf="form.controls.password.hasError('invalidPassword')">Le mot de passe doit contenir au minimum 8 caractères composés de chiffres, lettres dont une en majuscule</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">password</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Confirmation *" formControlName="confirmPassword" type="password">
              <mat-error *ngIf="form.controls.confirmPassword.errors?.required">La confirmation du mot de passe est requise</mat-error>
              <mat-error *ngIf="form.controls.confirmPassword.hasError('mustEqual')">Mot de passe non conforme veuillez compléter correctement les informations</mat-error>
            </mat-form-field>
          </div>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Établissement fréquenté</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div class="mat-radio-group-container" >
            <mat-radio-group formControlName="typeDiplomeSelection" (change)="onTypeDiplomeChange()" class="w-100">
              <label>Niveau  *</label>
              <mat-radio-button *ngFor="let typeDiplome of typeDiplomeList" [value]="typeDiplome.id">{{typeDiplome.name}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div *ngIf="isBrevetSelected" fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du BEPC *" [values]="sessionsBEPCList" 
              idField="name" valueField="name" formControlName="sessionBEPC">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du BEPC" [values]="optionsBEPCList" 
              idField="id" valueField="name" formControlName="optionBEPCId">
            </autocomplete>
          </div>
        </div>

        <div *ngIf="isBacSelected" fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du BAC *" [values]="sessionsBACList" 
              idField="name" valueField="name" formControlName="sessionBAC">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du BAC" [values]="optionsBACList" 
              idField="id" valueField="name" formControlName="optionBACId">
            </autocomplete>
          </div>
        </div>

        <div *ngIf="isTerminaleSelected" fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session de Terminale *" [values]="sessionsBACList" 
              idField="name" valueField="name" formControlName="sessionTerminale">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option de Terminale" [values]="optionsTerminaleList" 
              idField="id" valueField="name" formControlName="optionTerminaleId">
            </autocomplete>
          </div>
        </div>

        <div *ngIf="isBrevetSelected || isBacSelected || isTerminaleSelected" fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="PV" formControlName="numeroPV">
              <mat-error *ngIf="form.controls.numeroPV.hasError('pattern')">Le PV n'a pas le bon format</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Préfecture/Commune" [values]="prefectureList" 
              idField="id" valueField="name" formControlName="prefectureId">
            </autocomplete>
          </div>

          <div *ngIf="isBrevetSelected" fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Collège d'origine" [values]="collegesList" 
              idField="id" valueField="name" formControlName="collegeId">
            </autocomplete>
          </div>

          <div *ngIf="isBacSelected || isTerminaleSelected" fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Contacts</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Email *" formControlName="email" maxlength="255">
              <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Numéro de téléphone *" formControlName="phone">
              <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
              <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="px-3 my-4">
      <a routerLink="/login">
        <span>Retour à la page de connexion</span>
      </a>
  
      <button mat-raised-button type="button" (click)="onSubmit()" color="primary" [disabled]="loading">
        <mat-icon *ngIf="loading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        <span>Enregistrer</span>
      </button>
    </div>
  </div>
</form>
