<div *ngFor="let menu of parentMenu" class="menu-item">
  <ng-template
    *ngxPermissionsOnly="menu.permissions; then menuItem"
  >
  </ng-template>

  <ng-template #menuItem>
    <a *ngIf="menu.routerLink && !menu.hasSubMenu" mat-button 
      fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
      [routerLink]="[menu.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
      [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
      (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
      
      <span fxLayout="row" class="text-left">
        <svg-icon [key]="menu.icon" fontSize="32px"></svg-icon> 
        <span class="menu-title ml-3 text-left">{{menu.title}}</span>
      </span>
    </a>
  
    <a *ngIf="menu.href && !menu.subMenu" mat-button 
      fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
      [attr.href]="menu.href || ''" [attr.target]="menu.target || ''"
      [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
      (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
      <svg-icon [key]="menu.icon" fontSize="32px"></svg-icon>
      <span class="menu-title ml-3">{{menu.title}}</span>
    </a>
  
    <a *ngIf="menu.hasSubMenu" mat-button 
      fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
      [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
      (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
      <svg-icon [key]="menu.icon" fontSize="32px"></svg-icon>
      <span class="menu-title ml-3">{{menu.title}}</span>
      <mat-icon class="menu-expand-icon transition-2 mt-1">arrow_drop_down</mat-icon>
    </a>
  
    <div *ngIf="menu.hasSubMenu" class="sub-menu" [id]="'sub-menu-'+menu.id">
      <app-vertical-menu [menuItems]="menuItems" [menuParentId]="menu.id"></app-vertical-menu>
    </div>
  </ng-template>
  
</div>