<div mat-dialog-title>Décision</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{admissionInstitutionRowViewModel.institutionName}}
    </div>
    <div class="text-center mb-3">
      {{admissionInstitutionRowViewModel.localisation}}
    </div>

    <div class="border rounded p-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Prénom et Nom de l’apprenant :</strong></td>
            <td>{{admissionInstitutionRowViewModel.etudiantName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>PV :</strong></td>
            <td>{{admissionInstitutionRowViewModel.numeroPV}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{admissionInstitutionRowViewModel.identifiantNationalEleve}}</td>
          </tr>
        </table>
        <div class="border rounded p-2">
          <div fxFlex="100" class="px-2">
            <div>
              Décision :
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              ADMIS
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              -
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              {{admissionInstitutionRowViewModel.programmeName}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row wrap">
      * Tout choix est définitif ;
    </div>
    <div class="row wrap">
      * Vous ne pouvez accepter qu’une offre par session ;
    </div>
    <div class="row wrap">
      * En acceptant une offre, vous fermez vos autres demandes.
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isRefuseTheOffer()">
    <div class="text-center text-bold mb-3 title warn">
      L’offre a été refusée
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isAcceptTheOffer() && !allowSinscrire()">
    <div fxFlex="100" class="px-2">
      <div class="text-center text-bold mb-3 title color-green">
        L’offre a été acceptée
      </div>
    </div>
    <div class="cancelAction">
      <button mat-raised-button
        (click)="onClose()">
        Revenir en arrière
      </button>
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isAcceptTheOffer() && allowSinscrire()">
    <div fxFlex="100" class="px-2">
      <div class="text-center text-bold mb-3 title color-green">
        L’offre a été acceptée
      </div>
    </div>
    <div class="cancelAction">
      <button mat-raised-button #returnButton 
        (click)="onClose()"
        (keydown.arrowright)="registerButton.focus()">
        Revenir en arrière
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #registerButton
        class="bg-orange"
        (click)="onRegister()"
        (keydown.arrowleft)="returnButton.focus()">
        S’inscrire
      </button>
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isAdmis()">
    <div class="cancelAction">
      <button mat-raised-button #refuseButton
        color="warn" 
        (click)="onDeclineTheOffer()"
        (keydown.arrowright)="acceptButton.focus()">
        Refuser l’offre
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #acceptButton
        class="bg-green"
        (keydown.arrowleft)="refuseButton.focus()"
        (click)="onAcceptTheOffer()">
        Accepter l’offre
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>