<div mat-dialog-title>Admission {{data.currentSession.anneeAcademiqueName}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content class="mb-2">
    <form [formGroup]="form" fxLayout="column">
      <div class="text-center mb-3">
        Veuillez sélectionner entre 1 et 3 programmes, et prioriser vos choix.
      </div>

      <div *ngIf="error" class="mb-3 text-center">
        <mat-error >{{error}}</mat-error>
      </div>

      <div class="border rounded p-3">
        <div class="mb-3">
          <span class="text-bold">{{institution?.name}}</span>
          <span class="px-3">-</span>
          {{institution?.localisation}}
        </div>
        
        <ng-container formArrayName="programs">
          <ng-container *ngFor="let programForm of programs.controls; let i = index">
            <div class="px-5" [formGroup]="programForm">
              <mat-form-field class="w-100">
                <mat-select placeholder="Choix {{i+1}} :" formControlName="programmeId">
                  <mat-option value="">N/A</mat-option>
                  <mat-option *ngFor="let item of availablePrograms" [value]="item.id">
                    {{item.name}} ({{item.typeAdmissionName}}) - {{item.typeDiplomeName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="programForm.get('programmeId').hasError('required') && programForm.get('programmeId').touched">
                  Vous devez faire ce choix.
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>                                                                                                                                   
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        {{currentAdmissionInstitution ? 'Enregistrer' : 'Ajouter au panier'}}
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>