:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-body-cell.col-programs,
    .col-programs {
      white-space: pre-line;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 180px !important;
    }
  }
}