<div mat-dialog-title>Confirmation d’action</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center mb-3">
      Veuillez confirmer votre décision
    </div> 
    <div class="text-bold mb-3">
      Attention : 
    </div>
    <div class="row wrap">
        * Tout choix est définitif ;
    </div>
    <div class="row wrap">
        * Vous ne pouvez accepter qu’une offre par session ;
    </div>
    <div class="row wrap">
        * En acceptant une offre, vous fermez vos autres demandes.
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Revenir en arrière
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        [class]="data.accept ? 'bg-green' : 'bg-warn'"
        (keydown.arrowleft)="cancelButton.focus()"
        [mat-dialog-close]="true">
        {{data.accept ? 'Accepter l’offre' : 'Refuser l’offre'}}
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>