<div class="px-4 py-3">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img src="/assets/img/Logo_METFPET.jpg" class="logo-mers mb-3" style="width: 200px;"/>
    <div class="px-3 text-bold-500 subheading-1">
      Ministère de l’Enseignement Technique et de la <br>Formation Professionnelle
    </div>
  </div>

  <div class="color-orange title">
    Bienvenue sur la page d’accueil de la session d’admission {{currentSession?.anneeAcademiqueName}}
  </div>

  <div class="text-italic mb-4">
    {{isSessionExists ? 'Session en cours' : 'Aucune session en cours'}}
  </div>

  <div class="border rounded p-3" fxLayout="row wrap" *ngIf="isSessionExists">
    <div fxFlex="100" fxFlex.gt-xs="50" fxLayout="column" class="mb-2">
      <span class="subheading-2 primary-color mb-2">Session d’admission {{currentSession?.anneeAcademiqueName}}</span>
      <div><span>Du {{currentSession?.dateDebutAdmission | dateFormat: 'DD/MM/YYYY'}} 
        au {{currentSession?.dateLimiteAdmission | dateFormat: 'DD/MM/YYYY'}}</span></div>

      <div class="mt-3">
        Cette session d'admission est réservée aux détenteurs du :
        <ul class="pl-4">
          <li>Diplôme du Brevet</li>
          <li>Diplôme du Baccalauréat</li>
          <li>Niveau terminal</li>
        </ul>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign.gt-xs="end center" fxLayoutAlign="center">
      <button mat-raised-button
        type="button"
        class="bg-green button-icon mr-5"
        style="width: 250px;"
        (click)="onClickParticiperSante()" *ngIf="allowParticiperSante()">
        <mat-icon>play_arrow</mat-icon>
        <div style="text-wrap: wrap; width: 230px; font-size: 14px; line-height: 16px;">Je souhaite m’inscrire dans un programme de santé sur concours</div>
      </button>

      <button mat-raised-button
        type="button"
        color="primary"
        class="button-icon mr-5"
        style="width: 250px;"
        (click)="onClickParticiperPrivate()" *ngIf="allowParticiperPrivate()">
        <mat-icon>play_arrow</mat-icon>
        <div style="text-wrap: wrap; width: 230px; font-size: 14px; line-height: 16px;">Je souhaite m'inscrire dans une école privée (hors concours)</div>
      </button>

      <button mat-raised-button
        type="button"
        class="bg-orange button-icon"
        style="width: 250px;"
        (click)="onClickParticiperPublic()" *ngIf="allowParticiperPublic()">
        <mat-icon>play_arrow</mat-icon>
        <div style="text-wrap: wrap; width: 230px; font-size: 14px; line-height: 16px;">Je souhaite m'inscrire dans une école publique/privée (sur concours)</div>
      </button>
    </div>
  </div>
</div>