:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-matricule,
    .datatable-body-cell.col-matricule {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-periode,
    .datatable-body-cell.col-periode {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-niveau,
    .datatable-body-cell.col-niveau {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-frais,
    .datatable-body-cell.col-frais {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 120px !important;
    }
  }
}