<div mat-dialog-title>Résultats du concours</div>

<div class="mat-dialog-body">
  <form [formGroup]="form">
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold">Nom du concours : </div>
      <div fxFlex="50" fxFlex.gt-xs="75">{{_model?.concoursName}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold py-2">Niveau : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="py-2">{{_model?.niveauAcces}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold pb-3">Session : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="pb-3">{{_model?.anneeAcademiqueName}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold pb-3">PV : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="pb-3">{{_model?.numeroPV}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold pb-3">Centre de concours : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="pb-3">{{_model?.centreConcoursName}}</div>
    </div>

    <div fxLayout="row wrap" class="px-3 pt-3" style="border: 1px solid">
      <div fxFlex="100" fxFlex.gt-xs="100" class="text-center text-bold">Résultat et mention</div>
      <div fxFlex="100" fxFlex.gt-xs="100" class="text-center">{{_model?.resultMention}}</div>
    </div>

    <div class="p-3 my-3" style="border: 1px solid">
      <div class="text-bold">Matières (coefficient) - Résultat</div>
      <div *ngFor="let matiere of _model?.concoursEtudiantNotes" class="pl-5 pt-2">{{matiere.matiereName}} ({{matiere.matiereCoefficient}}) - {{matiere.moyenne}}/{{_model?.successMoyenneMax}}</div>
      <div class="text-right">Note: <span class="text-bold">{{_model?.moyenneTotal}}/{{_model?.successMoyenneMax}}</span></div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
      <div class="cancelAction">
        <button mat-raised-button color="primary" (click)="onClose()">
          Fermer
        </button>
      </div>
    </div>
  </form>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>