<div mat-dialog-title>Décision</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{admissionInstitutionRowViewModel.institutionName}}
    </div>
    <div class="text-center mb-3">
      {{admissionInstitutionRowViewModel.localisation}}
    </div>

    <div class="border rounded p-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Prénom et Nom de l’apprenant :</strong></td>
            <td>{{admissionInstitutionRowViewModel.etudiantName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>PV :</strong></td>
            <td>{{admissionInstitutionRowViewModel.numeroPV}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{admissionInstitutionRowViewModel.identifiantNationalEleve}}</td>
          </tr>
        </table>
        <div class="border rounded p-2">
          <div fxFlex="100" class="px-2">
            <div>
              Décision :
            </div>
            <div class="text-center text-bold mb-3 title color-orange">
              EN ATTENTE
            </div>
            <div class="text-center text-bold mb-3 title color-orange">
              -
            </div>
            <div class="text-center text-bold mb-3 title color-orange">
              Documents invalides
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border rounded p-2">
      <div class="row wrap">
        Vos documents à Re-transmettre :
      </div>
      <div class="row wrap text-italic">
        Tous les documents doivent être lisibles et sans reflets
      </div>
      <div class="row wrap warn-color text-italic" *ngIf="!allowToGoNext()">
        * Certains documents sont manquants, veuillez les insérer avant de continuer
      </div>

      <div class="row wrap mb-3" *ngIf="isShowActeNaissance">
        <div [class]="acteNaissanceCssClass">
          Extrait d’acte de naissance (format pdf ; max. 400 ko) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadActeNaissance()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="acteNaissanceSelector"
                (change)="onActeNaissanceFileUpload($event)" accept=".pdf"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{acteNaissanceFileName}}
          </div>
        </div>
      </div>

      <div class="row wrap mb-3" *ngIf="isShowPhoto">
        <div [class]="photoCssClass">
          Photo d’identité (format png ; max. 400 ko ; centré, visage, sans expression, sur fond blanc) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadPhoto()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="photoSelector"
                (change)="onPhotoFileUpload($event)" accept=".png"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{photoFileName}}
          </div>
        </div>
      </div>

      <div class="row wrap mb-3" *ngIf="isShowLettre">
        <div [class]="lettreCssClass">
          Lettre de demande manuscrite et numérisée (format pdf ; max. 400 ko) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadLettre()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="lettreSelector"
                (change)="onLettreFileUpload($event)" accept=".pdf"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{lettreFileName}}
          </div>
        </div>
      </div>

      <div class="row wrap mb-3" *ngIf="isShowAttestation">
        <div [class]="attestationCssClass">
          Attestation de niveau CEE et de niveau collège (format pdf ; max. 400 ko) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadAttestation()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="attestationSelector"
                (change)="onAttestationFileUpload($event)" accept=".pdf"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{attestationFileName}}
          </div>
        </div>
      </div>

      <div class="row wrap mb-3" *ngIf="isShowDiplomeCEE">
        <div [class]="diplomeCEECssClass">
          Diplôme CEE (format pdf ; max. 400 ko) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadDiplomeCEE()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="diplomeCEESelector"
                (change)="onDiplomeCEEFileUpload($event)" accept=".pdf"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{diplomeCEEFileName}}
          </div>
        </div>
      </div>

      <div class="row wrap mb-3" *ngIf="isShowCertificatVM">
        <div [class]="certificatVMCssClass">
          Certificat de visite médicale (format pdf ; max. 400 ko) *
        </div>
        <div class="row">
          <div fxFlex="25">
            <button mat-raised-button color="secondary" type="button" (click)="uploadCertificatVM()">
              Choisir le fichier
            </button>
            <input type="file" name="file" style="display:none" id="certificatVMSelector"
                (change)="onCertificatVMFileUpload($event)" accept=".pdf"
                placeholder="Choisir le fichier">
          </div>
          <div fxFlex="75" class="mt-2"> 
            {{certificatVMFileName}}
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button
      class="bg-orange"
      (click)="onRetransmettre()">
        Re-transmettre
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>