<div mat-dialog-title>Mode de paiement</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="px-2">
      <div fxFlex="50" class="p-2 readonlyField text-center">
        <label>Prénom</label>
        <span>{{student.firstName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField text-center">
        <label>Nom</label>
        <span>{{student.name}}</span>
      </div>
    </div>

    <div fxLayout="row" class="px-2 text-center" fxLayoutAlign="center">
      <div fxFlex="80">
        Total à payer :
      </div>
    </div>

    <div fxLayout="row" class="px-2 text-center mb-5" fxLayoutAlign="center">
      <div fxFlex="80">
        {{cart?.totalFrais}} GNF
      </div>
    </div>

    <form [formGroup]="form" fxLayout="row wrap">
      <div fxFlex="100" class="px-2 text-center" fxLayoutAlign="center">
        <label>Veuillez entrer le code de confirmation de Orange Money :</label>
      </div>
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput 
            formControlName="confirmationCode" style="text-align:center;">
          <mat-error *ngIf="form.controls.confirmationCode.errors?.required">Le code est requis</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="getConfirmationCodeButton.focus()">
        Annuler
      </button>
    </div>
    
    <div class="submitAction">
      <button mat-raised-button #getConfirmationCodeButton
        color="primary" 
        (keydown.arrowleft)="completePaymentButton.focus()"
        (click)="onGetConfirmationCode()">
        Obtenir le code de confirmation
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #completePaymentButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onCompletePayment()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>