<app-content-header 
  [customIcon]="'menu-admission'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>

  <div>
    <button mat-button type="button"
      #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
      Mon panier d'institution<mat-icon>arrow_drop_down</mat-icon>
    </button>

    <button mat-button (click)="payAndComplete()" [disabled]="!enablePayButton()"> 
      <svg-icon [key]="'check2'" class="mr-2"></svg-icon>Payer et terminer
    </button>
  </div>
</mat-toolbar>

<mat-menu #filterMenu="matMenu">
  <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
    <mat-icon>close</mat-icon>
  </button>

  <div class="subheading-2 text-bold-500 color-green-dark border-bottom px-3 py-2">
    Mon panier d'institution
  </div>

  <div class="px-3" style="width: 550px; max-height: 450px" perfectScrollbar>
    <div fxLayout="row wrap" class="border-bottom py-3" *ngFor="let item of cart?.admissionInstitutions">
      <div fxFlex="70" fxLayout="row wrap">
        <div fxFlex="50" class="pt-1">
          {{item.institution.name}}
        </div>
  
        <div fxFlex="50" class="pt-1">
          {{item.institution.localisation}}
        </div>
  
        <div fxFlex="100" class="pt-1 px-2" *ngFor="let choix of item.admissionInstitution.choixAdmissionInstitutions">
          ({{choix.position}}) {{choix.programmeNameWithTypeAdmission}}
        </div>
      </div>
  
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center end">
        <div>
          <button mat-stroked-button class="mb-3" style="width: 100px"
            (click)="modifyAdmissionChoice(item)" [disabled]="!enableUpdateOrDelete(item)">
            Modifier
          </button>
        </div>

        <div>
          <button mat-flat-button class="bg-pink-light" style="width: 100px;"
            (click)="removeFromCart(item.id)" [disabled]="!enableUpdateOrDelete(item)">
            Retirer
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 border-top">
    <div class="subheading-2 text-bold-500 color-green-dark py-1">
      Total des frais
    </div>
  
    <div class="subheading-2 text-bold-500 text-center py-1">
      {{cart?.totalFrais}} GNF
    </div>
  </div>
</mat-menu>

<div *ngIf="!isPrivate" fxLayout="column" fxLayoutAlign="center center">
  <div class="text-bold mt-2">Admissions : écoles publiques</div>
  <div>Vous pouvez choisir jusqu’à 3 écoles publiques et 3 programmes pour chaque école.</div>
  <div class="color-red mb-3">Attention : veuillez noter que vous devez compléter votre paiement pour obtenir votre PV et vous inscrire aux concours.</div>
</div>

<div *ngIf="isPrivate" fxLayout="column" fxLayoutAlign="center center">
  <div class="text-bold mt-2">Admissions : écoles privées hors concours</div>
  <div>Vous pouvez choisir 1 école privée hors concours et 3 programmes.</div>
  <div class="color-red mb-3">Attention : veuillez noter que vous devez compléter votre paiement pour obtenir votre PV et vous inscrire aux concours.</div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
          <autocomplete placeholder="Région" [values]="regionList" 
            idField="id" valueField="name" formControlName="region">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
          <autocomplete placeholder="Préfecture / Ville / Commune" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefecture">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
          <autocomplete placeholder="Nom de l’établissement" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
          <autocomplete placeholder="Nom de la formation" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
          <autocomplete placeholder="Type de sélection" [values]="typeAdmissionList" 
            idField="id" valueField="name" formControlName="typeAdmission">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Etablissements" prop="institution.name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institution.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type Diplome" prop="typeDiplome"  [cellClass]="'col-programs'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getDiplomeTypeName(row.programmes)}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type Examen" prop="typeExamen"  [cellClass]="'col-programs'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getTypeExamenName(row.programmes)}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Localisation">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institution.localisation}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Formations offertes" [headerClass]="'col-programs'" [cellClass]="'col-programs'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getProgramNames(row)}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="addToCart(row)" class="color-blue" *ngIf="!paid && allowToSelectTheProgram()">Ajouter au panier</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.institution.name}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Localisation</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institution.localisation}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Formations offertes</span>
          <span fxFlex="50" class="px-2 text-right col-programs">{{getProgramNames(row)}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" (click)="addToCart(row)" class="w-100 color-blue" *ngIf="!paid && allowToSelectTheProgram()">
              Ajouter au panier
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>