<form [formGroup]="searchForm" fxLayout="column" class="p-3">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom du concours">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.concoursName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauAcces}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Session">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Centre de concours">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.centreConcoursName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV ? row.numeroPV : "-"}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Note" *ngIf="false">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getMoyenneTotal(row)}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Résultat" *ngIf="false">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getResultatValue(row)}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" name="Modalités du concours">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="color-blue" (click)="openStudentModalitesConcours(row)">Afficher</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" name="Résultats" *ngIf="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="color-blue" (click)="viewTheResult(row)">{{viewTheResultText(row)}}</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  
  <div fxHide fxShow.xs="true">
    <mat-accordion fxHide fxShow.xs="true" multi="true" class="m-3">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.concoursName}}</mat-panel-title>
        </mat-expansion-panel-header>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauAcces}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Session</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Centre de concours</span>
          <span fxFlex="50" class="px-2 text-right">{{row.centreConcoursName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV</span>
          <span fxFlex="50" class="px-2 text-right">{{row.numeroPV ? row.numeroPV : "-"}}</span>
        </div>

        <div fxLayout="row" class="p-2" *ngIf="false">
          <span fxFlex="50" class="px-2 text-bold">Note</span>
          <span fxFlex="50" class="px-2 text-right">{{getMoyenneTotal(row)}}</span>
        </div>

        <div fxLayout="row" class="p-2" *ngIf="false">
          <span fxFlex="50" class="px-2 text-bold">Résultat</span>
          <span fxFlex="50" class="px-2 text-right">{{getResultatValue(row)}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" class="w-100" (click)="openStudentModalitesConcours(row)">Afficher</button>
          </div>
        </mat-action-row>

        <mat-action-row class="px-2" *ngIf="false">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" class="w-100" (click)="viewTheResult(row)">{{viewTheResultText(row)}}</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</form>