<div fxLayout="row" class="mb-1 mt-3 px-3">
  <div fxFlex="100" fxLayoutAlign="end center">
    <button mat-raised-button type="button" color="primary" (click)="payAdmission()" class="mr-2" *ngIf="allowToPayAdmission()">
      Payer
    </button>
  </div>
</div>
<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-5">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Région" [values]="regionList" 
            idField="id" valueField="name" formControlName="region">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture / Ville / Commune" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefecture">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Nom de l’établissement" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Nom de la formation" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Année" [values]="anneeList" 
            idField="id" valueField="name" formControlName="annee">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Etablissement" prop="etablissement" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etablissement}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Choix" prop="choixAdmissionInstitution" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.choixAdmissionInstitution}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Année" prop="anneeAcademiqueName" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV" prop="numeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{getPV(row)}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut" prop="status" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusNameForSuiviDeMesDemandes}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Modalités" [headerClass]="'col-modalite'" [cellClass]="'col-modalite'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="showModalite(row)" class="color-blue">{{getModalite(row)}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue" *ngIf="allowAcceptOffer(row)">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etablissement}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Choix</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.choixAdmissionInstitution}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Année</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV</span>
          <span fxFlex="50" class="px-2 text-right">{{getPV(row)}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusNameForSuiviDeMesDemandes}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Modalités</span>
          <span fxFlex="50" class="px-2 text-right"><a class="color-blue" (click)="showModalite(row)">{{getModalite(row)}}</a></span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100" *ngIf="allowAcceptOffer(row)">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>