<div mat-dialog-title>Retirer via Ecobank Express</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
      <div class="color-red text-center text-italic">Si ces informations ne sont pas correct, arrêtez le processus et contactez immédiatement l’équipe de support du METFPE</div>
      <div fxlayout="row">
        <label class="text-bold">Numéro de téléphone : </label>
        <span>{{etudiantEcobank?.phoneNumber}}</span>
      </div>
      <div fxlayout="row">
        <label class="text-bold">No de compte Xpress : </label>
        <span>{{etudiantEcobank?.ecobankAcountNumber}}</span>
      </div>
      <div class="text-bold" style="border: 2px solid #01476E; padding: 0.5rem 5rem;">Montant disponible au retrait : {{montant}} GNF</div>
      <div 
        fxLayout="row" fxLayoutAlign="center center"
        style="width: 300px; padding: 5px; height: 100px; background-color: #D97B34; color: white; font-size: 14px; border-radius: 5px;"
        class="pointer"
        (click)="withDraw()"
        *ngIf="!isProcessing"
      >
        <svg-icon [key]="'retirer-ecobank'" fontSize="80px" class="p-4"></svg-icon>
        Procéder au retrait de ma bourse via Ecobank Xpress
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isProcessing">Le transfert Ecobank Xpress est en cours. Veuillez patienter, merci !</div>
    </div>
  </mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
    <div>
      <button mat-raised-button type="button" (click)="onClose()">
        Annuler
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>