<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <ng-container *ngIf="step === 'stepInscription'" [ngTemplateOutlet]="stepInscription"></ng-container>

  <ng-container *ngIf="step === 'stepPayment'" [ngTemplateOutlet]="stepPayment"></ng-container>

  <ng-container *ngIf="step === 'stepCompletePayment'" [ngTemplateOutlet]="stepCompletePayment"></ng-container>

  <ng-container *ngIf="step === 'stepFinishPayment'" [ngTemplateOutlet]="stepFinishPayment"></ng-container>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>

<ng-template #stepInscription>
  <mat-dialog-content>
    <div class="color-green-dark border-bottom green-dark m-2">
      Profil
    </div>

    <div fxLayout="row wrap" class="mb-4">
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Prénom</label>
        <span>{{student.firstName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Nom</label>
        <span>{{student.name}}</span>
      </div>

      <div fxFlex="50" class="p-2 readonlyField">
        <label>INA</label>
        <span>{{student.identifiantNationalEleve}}</span>
      </div>

      <div fxFlex="50" class="p-2 readonlyField">
        <label>PV</label>
        <span>{{student.numeroPV}}</span>
      </div>

      <div fxFlex="100" class="p-2 readonlyField">
        <label>Programme d’admission</label>
        <span>{{proposedInscription?.programmeName}} - {{proposedInscription?.institutionName}} - {{proposedInscription?.localisation}}</span>
      </div>
    </div>

    <div class="color-green-dark border-bottom green-dark m-2">
      {{inscriptionProgrammeId ? inscriptionProgramme?.typeName : titlePrefix}} 
      {{inscriptionProgrammeId ? inscriptionProgramme?.anneeAcademiqueName : anneeAcademiqueOuverte?.name}}
    </div>

    <ng-container *ngIf="isCreateNew; else viewOnly">
      <form [formGroup]="form" fxLayout="row wrap">
        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
            <input matInput 
              placeholder="Saisir votre Matricule si vous le connaissez ou laissez ce champ vide" 
              formControlName="matricule">
            <mat-error *ngIf="form.controls.matricule.errors?.required">Le matricule est requis</mat-error>
            <mat-error *ngIf="form.controls.matricule.hasError('containsSpecialCharacter')"> Le matricule ne doit pas comporter de caractères spéciaux @, &, ), (, /, «</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Institution *" formControlName="institutionId" [disabled]="true">
              <mat-option *ngFor="let institution of institutionList" [value]="institution.id">
                {{institution.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.institutionId.errors?.required">L'institution est requise</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Département *" formControlName="faculteId" [disabled]="true">
              <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">
                {{faculty.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.faculteId.errors?.required">La département est requise</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Programme *" formControlName="programmeId" [disabled]="true">
              <mat-option *ngFor="let program of programList" [value]="program.id">
                {{program.name}} - {{program.typeDiplomeName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.programmeId.errors?.required">Le programme est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Année scolaire *" formControlName="anneeAcademiqueId">
              <mat-option *ngFor="let anneeAcademique of anneeAcademiqueList" [value]="anneeAcademique.id">
                {{anneeAcademique.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.anneeAcademiqueId.errors?.required">Le année scolaire est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Niveau *" formControlName="niveauEtudeId">
              <mat-option *ngFor="let niveauEtude of niveauEtudeList" [value]="niveauEtude.id">
                {{niveauEtude.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.niveauEtudeId.errors?.required">Le niveau est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2 my-3">
          <label style="margin-right: 20px;">Type de formation *</label>
          <mat-radio-group formControlName="typeFormationId">
            <mat-radio-button style="margin-right: 20px;" *ngFor="let item of typeFormationList;" [value]="item.id">
              {{item.name}}
            </mat-radio-button>
            <mat-error *ngIf="form.controls.typeFormationId.errors?.required && 
            (form.controls.typeFormationId.dirty || form.controls.typeFormationId.touched)">Le type de formation est requis</mat-error>
          </mat-radio-group>
        </div>

        <div fxFlex="100" class="px-2 my-3">
          <label style="margin-right: 20px;">Régime *</label>
          <mat-radio-group formControlName="regime">
            <mat-radio-button style="margin-right: 20px;" *ngFor="let item of regimeList;" [value]="item.value" disabled>
              {{item.name}}
            </mat-radio-button>
            <mat-error *ngIf="form.controls.regime.errors?.required && 
            (form.controls.regime.dirty || form.controls.regime.touched)">Le régime est requis</mat-error>
          </mat-radio-group>
        </div>
      </form>
    </ng-container>

    <ng-template #viewOnly>
      <div fxLayout="row wrap" class="mb-4">
        <div fxFlex="100" class="p-2 readonlyField" *ngIf="inscriptionProgramme.matricule">
          <label>Matricule de l’apprenant</label>
          <span>{{inscriptionProgramme.matricule}}</span>
        </div>
    
        <div fxFlex="100" class="p-2 readonlyField">
          <label>Institution</label>
          <span>{{inscriptionProgramme.institutionName}}</span>
        </div>

        <div fxFlex="100" class="p-2 readonlyField">
          <label>Département</label>
          <span>{{inscriptionProgramme.faculteName}}</span>
        </div>

        <div fxFlex="100" class="p-2 readonlyField">
          <label>Programme</label>
          <span>{{inscriptionProgramme.programmeName}} - {{inscriptionProgramme.typeDiplomeName}}</span>
        </div>

        <div fxFlex="50" class="p-2 readonlyField">
          <label>Année scolaire</label>
          <span>{{inscriptionProgramme.anneeAcademiqueName}}</span>
        </div>

        <div fxFlex="50" class="p-2 readonlyField">
          <label>Niveau</label>
          <span>{{inscriptionProgramme.niveauEtudeName}}</span>
        </div>

        <div fxFlex="50" class="p-2 readonlyField">
          <label>Type de formation</label>
          <span>{{inscriptionProgramme.typeFormationName}}</span>
        </div>

        <div fxFlex="50" class="p-2 readonlyField">
          <label>Paiement</label>
          <span>Validé</span>
        </div>
      </div>
    </ng-template>

    <div fxLayout="row wrap" class="mb-4" *ngIf="isShownCompteNSG()">
      <div fxFlex="100" class="color-green-dark border-bottom green-dark m-2">
        Compte NSG
      </div>
  
      <div class="button-container" *ngIf="isShownCompteNSGButton()">
        <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
            <button mat-raised-button class="design-button button-add" type="button" (click)="redirectToCyclo()">
                <div><svg-icon key="add-account-banking" fontSize="16px"></svg-icon> Créer un compte SmartPay</div>
            </button>
        </div>
        <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
            <button mat-raised-button color="primary" class="design-button" type="button" (click)="openDialog()">
                <div><svg-icon key="edit-account-banking" fontSize="16px"></svg-icon> Renseigner mon compte SmartPay</div>
            </button>
        </div>
      </div>
  
      <div fxLayout="row wrap" class="mb-4">
        <div fxFlex="100" class="p-2 readonlyField">
          <label>Identifiant : </label>
          <span>{{etudiantNSGBankingInfo?.identifiantCompte}}</span>
        </div>
  
        <div fxFlex="100" class="p-2 readonlyField">
          <label>Numéro de téléphone du compte : </label>
          <span>{{etudiantNSGBankingInfo?.numeroCompte}}</span>
        </div>
  
        <div fxFlex="100" class="p-2 readonlyField">
          <label>Adresse courriel du compte : </label>
          <span>{{etudiantNSGBankingInfo?.emailCompte}}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" 
    *ngIf="isInscriptionStatusApayer; else closeOnly">
    <div class="cancelAction">
      <button mat-raised-button 
        (click)="onClose()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button *ngIf="!loading" mat-raised-button
        color="primary" 
        [disabled]="disabledPayerButton"
        (click)="checkOtpBeforePayer()">
        Payer
      </button>
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
    </div>
  </div>

  <ng-template #closeOnly>
    <div class="text-center p-3">
      <button mat-raised-button 
        (click)="onClose()">
        Terminer
      </button>
    </div>
  </ng-template>
</ng-template>

<ng-template #stepPayment>
  <mat-dialog-content>
    <div fxLayout="row" class="px-2 text-center my-4" fxLayoutAlign="center">
      <div fxFlex="90" style="padding: 15px; border: 1px solid black">
        <span class="title">À payer : {{montant}} GNF</span>
      </div>
    </div>

    <div fxLayout="row" class="px-2 my-3" fxLayoutAlign="center" *ngIf="!paymentInProgress; else showPaymentInProgress">
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'mtn-money'" fontSize="100px"></svg-icon>
            <div>MTN Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" (click)="onPayWithOrange()" *ngIf="showOrangeMoney">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'orange-money'" fontSize="100px"></svg-icon>
            <div>Orange Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'yup-money'" fontSize="100px"></svg-icon>
            <div>YUP</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <ng-template #showPaymentInProgress>
      <div fxLayout="column" fxLayoutAlign="center center" class="my-3">
        <mat-spinner diameter="80"></mat-spinner>
        <div class="mt-3">Paiement des frais d'inscription en cours ...</div>
      </div>
    </ng-template>  
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!paymentInProgress">
    <div class="cancelAction">
      <button mat-raised-button #backButton 
        (click)="onBack()"
        (keydown.arrowright)="payLaterButton.focus()">
        Retour
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #payLaterButton
        color="primary" 
        (keydown.arrowleft)="backButton.focus()"
        (click)="onPayLater()">
        {{payLaterButtonText}}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #stepCompletePayment>
  <mat-dialog-content>
    <div fxLayout="row" class="px-2">
      <div fxFlex="50" class="p-2 readonlyField text-center">
        <label>Prénom</label>
        <span>{{student.firstName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField text-center">
        <label>Nom</label>
        <span>{{student.name}}</span>
      </div>
    </div>

    <div fxLayout="row" class="px-2 text-center" fxLayoutAlign="center">
      <div fxFlex="80">
        Total à payer :
      </div>
    </div>

    <div fxLayout="row" class="px-2 text-center mb-5" fxLayoutAlign="center">
      <div fxFlex="80">
        {{montant}} GNF
      </div>
    </div>

    <form [formGroup]="form1" fxLayout="row wrap">
      <div fxFlex="100" class="px-2 text-center" fxLayoutAlign="center">
        <label>Veuillez entrer le code de confirmation de Orange Money :</label>
      </div>
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput 
            formControlName="confirmationCode" style="text-align:center;">
          <mat-error *ngIf="form1.controls.confirmationCode.errors?.required">Le code est requis</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onFinish()"
        (keydown.arrowright)="getConfirmationCodeButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #getConfirmationCodeButton
        color="primary" 
        (keydown.arrowleft)="completePaymentButton.focus()"
        (click)="onGetConfirmationCode()">
        Obtenir le code de confirmation
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #completePaymentButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onCompletePayment()">
        Enregistrer
      </button>
    </div>
  </div>
</ng-template>

<ng-template #stepFinishPayment>
  <mat-dialog-content>
    <div fxLayout="row" class="px-2 text-center mb-3" fxLayoutAlign="center">
      Le paiement a bien été pris en compte
    </div>
    <div fxLayout="row" class="px-2 text-center mb-3" fxLayoutAlign="center">
      Vous êtes désormais inscrits. Votre institution communiquera avec vous les prochaines étapes.
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button
        color="primary" 
        (click)="onFinish()">
        Terminer
      </button>
    </div>
  </div>
</ng-template>