<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div></div>
  <div fxLayout="row">
    <button mat-button type="button" *ngIf="canInscrire" (click)="addInscription()">
      <mat-icon>edit</mat-icon>{{addInscriptionButtonText}}
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="mt-3 mat-tab-group custom green-dark">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm" fxLayout="column" class="p-3">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Date" prop="date" [headerClass]="'col-periode'" [cellClass]="'col-periode'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.date}}</ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column name="Matricule" prop="matricule" [headerClass]="'col-matricule'" [cellClass]="'col-matricule'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column name="Période" prop="anneeAcademiqueName" [headerClass]="'col-periode'" [cellClass]="'col-periode'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau" prop="niveauEtudeName" [headerClass]="'col-niveau'" [cellClass]="'col-niveau'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Frais" prop="displayedFrais" [headerClass]="'col-frais'" [cellClass]="'col-frais'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedFrais}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Programme" prop="programmeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution" prop="institutionName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Localisation" prop="localisation">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.localisation}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button (click)="editInscription(row)">
          <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
        </button>

        <!-- <button mat-icon-button (click)="removeInscription(row)" *ngIf="isInscriptionStatusApayer(row)">
          <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
        </button> -->
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  
  <div fxHide fxShow.xs="true">
    <mat-accordion fxHide fxShow.xs="true" multi="true" class="m-3">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.matricule}}</mat-panel-title>
        </mat-expansion-panel-header>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date</span>
          <span fxFlex="50" class="px-2 text-right">{{row.date}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Matricule</span>
          <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Période</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Frais</span>
          <span fxFlex="50" class="px-2 text-right">{{row.displayedFrais}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Localisation</span>
          <span fxFlex="50" class="px-2 text-right">{{row.localisation}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actions</span>
          <span fxFlex="50" class="px-2 text-right">
            <button mat-icon-button (click)="editInscription(row)">
              <svg-icon  [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
            </button>
  
            <!-- <button mat-icon-button (click)="removeInscription(row)" *ngIf="isInscriptionStatusApayer(row)">
              <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
            </button> -->
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</form>