<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="start end">
    <div class="w-10">
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>

    <ng-container *ngTemplateOutlet="sectionTemplate">
      <div></div>
    </ng-container>

    <mat-form-field class="w-100 mb-3">
      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
      <input matInput [placeholder]="userNameLabel" formControlName="identifier">
      <mat-error *ngIf="form.controls.identifier.errors?.required">L'identifiant est requis</mat-error>
      <mat-error *ngIf="form.controls.identifier.hasError('minlength')">L'identifiant doit avoir un minimum de 3 caractères</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mb-3">
      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">password</mat-icon>
      <input matInput placeholder="Mot de passe" formControlName="password" [type]="hide ? 'password' : 'text'" minlength="6">
      <mat-icon matSuffix class="mat-icon-sm mb-2 secondary-text-color" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="form.controls.password.errors?.required">Le mot de passe est requis</mat-error>
      <mat-error *ngIf="form.controls.password.hasError('minlength')">Le mot de passe doit avoir un minimum de 8 caractères</mat-error>
    </mat-form-field>

    <a routerLink="/retrieve-password" class="mb-4">
      Mot de passe oublié?
    </a>

    <button mat-raised-button color="primary" style="width: 120px" class="mat-elevation-z6" type="submit" [disabled]="loading">
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
      <span>Connexion</span>
    </button>
  </div>
</form>