<app-content-header 
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<div class="mainPageMenu py-2">
  <div fxLayout="column" fxLayout.gt-xs="row wrap" class="px-2">
    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToStudentDossiers()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-dossier-students'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Dossier Apprenant</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToAdmission()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-admission'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Admission</mat-card-content>
      </mat-card>
    </div>
    
    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToCursus()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-management'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Cursus</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToDocument()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-documents'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Documents officiels</mat-card-content>
      </mat-card>
    </div>

    <!-- <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToBourses()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-bourse'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Bourses</mat-card-content>
      </mat-card>
    </div> -->
  </div>
</div>