:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-nom,
    .datatable-body-cell.col-nom {
      max-width: 230px !important;
    }

    .datatable-header-cell.col-date,
    .datatable-body-cell.col-date {
      max-width: 270px !important;
    }

    .datatable-header-cell.col-actions,
    .datatable-body-cell.col-actions {
      max-width: 150px !important;
    }
  }
}

