<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content>
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateDebut" formControlName="dateDebut" placeholder="Date de début de l'année scolaire *" >
            <mat-datepicker-toggle matSuffix [for]="dateDebut">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateDebut disabled="false"></mat-datepicker>
            <mat-error *ngIf="form.controls.dateDebut.errors?.required">La date de début de l'année scolaire est requise</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateFin" formControlName="dateFin" placeholder="Date de fin de l'année scolaire *" >
            <mat-datepicker-toggle matSuffix [for]="dateFin">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateFin disabled="false"></mat-datepicker>
            <mat-error *ngIf="form.controls.dateFin.errors?.required">La date de fin de l'année scolaire est requise</mat-error>
          </mat-form-field>        
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateDebutInscription" formControlName="dateDebutInscription" placeholder="Date de début d'inscription (choix d'institution) *" >
            <mat-datepicker-toggle matSuffix [for]="dateDebutInscription">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateDebutInscription disabled="false"></mat-datepicker>
            <mat-error *ngIf="form.controls.dateDebutInscription.errors?.required">La date de début d'inscription (choix d'institution) est requise</mat-error>
          </mat-form-field>        
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="dateLimiteInscription" formControlName="dateLimiteInscription" placeholder="Date de fin d'inscription (choix d'institution) *" >
            <mat-datepicker-toggle matSuffix [for]="dateLimiteInscription">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dateLimiteInscription disabled="false"></mat-datepicker>
            <mat-error *ngIf="form.controls.dateLimiteInscription.errors?.required">La date de fin d'inscription (choix d'institution) est requise</mat-error>
          </mat-form-field>        
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
