<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    <button mat-button (click)="create()" *ngIf="!isMinistre()">
      <mat-icon>add</mat-icon> Créer une nouvelle année
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="mt-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="column" class="p-3">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom" prop="name" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Date de début de l'année scolaire" prop="dateDebut" [headerClass]="'col-date'" [cellClass]="'col-date'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateDebut | dateFormat: "DD/MM/YYYY"}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date de fin de l'année scolaire" prop="dateFin" [headerClass]="'col-date'" [cellClass]="'col-date'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateFin | dateFormat: "DD/MM/YYYY"}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date de début d'inscription (choix d'institution)" prop="dateDebutInscription">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateDebutInscription | dateFormat: "DD/MM/YYYY"}}</ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Date de fin d'inscription (choix d'institution)" prop="dateLimiteInscription">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateLimiteInscription | dateFormat: "DD/MM/YYYY"}}</ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-actions'" [cellClass]="'col-actions'" *ngIf="!isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button (click)="open(row)">
          <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span></mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date de début de l'année scolaire</span>
          <span fxFlex="50" class="px-2 text-right">{{row.dateDebut | dateFormat: "DD/MM/YYYY"}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date de fin de l'année scolaire</span>
          <span fxFlex="50" class="px-2 text-right">{{row.dateFin | dateFormat: "DD/MM/YYYY"}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date début d'inscription (choix d'institution)</span>
          <span fxFlex="50" class="px-2 text-right">{{row.dateDebutInscription | dateFormat: "DD/MM/YYYY"}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date de fin d'inscription (choix d'institution)</span>
          <span fxFlex="50" class="px-2 text-right">{{row.dateLimiteInscription | dateFormat: "DD/MM/YYYY"}}</span>
        </div>

        <mat-action-row class="px-2" *ngIf="!isMinistre()">
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
