<div fxLayout="row" fxLayoutAlign="end" class="px-3">
  <button mat-raised-button color="primary" type="button" class="px-4" (click)="onConfirm()">
    Enregistrer
  </button>
</div>

<form [formGroup]="form">
  <div class="mx-4">
    <ng-container formArrayName="concoursInstitutions">
      <ng-container *ngFor="let concoursInstitutionForm of concoursInstitutions.controls">
        <div fxLayout="row">
          <div class="my-2 pl-3" [formGroup]="concoursInstitutionForm" fxFlex="100" fxFlex.gt-xs="50" style="border-left: 5px solid #357AC5">
            <div>
              Type de programme : <span class="text-bold">{{getTypeProgrammeName(concoursInstitutionForm)}}</span> - Niveau des filères de concours : <span class="text-bold">{{getNiveauAccesName(concoursInstitutionForm)}}</span>
            </div>
            <mat-form-field class="w-100">
              <mat-select placeholder="Nom du concours" formControlName="concoursId">
                <mat-option *ngFor="let concours of concoursList" [value]="concours.id">
                  {{concours.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>