<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content fxLayout="column" fxLayout.gt-xs="row wrap">
      <ng-container *ngIf="!isCreation">
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2"></div>
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-slide-toggle formControlName="status" class="my-3" labelPosition="before">
            {{form.controls.status.value ? 'Actif' : 'Inactif'}}
          </mat-slide-toggle>
        </div>
      </ng-container>

      <div fxFlex="100" fxFlex.gt-xs="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
          <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
          <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxFlex="100" fxFlex.gt-xs="100">
        <div fxFlex="100" class="px-2" fxFlex.gt-xs="10">
          <label class="text-bold">Niveau d’accès : </label>
        </div>
        <div fxFlex="100" class="px-2" fxFlex.gt-xs="90">
          <mat-checkbox formControlName="hasBac" class="mr-5">Bac</mat-checkbox>
          <mat-checkbox formControlName="hasTerminal" class="mr-5">Terminal</mat-checkbox>
          <mat-checkbox formControlName="hasBepc" class="mr-5">BEPC</mat-checkbox>
          <mat-checkbox formControlName="hasPostSecondaire" class="mr-5">Post-secondaire</mat-checkbox>
          <mat-checkbox formControlName="hasPostPrimaire" class="mr-5">Post-primaire</mat-checkbox>
          <mat-checkbox formControlName="hasAutre" class="mr-5">Autre</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" fxFlex.gt-xs="100" class="px-2 mt-3">
        <div fxFlex="100" class="border rounded p-3" fxFlex.gt-xs="47">
          <div fxLayout="row">
            <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-2">
              <span class="text-bold">Région</span>
            </div>
            
            <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addRegion()">
                Ajouter une région
              </button>
            </div>
          </div>
          <div class="border-top p-3 mt-3">      
            <ng-container formArrayName="regions">
              <ng-container *ngFor="let regionForm of regions.controls; let i = index">
                <div fxLayout="row">
                  <div class="px-1" [formGroup]="regionForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
                    <autocomplete placeholder="Nom de la région" [values]="regionList" 
                        idField="id" valueField="name" formControlName="id">
                    </autocomplete>
                  </div>
                  <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
                    <button mat-icon-button (click)="deleteRegion(i)">
                      <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="6"></div>
        <div fxFlex="100" class="border rounded p-3" fxFlex.gt-xs="47">
          <div fxLayout="row">
            <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-2">
              <span class="text-bold">Préfecture</span>
            </div>
            
            <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addPrefecture()">
                Ajouter une préfecture
              </button>
            </div>
          </div>

          <div class="border-top p-3 mt-3">      
            <ng-container formArrayName="prefectures">
              <ng-container *ngFor="let prefectureForm of prefectures.controls; let i = index">
                <div fxLayout="row">
                  <div class="px-1" [formGroup]="prefectureForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
                    <autocomplete placeholder="Nom de la préfecture" [values]="getPrefectures()" 
                        idField="id" valueField="name" formControlName="id">
                    </autocomplete>
                  </div>
                  <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
                    <button mat-icon-button (click)="deletePrefecture(i)">
                      <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" fxFlex.gt-xs="100" class="px-2 mt-3">
        <div fxFlex="100" class="border rounded p-3" fxFlex.gt-xs="100">
          <div fxLayout="row">
            <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-2">
              <span class="text-bold">Programmes d’Institutions</span>
            </div>
            
            <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addProgramme()">
                Ajouter une programmes d’Institutions
              </button>
            </div>
          </div>

          <div class="border-top p-3 mt-3">      
            <ng-container formArrayName="programmes">
              <ng-container *ngFor="let programmeForm of programmes.controls; let i = index">
                <div fxLayout="row" [formGroup]="programmeForm">
                  <div class="px-1" fxFlex="100" fxFlex.sm="45" fxFlex.gt-sm="45">
                    <autocomplete placeholder="Nom de l’institution" [values]="institutionList" 
                      idField="id" valueField="name" formControlName="institutionId">
                    </autocomplete>
                  </div>
                  <div fxFlex="100" fxFlex.sm="5" fxFlex.gt-sm="5"></div>
                  <div class="px-1" fxFlex="100" fxFlex.sm="45" fxFlex.gt-sm="45">
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Nom du programme" formControlName="programmeId">
                        <mat-option *ngFor="let item of getProgrammes(programmeForm.controls.institutionId.value)" [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.sm="5" fxFlex.gt-sm="5">
                    <button mat-icon-button (click)="deleteProgramme(i)">
                      <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
