<div mat-dialog-title>Exporter tous les admission</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2 mb-2">
        Veuillez sélectionner les champs à exporter
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNom">Nom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNiveauAcces">Niveau accès</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportRegion">Région</mat-checkbox>
      </div>
      
      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPrefecture">Préfecture</mat-checkbox>
      </div>
      
      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportProgramme">Programmes d’Institutions</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportStatut">Statut</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Exporter
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>