<app-content-header 
  [customIcon]="'menu-configurations-attente'"
  [title]="'Configurations en attente'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<div fxLayout="row" class="px-3 my-4">
  <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
    <button mat-raised-button type="button" color="primary" class="mr-2" (click)="applySelectedDemande()">
      Appliquer les configurations sélectionnées
    </button>
    <button mat-raised-button type="button" color="primary" (click)="applyFilteredDemande()">
      Appliquer toutes les configurations
    </button>
  </div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type d’agrément" [values]="typeDemandeList" idField="id" valueField="name"
            formControlName="typeDemandeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Nom de l’agrément" [values]="agrementationList" idField="id" valueField="name"
            formControlName="agrementationId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNumero formControlName="numero" placeholder="No d’agrément">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchInstitutionName formControlName="institutionName" placeholder="Institution">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type d’institution" [values]="typeInstitutionList" idField="id" valueField="name"
            formControlName="typeInstitutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Intervalle de dates d’approbation</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="deliveryDateFrom" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="deliveryDateTo" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="p-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    (select)="onSelect($event)"
    [selected]="selected"
    [selectionType]="'checkbox'"
    [rowIdentity]="getId"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn">
        <input style="width:20px; height:20px" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn">
        <input style="width:20px; height:20px" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type d’agrément">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDemandeName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Nom de l’agrément">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.agrementationName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="No d’agrément">
      <ng-template let-row="row" ngx-datatable-cell-template>METFP/{{row.deliveryDate.split('/')[2]}}/{{row.numero}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type d’institution">  
     <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeInstitutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date d’approbation">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.deliveryDate}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lien vers l’agrément" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>
            <span class="flex-text-ellipsis">
              {{row.typeDemandeName}}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type d’agrément</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeDemandeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom de l’agrément</span>
          <span fxFlex="50" class="px-2 text-right">{{row.agrementationName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">No d’agrément</span>
          <span fxFlex="50" class="px-2 text-right">METFP/{{row.deliveryDate.split('/')[2]}}/{{row.numero}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type d’institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeInstitutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date d’approbation</span>
          <span fxFlex="50" class="px-2 text-right">{{row.deliveryDate}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
