<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    <button mat-button (click)="newDegreeType()" *ngIf="!isMinistre()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs" mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
    routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="column" class="px-3 pb-3">
  <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="typeDiplomeList"
    [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

    <ngx-datatable-column name="Type de diplôme" prop="name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.status === 1 ? 'Actif' : 'Inactif'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" *ngIf="!isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="color-blue" (click)="open(row)">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let row of typeDiplomeList" class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type de diplôme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.name}}</span>
        </div>
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.status === 1 ? 'Actif' : 'Inactif'}}</span>
        </div>
        <mat-action-row class="px-2" *ngIf="!isMinistre()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" class="w-100" (click)="open(row)">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>