<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content class="mb-2">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <ng-container *ngIf="!isCreation">
          <div fxFlex="100" class="px-2">
            <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
              {{form.controls.status.value ? 'Actif' : 'Inactif'}}
            </mat-slide-toggle>
          </div>
        </ng-container>
    
        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>
    
        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>
    
        <div fxFlex="100" class="px-2" *ngIf="!data.institutionId">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId" [required]="true">
          </autocomplete>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>

