<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Type de frais</label>
        <span>{{model?.typeName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Statut</label>
        <span>{{model?.statusName}}</span>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50" class="p-2 readonlyField" *ngIf="model?.statusEtablissementName">
        <label>Statut de l'institution</label>
        <span>{{model?.statusEtablissementName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField" *ngIf="model?.niveauAccesName">
        <label>Niveau accès</label>
        <span>{{model?.niveauAccesName}}</span>
      </div>
    </div>

    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Montant *</mat-label>
          <input matInput formControlName="montant">

          <mat-error *ngIf="form.controls.montant.errors?.required && (form.controls.montant.dirty || form.controls.montant.touched)">Le montant est requis
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>