<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button type="button" (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="submit">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon>Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2 border">
    <mat-card-content>
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <ng-container *ngIf="!isCreation">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2"></div>
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
              {{form.controls.status.value ? 'Actif' : 'Inactif'}}
            </mat-slide-toggle>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-slide-toggle formControlName="hasFinalExamen" class="my-2" labelPosition="before" (change)="onHasFinalExamenToggle($event)">
              Examen de sortie
            </mat-slide-toggle>
          </div>
        </ng-container>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name" autofocus="true">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Préfecture / Ville / Commune" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefectureId" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Statut *" formControlName="statusEtablissementId">
              <mat-option *ngFor="let status of statusEtablissementList" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.statusEtablissementId.errors?.required">Le statut est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type d'institution *" formControlName="typeInstitutionId">
              <mat-option *ngFor="let item of typeInstitutionList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.typeInstitutionId.errors?.required">Le type d'institution est requis</mat-error>
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Frais d'inscription" formControlName="inscriptionMontant">
            <mat-error *ngIf="form.controls.inscriptionMontant.hasError('pattern')">La frais d'inscription doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Frais réinscription" formControlName="reinscriptionMontant">
            <mat-error *ngIf="form.controls.reinscriptionMontant.hasError('pattern')">La frais réinscription doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div  fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign="start" *ngIf="!isCreation">
          <table>
            <div class="mb-1">Logo de l’institution : </div>
            <tr>
              <button mat-raised-button color="primary" type="button" (click)="uploadLogo()" class="mb-1" style="width: 120px">
                Importer
              </button>
            </tr>
            <tr>
              <button mat-raised-button color="secondary" type="button" (click)="removeLogo()" style="width: 120px">
                Supprimer
              </button>
            </tr>
          </table>
          <img src="{{_model?.logoPath}}" alt="logo" height="100px" class="ml-3 mt-4 border rounded">
          <input type="file" name="file" style="display:none" id="photoSelector"
                (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                placeholder="Logo de l’institution">
        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <mat-tab-group class="mt-5">
    <mat-tab *ngIf="!isCreation" label="Programmes">
      <div class="py-3">
        <app-programs [institutionId]="institutionId" [hasFinalExamen]="hasFinalExamen">
        </app-programs>
      </div>
    </mat-tab>
    <mat-tab *ngIf="!isCreation" label="Concours d’accès">
      <div class="py-3">
        <app-competition-levels [institutionId]="institutionId">
        </app-competition-levels>
      </div>
    </mat-tab>
    <mat-tab *ngIf="!isCreation" label="Départements">
      <div class="py-3">
        <app-faculties [institutionId]="institutionId">
        </app-faculties>
      </div>
    </mat-tab>
 </mat-tab-group>
</form>

