<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row" *ngIf="allowAccessInstitutionDetail()">
    <button mat-button (click)="newInstitution()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>

  <div fxLayout="row" *ngIf="allowAccessInstitutionDetail()">
    <button mat-button (click)="exportInstitutions()">
      <mat-icon>save_alt</mat-icon> Exporter les institutions
    </button>
    <button mat-button (click)="exportProgrammes()">
      <mat-icon>save_alt</mat-icon> Exporter les programmes
    </button>
    <button mat-button (click)="exportFinalExamenMatieres()">
      <mat-icon>save_alt</mat-icon> Export matières d’examen sortie
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm" >
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>
    
      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="17" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Nom" formControlName="name">
          </mat-form-field>
        </div>
    
        <div fxFlex="100" fxFlex.gt-xs="17" class="px-2">
          <autocomplete placeholder="Préfecture / Ville / Commune" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefecture" [required]="false">
          </autocomplete>
        </div>
    
        <div fxFlex="100" fxFlex.gt-xs="17" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type d'institution" formControlName="typeInstitution">
              <mat-option *ngFor="let item of typeInstitutionList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="17" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Statut de l'institution" formControlName="statusEtablissement">
              <mat-option *ngFor="let item of statusEtablissementList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="17" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" idField="name" valueField="name"
              formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="15" class="px-2">
          <mat-slide-toggle class="my-3 pull-right" labelPosition="after" formControlName="isActive">
            Filtrer par statut actif
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom" prop="name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Préfecture" prop="prefectureName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.prefectureName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut de l'institution" prop="statusEtablissementName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusEtablissementName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type" prop="typeInstitutionName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeInstitutionName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Description" prop="description">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.description}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actif" prop="status">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
          {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
        </mat-icon>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" *ngIf="allowAccessInstitutionDetail()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span></mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Préfecture</span>
          <span fxFlex="50" class="px-2 text-right">{{row.prefectureName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut de l'institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusEtablissementName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeInstitutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Description</span>
          <span fxFlex="50" class="px-2 text-right">{{row.description}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actif</span>
          <span fxFlex="50" class="px-2 text-right">
            <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
              {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
          </span>
        </div>

        <mat-action-row class="px-2" *ngIf="allowAccessInstitutionDetail()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
