<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error>{{error}}</mat-error>
    </div>

    <div fxLayout="row" class="mb-1">
      Programme : <b class="ml-2">{{model?.programmeName}}</b>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="20" fxFlex.gt-sm="20" class="mt-4">
        <mat-label>Type d’examen * :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="80" fxFlex.gt-sm="80" class="mt-1">
        <mat-form-field class="w-100">
          <mat-select formControlName="typeExamen" (selectionChange)="onTypeExamenChange()">
            <mat-option *ngFor="let typeExamen of typeExamenList" [value]="typeExamen.value">
              {{typeExamen.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.typeExamen.errors?.required">Le type d’examen est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="20" fxFlex.gt-sm="20" class="mt-4">
        <mat-label>Type de notes :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="80" fxFlex.gt-sm="80" class="mt-1 mat-radio-group-container">
        <mat-radio-group formControlName="typeNote" class="w-100">
          <mat-radio-button *ngFor="let item of typeNoteList" [value]="item.value">{{item.name}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" class="mb-1" *ngIf="isAPCType">
      <div fxFlex="100" fxFlex.sm="20" fxFlex.gt-sm="20" class="mt-4">
        <mat-label>Seuil de réussite :</mat-label>
      </div>
      <div fxFlex="100" fxFlex.sm="20" fxFlex.gt-sm="20" class="mt-1">
        <mat-form-field class="w-100">
          <input matInput formControlName="apcMoyenneTotalMin">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="60" class="mt-4">
        <mat-label>/ 100</mat-label>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-1">
        <span>Veuillez entrer les matières de l’examen de sortie</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addExamenMatiere()">
          Ajouter une matière
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="examenMatieres">
        <ng-container *ngFor="let examenMatiereForm of examenMatieres.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1" [formGroup]="examenMatiereForm" fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
              <div class="px-1" fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
                <mat-form-field class="w-100">
                  <mat-label>Nom de la matière *</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>
              <div class="px-1" fxFlex="100" fxFlex.sm="25" fxFlex.gt-sm="25">
                <mat-form-field class="w-100">
                  <mat-label>Coefficient *</mat-label>
                  <input matInput formControlName="coefficient">
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.sm="5" fxFlex.gt-sm="5">
                <button mat-icon-button (click)="delete(i)">
                  <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>