<div mat-dialog-title>{{title}}</div>
<div class="mat-dialog-body">
  <mat-dialog-content class="mb-2">
    <form [formGroup]="form" fxLayout="column">
      <div class="title accent-color mx-3 mb-3">Informations générales</div>
  
      <div fxLayout="row wrap" class="px-2">
        <ng-container *ngIf="!isCreation">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2"></div>
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
              {{form.controls.status.value ? 'Actif' : 'Inactif'}}
            </mat-slide-toggle>
          </div>
        </ng-container>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nom *" formControlName="name">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Durée en années *" formControlName="duree">
            <mat-error *ngIf="form.controls.duree.errors?.required">La durée est requise</mat-error>
            <mat-error *ngIf="form.controls.duree.hasError('pattern')">La durée doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nombre de places limite *" formControlName="limitePlace">
            <mat-error *ngIf="form.controls.limitePlace.errors?.required">Le nombre de places limite est requis</mat-error>
            <mat-error *ngIf="form.controls.limitePlace.hasError('pattern')">Le nombre de places limite doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="!data.institutionId">
          <autocomplete placeholder="Institution" [values]="institutionList"
            idField="id" valueField="name" formControlName="institutionId" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Département" [values]="faculteList" 
            idField="id" valueField="name" formControlName="faculteId" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type Programme *" formControlName="typeProgrammeId">
              <mat-option *ngFor="let type of typeProgrammeList" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.typeProgrammeId.errors?.required">Le type du programme est requis</mat-error>
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type d'admission *" formControlName="typeAdmissionId">
              <mat-option *ngFor="let item of typeAdmissionList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.typeAdmissionId.errors?.required">Le type d'admission est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Niveau accès *" formControlName="niveauAccesId">
              <mat-option *ngFor="let item of niveauAccesList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.niveauAccesId.errors?.required">Le niveau d'accès est requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Moyenne minimale" formControlName="moyenneSeuilMin">
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Moyenne maximale" formControlName="moyenneSeuilMax">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Frais d'inscription" formControlName="inscriptionMontant">
            <mat-error *ngIf="form.controls.inscriptionMontant.hasError('pattern')">La frais d'inscription doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <input matInput placeholder="Frais réinscription" formControlName="reinscriptionMontant">
            <mat-error *ngIf="form.controls.reinscriptionMontant.hasError('pattern')">La frais réinscription doit être un nombre</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type de diplôme" formControlName="typeDiplomeId">
              <mat-option *ngFor="let item of typeDiplomeList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Secteur d’activité *" formControlName="activityAreaId">
              <mat-option *ngFor="let item of activityAreaList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.activityAreaId.errors?.required">Le secteur d'activité est requis</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>


