<div mat-dialog-title>Aucune bourse disponible pour le retrait</div>
<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold">Votre solde de bourse est de 0 GNF.</div>
    <div class="text-center">Par conséquent vous n’avez aucun montant actuellement disponible au retrait.
    Veuillez revenir lorsque vous serez notifié du versement de votre bourse.
    En cas de problème, veuillez contacter l’équipe de support ParcoursPro du METFPE.</div>
  </mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
    <div>
      <button mat-raised-button type="button" (click)="onClose()">
        Fermer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>