<app-progress-spinner [displayProgressSpinner]="loading">
</app-progress-spinner>

<div fxLayout="row" fxLayoutAlign="center center" class="mt-5" style="color: #237B83">
  <svg-icon [key]="'add-person2'" height="30px" width="36px"></svg-icon>
  <span class="headline text-bold-500 ml-1">Se réinscrire</span>
</div>

<form [formGroup]="form" class="main-form">
  <div fxLayout="column">
    <div class="px-3 pb-2" fxLayoutAlign="end">
      <span class="warn-color">*</span> : Champs obligatoires
    </div>
  
    <mat-accordion class="px-3" multi="true">
      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Veuillez indiquer l'INA qui vous a été préalablement communiqué</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="100" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="INA *" formControlName="identifiantNationalEleve" autofocus="true">
              <mat-error *ngIf="form.controls.identifiantNationalEleve.errors?.required">Le INA est requis</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" class="px-2">
          <button mat-raised-button color="primary" type="button" (click)="validateINA()">
            Confirmer l'INA
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Informations personnelles</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Prénom *" formControlName="firstName">
              <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
              <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Nom *" formControlName="name">
              <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>
    
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">password</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Mot de passe *" formControlName="password" type="password" minlength="6" maxlength="60">
              <mat-error *ngIf="form.controls.password.errors?.required">Le mot de passe est requis</mat-error>
              <mat-error *ngIf="form.controls.password.hasError('invalidPassword')">Le mot de passe doit contenir au minimum 8 caractères composés de chiffres, lettres dont une en majuscule</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">password</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Confirmation *" formControlName="confirmPassword" type="password">
              <mat-error *ngIf="form.controls.confirmPassword.errors?.required">La confirmation du mot de passe est requise</mat-error>
              <mat-error *ngIf="form.controls.confirmPassword.hasError('mustEqual')">Mot de passe non conforme veuillez compléter correctement les informations</mat-error>
            </mat-form-field>
          </div>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded hideToggle="false" disabled="true">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>Contacts</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="px-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Email *" formControlName="email" maxlength="255">
              <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
              <input matInput autocomplete="new-password" placeholder="Numéro de téléphone *" formControlName="phone">
              <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
              <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="px-3 my-4">
      <a routerLink="/login">
        <span>Retour à la page de connexion</span>
      </a>
  
      <button mat-raised-button type="button" (click)="onSubmit()" color="primary" [disabled]="loading">
        <mat-icon *ngIf="loading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        <span>Enregistrer</span>
      </button>
    </div>
  </div>
</form>
