<div mat-dialog-title>Confirmation de retrait via Touch Point</div>
<div class="mat-dialog-body">
    <mat-dialog-content>
        <div class="text-center">Félicitation !</div>
        <div class="text-center">
        Un code de retrait Touch Point vous a été envoyé par SMS.
        Ne communiquez jamais ce code de retrait unique.
        Veuillez vous rendre dans un point de retrait Touch Point munit de votre code Touch Point pour procéder au retrait</div>
    </mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
        <div>
            <button mat-raised-button type="button" (click)="onClose()">
                Terminer
            </button>
        </div>
    </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>