<div mat-dialog-title>Retirer via Touch Point</div>

<div class="mat-dialog-body">
  <ng-container *ngIf="step === 'stepSelectOptionWithDraw'"
    [ngTemplateOutlet]="stepSelectOptionWithDraw"></ng-container>
  <ng-container *ngIf="step === 'stepWithDraw'" [ngTemplateOutlet]="stepWithDraw"></ng-container>
</div>
<ng-template #stepSelectOptionWithDraw>
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
      <div>Pour retirer votre bourse via Touch Point, veuillez sélectionner l’une des deux option suivante.</div>
      <div class="color-red text-center text-italic">
        Attention, une fois le SMS contenant votre code de retrait envoyé, vous ne pourrez pas changer de numéro de téléphone pour ce retrait.
      </div>
    </div>
    <div *ngFor="let item of cashoutPhoneNumbers" fxLayout="row wrap" fxLayoutAlign="center center" style="border: 1px solid #000000;" class="p-2 my-3">
      <div fxFlex="100" fxFlex.gt-xs="60" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutAlign="center center">
          Retirer en utilisant le <span style="text-decoration: underline" class="pl-1">numéro de téléphone authentifié </span> : <span class="text-bold ml-2" style="color: #1A4BC8;"> {{item}}</span>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="40" fxLayoutAlign="center center">
        <button mat-raised-button class="bg-orange px-5" (click)="select(item)">
          Sélectionner
        </button>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" style="border: 1px solid #000000;" class="p-2 my-3">
      <div fxFlex="100" fxFlex.gt-xs="60" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutAlign="center center">
        Retirer en utilisant un <span style="text-decoration: underline" class="pl-1">nouveau numéro de téléphone</span>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="40" fxLayoutAlign="center center">
        <button mat-raised-button class="bg-orange px-5" (click)="openOtpDialog()">
          Sélectionner
        </button>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button (click)="onClose()">
        Annuler
      </button>
    </div>
  </div>
</ng-template>

<ng-template #stepWithDraw>
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
      <div class="color-red text-center text-italic">Si ces informations ne sont pas corrects, arrêtez le processus et
        contactez immédiatement l’équipe de support du METFPE</div>
      <div fxlayout="row">
        <label class="text-bold">Numéro de téléphone : </label>
        <span>{{cashoutPhoneNumber}}</span>
      </div>
      <div class="text-bold" style="border: 2px solid #01476E; padding: 0.5rem 5rem;" ngStyle.xs="padding: 5px">Montant disponible au retrait :
        {{montant}} GNF</div>
      <div fxLayout="row" fxLayoutAlign="center center"
        style="width: 300px; padding: 5px; height: 100px; background-color: #D97B34; color: white; font-size: 14px; border-radius: 5px;"
        class="pointer" (click)="withDraw()" *ngIf="!isProcessing">
        <svg-icon [key]="'retirer-ecobank'" fontSize="80px" class="p-4"></svg-icon>
        Procéder au retrait de ma bourse via Touch Point
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isProcessing">Le transfert TouchPoint est en cours. Veuillez patienter, merci !</div>
    </div>
  </mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
    <div>
      <button mat-raised-button type="button" (click)="onClose()">
        Annuler
      </button>
    </div>
  </div>
</ng-template>