<app-content-header 
  [customIcon]="'menu-diplome'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
        <button mat-button (click)="goBack()">
            <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
        </button>
    </div>
    <div fxLayout="row">
      
    </div>
  </mat-toolbar>

  <form [formGroup]="searchForm">
    <mat-card class="m-3 p-3 border">
      <mat-card-content>
        <div class="subheading-1 text-bold-500 color-green-dark">
          Filtres
        </div>
  
        <div fxLayout="row wrap" class="px-4">

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-form-field class="w-100">
              <input matInput #searchIne formControlName="identifiantNational" placeholder="INA">
            </mat-form-field>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-form-field class="w-100">
              <input matInput #searchMatricule formControlName="matricule" placeholder="Matricule">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="institutionList" formControlName="institutionId" placeholder="Institution">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="programmeList" formControlName="programmeId" placeholder="Programme">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="niveauEtudeList" formControlName="niveauEtudeId" placeholder="Niveau">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="anneeAcademiqueList" formControlName="anneeAcademiqueId" placeholder="Période">
            </autocomplete>
          </div>
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="value" valueField="name" [values]="availableAverageValues" formControlName="availableAverage" placeholder="Moyenne">
            </autocomplete>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <div fxLayout="row" class="mr-2" fxLayoutAlign="end">
    <button (click)="confirmeAdmission()" mat-raised-button color="primary" class="mr-2">
        Admettre à la diplomation
    </button>
    <button (click)="admitAllStudents()" mat-raised-button color="primary">
        Admettre tous les apprenants à la diplomation
    </button>
  </div>

  <div fxLayout="column" class="px-3 pb-2 mt-4">
    <ngx-datatable
      fxHide fxShow.gt-xs="true"
      #table
      class="material"
      [rows]="pageRows"
      [count]="total"
      [offset]="pageOffset"
      [limit]="pageSize"
      [externalPaging]="true"
      [sorts]="[sort]"
      [sortType]="'single'"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator"
      [selectionType]="SelectionType.checkbox"
      [messages]="{
        emptyMessage: 'Aucune information',
        totalMessage: ' au total'
      }"
      (page)="onChangePage($event)"
      (sort)="onSort($event)"
    >
      
        <ngx-datatable-column
        [width]="60"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
        >
        </ngx-datatable-column>

      <ngx-datatable-column name="INA" prop="identifiantNational">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNational}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Matricule" prop="matricule">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Prénom & Nom" prop="name">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}} {{row.etudiantFirstName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Période" prop="Période">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Institution" prop="ies">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Programme" prop="programme">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Niveau" prop="niveau">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Statut" prop="status">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Moyenne" prop="moyenne">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <input type="number" [(ngModel)]="row.moyenne" style="width: 90%;">
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
    
    <div fxHide fxShow.xs="true">
      <mat-accordion multi="true">
        <mat-expansion-panel 
          *ngFor="let row of pageRows"
          class="table-expansion-panel">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title><span class="flex-text-ellipsis">{{row.etudiantName}} {{row.etudiantFirstName}}</span></mat-panel-title>
          </mat-expansion-panel-header>
    
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">INA</span>
            <span fxFlex="50" class="px-2 text-right">{{row.identifiantNational}}</span>
          </div>
    
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Matricule</span>
            <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Période</span>
            <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Institution</span>
            <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Programme</span>
            <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Niveau</span>
            <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
          </div>
          
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Statut</span>
            <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
          </div>
         
        </mat-expansion-panel>
      </mat-accordion>
    
      <mat-paginator 
        style="background: transparent"
        [length]="total"
        [pageSize]="pageSize" 
        (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
      </mat-paginator>
    </div>
  </div>