<div mat-dialog-title>Synchroniser avec Inserjeune</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
  </mat-dialog-content>
  <div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
      <span>{{processed}} sur {{total}} traitées...</span>
      <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>