<app-content-header 
  [customIcon]="'menu-diplome'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>
    <div fxLayout="row">
    </div>
  </mat-toolbar>

  <nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
    <a  mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
      routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
      {{ nav.label }}
    </a>
  </nav>

  <form [formGroup]="searchForm">
    <mat-card class="m-3 p-3 border">
      <mat-card-content>
        <div class="subheading-1 text-bold-500 color-green-dark">
          Filtres
        </div>
  
        <div fxLayout="row wrap" class="px-4">
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-form-field class="w-100">
              <input matInput #searchIne formControlName="identifiantNational" placeholder="INA">
            </mat-form-field>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <mat-form-field class="w-100">
              <input matInput #searchMatricule formControlName="matricule" placeholder="Matricule">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="institutionList" formControlName="institutionId" placeholder="Institution">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="programmeList" formControlName="programmeId" placeholder="Programme">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="niveauEtudeList" formControlName="niveauEtudeId" placeholder="Niveau">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete class="w-100" idField="id" valueField="name" [values]="anneeAcademiqueList" formControlName="anneeAcademiqueId" placeholder="Période">
            </autocomplete>
          </div>

        </div>
      </mat-card-content>
      <div align="end">
        <button mat-raised-button color="primary" (click)="confirmeDiplomation()">Diplômer les Apprenants</button>
      </div>
    </mat-card>
  </form>
  <div fxLayout="column" class="px-3 pb-2 mt-4">
    <ngx-datatable
      fxHide fxShow.gt-xs="true"
      #table
      class="material"
      [rows]="pageRows"
      [count]="total"
      [offset]="pageOffset"
      [limit]="pageSize"
      [externalPaging]="true"
      [sorts]="[sort]"
      [sortType]="'single'"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator"
      [messages]="{
        emptyMessage: 'Aucune information',
        totalMessage: ' au total'
      }"
      (page)="onChangePage($event)"
      (sort)="onSort($event)"
    >
      
      <ngx-datatable-column name="INA" prop="identifiantNational">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNational}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Matricule" prop="matricule">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Prénom & Nom" prop="name">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}} {{row.etudiantFirstName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Période" prop="Période">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Institution" prop="Institution">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Programme" prop="programme">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Niveau" prop="niveau">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Statut" prop="status">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
      </ngx-datatable-column>
    
      <ngx-datatable-column name="Action" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a (click)="open(row)" class="color-blue">Ouvrir</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    
    <div fxHide fxShow.xs="true">
      <mat-accordion multi="true">
        <mat-expansion-panel 
          *ngFor="let row of pageRows"
          class="table-expansion-panel">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title><span class="flex-text-ellipsis">{{row.etudiantName}} {{row.etudiantFirstName}}</span></mat-panel-title>
          </mat-expansion-panel-header>
    
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">INA</span>
            <span fxFlex="50" class="px-2 text-right">{{row.identifiantNational}}</span>
          </div>
    
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Matricule</span>
            <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Période</span>
            <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Institution</span>
            <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Programme</span>
            <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
          </div>
  
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Niveau</span>
            <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
          </div>
          
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Statut</span>
            <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
          </div>
  
          <mat-action-row class="px-2">
            <div fxFlex="50" class="px-2"></div>
            <div fxFlex="50" fxLayout="row" class="px-2">
              <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    
      <mat-paginator 
        style="background: transparent"
        [length]="total"
        [pageSize]="pageSize" 
        (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
      </mat-paginator>
    </div>
  </div>