<div mat-dialog-title>Octroie des nouvelles bourses</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-bold text-center">Session {{currentAnneeAcademique?.name}}</div>
    <div class="text-center mt-3">Veuillez confirmer le lancement de l’algorithme de l’octroie des nouvelles bourses</div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Lancer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>