.border-top-bottom-blue {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.spinner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-message {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 10px;
}