<app-content-header [customIcon]="'menu-generation-list-diplome'" title="Génération liste diplômés"
  [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">
          Générer la liste des apprenants à diplômer
        </div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateNewDiplome()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ALGORITHME</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="currentAnneeAcademique?.dateDiplomeGeneration" class="text-center text-italic">
        Dernière détermination : {{currentAnneeAcademique?.dateDiplomeGeneration | dateFormat: 'DD/MM/YYYY'}}
      </mat-card-footer>
    </mat-card>
  </div>
  <div [fxShow.gt-xs]="false" class="p-3"></div>
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">
          Procéder à l’archivage des statuts non finaux
        </div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="archiveDiplome()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon>
            <div class="title mt-2">LANCER</div>
            <div class="title">ALGORITHME</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
  <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
    <span>{{processed}} sur {{totalToprocess}} traitées...</span>
    <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
  </div>
</div>