:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-matricule,
    .datatable-body-cell.col-matricule {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-nom,
    .datatable-body-cell.col-nom {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-prenom,
    .datatable-body-cell.col-prenom {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-periode,
    .datatable-body-cell.col-periode {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 160px !important;
    }
  }
}