<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="80">
        <mat-form-field class="w-100">
          <input matInput placeholder="Nom du motif de perte *" formControlName="name" autofocus="true">
          <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="20" *ngIf="!isCreation">
        <mat-slide-toggle formControlName="isActive" class="my-2" labelPosition="before">
          {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <textarea  matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>