<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="create()" *ngIf="!isMinistre()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom de la bourse">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type d’institution" formControlName="statusEtablissementId">
              <mat-option *ngFor="let statusEtablissement of statusEtablissementList" [value]="statusEtablissement.id">
                {{statusEtablissement.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Nom de l’insitution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Niveau d’accès au programme" formControlName="niveauAccesId">
              <mat-option *ngFor="let niveauAcces of niveauAccesList" [value]="niveauAcces.id">
                {{niveauAcces.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type d’apprenant" formControlName="typeApprenant">
              <mat-option *ngFor="let typeApprenant of typeApprenantList" [value]="typeApprenant.value">
                {{typeApprenant.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Niveau scolaire" formControlName="niveauEtudeId">
              <mat-option *ngFor="let niveauEtude of niveauEtudeList" [value]="niveauEtude.id">
                {{niveauEtude.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput formControlName="montant" placeholder="Montant mensuel">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Bourse cumulative" formControlName="typeBourse">
              <mat-option *ngFor="let typeBourse of typeBourseList" [value]="typeBourse.value">
                ({{typeBourse.name}})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    
    <ngx-datatable-column name="Nom de la bourse" prop="name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Type d’institution" prop="statusEtablissementName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusEtablissementName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Institution spécifique" prop="institutionSpecifique">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionSpecifique}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Nv. accès programme" prop="bourseNiveauAcces">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseNiveauAcces}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Type apprenant" prop="acces">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeApprenantName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Niveau scolaire" prop="bourseNiveauEtude">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseNiveauEtude}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Montant mensuel" prop="montant">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}} GNF</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Cumulative" prop="cumulative">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.cumulative}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actif" prop="status">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
          {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
        </mat-icon>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false" *ngIf="!isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  
  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span></mat-panel-title>
        </mat-expansion-panel-header>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type d’institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusEtablissementName}}</span>
        </div>
  
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution spécifique</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionSpecifique}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nv. accès programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.bourseNiveauAcces}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type apprenant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeApprenantName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau scolaire</span>
          <span fxFlex="50" class="px-2 text-right">{{row.bourseNiveauEtude}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant mensuel</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}}</span>
        </div>
        
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Cumulative</span>
          <span fxFlex="50" class="px-2 text-right">{{row.cumulative}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actif</span>
          <span fxFlex="50" class="px-2 text-right">
            <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
              {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
          </span>
        </div>
  
        <mat-action-row class="px-2" *ngIf="!isMinistre()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
