<form [formGroup]="form">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="button" preventDoubleClick (throttledClick)="onDelete()">
        <svg-icon [key]="'delete'" class="mr-2"></svg-icon> Supprimer
      </button>
      
      <button mat-button type="button" preventDoubleClick (throttledClick)="onSubmit()">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <div fxLayout="row" class="my-3 px-4">
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="40">
      <mat-form-field class="w-100">
        <mat-label>Nom de la bourse *</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le name est requis</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" class="px-2" fxFlex.gt-xs="30">
      <mat-form-field class="w-100">
        <mat-label>Montant mensuel de la bourse (GNF) *</mat-label>
        <input matInput formControlName="montant">
        <mat-error *ngIf="form.controls.montant.errors?.required && (form.controls.montant.dirty || form.controls.montant.touched)">Le montant est requis</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" class="px-2" fxFlex.gt-xs="15">
      <div fxFlex="100">
        <label class="mr-2">Statut :</label>
        <mat-slide-toggle formControlName="isActive" class="my-3" labelPosition="before">
          {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="15">
      <div fxFlex="100">
        <label class="mr-2">Bourse cumulative : </label>
        <mat-slide-toggle formControlName="isCummulative" class="my-3" labelPosition="before">
          {{form.controls.isCummulative.value ? 'Oui' : 'Non'}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div fxLayout="row" class="my-3 px-4">
    Critères d’attribution :
  </div>
  <div fxLayout="row" class="my-3 px-4">
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
      <mat-slide-toggle formControlName="hasStatusEtablissement" class="ml-3" labelPosition="after" (change)="onHasStatusEtablissementToggle($event)">
        Type d’institution
      </mat-slide-toggle>
    </div>
    
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
      <mat-slide-toggle formControlName="hasInstitutionSpecifique" class="ml-5" labelPosition="after" (change)="onHasInstitutionSpecifiqueToggle($event)">
        Institution et programmes
      </mat-slide-toggle>
    </div>
    
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
      <mat-slide-toggle formControlName="hasNiveauAcces" class="ml-5" labelPosition="after" (change)="onHasNiveauAccesToggle($event)">
        Niveau d’accès au programme
      </mat-slide-toggle>
    </div>
    
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
      <mat-slide-toggle formControlName="hasTypeApprenant" class="ml-5" labelPosition="after" (change)="onHasTypeApprenantToggle($event)">
        Type d’apprenant
      </mat-slide-toggle>
    </div>
    
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
      <mat-slide-toggle formControlName="hasNiveauEtude" class="ml-5" labelPosition="after" (change)="onHasNiveauEtudeToggle($event)">
        Niveau scolaire
      </mat-slide-toggle>
    </div>
  </div>
  <div fxLayout="row" class="my-3 px-4">
    <div class="border rounded px-2" fxFlex="100">
      <div fxLayout="row" *ngIf="hasStatusEtablissement">
        <div class="mat-radio-group-container" >
          <mat-radio-group formControlName="statusEtablissementId" class="w-100">
            <label>Type d’institution : </label>
            <mat-radio-button *ngFor="let statusEtablissement of statusEtablissementList" [value]="statusEtablissement.id" class="mr-5">{{statusEtablissement.name}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxLayout="row" *ngIf="hasNiveauAcces">
        <label>Niveau d’accès au programme : </label>
        <ng-container *ngFor="let niveauAcces of niveauAccesList; let i = index">
          <mat-checkbox class="ml-4" (change)="checkedNiveauAccesChange($event.checked, niveauAcces)" [checked]="isSelectedNiveauAcces(niveauAcces)">{{niveauAcces.name}}</mat-checkbox>
        </ng-container>
      </div>

      <div fxLayout="row" *ngIf="hasTypeApprenant">
        <div class="mat-radio-group-container" >
          <mat-radio-group formControlName="typeApprenant" class="w-100">
            <label>Type d’apprenant : </label>
            <mat-radio-button *ngFor="let typeApprenant of typeApprenantList" [value]="typeApprenant.value" class="mr-5">{{typeApprenant.name}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxLayout="row" *ngIf="hasNiveauEtude">
        <label>Niveau scolaire : </label>
        <ng-container *ngFor="let niveauEtude of niveauEtudeList; let i = index">
          <mat-checkbox class="ml-4" (change)="checkedNiveauEtudeChange($event.checked, niveauEtude)" [checked]="isSelectedNiveauEtude(niveauEtude)">{{niveauEtude.name}}</mat-checkbox>
        </ng-container>
      </div>

      <div fxLayout="row" *ngIf="hasInstitutionSpecifique">
        <div fxFlex="100" fxFlex.gt-xs="15" class="mt-3">
          <div>Institution et programme :</div>
          <div class="text-italic">(maximum 12 insitutions)</div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="85" class="mt-3">
          <div fxLayout="row" class="mb-2">
            <div fxFlex="100" fxFlex.sm="100">
              <button mat-raised-button type="button" color="primary" (click)="addBourseInstitution()">
                Ajouter une institution
              </button>
            </div>
          </div>
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="bourseInstitution"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom de l’institution">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Programmes">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmesTypeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nom des programmes">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Editer">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="editBourseInstitution(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Supprimer">
              <ng-template let-row="row" ngx-datatable-cell-template>        
                <button mat-icon-button (click)="deleteBourseInstitution(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of bourseInstitution"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.institutionName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom de l’institution</span>
                <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Programmes</span>
                <span fxFlex="50" class="px-2 text-right">{{row.programmesTypeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom des programmes</span>
                <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
              </div>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" (click)="editBourseInstitution(row)" class="w-100">Modifier</button>
                </div>
              </mat-action-row>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="warn" (click)="deleteBourseInstitution(row)" class="w-100">Supprimer</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
  
</form>
