<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="100">
        <mat-form-field class="w-100">
          <input matInput placeholder="Nom du trimestre *" formControlName="name" autofocus="true">
          <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="px-2">Veuillez sélectionner les mois concernés</div>
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isSeptembre">Septembre</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isOctobre">Octobre</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isNovembre">Novembre</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isDecembre">Décembre</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isJanvier">Janvier</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isFevrier">Février</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isMars">Mars</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isAvril">Avril</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isMai">Mai</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isJuin">Juin</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isJuillet">Juillet</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="20" class="px-2 pb-2">
        <mat-checkbox formControlName="isAout">Août</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>