<app-content-header 
  [customIcon]="'menu-bourse-payment'"
  [title]="'Paiement des bourses'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    <button mat-button type="button" (click)="goBack()">
      <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
    </button>
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row" class="mb-1 mt-3 px-3">
  <div fxFlex="50" fxLayoutAlign="begin center">
    <span class="text-bold">Session : {{anneeAcademique?.name}} ; {{bourseTrimestre?.name}}</span>
  </div>
  <div fxFlex="50" fxLayoutAlign="end center">
    <button mat-raised-button type="button" color="primary" (click)="payAllBourses()" class="mr-2">
      Payer toutes les bourses
    </button>
    <button mat-raised-button type="button" color="primary" (click)="payBourseAutomatique()">
      Payer les bourses et message NSG-B
    </button>
  </div>
</div>

<div fxLayout="row" class="mb-1 mt-3 px-3" style="height: 50px;">
  <div fxFlex="30" fxLayoutAlign="begin center" class="border mr-2">
    <span class="px-3 text-bold">Montant compte METFPE :  </span><span class="ml-3 text-bold">{{nsgBankAmount}} GNF</span>
    <div fxLayoutAlign="end center" class="ml-5">
      <button mat-button (click)="getNsgBankAmount(true)" style="background-color: #0288d1; color: white;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex="25" fxLayoutAlign="begin center" class="border mr-2 ml-2">
    <span class="px-3 text-bold">Solde total des bourses : </span><span class="ml-3 text-bold">{{boursePaymentSummaryInfo?.totalBourses}} GNF</span>
  </div>
  <div fxFlex="25" fxLayoutAlign="begin center" class="border mr-2 ml-2">
    <span class="px-3 text-bold">Solde bourses compte SmartPay : </span><span class="ml-3 text-bold">{{boursePaymentSummaryInfo?.totalBoursesWithNsgBank}} GNF</span>
  </div>
  <div fxFlex="20" fxLayoutAlign="begin center" class="border ml-2">
    <span class="px-3 text-bold">Comptes SmartPay : </span><span class="ml-3 text-bold">{{boursePaymentSummaryInfo?.totalStudentWithNsgBank}} / {{boursePaymentSummaryInfo?.totalStudent}}</span>
  </div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchEmail formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPhone formControlName="phone" placeholder="Numéro de téléphone">
          </mat-form-field>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefectureId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Smartpay account" [values]="nsgBankingStatus" 
            idField="value" valueField="name" formControlName="nsgBanking">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Partager le courrier ou le téléphone" [values]="shareMailOrPhoneStatus" 
            idField="value" valueField="name" formControlName="shareMailOrPhone">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [selected]="selectedRows"
    [selectionType]="SelectionType.checkbox"
    (select)="onSelect($event)"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >

    <ngx-datatable-column
      [width]="60"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column>

    <ngx-datatable-column name="INA">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantINA}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Préfecture">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionPrefectureName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nsg-Banking">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.nsgBanking}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Montant">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}} GNF</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lien du compte">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.lienDuCompte}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantINA}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantINA}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantFirstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Préfecture</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionPrefectureName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nsg-Banking</span>
          <span fxFlex="50" class="px-2 text-right">{{row.nsgBanking}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}} GNF</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Lien du compte</span>
          <span fxFlex="50" class="px-2 text-right">{{row.lienDuCompte}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>