<app-content-header 
  [customIcon]="'menu-bourse-payment'"
  [title]="'Paiement des bourses'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="exportPayments()">
      <mat-icon>save_alt</mat-icon> Exporter paiement des bourses
    </button>
  </div>
</mat-toolbar>

<div fxLayout="row" class="mb-1 mt-3 px-3" *ngIf="!isMinistre() && !isDirectionsNationalesRole()">
  <div fxFlex="100" fxLayoutAlign="end center">
    <button mat-raised-button type="button" color="primary" (click)="payBourseTrimestre()" class="mr-2">
      Payer les bourses du trimestre
    </button>
    <button mat-raised-button type="button" color="primary" (click)="payBourseManual()" *ngIf="isAllowed()" class="mr-2">
      Payer les bourses manuellement
    </button>
    <button mat-raised-button type="button" color="primary" (click)="payBourseAutomatique()" class="mr-2">
      Payer les bourses automatique
    </button>
    <button mat-raised-button type="button" color="primary" (click)="libererLesBourses()">
      Libérer les bourses d’un trimstre
    </button>
  </div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchEmail formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPhone formControlName="phone" placeholder="Numéro de téléphone">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Session" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademiqueId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Mois" [values]="moisAnneeList" 
            idField="value" valueField="name" formControlName="moisAnnee">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefectureId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programmeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtudeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut biométrique" [values]="biometricList" 
            idField="value" valueField="name" formControlName="biometricStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Date Paiement</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Smartpay account" [values]="nsgBankingStatus" 
            idField="value" valueField="name" formControlName="nsgBanking">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Partager le courrier ou le téléphone" [values]="shareMailOrPhoneStatus" 
            idField="value" valueField="name" formControlName="shareMailOrPhone">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Apprenants avec plus d’une bourse" [values]="hasMoreThanOneStatus" 
            idField="value" valueField="name" formControlName="hasMoreThanOne">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Comptes Écobank" [values]="ecobankStatus" 
            idField="value" valueField="name" formControlName="ecobank">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Nº téléphone authentifié" [values]="telephoneAuthentifieStatus" 
            idField="value" valueField="name" formControlName="telephoneAuthentifie">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Redoublant ?" [values]="redoublantStatus" 
            idField="value" valueField="name" formControlName="redoublant">
          </autocomplete>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign=" center"  class="px-4 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="mb-1 mt-2 mr-3">
  <div fxFlex="100" fxLayoutAlign="end center" *ngIf="currentAnneeAcademique?.dateDerniereActualisation">
    <div class="text-right text-italic">Dernière actualisation de détermination des bourses : {{currentAnneeAcademique?.dateDerniereActualisation | dateFormat: 'DD/MM/YYYY, h:mm a'}}</div>
  </div>
</div>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >

    <ngx-datatable-column name="INA">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantINA}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Préfecture">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionPrefectureName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Session">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseSessionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Mois">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.moisAnneeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Montant">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut biométrique">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.biometricStatus}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date Paiement">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.datePaiement}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Redoublant ?">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.redoublant}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Paiement" [sortable]="false" *ngIf="isAllowed()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="payBourse(row)" class="color-blue" *ngIf="row.statusName === 'À payer'">Payer</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" *ngIf="!isDirectionsNationalesRole()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="editBoursePayment(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantINA}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantINA}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantFirstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Préfecture</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionPrefectureName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Session</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseSessionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Mois</span>
          <span fxFlex="50" class="px-2 text-right">{{row.moisAnneeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut biométrique</span>
          <span fxFlex="50" class="px-2 text-right">{{row.biometricStatus}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date Paiement</span>
          <span fxFlex="50" class="px-2 text-right">{{row.datePaiement}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Redoublant ?</span>
          <span fxFlex="50" class="px-2 text-right">{{row.redoublant}}</span>
        </div>

        <mat-action-row class="px-2" *ngIf="row.statusName === 'À payer' && isAllowed()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="payBourse(row)" class="w-100">Payer</button>
          </div>
        </mat-action-row>

        <mat-action-row class="px-2" *ngIf="!isDirectionsNationalesRole()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="editBoursePayment(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>