<div mat-dialog-title>Changer le statut des bourses d’un trimestre</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-bold text-center">Session {{currentAnneeAcademique?.name}}</div>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Trimestre *" formControlName="bourseTrimestreId">
            <mat-option *ngFor="let trimestre of trimestreList" [value]="trimestre.id">
              {{trimestre.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.bourseTrimestreId.errors?.required">Le trimestre est requis</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Statut *" formControlName="status">
            <mat-option *ngFor="let item of statusList" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.status.errors?.required">Le statut est requis</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Changer le statut
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>