<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-label>Nom de la bourse *</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le nom est requis
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100">
        <label class="mr-2">Bourses cumulatives (en plus d’autres bourses) :</label>
        <mat-slide-toggle formControlName="isCummulative" class="my-3" labelPosition="after">
          {{form.controls.isCummulative.value ? 'Oui' : 'Non'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div class="mr-2">Critères d’attribution :</div>
    
    <div fxLayout="row">
      <div fxFlex="100" fxFlex.gt-xs="33.33">
        <mat-slide-toggle formControlName="hasStatusEtablissement" class="my-3" labelPosition="after">
          Type d’institution
        </mat-slide-toggle>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.33">
        <mat-slide-toggle formControlName="hasInstitutionSpecifique" class="my-3" labelPosition="after">
          Institution spécifique
        </mat-slide-toggle>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.33">
        <mat-slide-toggle formControlName="hasNiveauAcces" class="my-3" labelPosition="after">
          Niveau d’accès au programme
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" fxFlex.gt-xs="33.33">
        <mat-slide-toggle formControlName="hasTypeApprenant" class="my-3" labelPosition="after">
          Type d’apprenant
        </mat-slide-toggle>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.33">
        <mat-slide-toggle formControlName="hasNiveauEtude" class="my-3" labelPosition="after">
          Niveau scolaire
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" fxFlex.gt-xs="50">
        <label class="mr-2">Statut :</label>
        <mat-slide-toggle formControlName="isActive" class="my-3" labelPosition="after">
          {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50">
        <mat-form-field class="w-100">
          <mat-label>Montant mensuel en GNF *</mat-label>
          <input matInput formControlName="montant">
          <mat-error *ngIf="form.controls.montant.errors?.required && (form.controls.montant.dirty || form.controls.montant.touched)">Le montant est requis
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>