<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <!-- sub breadcrum -->
    <div fxLayout="row" class="mb-0 mt-0">
      <div fxFlex="100">
        <div>
          <span [class]="getCurrentStepCss('Identification')">Identification</span> &gt;
          <span [class]="getCurrentStepCss('Authentification')">Authentification</span> &gt;
          <span [class]="getCurrentStepCss('Paiement du montant')">Paiement du montant</span>
        </div>
      </div>
    </div>
    <!-- end of sub breadcrum -->

    <!-- Step 1: Identification -->
    <ng-container *ngIf="currentStepName === 'Identification'">
      <div fxLayout="row">
        <div fxFlex="100" fxLayoutAlign="center center">
          <div>
            <span class="heading">Veuillez entrer l’INA de l’apprenant, puis cliquer sur suivant.</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100 text-bold">INA de l’apprenant :</mat-label>
        </div>
        <div fxFlex="75">
          <mat-form-field class="w-100">
            <input matInput formControlName="inaNumber">
            <mat-icon matSuffix>qr_code_scanner</mat-icon>
            <mat-error
              *ngIf="form.controls.inaNumber.errors?.required && (form.controls.inaNumber.dirty || form.controls.inaNumber.touched)">Le
              INA est requis
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 1: Identification -->

    <!-- Step 2: Authentification -->
    <ng-container *ngIf="currentStepName === 'Authentification'">
      <div>
        <span class="text-bold">INA : </span> <span>{{curInaNumber}}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span>Si l’apprenant est biométrisé, vous serez automatiquement redirigé vers l’écran de paiement des bourses.</span>
        <span>Dans le cas contraire, veuillez enrôler biométriquement l’apprenant, pour être en mesure de lui payer sa bourse.</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="biometrics-wrapper">
        <div [class]="getBiometricCircleCss()" fxLayoutAlign="center center">
          <span class="fingerprint"><mat-icon>fingerprint</mat-icon></span>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 2: Authentification -->

    <!-- Step 3: 'Paiement du montant' -->
    <ng-container *ngIf="currentStepName === 'Paiement du montant'">
      <div>
        <span class="text-bold">INA : </span> <span>{{curInaNumber}}</span>
      </div>
      <div>
        <span class="text-bold">Statut biométrique : </span> <span>{{biometricStatus}}</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="text-bold">L’apprenant à bien été authentifié !</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="biometrics-wrapper">
        <div [class]="getBiometricCircleCss()" fxLayoutAlign="center center">
          <div class="icon-group">
            <span class="fingerprint"><mat-icon>fingerprint</mat-icon></span>
            <div class="payment-available">
              <mat-icon>check</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <div class="px-2 py-3 border-3 payment-info-box">
          <div fxLayout="row" class="px-2 py-1">
            <span>Mois et session :</span>
            <span class="px-6">{{ monthAndSessionText }}</span>
          </div>
          <div fxLayout="row" class="px-2 py-1">
            <span>Montant à payer :</span>
            <span class="px-6 text-bold">{{ totalPaymentAmount }} GNF</span>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 3: 'Paiement du montant' -->
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction" [hidden]="currentStepName !== 'Identification'">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="goToNextStep()">
        Suivant
      </button>
    </div>

    <ng-container *ngIf="currentStepName === 'Paiement du montant'">
      <div class="submitAction">
        <button mat-raised-button color="primary" (click)="confirmPayment()">
          Confirmer le paiement
        </button>
      </div>

      <div class="submitAction" *ngIf="isManualMode === true">
        <button mat-raised-button color="primary" (click)="confirmPaymentAndCreateNew()">
          Confirmer le paiement et en commencer un nouveau
        </button>
      </div>
    </ng-container>
  </div>

</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>