<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center">Veuillez sélectionner le nom de l’institution</div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <autocomplete placeholder="Nom de l’insitution" [values]="institutionList" 
          idField="id" valueField="name" formControlName="institutionId">
        </autocomplete>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-radio-group formControlName="programmesType" aria-labelledby="radio-group-label" class="program-type-radio-group">
          <div fxLayout="row">
            <label class="mt-1">Programmes concernés par la bourse :</label>
            <mat-radio-button class="program-type-radio-button" style="margin-right: 20px;" *ngFor="let programmesType of programmesTypes" [value]="programmesType.value">{{programmesType.name}}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>