<app-content-header 
  [customIcon]="'menu-bourse-determiner'"
  [title]="'Déterminer bourses'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row wrap" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="25">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Octroie des nouvelles bourses de la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="createNewBourse()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ALGORITHME</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="currentAnneeAcademique?.dateDerniereDetermination" class="text-center text-italic">
        Dernière détermination : {{currentAnneeAcademique?.dateDerniereDetermination | dateFormat: 'DD/MM/YYYY'}}
      </mat-card-footer>
    </mat-card>
  </div>
  
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="25">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Actualisation de l’octroie</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="updateBourse()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ALGORITHME</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="currentAnneeAcademique?.dateDerniereActualisation" class="text-center text-italic">
        Dernière actualisation : {{currentAnneeAcademique?.dateDerniereActualisation | dateFormat: 'DD/MM/YYYY'}}
      </mat-card-footer>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="25">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Archiver ancienne bourses</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="archiveBourse()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">ARCHIVÉ</div>
            <div class="title">BOURSES</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="25">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Changer le statut des bourses d’un trimestre de la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="changeStatus()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">CHANGER</div>
            <div class="title">LA STATUT</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25" class="px-2 mt-4">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Activer la fonction d'OTP</div>
        <div class="p-2" fxLayoutAlign="center">
          <button *ngIf="!isOtpEnabled && !loadingOtpPermission" (click)="changeOtpPermissionStatus(true)" mat-raised-button class="bg-green"  style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">AFFICHER</div>
          </button>
          <button  *ngIf="isOtpEnabled && !loadingOtpPermission" (click)="changeOtpPermissionStatus(false)" mat-raised-button class="bg-orange-dark"  style="height: 150px; width: 180px;">
            <mat-icon>stop</mat-icon> <div>ARRÊTER</div>
          </button>
          <mat-icon *ngIf="loadingOtpPermission">
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="mx-4 text-center">La fonction OTP est actuellement <span>{{isOtpEnabled ? 'activé' : 'désactivée'}}</span> </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
  <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
    <span>{{processed}} sur {{totalToprocess}} traitées...</span>
    <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
  </div>
</div>