<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      Nom de l’insitution: {{model.institutionName}}
    </div>

    <div fxLayout="row">
      <div fxFlex="100">
        <mat-radio-group formControlName="programmesType" aria-labelledby="radio-group-label" class="program-type-radio-group">
          <div fxLayout="row">
            <label class="mt-1">Programmes concernés par la bourse :</label>
            <mat-radio-button class="program-type-radio-button" style="margin-right: 20px;" *ngFor="let programmesType of programmesTypes" [value]="programmesType.value">{{programmesType.name}}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" class="mb-1" *ngIf="isSpecifique()">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
        <span>Veuillez sélectionner les programmes concernés par la bourse</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addProgramme()">
          Ajouter un programme
        </button>
      </div>
    </div>

    <div class="border rounded p-3" *ngIf="isSpecifique()">      
      <ng-container formArrayName="programmes">
        <ng-container *ngFor="let programmeForm of programmes.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1" [formGroup]="programmeForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
              <mat-form-field class="w-100">
                <mat-select placeholder="Nom du programme *" formControlName="programmeId">
                  <mat-option *ngFor="let item of programmeList" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
              <button mat-icon-button (click)="delete(i)">
                <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>