<div mat-dialog-title>{{title}}</div>

<form class="mat-dialog-body">
  <mat-dialog-content>
    <div class="border-box text-center">
      <div class="arrow-loading">
        <svg-icon [key]="'arrow-loading-left'" class="loading-left" fontSize="70px"></svg-icon>
        <svg-icon [key]="'arrow-loading-right'" class="loading-right" fontSize="70px"></svg-icon>
      </div>
      <div class="percent">{{percentage}} %</div>
    </div>
    <div class="text-bold text-center mt-2" *ngIf="isFinished">Rapport d’envoie :</div>
    <div class="text-center my-2" *ngIf="isFinished">Bourses distribuées : {{totalPayBourse}}</div>
    <div class="text-center" *ngIf="isFinished">Montant distribué : {{totalMontant}}</div>
    <div class="text-center my-2" *ngIf="isFinished">Nombre de rappel de création de compte envoyés : {{totalSentReminder}}</div>
    <div class="text-center" *ngIf="isFinished">
      <button mat-stroked-button class="px-5 mt-2 mb-4 download-report">Télécharger le rapport</button>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isFinished">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Terminer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>