.border-box {
  height: 150px;
  width: 280px;
  border-radius: 10px;
  border: 2px solid #666666;
  margin: auto;
  position: relative;
}
  .arrow-loading .loading-left {
    position: absolute;
    left: 34%;
    top: 10px;
  }
  .arrow-loading .loading-right {
    position: absolute;
    right: 34%;
    top: 30px;
  }
  .percent {
    position: absolute;
    bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: auto;
  }

.download-report {
  border-radius: 30px;
}