<div mat-dialog-title>Libérer les bourses d’un trimestre</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100" fxLayoutAlign="center center">
          <span class="heading">Veuillez sélectionner la session et le trimestre pour lesquels vous souhaitez libérer les bourses</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
        <mat-form-field class="w-100">
          <mat-select placeholder="Session" formControlName="session">
           <mat-option *ngFor="let anneeAcademique of anneeAcademiqueList" [value]="anneeAcademique.id">
             {{anneeAcademique.name}}
           </mat-option>
         </mat-select>
         <mat-error *ngIf="form.controls.session.errors?.required">La session est requise</mat-error>
       </mat-form-field>
      </div>
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
        <mat-form-field class="w-100">
          <mat-select placeholder="Trimestre" formControlName="trimestre">
           <mat-option *ngFor="let trimestre of trimestreList" [value]="trimestre.id">
             {{trimestre.name}}
           </mat-option>
         </mat-select>
         <mat-error *ngIf="form.controls.trimestre.errors?.required">L'trimestre est requise</mat-error>
       </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Libérer les bourses
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>