<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form">
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
            <input matInput placeholder="Prénom *" formControlName="firstName">
            <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
            <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
            <input matInput placeholder="Nom *" formControlName="name">
            <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
            <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
            <input matInput placeholder="Email *" formControlName="email" maxlength="255">
            <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
            <input matInput placeholder="Identifiant *" formControlName="identifiant">
            <mat-error *ngIf="form.controls.identifiant.errors?.required">L'identifiant est requis</mat-error>
            <mat-error *ngIf="form.controls.identifiant.hasError('minlength')">L'identifiant doit avoir un minimum de 3 caractères</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2" *ngIf="error">
          <mat-error>{{error}}</mat-error>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        type="button"
        color="primary"
        (click)="onSubmit()" 
        (keydown.arrowleft)="cancelButton.focus()"
        [disabled]="loading">
        <mat-icon *ngIf="loading">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        <span>Modifier</span>
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>