<div mat-dialog-title>Retirer via Ecobank Express</div>
<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center">Aucun compte ÉcoBank Xpress n’est actuellement lié à votre compte ParcoursPro Guinée.</div>
  </mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
    <div>
      <button mat-raised-button type="button" (click)="onClose()">
        Terminer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>