<div mat-dialog-title>Confirmation de retrait via Ecobank Express</div>
<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center">Félicitation !</div>
    <div class="text-center">Vos fonds ont bien été retirés et déposés sur votre compte Xpress</div>
  </mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
    <div>
      <button mat-raised-button type="button" (click)="onClose()">
        Terminer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>