<div mat-dialog-title>Exporter tous les apprenants</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2 mb-2">
        Veuillez sélectionner les champs à exporter
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEtudiantNom">Nom et Prénom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportMatricule">Matricule</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPeriode">Période</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportProgramme">Programme</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNiveau">Niveau</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportType">Type</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportFormation">Formation</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportStatut">Statut</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportIna">INA</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomPere">Nom du père</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomMere">Nom de la mère</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPhone">Numéro de téléphone</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEmail">Email</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportGenre">Sexe</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Exporter
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>