<div mat-dialog-title>Confirmation de la commande</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      Votre commande à déjà été traité et délivré
    </div>

    <div class="border rounded px-2 pt-3 pb-2 mb-3">
      <div class="text-center mb-2 title">
        {{documentName}} - {{diffusionName}}
      </div>
    </div>

    <div class="text-center mb-2">
      Si votre document est au format Mail, veuillez trouver celui-ci dans votre boite mail.
    </div>
    <div class="text-center">
      Si vous avez perdu votre document, veuillez en commander un nouveau parmi les options disponibles.
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary"
        (click)="onProceed()">
        Fermer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>