<div mat-dialog-title>Prévisualisation du document</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{documentInfo.etudiantName}}
    </div>

    <mat-card class="m-3 document">
      <mat-card-content id="documentContent">
        <document-viewer [documentContent]="documentHtmlContent"></document-viewer>
      </mat-card-content>
    </mat-card>
    <mat-card-actions fxLayoutAlign="center">
      <table>
        <tr>
          <div>
            <button mat-raised-button class="bg-green-dark" type="button" (click)="print()" style="width: 160px; height: 80px;" *ngIf="allowPrint()">
              <mat-icon>print</mat-icon><div>Imprimer</div>
            </button>
            <button mat-raised-button class="bg-green-dark" type="button" (click)="sendMail()" style="width: 160px; height: 80px;" *ngIf="allowSendEmail()">
              <mat-icon>email</mat-icon><div>Envoyer par mail</div>
            </button>
          </div>
        </tr>
      </table>
    </mat-card-actions>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary"
        (click)="onClose()">
        Terminer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>