<div mat-dialog-title>Confirmation de la commande</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      Votre commande a bien été reçu 
    </div>

    <div class="border rounded px-2 pt-3 pb-2 mb-3">
      <div class="text-center mb-2 title">
        {{documentName}} - {{diffusionName}}
      </div>
    </div>

    <div class="text-center mb-2" *ngIf="diffusionEmail()">
      Votre commande à bien été prise en compte.
    </div>
    <div class="text-center mb-2" *ngIf="diffusionEmail()">
      Une fois traité par l’un de nos agent, votre document vous sera expédié sur l’adresse mail liée à ce compte : {{email}}
    </div>
    <div class="text-center" *ngIf="diffusionImprime()">
      Votre document devant être imprimé, veuillez vous rendre dans votre institution pour le récupérer.
    </div>
    <div class="text-center" *ngIf="diffusionImprimeEtMail()">
      Pour récupérer l’original de votre document au format imprimé, veuillez vous rendre dans votre institution.
    </div>
    <div class="text-center mb-2" *ngIf="diffusionImprimeAndImprimeEtMail()">
      Pour être autorisé à retirer votre document, vous devez vous présenter en personne. 
    </div>
    <div class="text-center" *ngIf="diffusionImprimeAndImprimeEtMail()">
      Veuillez apporter avec vous votre INA ou votre matricule afin de vous identifier.
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary"
        (click)="onProceed()">
        Terminer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>