<div mat-dialog-title>Choix du mode de paiement</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{documentInfo.etudiantName}}
    </div>

    <div class="border rounded px-2 pt-3 pb-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Statut de l’étudiant :</strong></td>
            <td>{{documentInfo.etudiantStatusName}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Période :</strong></td>
            <td>{{documentInfo.anneeAcademiqueName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>Matricule :</strong></td>
            <td>{{documentInfo.matricule}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Institution :</strong></td>
            <td>{{documentInfo.institutionName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{documentInfo.identifiantNationalEleve}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Programme :</strong></td>
            <td>{{documentInfo.programmeName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded px-2 mt-2">
      <div class="px-2 mt-2 pb-2">
        {{documentName}}
      </div>
      <div class="text-center title mb-2">
        À payer : {{documentMontant}} GNF
      </div>
    </div>

    <div fxLayout="row" class="px-2 my-3" fxLayoutAlign="center" *ngIf="!paymentInProgress; else showPaymentInProgress">
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'mtn-money'" fontSize="100px"></svg-icon>
            <div>MTN Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" (click)="onPayWithOrange()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'orange-money'" fontSize="100px"></svg-icon>
            <div>Orange Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'yup-money'" fontSize="100px"></svg-icon>
            <div>YUP</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <ng-template #showPaymentInProgress>
      <div fxLayout="column" fxLayoutAlign="center center" class="my-3">
        <mat-spinner diameter="80"></mat-spinner>
        <div class="mt-3">Paiement des frais de document en cours ...</div>
      </div>
    </ng-template>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary"
        (click)="onProceed()"
        (keydown.arrowleft)="cancelButton.focus()">
        Suivant
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>