<div mat-dialog-title>Choix du document à imprimer</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{documentInfo.etudiantName}}
    </div>

    <div class="border rounded px-2 pt-3 pb-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Statut de l’étudiant :</strong></td>
            <td>{{documentInfo.etudiantStatusName}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Période :</strong></td>
            <td>{{documentInfo.anneeAcademiqueName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>Matricule :</strong></td>
            <td>{{documentInfo.matricule}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Institution :</strong></td>
            <td>{{documentInfo.institutionName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{documentInfo.identifiantNationalEleve}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="px-1"><strong>Programme :</strong></td>
            <td>{{documentInfo.programmeName}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded px-2 pt-3 pb-2 mt-2">
      <div fxFlex="100" class="px-2">
        <form [formGroup]="form" fxLayout="row wrap">
          <div fxFlex="100" class="px-2 text-center" fxLayoutAlign="center">
            <label>Veuillez sélectionner le document à imprimer :</label>
          </div>
          <div fxFlex="100" class="px-2">
            <autocomplete placeholder="Document disponible" [values]="documents" 
                idField="id" valueField="name" formControlName="documentId">
            </autocomplete>
          </div>
          <div fxFlex="100" class="px-2 text-end" fxLayoutAlign="end center">
            <label>Coût : {{montant}} GNF</label>
          </div>
        </form>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary"
        (click)="onProceed()"
        (keydown.arrowleft)="cancelButton.focus()">
        Suivant
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>