<div id="app" class="app" [dir]="(settings.rtl) ? 'rtl' : 'ltr'"
  [ngClass]="settings.theme" 
  [class.fixed-header]="settings.fixedHeader"
  [class.fixed-sidenav]="settings.fixedSidenav"
  [class.fixed-footer]="settings.fixedFooter"
  [class.horizontal-menu]="settings.menu == 'horizontal'" 
  [class.compact]="settings.menuType == 'compact'" 
  [class.mini]="settings.menuType == 'mini'"
  [class.overflowYScroll]="settings.overflowYScroll">
  <router-outlet ></router-outlet>

  <div id="app-spinner" [class.hide]="!settings.loadingSpinner" fxLayoutAlign="center center" class="h-100"> 
    <table>
      <tr>
        <td><img src="assets/img/loader.gif" class="animated-logo"></td>
      </tr>
      <tr fxLayoutAlign="center center">
        <td><h4>Chargement...</h4></td>
      </tr>
    </table>
  </div> 
</div>