<div mat-dialog-title>Exporter tous les apprenants</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2 mb-2">
        Veuillez sélectionner les champs à exporter
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNom">Nom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPrenom">Prénom</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNumeroTelephone">Numéro de téléphone</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportEmail">Email</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportDateNaissance">Date de naissance</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportSexe">Sexe</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportPv">Numéro PV</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportOption">Option</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportSession">Session</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportCentreExamen">Centre d'examen</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportLycee">Lycée</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportMoyenne">Moyenne</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportLieuNaissance">Lieu de naissance</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomPere">Nom du père</mat-checkbox>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="33.3" class="px-2 pb-2">
        <mat-checkbox formControlName="exportNomMere">Nom de la mère</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Exporter
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>