<app-content-header 
  [customIcon]="'menu-parameters'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    <button mat-button (click)="newTemplate()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>
  <div fxLayout="row">
    <button mat-button (click)="setSmsPermission()">
      <svg-icon [key]="'on-off'" class="mr-2"></svg-icon>{{getSmSPermissionButtonText()}}
    </button>
  </div>
</mat-toolbar>

<form [formGroup]="searchForm" fxLayout="column" class="p-3">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>
    
      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Sujet" formControlName="subject">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
          <mat-form-field class="w-100">
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let item of templateTypeValues" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
            <input matInput placeholder="Message" formControlName="message">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign=" center" class="px-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="px-4">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Sujet" maxWidth="320">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.subject}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type" maxWidth="150">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{templateTypeMap[row.type]}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Message">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.message}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" maxWidth="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.status === 1 ? 'Actif' : 'Inactif'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [sortable]="false" maxWidth="200">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button (click)="editTemplate(row)">
          <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
        </button>

        <button mat-icon-button (click)="deleteTemplate(row)">
          <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.subject}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" class="p-2">
          <span fxFlex="100" class="px-2 text-bold">Message</span>
          <span fxFlex="100" class="px-2">{{row.message}}</span>
        </div>

        <div fxLayout="row wrap" class="p-2">
          <span fxFlex="100" class="px-2 text-bold">Statut</span>
          <span fxFlex="100" class="px-2">{{row.status === 1 ? 'Actif' : 'Inactif'}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="warn" (click)="deleteTemplate(row)" class="w-100">Supprimer</button>
          </div>

          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="editTemplate(row)" class="w-100">Modifier</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</form>
