<app-content-header 
  [customIcon]="'menu-send'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="subheading-2 p-3" *ngIf="step !== 'stepSearchStudents'">
  <div class="mb-3">
    Étape {{stepNumber}}/3 :  
    {{step === 'stepSelectStudents' ? 'Sélectionner les personnes' : ''}}
    {{step === 'stepEnterMessage' ? 'Sélectionner le type de message' : ''}}
    {{step === 'stepConfirm' ? 'Confirmation d\'envoi' : ''}}
  </div>

  <div fxLayout="row">
    <button mat-raised-button (click)="onNext()" class="mr-3" color="primary"
      [disabled]="selectedRows.length == 0">
      {{step === 'stepConfirm' ? 'Confirmer' : 'Suivant'}}
    </button>
  
    <button mat-button (click)="onCancel()">
      Annuler
    </button>
  </div>
</div>

<form [formGroup]="searchForm"
  [class.hide]="step !== 'stepSearchStudents'">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-3" fxLayoutAlign="center center">
        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <autocomplete placeholder="Admission Institution Statut" [values]="admissionInstitutionStatusList" 
            idField="value" valueField="name" formControlName="admissionInstitutionStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <autocomplete placeholder="Inscription Programme Statut" [values]="inscriptionProgrammeStatusList" 
            idField="value" valueField="name" formControlName="inscriptionProgrammeStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="33" class="px-2">
          <autocomplete placeholder="Apprenants à (ré)inscrire" [values]="reinscrireApprenantList" 
            idField="value" valueField="name" formControlName="reinscrireApprenant">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="100" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign=" center" class="px-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="px-4">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>
        <div fxLayout="row wrap" class="filter-ctn px-2 pt-4 pb-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV">
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du BAC" [values]="optionsBACList" 
              idField="id" valueField="name" formControlName="optionBACId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session" [values]="sessionsBACList" 
              idField="name" valueField="name" formControlName="sessionBAC">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut" [values]="statusList" 
              idField="value" valueField="name" formControlName="status">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" fxLayoutAlign="end" class="px-3 py-2">
  <button mat-raised-button color="primary" type="button" 
    *ngIf="step === 'stepSearchStudents'"
    (click)="onNext()">
    <mat-icon class="mr-2">mail_outline</mat-icon>Envoyer
  </button>
</div>

<ng-container *ngIf="step === 'stepSearchStudents' || step === 'stepSelectStudents'" 
  [ngTemplateOutlet]="stepSearchAndSelectStudents">
</ng-container>

<ng-container *ngIf="step === 'stepEnterMessage'" [ngTemplateOutlet]="stepEnterMessage">

</ng-container>

<ng-container *ngIf="step === 'stepConfirm'" [ngTemplateOutlet]="stepConfirm">
</ng-container>

<ng-template #stepSearchAndSelectStudents>
  <div class="p-3">
    <ngx-datatable
      fxHide fxShow.gt-xs="true"
      #table
      class="material"
      [rows]="pageRows"
      [count]="total"
      [offset]="pageOffset"
      [limit]="pageSize"
      [externalPaging]="true"
      [sorts]="[sort]"
      [sortType]="'single'"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator"
      [selected]="selectedRows"
      [selectionType]="SelectionType.checkbox"
      (select)="onSelect($event)"
      [messages]="{
        emptyMessage: 'Aucune information',
        totalMessage: ' au total'
      }"
      (page)="onChangePage($event)"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column
        *ngIf="step === 'stepSelectStudents'"
        [width]="60"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
  
      <ngx-datatable-column name="INA">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Prénom">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Nom">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Option">
        <ng-template let-row="row" ngx-datatable-cell-template>{{getOption(row)}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Session">
        <ng-template let-row="row" ngx-datatable-cell-template>{{getSession(row)}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="PV">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Statut">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantStatusName}}</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  
    <div fxLayout="row" fxLayoutAlign="end" class="py-3">
      <button mat-raised-button color="primary" type="button" 
        *ngIf="step === 'stepSearchStudents'"
        (click)="onNext()">
        <mat-icon class="mr-2">mail_outline</mat-icon>Envoyer
      </button>
    </div>
  </div>
</ng-template>

<ng-template #stepEnterMessage>
  <form [formGroup]="form" fxLayout="row" class="p-2">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Sélectionner un modèle de message *" formControlName="template">
            <mat-option *ngFor="let item of subjectList" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.template.errors?.required">Le modèle de message est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Mode d'envoi *" formControlName="communicationMode">
            <mat-option *ngFor="let mode of communicationModes" [value]="mode.value">
              {{mode.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.communicationMode.errors?.required">Le mode d'envoi est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Sujet *" formControlName="subject">
          <mat-error *ngIf="form.controls.subject.errors?.required">Le sujet est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <textarea  matInput placeholder="Email Message" formControlName="emailMessage"
            matTextareaAutosize 
            matAutosizeMinRows="5"
            matAutosizeMaxRows="10">
          </textarea>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <textarea  matInput placeholder="SMS Message" formControlName="smsMessage"
            matTextareaAutosize 
            matAutosizeMinRows="5"
            matAutosizeMaxRows="10">
          </textarea>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="saveTemplate" class="my-3" labelPosition="after">
          Enregistrer le template
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #stepConfirm>
  <div class="p-3">
    <ngx-datatable
      #table
      class="material"
      [rows]="selectedRows"
      [count]="selectedRows.length"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [loadingIndicator]="loadingIndicator"
      [messages]="{
        emptyMessage: 'Aucune information',
        totalMessage: ' au total'
      }"
    >
      <ngx-datatable-column name="INA">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Prénom">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Nom">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Option">
        <ng-template let-row="row" ngx-datatable-cell-template>{{getOption(row)}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Session">
        <ng-template let-row="row" ngx-datatable-cell-template>{{getSession(row)}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="PV">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV}}</ng-template>
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Statut">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantStatusName}}</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>

