<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Type *" formControlName="type">
            <mat-option *ngFor="let item of templateTypeValues" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.type.errors?.required">Le statut est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Sujet *</mat-label>
          <input matInput formControlName="subject">

          <mat-error *ngIf="form.controls.subject.errors?.required && (form.controls.subject.dirty || form.controls.subject.touched)">
            Le sujet est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <textarea  matInput placeholder="Message *" formControlName="message"
            matTextareaAutosize 
            matAutosizeMinRows="5"
            matAutosizeMaxRows="10">
          </textarea>
          <mat-error *ngIf="form.controls.message.errors?.required">Le message est requis</mat-error>
        </mat-form-field>
      </div>

      <ng-container *ngIf="model.id">
        <div fxFlex="100" class="px-2 mt-2">
          <mat-slide-toggle formControlName="status" class="my-2" labelPosition="before">
            {{form.controls.status.value ? 'Actif' : 'Inactif'}}
          </mat-slide-toggle>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>