.input {
    border: none; 
    border-bottom: 1px solid #ccc; 
    height: 40px;
    width: 70%;
    padding: 0px;
    text-align: center;
    background-color: #F3F3F3;
    font-size: 20px;
  }

  .input:focus {
    outline: none;
  }

  .pointer {
    cursor: pointer;
  }