<div mat-dialog-title>Authentification du numéro de téléphone</div>

<div class="mat-dialog-body">
    <div *ngIf="displayForm1">
      <mat-dialog-content ngStyle.xs="height: 60vh">
        <div style="text-align: center; font-size: 18px;">
          <span>Nous avons détecté que votre numéro de téléphone n'a pas été authentifié.</span>
          <span>Afin de procéder au paiement ultérieur de votre bourse, nous devons authentifier votre numéro de
            téléphone</span>
        </div>
        <div style="text-align: center; color: red; font-size: 18px;" class="my-3">
          <span>Ce numéro de téléphone sera utilisé pour le retrait de votre bourse.</span>
          <span>Vous ne pourrez modifier ce numéro par l'intermédiaire de ParcoursPro.</span>
          <span>Vous ne pourrez retirer votre bourse tant que vous n'aurez pas authentifié votre numéro de téléphone.</span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 18px; ">
          <span class="text-center">Veillez confirmer votre numéro de téléphone portable guinéen</span>
          <form [formGroup]="form1"
            style="border: 1px solid;  width: 60%; display: flex; justify-content: center; align-items: end; padding: 10px; border-radius: 5px;">
            <input formControlName="phoneNumber" class="input" type="number">
            <!-- <small *ngIf="phoneNumber?.errors?.required">Le numéro de téléphone est requis.</small> -->
          </form>
        </div>
      </mat-dialog-content>
    
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div>
          <div class="pointer" (click)="close()"
            style="padding: 10px 20px; text-align: center; border-radius: 5px; background-color: gray; color:whitesmoke; font-size: 18px;">
            Annuler
          </div>
        </div>
        <div>
          <div class="pointer" ngClass.xs="mt-1" (click)="onSubmitSendOTP()"
            style="padding: 10px 20px; text-align: center; border-radius: 5px; background-color:#0288D1; color:white; font-size: 18px;">
            Confirmer mon numero
          </div>
        </div>
      </div>
    </div>

  <div *ngIf="!displayForm1" style="display: flex; flex-direction: column; gap: 0px; ">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 18px; ">
      <p>Veillez saisir le code OTP que vous avez reçu par SMS</p>
      <form [formGroup]="form2"
        style="width: 100%; display: flex; gap:20px; justify-content: between; align-items: end; padding: 10px; border-radius: 5px;">
        <input disabled formControlName="phoneNumber" placeholder="numéro de téléphone" id="phone_number" class="input" type="text">
        <div style="border:0.1px solid rgb(209, 206, 206); height: 40px;"></div>
        <input formControlName="otp" placeholder="- - - - - " id="otp" class="input" type="number">
      </form>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
      <div>
        <div class="pointer" (click)="goBack()" style="padding: 10px 20px; text-align: center; border-radius: 5px; background-color: gray; color:whitesmoke; font-size: 18px;">
          retour
        </div>
      </div>
      <div>
        <div (click)="onSubmitVerifyOTP()" class="pointer" ngClass.xs="mt-1" style="padding: 10px 20px; text-align: center; border-radius: 5px; background-color:#0288D1; color:white; font-size: 18px;">
          Confirmer le code
        </div>
      </div>
    </div>
  </div>
</div>