<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body" style="max-width: 700px">
    <mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="100" class="px-2">
                <mat-form-field class="w-100">
                    <mat-label>Veuillez indiquer l’objet de la communication *</mat-label>
                    <input matInput formControlName="object">
                    <mat-error *ngIf="form.controls.object.errors?.required && (form.controls.object.dirty || form.controls.object.touched)">
                        L'objet est requis
                    </mat-error>
                    <mat-error *ngIf="form.controls.object.errors?.maxlength && (form.controls.object.dirty || form.controls.object.touched)">
                        Maximum 255 caractères
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" class="px-2 pb-4">
                <mat-form-field class="w-100">
                    <mat-label>Veuillez entrer votre message *</mat-label>
                    <textarea matInput formControlName="message" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10">
                                </textarea>
                    <mat-error
                        *ngIf="form.controls.message.errors?.required && (form.controls.message.dirty || form.controls.message.touched)">
                        Le message est requis
                    </mat-error>
                    <mat-error *ngIf="form.controls.message.errors?.maxlength && (form.controls.message.dirty || form.controls.message.touched)">
                        Maximum 2500 caractères
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" class="px-2" *ngIf="!isCreation">
                <label>Joindre un fichier (format pdf ; max. 400 ko)</label>
            </div>

            <div fxFlex="100" class="px-2" *ngIf="!isCreation">
                <button mat-raised-button color="secondary" type="button" (click)="uploadFile()" class="mr-3 my-2">
                    Choisir le fichier
                </button>
                <input type="file" name="file" style="display:none" id="attachedFileSelector" (change)="onFileUpload($event)"
                    accept=".pdf" placeholder="Choisir le fichier">
                <label *ngIf="model?.attachedFileLink"><a target="_blank"  href="{{fileLink}}"> {{fileName}}</a></label>
                <label *ngIf="!model?.attachedFileLink">{{fileName}}</label>
                <button mat-icon-button (click)="deleteFile()" *ngIf="hasFile">
                    <svg-icon [key]="'delete'" fontSize="14px"></svg-icon>
                </button>
            </div>
        </div>
    </mat-dialog-content>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
                Supprimer
            </button>
        </div>

        <div class="submitAction">
            <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
                (click)="onSubmit()">
                Enregistrer
            </button>
        </div>
    </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
