<app-content-header [customIcon]="'menu-management'" [title]="title" [hideBreadcrumb]="false" [hasBgImage]="true"
    [class]="'pb-4'"></app-content-header>
<mat-toolbar fxLayout="row wrap" class="content-toolbar p-0">

</mat-toolbar>

<div class="margin">
    <select class="select" disabled name="" id="">
        <option value="" class="p-3">Effectuer une nouvelle demande</option>
    </select>
</div>

<div class="mainPageMenu ">
    <form *ngIf="typeDemandesList" [formGroup]="searchForm" class="formTypeDemande mx-4">
        <div id="typeDemande">
            <label *ngFor="let item of typeDemandesList" (click)="onClick(item)"
                [ngClass]="{'onActive': isActive(item)}" class="my-2" (mouseenter)="logEvent($event,true)"
                (mouseout)="logEvent($event,false)">
                <input (change)="changes($event)" type="checkbox" [value]="item.name">
                {{item.name }}
            </label>
        </div>

        <mat-icon class="arrow_back" (click)="scrollLeft()">arrow_back</mat-icon>
        <mat-icon class="arrow_forward" (click)="scrollRight()" >arrow_forward</mat-icon>

    </form>

    <div  class="caroussel mx-2">
        <div *ngIf="testDataShown" class="content-cards">
               
            <mat-icon class="left_arrow " (click)="preview()" [ngClass]="{'hide' : hideLeftArrow}" >arrow_back_ios</mat-icon>
            <mat-icon class="right_arrow" (click)="next()" [ngClass]="{'hide' : hideRightArrow}" >arrow_forward_ios</mat-icon>

            <mat-card class="m-3 card border" *ngFor="let item of testDataShown" (click)="openAddDemande(item)">
                <mat-card-header>
                    <mat-card-title>
                        <img src="{{item?.logoUrl}}" alt="" height="100px" width="100px" class="mr-3  rounded">
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="cardName">{{item.name}}</p>
                </mat-card-content>
                <div class="icon">
                    <img src="{{item?.typeDemandeIconeUrl}}" alt="" height="30px" width="30px" class="mr-3  rounded">
                </div>
            </mat-card>
        </div>
    </div>

    <div class="margin mb-3">
        <select class="select" disabled name="" id="">
            <option class="p-3" value="">Mes demandes</option>
        </select>
    </div>

    <div fxLayout="column" class="px-3 pb-2">
        <ngx-datatable fxHide fxShow.gt-xs="true" #table class="material" [rows]="pageRows" [count]="total"
            [offset]="pageOffset" [limit]="pageSize" [externalPaging]="true" [sorts]="[sort]" [sortType]="'single'"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
            [loadingIndicator]="loadingIndicator" [messages]="{
        emptyMessage: 'Aucune information',
        totalMessage: ' au total'
      }" (page)="onChangePage($event)" (sort)="onSort($event)">

            <ngx-datatable-column name="No Demande" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.numero}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Date de création" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Type de demande" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.agrementationName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Date de mise à jour" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.updatedTime}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.status}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)="open(row.id)" class="color-blue">Ouvrir</a>
                </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Document" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)="openDocument(row)" class="color-blue" *ngIf="row.status === 'Delivré'">Téléchager</a>
                </ng-template>
            </ngx-datatable-column> -->
        </ngx-datatable>

        <div fxHide fxShow.xs="true">
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let row of pageRows" class="table-expansion-panel">
                    <mat-expansion-panel-header class="px-3">
                        <mat-panel-title><span class="flex-text-ellipsis">{{row.numero}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">No de Demande</span>
                        <span fxFlex="50" class="px-2 text-right">{{row.numero}}</span>
                    </div>

                    <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Date de création</span>
                        <span fxFlex="50" class="px-2 text-right">{{row.creationTime}}</span>
                    </div>

                    <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Type de demande</span>
                        <span fxFlex="50" class="px-2 text-right">{{row.agrementationName}}</span>
                    </div>

                    <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Date de mise à jour</span>
                        <span fxFlex="50" class="px-2 text-right">{{row.updatedTime}}</span>
                    </div>

                    <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Statut</span>
                        <span fxFlex="50" class="px-2 text-right">{{row.status}}</span>
                    </div>

                    <mat-action-row class="px-2">
                        <div fxFlex="50" class="px-2"></div>
                        <div fxFlex="50" class="px-2">
                            <button mat-raised-button type="button" color="primary" (click)="open(row.id)"
                                class="w-100">Ouvrir</button>
                        </div>
                    </mat-action-row>

                    <!-- <mat-action-row class="px-2">
                        <div fxFlex="50" class="px-2"></div>
                        <div fxFlex="50" class="px-2">
                            <button mat-raised-button type="button" color="primary" (click)="openDocument(row)"
                                class="w-100" *ngIf="row.status === 'Delivré'">Telecharger</button>
                        </div>
                    </mat-action-row> -->
                </mat-expansion-panel>
            </mat-accordion>

            <mat-paginator style="background: transparent" [length]="total" [pageSize]="pageSize"
                (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
            </mat-paginator>
        </div>
    </div>