<div mat-dialog-title>Mode de paiement</div>

<div class="mat-dialog-body">
  <mat-dialog-content>

    <div fxLayout="row" class="px-2 text-center my-4" fxLayoutAlign="center">
      <div fxFlex="90" style="padding: 15px; border: 1px solid black">
        <span class="title">À payer : {{tarification?.montant}} GNF</span>
      </div>
    </div>

    <div fxLayout="row" class="px-2 my-3" fxLayoutAlign="center" *ngIf="!paymentInProgress; else showPaymentInProgress">
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'mtn-money'" fontSize="100px"></svg-icon>
            <div>MTN Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" (click)="onPayWithOrange()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'orange-money'" fontSize="100px"></svg-icon>
            <div>Orange Money</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="custom-card p-4 mx-3 text-center" *ngIf="false">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'yup-money'" fontSize="100px"></svg-icon>
            <div>YUP</div>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

    <ng-template #showPaymentInProgress>
      <div fxLayout="column" fxLayoutAlign="center center" class="my-3">
        <mat-spinner diameter="80"></mat-spinner>
        <div class="mt-3">Paiement des frais de demande en cours...</div>
      </div>
    </ng-template>  
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!paymentInProgress">
    <div class="cancelAction">
      <button mat-raised-button #backButton 
        (click)="onClose()">
        Annuler
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>