<div mat-dialog-title class="mat-dialog-title">
    Objet : {{messageSubject}}
</div>

<div class="mat-dialog-body" style="max-width: 700px; display: flex; flex-direction: column;">
    <div style="text-align: start; margin-top: 0px; margin-bottom: 10px;">
        <a style="text-decoration: none; color: #0288D1; font-size: 14px; font-weight: bold;" href="{{attachedFileLink}}" target="_blank" > 
        <span *ngIf="attachedFileLink && attachedFileLink.trim().length > 0" style="color: Gray;">Pièce jointe:</span>   {{attachedFileName}}</a>
    </div>
    <mat-dialog-content fxLayout="column" fxLayoutAlign="start center" class="message-content pt-10" style="overflow-y: auto; max-height: 400px; width: 100%;">
        <p>{{messageContent}}</p>
    </mat-dialog-content>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center" style="margin-top: 20px;">
        <button mat-raised-button (click)="onClose()">Fermer</button>
    </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()" style="position: absolute; top: 10px; right: 10px;">
    <mat-icon>close</mat-icon>
</button>
