.select {
  width: 97%;
  margin: 10px 0;
  background-color: rgb(18, 136, 233);
  border-radius: 25px;
  padding: 2px;
  color: white;
  font-weight: bold;
  height: 30px;
  padding-left: 15px;
}

.margin {
  display: flex;
  justify-content: center;
}


.button:hover {
  box-shadow: 3px 3px 3px rgba(12, 0, 0, 0.123);
}


.onActive {
  background-color: #57a17a;
  color: aliceblue;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 12rem;
  min-width: 12rem;
  height: 175px;
  padding: 5px;
  position: relative;
  left: 0;
  transition: 0.5s ease;
}

.cardName {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  min-height: 100px;
  margin-inline: auto;
  position: relative;
}

.content-cards::-webkit-scrollbar {
  display: none;
}

.icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

#header-bottom {
  width: 100%;
  height: 20px;
  background-color: #f1a129;
}

.left_arrow,
.right_arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  font-size: 50px;
  transform: translateY(-50%);
  cursor: pointer;

}

.right_arrow {
  right: 0px;
}

.left_arrow {
  left: 0px;
}

/* Type demande select */


#typeDemande input[type="checkbox"] {
  display: none;
}

#typeDemande label {
  display: inline-block;
  min-width: 20rem;
  margin-inline: 1rem;
  border-radius: 5rem;
  border: 0.5px solid #57a17a;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.typeDemandehover {
  min-width: max-content !important;
  width: max-content !important;
  overflow: unset;
  text-overflow: unset;
  transition: .5s all;
}

.content-toolbar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0;
}

.content-toolbar a {
  margin: 0 10px 0 0;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
}

.content-toolbar a:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;

}

.go-back {
  position: absolute;
  left: 10px;

}

/* type demande arrow */

#typeDemande{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: start;
  font-size: small;
  scroll-behavior: smooth;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

#typeDemande::-webkit-scrollbar{
  display: none;
}

.formTypeDemande{
  position: relative;
  padding: 50px;
}


.arrow_back {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_forward{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_back:hover, .arrow_forward:hover{
  cursor: pointer;
}