<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
    <mat-dialog-content> 
        <ng-container *ngIf="isCreation == false">
            <div fxlayout="row" class="px-3">
                <div fxFlex="100" fxflex.gt-xs="25" fxLayoutAlign="flex-end">
                    <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
                        {{form.controls.status.value ? 'Actif' : 'Inactif'}}
                    </mat-slide-toggle>
                </div>
            </div> 
        </ng-container>
        <div fxLayout="column" class="m-3">
            <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100" *ngIf="isMandatoryMember">
                        <mat-select placeholder="Poste *" formControlName="personnelMemberId">
                            <mat-option *ngFor="let item of personnelMemberList" [value]="item.id">
                                {{item.poste}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.personnelMemberId.errors?.required">Le poste est requis</mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100" *ngIf="!isMandatoryMember">
                        <input matInput placeholder="Poste *" formControlName="poste" [readonly]="!isCreation">
                        <mat-error *ngIf="form.controls.poste.errors?.required">Le poste est requis</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nom *" formControlName="name">
                        <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Prénom *" formControlName="firstName">
                        <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
                        <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="dateNaissance" formControlName="dateNaissance"
                            placeholder="Date de naissance *">
                        <mat-datepicker-toggle matSuffix [for]="dateNaissance">
                            <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dateNaissance disabled="false"></mat-datepicker>
                        <mat-error *ngIf="form.controls.dateNaissance.errors?.required">La date de naissance est requise</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Adresse mail *" formControlName="email">
                        <mat-error *ngIf="form.controls.email.errors?.required">L'adresse email est requis</mat-error>
                        <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'adresse email est invalide</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Numéro de téléphone *" formControlName="phone">
                        <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
                        <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
                    </mat-form-field>
                </div>
                
                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="isAdministratif">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Adresse de résidence (obligatoire pour le fondateur)" formControlName="adresse">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="isAdministratif">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Profession (obligatoire pour le fondateur)" formControlName="profession">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="!isAdministratif">
                    <mat-form-field class="w-100">
                        <mat-select placeholder="Filière(s) de formation" formControlName="programmes" multiple
                            (valueChange)="changeProgramme($event)">
                            <mat-option *ngFor="let programme of programmeList" [value]="programme.id">
                                {{programme.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="!isAdministratif">
                    <mat-form-field class="w-100">
                        <mat-select placeholder="Disciplines enseignées" formControlName="disciplines" multiple>
                            <mat-option *ngFor="let discipline of filteredDisciplineList" [value]="discipline.id">
                                {{discipline.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <div class="m-3" *ngIf="isCreation == false">
        <div class="margin">
            <select class="select hide-arrow text-center" disabled>
                <option value="">Documents à founir</option>
            </select>
        </div>

        <div class="row wrap text-center">
            Veuillez joindre tous les documents requis ci-dessous
        </div>
    
        <div class="row wrap text-italic text-center">
            Tous les documents doivent être lisibles et sans reflets
        </div>
        <div class="row wrap warn-color text-italic text-center">
            * Certains documents sont manquants, veuillez les insérer avant de continuer. Dans le cas contraire, vous deverez les communiquer en personne.
        </div>
    
        <div>
            <ng-container *ngFor="let attachedDocument of personnelDocumentList">
                <div class="row wrap mb-3 border-left">
                    <div [class]="getCss(attachedDocument)">
                        {{attachedDocument.documentName}} (format {{attachedDocument.acceptedFormat}} ; max.
                        {{attachedDocument.maxSize}} ko) *
                    </div>
                    <div class="row">
                        
                            <button *ngIf="isValidToDownloadModel(attachedDocument)" mat-raised-button color="secondary" type="button" class="mr-2"
                                (click)="openDocumentModel(attachedDocument)">
                                Télécharger modèle
                            </button>
                            <button mat-raised-button color="secondary" type="button" class="mr-2"
                                (click)="uploadDocument(attachedDocument)">
                                Choisir le fichier
                            </button>
                            <input type="file" name="file" style="display:none" [id]="getSelectorId(attachedDocument)"
                                (change)="onFileUpload($event, attachedDocument)"
                                accept="{{attachedDocument.acceptedFormat}}" placeholder="Choisir le fichier">
                        
                            <a *ngIf="attachedDocument.link" (click)="openDocument(attachedDocument)" class="color-blue">{{attachedDocument.fileName}}</a>
                            <span *ngIf="!attachedDocument.link">Aucun document n'a été importé</span>
                        
                    </div>
                </div>
                
            </ng-container>
        </div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()" (click)="onClose()">
                Annuler
            </button>
        </div>
        <div class="submitAction">
            <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()" (click)="onSubmit()">
                Créer
            </button>
        </div>
    </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
