<div *ngIf="!data.agrementation.hasAgrementPrealable && !data.agrementation.isModification">
  <div mat-dialog-title>
    <h4>Créer une nouvelle demande de type:</h4>
  </div>
  <div class="mat-dialog-body" style="text-align: center; text-transform: uppercase;">
    <p class="mb-3" style="max-width: 500px">{{data.agrementation.name}}</p>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
      <div class="cancelAction">
        <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
          Annuler
        </button>
      </div>

      <div class="submitAction">
        <button mat-raised-button #submitButton color="primary" (click)="onSubmit()"
          (keydown.arrowleft)="cancelButton.focus()">
          Créer une demande
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data.agrementation.hasAgrementPrealable && !data.agrementation.isModification">
  <div mat-dialog-title class="mb-3">Demande "{{data.agrementation.name}}"</div>
  <form [formGroup]="form" class="mat-dialog-body" style="text-align: center; ">
    <div style="border: 1px solid black; width: 80%; margin-inline: auto; padding: 5px; ">
      <p class="m-0" style="font-weight: 700;">Remarque</p>
      <p class="m-0" style="font-size: 12px;">Pour effectuer une demande de <span
          style="font-style: italic;">"{{data.agrementation.name}}"</span>, votre demande d' <span
          style="font-style: italic;">"Agrement préalable"</span> doit préalablement avoir été acceptée</p>
    </div>
    <div class="w-100 ">
      <p style="font-weight: 700; width: 90%; text-align: justify;">
        Veuillez sélectionner l’agrément préalable pour lequel vous effectuez la demande :
      </p>
      <mat-form-field class="w-100">
        <mat-select placeholder="Nom de l’agrément préalable*" formControlName="demande" multiple>
          <mat-option *ngFor="let item of data.approuvedDemandeList" [value]="item.numero">
            {{item.agrementationName}} - {{item.numero}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.demande.errors?.required">L’agrément préalable est requis</mat-error>
      </mat-form-field>

    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
      <div class="cancelAction">
        <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
          Annuler
        </button>
      </div>

      <div class="submitAction">
        <button mat-raised-button #submitButton color="primary" (click)="onSubmit()"
          (keydown.arrowleft)="cancelButton.focus()">
          Créer une demande
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="data.agrementation.isModification && data.agrementation.hasAgrementPrealable">
  <div mat-dialog-title class="mb-3">Demande "{{data.agrementation.name}}"</div>
  <form [formGroup]="form" class="mat-dialog-body" style="text-align: center; ">
    <div style="border: 1px solid black; width: 80%; margin-inline: auto; padding: 5px; ">
      <p class="m-0" style="font-weight: 700;">Remarque</p>
      <p class="m-0" style="font-size: 12px;">Pour effectuer une demande de <span
          style="font-style: italic;">"{{data.agrementation.name}}"</span>, votre demande d' <span
          style="font-style: italic;">"Agrement préalable"</span> doit préalablement avoir été acceptée</p>
    </div>
    <div class="w-100 ">
      <p style="font-weight: 700; width: 90%; text-align: justify;">
        Veuillez sélectionner l’agrément préalable pour lequel vous effectuez la demande :
      </p>
      <mat-form-field class="w-100">
        <mat-select placeholder="Nom de l’agrément préalable*" formControlName="demande">
          <mat-option *ngFor="let item of data.approuvedDemandeList" [value]="item.numero">
            {{item.agrementationName}} - {{item.numero}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.demande.errors?.required">L’agrément préalable est requis</mat-error>
      </mat-form-field>

    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
      <div class="cancelAction">
        <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
          Annuler
        </button>
      </div>

      <div class="submitAction">
        <button mat-raised-button #submitButton color="primary" (click)="onSubmit()"
          (keydown.arrowleft)="cancelButton.focus()">
          Créer une demande
        </button>
      </div>
    </div>
  </form>
</div>