<app-content-header 
  [customIcon]="'statistiques-apprenant'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>
  
<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="exportAdmissionApprenants()">
      <mat-icon>save_alt</mat-icon> Exporter apprenant uniques des admissions
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-5">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumberEtudiant formControlName="numeroPVEtudiant" placeholder="PV Apprenant">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV Concours">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>  

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type Programme" [values]="typeProgrammeList" 
            idField="id" valueField="name" formControlName="typeProgramme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Decision" [values]="decisionList" 
            idField="value" valueField="name" formControlName="decision">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Année" [values]="anneeList" 
            idField="id" valueField="name" formControlName="annee">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Dates d’enrôlement</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="createFrom" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="createTo" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="residencePrefecture">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="75" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <div fxLayout="row wrap" class="filter-ctn px-2 pt-5 pb-2">
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du diplôme" [values]="optionsList" 
              idField="id" valueField="displayedName" formControlName="optionId">
            </autocomplete>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du diplôme" [values]="sessionsList" 
              idField="name" valueField="name" formControlName="session">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
              idField="id" valueField="name" formControlName="statusEtablissement">
            </autocomplete>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="100" class="px-2">
    <span class="title text-bold">Vue d’ensemble</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Total apprenants inscrits</div>
            <div class="title text-bold" fxLayoutAlign="center">{{admissionStatistiquesOverview?.numberOfApprenants}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Choix effectués public / privé</div>
            <div class="title text-bold" fxLayoutAlign="center">{{admissionStatistiquesOverview?.numberOfPublicAdmission}} / {{admissionStatistiquesOverview?.numberOfPrivateAdmission}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Total biométrisé</div>
            <div class="title text-bold" fxLayoutAlign="center">{{admissionStatistiquesOverview?.numberOfBiometrise}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Biométrisé hommes / femmes</div>
            <div class="title text-bold" fxLayoutAlign="center">{{admissionStatistiquesOverview?.numberOfMaleBiometrise}} / {{admissionStatistiquesOverview?.numberOfFemaleBiometrise}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <span class="title text-bold mb-2">Admission</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenant-genre'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Répartition des apprenants par genre</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                  [results]="admissionStatistiquesPerGenre" 
                  [legend]="true"
                  [explodeSlices]="false" 
                  [labels]="true" 
                  [doughnut]="true" 
                  [gradient]="true"
                  [tooltipDisabled]="false"
                  [legendPosition]="legendPosition"
                  [scheme]="colorSchemePerGenre"
                  [arcWidth]="0.5"
                  [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenant-region'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants inscrits par région d’admission</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="admissionStatistiquesPerRegion" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorSchemePerGenre"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenant-status'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Statut d’apprenant</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                  [results]="admissionStatistiquesPerApprenantStatus" 
                  [legend]="true"
                  [explodeSlices]="false" 
                  [labels]="true" 
                  [doughnut]="true" 
                  [gradient]="true" 
                  [tooltipDisabled]="false"
                  [legendPosition]="legendPosition"
                  [scheme]="colorSchemePerGenre"
                  [arcWidth]="0.5"
                  [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-statut-institution'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Statut de l’etablissement</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                  [results]="admissionStatistiquesPerStatusEtablissement" 
                  [legend]="true"
                  [explodeSlices]="false" 
                  [labels]="true" 
                  [doughnut]="true" 
                  [gradient]="true" 
                  [tooltipDisabled]="false"
                  [legendPosition]="legendPosition"
                  [scheme]="colorSchemePerGenre"
                  [arcWidth]="0.5"
                  [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-admission-status'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Statut des admissions</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                  [results]="admissionStatistiquesPerStatus" 
                  [legend]="true"
                  [explodeSlices]="false" 
                  [labels]="true" 
                  [doughnut]="true" 
                  [gradient]="true" 
                  [tooltipDisabled]="false"
                  [legendPosition]="legendPosition"
                  [scheme]="colorSchemePerGenre"
                  [arcWidth]="0.5"
                  [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-admission-payment-status'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Statut des paiements</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                  [results]="admissionStatistiquesPerPaymentStatus" 
                  [legend]="true"
                  [explodeSlices]="false" 
                  [labels]="true" 
                  [doughnut]="true" 
                  [gradient]="true" 
                  [tooltipDisabled]="false"
                  [legendPosition]="legendPosition"
                  [scheme]="colorSchemePerGenre"
                  [arcWidth]="0.5"
                  [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  > 
    <ngx-datatable-column name="Prénom" prop="etudiantFirstName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom" prop="etudiantName" [headerClass]="'col-name'" [cellClass]="'col-name'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV Apprenant" prop="etudiantNumeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantNumeroPV}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Etablissement" prop="etablissement" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etablissement}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Choix" prop="choixAdmissionInstitution" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.choixAdmissionInstitution}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Année" prop="anneeAcademiqueName" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PV Concours" prop="numeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut" prop="status" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Décision" prop="decision" [headerClass]="'col-decision'" [cellClass]="'col-decision'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.decisionName}}</ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-actions'" [cellClass]="'col-actions'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantFirstName}} {{row.etudiantName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV Apprenant</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.etudiantNumeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Etablissement</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.etablissement}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Choix</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.choixAdmissionInstitution}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Année</span>
          <span fxFlex="50" class="px-2 text-right col-annee">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV Concours</span>
          <span fxFlex="50" class="px-2 text-right col-numeroPV">{{row.numeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right col-status">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Décision</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.decisionName}}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>