:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-body-cell.col-choix,
    .col-choix {
      white-space: pre-line;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 170px !important;
    }

    .datatable-header-cell.col-annee,
    .datatable-body-cell.col-annee {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-numeroPV,
    .datatable-body-cell.col-numeroPV {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-actions,
    .datatable-body-cell.col-actions {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-decision,
    .datatable-body-cell.col-decision {
      max-width: 150px !important;
    }

    .datatable-header-cell.col-name,
    .datatable-body-cell.col-name {
      max-width: 170px !important;
    }

    .chart-container {
      display: block;
      position: relative;
      padding: 0;
    }
    
    .w100 {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
    }
  }
}

