<app-content-header 
  [customIcon]="'statistiques-apprenant'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<router-outlet></router-outlet>