<app-content-header 
  [customIcon]="'statistiques-apprenant-paiement'"
  [title]="'Apprenants - paiements par année'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row" class="px-2 mb-3" *ngIf="false">
  <div fxFlex="100" class="px-2">
    <div fxFlex="48.5" class="mr-3 mt-3">
      <mat-card class="custom-card">
        <mat-card-content>
          <div class="title" fxLayoutAlign="center">Nombre total de transactions en succès / Total de transactions</div>
          <div class="title text-bold" fxLayoutAlign="center">{{paiementStatistiquesSummary?.numberOfSuccessTransactions}} / {{paiementStatistiquesSummary?.numberOfTransactions}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="48.5" class="mt-3">
      <mat-card class="custom-card">
        <mat-card-content>
          <div class="title" fxLayoutAlign="center">Montant total de transactions en succès / Montant total</div>
          <div class="title text-bold" fxLayoutAlign="center">{{paiementStatistiquesSummary?.successMontant}} / {{paiementStatistiquesSummary?.montant}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
            idField="id" valueField="code" formControlName="statusEtablissementId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type de paiement" [values]="paymentTypes" 
            idField="value" valueField="name" formControlName="paymentType">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Date de transaction</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut du paiement" [values]="statusList" 
            idField="code" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Session" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademiqueId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programmeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau d’inscription" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtude">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type de diplôme" [values]="typeDiplomeList" 
            idField="id" valueField="name" formControlName="typeDiplome">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="residencePrefecture">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="100" class="px-2">
    <span class="title text-bold">Vue d’ensemble</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="48.5" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Nombre de transactions</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementOverviewStatistiques?.numberOfTransactions}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="48.5" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Montant</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementOverviewStatistiques?.montant}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="32" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Institution</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementOverviewStatistiques?.numberOfInstitutions}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Programme</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementOverviewStatistiques?.numberOfProgrammes}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Apprenants</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementOverviewStatistiques?.numberOfApprenants}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <span class="title text-bold">Transactions</span>
    <div class="mb-2"><svg-icon [key]="'statistiques-info'"></svg-icon>Pour afficher les données de statut d’institution et de type de diplôme, veuillez sélectionner le type de paiement Inscription/réinscription</div>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-statut-institution'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Nombre de transactions par statut d’institution</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="paiementPipeChartInfoPerStatusEtablissement" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorSchemePerStatusEtablissement"
                [arcWidth]="0.5"
                [labelFormatting]="getLabelPerStatusEtablissement"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-statut-paiement'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Montant par statut du paiement</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="paiementPipeChartInfoPerStatus" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorSchemePerStatus"
                [arcWidth]="0.5"
                [labelFormatting]="getLabelPerStatus"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenants-diplome'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants par diplôme</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="paiementPipeChartInfoPerTypeDiplome" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorSchemePerTypeDiplome"
                [arcWidth]="0.5"
                [labelFormatting]="getLabelPerTypeDiplome"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
  <mat-tab label="Liste des paiements">
    <div fxLayout="column" class="px-3 pb-2 mt-2">
      <ngx-datatable
        fxHide fxShow.gt-xs="true"
        #table
        class="material"
        [rows]="pageRows"
        [count]="total"
        [offset]="pageOffset"
        [limit]="pageSize"
        [externalPaging]="true"
        [sorts]="[sort]"
        [sortType]="'single'"
        [columnMode]="'force'"
        [headerHeight]="80"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [loadingIndicator]="loadingIndicator"
        [messages]="{
          emptyMessage: 'Aucune information',
          totalMessage: ' au total'
        }"
        (page)="onChangePage($event)"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column name="Statut du paiement" prop="paiementStatus" [headerClass]="'col-status'" [cellClass]="'col-status'">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.paiementStatus}}</ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Privé</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'"></ngx-datatable-column>
              </ngx-datatable>

          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'priveNumberOfTransactions'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'priveMontant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Publique</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'"></ngx-datatable-column>
              </ngx-datatable>

          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'publiqueNumberOfTransactions'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'publiqueMontant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Total</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'"></ngx-datatable-column>
              </ngx-datatable>

          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'totalNumberOfTransactions'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'totalMontant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel 
            *ngFor="let row of pageRows"
            class="mx-2 table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>{{row.paiementStatus}}</mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.priveNumberOfTransactions}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.priveMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.publiqueNumberOfTransactions}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.publiqueMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.totalNumberOfTransactions}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.totalMontant}}</span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator 
          style="background: transparent"
          [length]="total"
          [pageSize]="pageSize" 
          (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>