<app-content-header 
  [customIcon]="'menu-bourse-payment'"
  [title]="'Paiement des bourses'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="exportPayments()">
      <mat-icon>save_alt</mat-icon> Exporter paiement des bourses
    </button>
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Session" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademiqueId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Trimestre" [values]="trimestreList" 
            idField="id" valueField="name" formControlName="bourseTrimestreId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Mois" [values]="moisAnneeList" 
            idField="value" valueField="name" formControlName="moisAnnee">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="prefectureId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programmeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut biométrique" [values]="biometricList" 
            idField="value" valueField="name" formControlName="biometricStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Date Paiement</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Genre de l’apprenant" [values]="genreList" 
            idField="id" valueField="name" formControlName="genre">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtude">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type de diplôme" [values]="typeDiplomeList" 
            idField="id" valueField="name" formControlName="typeDiplome">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="residencePrefecture">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="64" class="px-2">
    <span class="title text-bold">Vue d’ensemble</span>
    <div class="mb-2">Dernière actualisation de détermination des bourses : {{currentAnneeAcademique?.dateDerniereActualisation | dateFormat: 'DD/MM/YYYY, h:mm a'}}</div>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="32" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Montant total</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementBourseStatistiques?.montantTotalStr}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Montant à payer</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementBourseStatistiques?.toPayMontantTotalStr}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Montant payé</div>
            <div class="title text-bold" fxLayoutAlign="center">{{paiementBourseStatistiques?.paidMontantTotalStr}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <span class="title text-bold">Paiement</span>
    <div class="mb-2"><svg-icon [key]="'statistiques-info'"></svg-icon>Pour afficher les chiffres, veuillez sélectionner une session, et un trimestre ou un mois dans les filtres</div>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="49" class="mb-3 mr-3">
        <mat-card class="custom-card" style="background: #FFE7BB50; height: 160px;">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenant-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Apprenants ayant une bourse</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}} / {{paiementBourseStatistiques?.numberOfStudents}}</h1>
          </mat-card-content>
          <mat-card-footer class="px-2" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}} : Apprenants ayant une bourse</div>
            <div>{{paiementBourseStatistiques?.numberOfStudents}} : Apprenants total</div>
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="49" class="mb-3">
        <mat-card class="custom-card" style="background: #E7FFFC50; height: 160px">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-non-admissible-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Apprenants non admissible</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfStudentsWithNonAdmissibleBourse}} / {{paiementBourseStatistiques?.numberOfStudents}}</h1>
          </mat-card-content>
          <mat-card-footer class="px-2" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithNonAdmissibleBourse}} : Apprenants non admissible</div>
            <div>{{paiementBourseStatistiques?.numberOfStudents}} : Apprenants total</div>
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="49" class="mb-3 mr-3">
        <mat-card class="custom-card" style="background: #FFEBEB50; height: 160px">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-future-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Nombre de bourses à venir</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfStudentsWithFutureBourse}}</h1>
          </mat-card-content>
          <mat-card-footer *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="49" class="mb-3">
        <mat-card class="custom-card" style="background: #33333309; height: 160px">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-number-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Nombre de type de bourses</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfBourses}}</h1>
          </mat-card-content>
          <mat-card-footer *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="49" class="mr-3 mb-3">
        <mat-card class="custom-card" style="background: #FFEDE0; height: 160px">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-to-pay-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Nombre d’apprenants à payer</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfStudentsWithToPayBourse}} / {{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}}</h1>
          </mat-card-content>
          <mat-card-footer class="px-2" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithToPayBourse}} : Apprenants à payer</div>
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}} : Apprenants ayant une bourse</div>
          </mat-card-footer>
        </mat-card>
      </div>
      <div fxFlex="49">
        <mat-card class="custom-card" style="background: #FFFFFF; height: 160px">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-paid-bourse'" fontSize="55px"></svg-icon></div>
                <div class="title">Nombre d’apprenants payés</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <h1>{{paiementBourseStatistiques?.numberOfStudentsWithPaidBourse}} / {{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}}</h1>
          </mat-card-content>
          <mat-card-footer class="px-2" *ngIf="paiementBourseStatistiques?.showPaiementNumbers">
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithPaidBourse}} : Apprenants payés</div>
            <div>{{paiementBourseStatistiques?.numberOfStudentsWithActiveBourse}} : Apprenants ayant une bourse</div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxFlex="36" class="p-2">
    <mat-card class="custom-card">
      <mat-card-content>
        <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
          <mat-tab label="Bourses par montant">
            <div class="text-bold text-center title mt-3">Nombre de bourses par montant</div>
            <div class="text-italic text-center title">(Prend en comptes les filtres)</div>
            <div fxLayout="column" class="px-3 pb-2 mt-2">
              <ngx-datatable
                #table1
                fxHide fxShow.gt-xs="true"
                class="material"
                [limit]="10"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="'auto'"
                [rows]="boursesParMontant"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Nom de la bourse" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nombre de bourses" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.count}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab label="Bourses par genre">
            <div class="text-bold text-center title mt-3">Nombre de bourses par genre</div>
            <div class="text-italic text-center title">(Prend en comptes les filtres)</div>
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="boursesParGender" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorScheme2"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
          </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
  <mat-tab label="Liste des bourses">
    <div fxLayout="column" class="px-3 pb-2 mt-2">
      <ngx-datatable
        fxHide fxShow.gt-xs="true"
        #table
        class="material"
        [rows]="pageRows"
        [count]="total"
        [offset]="pageOffset"
        [limit]="pageSize"
        [externalPaging]="true"
        [sorts]="[sort]"
        [sortType]="'single'"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [loadingIndicator]="loadingIndicator"
        [messages]="{
          emptyMessage: 'Aucune information',
          totalMessage: ' au total'
        }"
        (page)="onChangePage($event)"
        (sort)="onSort($event)"
      >

        <ngx-datatable-column name="INA">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantINA}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prénom">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantFirstName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nom">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Préfecture">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionPrefectureName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Institution">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantInstitutionName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Session">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseSessionName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Mois">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.moisAnneeName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Montant">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Statut">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Statut biométrique">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.biometricStatus}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date Paiement">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.datePaiement}}</ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel 
            *ngFor="let row of pageRows"
            class="mx-2 table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>{{row.etudiantINA}}</mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">INA</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantINA}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Prénom</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantFirstName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nom</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Préfecture</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionPrefectureName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Institution</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantInstitutionName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Session</span>
              <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseSessionName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Mois</span>
              <span fxFlex="50" class="px-2 text-right">{{row.moisAnneeName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.montant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Statut</span>
              <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Statut biométrique</span>
              <span fxFlex="50" class="px-2 text-right">{{row.biometricStatus}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Date Paiement</span>
              <span fxFlex="50" class="px-2 text-right">{{row.datePaiement}}</span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator 
          style="background: transparent"
          [length]="total"
          [pageSize]="pageSize" 
          (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Tableau des bourses par institution et statut">
    <div fxLayout="column" class="px-3 pb-2 mt-2">
      <ngx-datatable
        #institutionTable
        fxHide fxShow.gt-xs="true"
        [offset]="institutionPageOffset"
        (page)="onChangeInstitutionPageNgxTable($event)"
        class="material"
        [count]="institutionTotal"
        [externalPaging]="true"
        [limit]="10"
        [columnMode]="'force'"
        [headerHeight]="80"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="institutionRows"
        [sorts]="[{prop: 'institution', dir: 'asc'}]"
        [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}"
        [loadingIndicator]="loadingIndicator">

        <ngx-datatable-column name="Institution" prop="institution">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.institution}}</ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">A venir</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'futurePaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'futurePaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">A payer</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'toPayPaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'toPayPaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Payé</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'paidPaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'paidPaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Non admissible</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'nonAdmissiblePaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'nonAdmissiblePaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Archivé</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'archivePaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                    <ngx-datatable-column [prop]="'archivePaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [headerClass]="'col-header'" [cellClass]="'col-header'">
          <ng-template let-row="row" ngx-datatable-header-template>
              <div class="w-100 text-center border-bottom">Total</div>
              <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="undefined" [footerHeight]="undefined">
                  <ngx-datatable-column [name]="'Nombre'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'"></ngx-datatable-column>
                  <ngx-datatable-column [name]="'Montant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'"></ngx-datatable-column>
              </ngx-datatable>
  
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
                <ngx-datatable [rows]="[row]" [columnMode]="'force'" [headerHeight]="undefined" [rowHeight]="'auto'" [footerHeight]="undefined">
                    <ngx-datatable-column [prop]="'totalPaiementBourseNumber'" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">{{row.totalPaiementBourseNumber}}</ngx-datatable-column>
                    <ngx-datatable-column [prop]="'totalPaiementBourseMontant'" [headerClass]="'col-montant'" [cellClass]="'col-montant'">{{row.totalPaiementBourseMontant}}</ngx-datatable-column>
                </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    
      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel 
            *ngFor="let row of institutionPagedRows"
            class="table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title><span class="flex-text-ellipsis">{{row.institution}}</span></mat-panel-title>
            </mat-expansion-panel-header>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.futurePaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.futurePaiementBourseMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.toPayPaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.toPayPaiementBourseMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.paidPaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.paidPaiementBourseMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.nonAdmissiblePaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.nonAdmissiblePaiementBourseMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.archivePaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.archivePaiementBourseMontant}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nombre</span>
              <span fxFlex="50" class="px-2 text-right">{{row.totalPaiementBourseNumber}}</span>
            </div>
    
            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Montant</span>
              <span fxFlex="50" class="px-2 text-right">{{row.totalPaiementBourseMontant}}</span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    
        <mat-paginator 
          style="background: transparent"
          [length]="institutionTotal"
          [pageIndex]="institutionPageOffset"
          [pageSize]="10" 
          (page)="onChangeInstitutionPageMaterial($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>