<app-content-header 
  [customIcon]="'statistiques-apprenant'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
    </div>
    <div fxLayout="row">
    </div>
  </mat-toolbar>

  <nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
    <a *ngFor="let nav of navs"
      mat-tab-link 
      class="mat-tab-label"
      [disableRipple]="true"
      [routerLink]="nav.routerLink" 
      routerLinkActive="mat-tab-label-active" 
      #rla="routerLinkActive" [active]="rla.isActive">
      {{ nav.label }}
    </a>
  </nav>
  
<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchEmail formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPhone formControlName="phone" placeholder="Numéro de téléphone">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type Programme" [values]="typeProgrammeList" 
            idField="id" valueField="name" formControlName="typeProgramme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchMatricule formControlName="matricule" placeholder="Matricule">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Période" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademique">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtude">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type de diplôme" [values]="typeDiplomeList" 
            idField="id" valueField="name" formControlName="typeDiplome">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="status">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
            idField="id" valueField="name" formControlName="statusEtablissement">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut biométrique" [values]="biometricList" 
            idField="value" valueField="name" formControlName="biometricStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Dates d’enrôlement</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="createFrom" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="createTo" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Préfecture de résidence" [values]="prefectureList" 
            idField="id" valueField="name" formControlName="residencePrefecture">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Redoublement l’année précédente" [values]="redoublementStatusList" 
            idField="value" valueField="name" formControlName="redoublementStatus">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="100" class="px-2">
    <span class="title text-bold">Vue d’ensemble</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Total des apprenants</div>
            <div class="title text-bold" fxLayoutAlign="center">{{incriptionStatistiquesOverview?.numberOfApprenants}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Total inscrit public / privé</div>
            <div class="title text-bold" fxLayoutAlign="center">{{incriptionStatistiquesOverview?.numberOfPublicAdmission}} / {{incriptionStatistiquesOverview?.numberOfPrivateAdmission}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mr-3 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Total biométrisé</div>
            <div class="title text-bold" fxLayoutAlign="center">{{incriptionStatistiquesOverview?.numberOfBiometrise}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="24" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div class="title" fxLayoutAlign="center">Biométrisé hommes / femmes</div>
            <div class="title text-bold" fxLayoutAlign="center">{{incriptionStatistiquesOverview?.numberOfMaleBiometrise}} / {{incriptionStatistiquesOverview?.numberOfFemaleBiometrise}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <span class="title text-bold mb-2">Inscription et enrôlement</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-inscription-status'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Statut d’inscription</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="incriptionStatistiquesPerStatus" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="false" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorScheme"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-apprenant-region'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants inscrits par région d’admission</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-bar-vertical
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="incriptionStatistiquesPerRegion"
                  [gradient]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="false"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false">
              </ngx-charts-bar-vertical>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-inscription-prefecture'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants inscrits par préfecture</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table1
                fxHide fxShow.gt-xs="true"
                style="height: 260px"
                class="material"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [scrollbarV]="true"
                [rowHeight]="40"
                [rows]="incriptionStatistiquesPerPrefecture"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Préfecture" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nombre d’apprenants" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.value}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-inscription-jour'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants enrôlés par jour</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-line-chart   
                  [results]="timelineChartData" 
                  [view]="view"
                  [autoScale]="true"
                  [timeline]="true"
                  [gradient]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="false"
                  [showXAxisLabel]="false"
                  [showYAxisLabel]="false">
                </ngx-charts-line-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3 mr-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-inscription-niveau-acces'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants enrôlés par niveau d’accès</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div class="w-100">
              <ngx-charts-pie-chart class="chart-container"  
                [results]="incriptionStatistiquesPerNiveauAcces" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorScheme"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="32" class="mb-3">
        <mat-card class="custom-card">
          <mat-card-header class="p-1">
            <mat-card-title>
              <div fxLayout="row">
                <div><svg-icon [key]="'statistiques-inscription-institution'" fontSize="45px"></svg-icon></div>
                <div class="title mt-2">Apprenants enrôlés par institution(toutes les données)</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutAlign="center">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="incriptionStatistiquesPerInstitution"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Institution" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nombre d’apprenants" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.value}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Matricule" prop="matricule" [headerClass]="'col-matricule'" [cellClass]="'col-matricule'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column name="Prénom & Nom" prop="etudiantName" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type de diplome" prop="typeDiplomeName" [headerClass]="'col-nom'" [cellClass]="'col-nom'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDiplomeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution" prop="institutionName" [headerClass]="'col-institution'" [cellClass]="'col-institution'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Localisation" prop="localisation">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.localisation}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Programme" prop="programmeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Période" prop="anneeAcademiqueName" [headerClass]="'col-periode'" [cellClass]="'col-periode'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau" prop="niveauEtudeName" [headerClass]="'col-niveau'" [cellClass]="'col-niveau'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Frais" prop="displayedFrais" [headerClass]="'col-frais'" [cellClass]="'col-frais'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedFrais}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" [headerClass]="'col-status'" [cellClass]="'col-status'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Statut biométrique" prop="biometricStatus">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.biometricStatus}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">
          Ouvrir
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.identifiantNationalEleve}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Matricule</span>
          <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom & Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Localisation</span>
          <span fxFlex="50" class="px-2 text-right">{{row.localisation}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>
        
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Période</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Frais</span>
          <span fxFlex="50" class="px-2 text-right">{{row.displayedFrais}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut biométrique</span>
          <span fxFlex="50" class="px-2 text-right">{{row.biometricStatus}}</span>
        </div>
        
        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2">
          </div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">
              Ouvrir
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
