:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-matricule,
    .datatable-body-cell.col-matricule {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-nom,
    .datatable-body-cell.col-nom {
      max-width: 200px !important;
    }

    .datatable-header-cell.col-institution,
    .datatable-body-cell.col-institution {
      max-width: 160px !important;
    }

    .datatable-header-cell.col-periode,
    .datatable-body-cell.col-periode {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-niveau,
    .datatable-body-cell.col-niveau {
      max-width: 110px !important;
    }

    .datatable-header-cell.col-frais,
    .datatable-body-cell.col-frais {
      max-width: 110px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-nombre-par-montant,
    .datatable-body-cell.col-nombre-par-montant {
      min-width: 200px !important;
      overflow-wrap: break-word !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
    }

    .datatable-header-cell.col-nombre,
    .datatable-body-cell.col-nombre {
      min-width: 200px !important;
      overflow-wrap: break-word !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
      text-align: right !important;
    }

    .chart-container {
      display: block;
      position: relative;
      padding: 0;
    }
    
    .w100 {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
    }
  }
}