<app-content-header 
  [customIcon]="'menu-school-kit'"
  [title]="'Dashboard kits scolaires'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Session" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademique">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Niveau" [values]="niveauEtudeList" 
            idField="id" valueField="name" formControlName="niveauEtude">
          </autocomplete>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="100" class="px-2">
    <span class="subheading-1 text-bold">Vue d’ensemble</span>
    <div fxLayout="row" fxLayout.gt-xs="row wrap" class="mb-3">
      <div fxFlex="19" class="mr-2 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div fxLayoutAlign="center">Total des kits distribués</div>
            <div class="text-bold" fxLayoutAlign="center">{{schoolKitStatistiquesOverview?.totalDistributedSchoolKits}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="19" class="mr-2 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div fxLayoutAlign="center">Total des outils distribués</div>
            <div class="text-bold" fxLayoutAlign="center">{{schoolKitStatistiquesOverview?.totalDistributedSchoolSupplies}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="19" class="mr-2 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div fxLayoutAlign="center">Nombre d’apprenants</div>
            <div class="text-bold" fxLayoutAlign="center">{{schoolKitStatistiquesOverview?.numberOfStudents}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="19" class="mr-2 mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div fxLayoutAlign="center">Nombre d’institutions</div>
            <div class="text-bold" fxLayoutAlign="center">{{schoolKitStatistiquesOverview?.numberOfInstitutions}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="19" class="mt-3">
        <mat-card class="custom-card">
          <mat-card-content>
            <div fxLayoutAlign="center">Nombre de programmes</div>
            <div class="text-bold" fxLayoutAlign="center">{{schoolKitStatistiquesOverview?.numberOfPrograms}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="50" class="p-2">
    <mat-card class="custom-card">
      <div fxLayout="row">
        <div class="subheading-1 mt-2">% des kits par niveau</div>
      </div>
      <mat-card-content fxLayoutAlign="center">
        <div class="w-100">
          <ngx-charts-pie-chart class="chart-container"  
                [results]="schoolKitStatistiquesPerNiveau" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorScheme2"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" class="p-2">
    <mat-card class="custom-card">
      <div fxLayout="row">
        <div class="subheading-1 mt-2">% des états des outils</div>
      </div>
      <mat-card-content fxLayoutAlign="center">

        <div class="w-100">
          <ngx-charts-pie-chart class="chart-container"  
                [results]="schoolSupplyStatistiquesPerStatus" 
                [legend]="true"
                [explodeSlices]="false" 
                [labels]="true" 
                [doughnut]="true" 
                [gradient]="true" 
                [tooltipDisabled]="false"
                [legendPosition]="legendPosition"
                [scheme]="colorScheme2"
                [arcWidth]="0.5"
                [labelFormatting]="getLabel"></ngx-charts-pie-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="50" class="p-2">
    <mat-card class="custom-card">
      <mat-card-content>
        <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
          <mat-tab label="Nombre de kits par institution">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="schoolKitInfoPerInstitution"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Institution" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. apprenant" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfStudents}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. kits" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolKits}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab label="Nombre de kits par programme">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="schoolKitInfoPerProgramme"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Programme" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. apprenant" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfStudents}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. kits" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolKits}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Moyenne / appren." [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.averageNumberOfSchoolKits}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" class="p-2">
    <mat-card class="custom-card">
      <mat-card-content>
        <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
          <mat-tab label="État des outils par programme">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="schoolSupplyInfoPerProgramme"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Programme" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. apprenant" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfStudents}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb./% : état bon" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolGoodSupplies}} / {{row.percentageOfSchoolGoodSupplies}} %</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="état moyen" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolMediumSupplies}} / {{row.percentageOfSchoolMediumSupplies}} %</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="état mauvais" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolBadSupplies}} / {{row.percentageOfSchoolBadSupplies}} %</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab label="État moyen des outils">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="schoolSupplyInfoPerName"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Outils" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. apprenant" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfStudents}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. outils" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolSupplies}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="État : Mauvais" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.percentageOfSchoolBadSupplies}} %</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Moyen" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.percentageOfSchoolMediumSupplies}} %</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Bon" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.percentageOfSchoolGoodSupplies}} %</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab label="Moyenne d’outils par apprenant">
            <div fxLayout="column" class="w-100">
              <ngx-datatable
                #table2
                fxHide fxShow.gt-xs="true"
                class="material"
                style="height: 260px;"
                [scrollbarV]="true"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="0"
                [rowHeight]="80"
                [rows]="schoolSupplyInfoPerName"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
                
                <ngx-datatable-column name="Outils" [headerClass]="'col-nombre-par-montant'" [cellClass]="'col-nombre-par-montant'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. apprenant" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfStudents}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb. outils" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolSupplies}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Moyenne d’outils" [headerClass]="'col-nombre'" [cellClass]="'col-nombre'">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.averageNumberOfSchoolSupplies}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column" class="px-3 pb-2 mt-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >

    <ngx-datatable-column name="INA">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Programme">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Niveau">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nombre de kits">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolKits}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Kit(s)">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.schoolKits}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nombre d’outils">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numberOfSchoolSupplies}}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.identifiantNationalEleve}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.firstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.name}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Programme</span>
          <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Niveau</span>
          <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nombre de kits</span>
          <span fxFlex="50" class="px-2 text-right">{{row.numberOfSchoolKits}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Kit(s)</span>
          <span fxFlex="50" class="px-2 text-right">{{row.schoolKits}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nombre d’outils</span>
          <span fxFlex="50" class="px-2 text-right">{{row.numberOfSchoolSupplies}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>