:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-montant,
    .datatable-body-cell.col-montant {
      max-width: 150px !important;
    }

    .datatable-header-cell.col-header,
    .datatable-body-cell.col-header {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .datatable-header-cell.col-nombre-par-montant,
    .datatable-body-cell.col-nombre-par-montant {
      min-width: 200px !important;
      overflow-wrap: break-word !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
    }

    .datatable-header-cell.col-nombre,
    .datatable-body-cell.col-nombre {
      min-width: 150px !important;
      overflow-wrap: break-word !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: normal !important;
    }
  }
}

.chart-container {
  display: block;
  position: relative;
  padding: 0;
}

.w100 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}