<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar" >
  <div fxLayout="row">
    <button mat-button type="button" (click)="goBack()">
      <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
    </button>
  </div>
</mat-toolbar>

<mat-action-row class="px-3" *ngIf="allowAcceptOrRefuse()">
  <button mat-stroked-button style="color:red; border-color:red" type="button" (click)="onRefuse()">
    <svg-icon [key]="'refuse'" class="mr-2"></svg-icon> Refuser la demande de compte
  </button>
  <button mat-stroked-button style="color:green; border-color:green" type="button" (click)="onAccept()">
    <svg-icon [key]="'accept'" class="mr-2"></svg-icon> Autoriser la demande de compte
  </button>
</mat-action-row>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
  <mat-tab label="Profil">
    <form [formGroup]="form">      
      <div fxLayout="column" class="m-3">
        <mat-accordion multi="true">
          <mat-expansion-panel expanded hideToggle="false" disabled="true">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Informations personnelles du Fondateur (trice) ou du déclarant responsable</mat-panel-title>
            </mat-expansion-panel-header>
    
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 mt-3" *ngIf="model">
                <label>Numéro d’identification du compte : {{model?.identifiant}}</label>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 mt-3" *ngIf="false">
                <label>Statut biométrique : {{model?.biometricStatus}}</label>
              </div>
            </div>
            
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Prénom *" formControlName="firstName">
                  <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
                  <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
                </mat-form-field>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Nom *" formControlName="name">
                  <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
                  <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
                </mat-form-field>
              </div>
              
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">                
                <div class="mat-radio-group-container" >
                  <mat-radio-group formControlName="genreId" class="w-100">
                    <label>Sexe *</label>
                    <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
                  </mat-radio-group>
                  <mat-error style="font-size: 75%" *ngIf="form.controls.genreId.errors?.required 
                  && (form.controls.genreId.dirty || form.controls.genreId.touched)">Le sexe est requis</mat-error>
                </div>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput autocomplete="new-password" [matDatepicker]="dateNaissance" formControlName="dateNaissance" placeholder="Date de naissance *">
                  <mat-datepicker-toggle matSuffix [for]="dateNaissance">
                    <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dateNaissance disabled="false"></mat-datepicker>
                  <mat-error *ngIf="form.controls.dateNaissance.errors?.required">La date de naissance est requise</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
    
          <mat-expansion-panel expanded hideToggle="false" disabled="true">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Contacts et informations de connexion</mat-panel-title>
            </mat-expansion-panel-header>
    
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
                  <input matInput autocomplete="new-password" placeholder="Email *" formControlName="email" maxlength="255">
                  <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
                  <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
                </mat-form-field>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
                  <input matInput autocomplete="new-password" placeholder="Numéro de téléphone *" formControlName="phone">
                  <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
                  <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-action-row class="px-3">
          <button mat-raised-button color="primary" type="button" (click)="resetPassword()" *ngIf="allowResetPassword()">
            Réinitialiser le mot de passe
          </button>
          <button mat-raised-button color="primary" type="button" (click)="save()">
            Enregistrer
          </button>
        </mat-action-row>
      </div>
    </form>
  </mat-tab>
   
  <mat-tab label="Documents joints au profil" *ngIf="model">
    <div class="m-3">
      <ng-container *ngFor="let attachedDocument of attachedDemandeurDocuments; let i = index">
        <div class="row wrap mb-3" *ngIf="attachedDocument.fileName">
          <div class="row mb-2">
            {{attachedDocument.documentName}} (format {{attachedDocument.acceptedFormat}} ; max. {{attachedDocument.maxSize}} ko) *
          </div>
          <div class="row">
            <a (click)="openAttachedDemandeurDocument(attachedDocument)" class="color-blue">{{attachedDocument.fileName}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Demandes effectuées ou en cours" *ngIf="model">
    <div class="m-3">
      <ngx-datatable
        fxHide fxShow.gt-xs="true"
        class="material"
        [limit]="10"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="demandeList"
        [messages]="{emptyMessage: 'Aucune information', totalMessage: 'au total'}">

        <ngx-datatable-column name="Catégorie" prop="typeDemandeName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDemandeName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Type de demande" prop="agrementationName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.agrementationName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nom/Société" prop="demandeurName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.demandeurName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prénom" prop="demandeurFirstName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.demandeurFirstName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date de la demande" prop="creationTime">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Statut" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.status}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="color-blue" (click)="openDemandeDetail(row)">Ouvrir</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Agrément">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="color-blue" *ngIf="row.status === 'Delivré'" (click)="openCertificateDocument(row)">Télécharger</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let row of demandeList" class="mx-2 table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>{{row.demandeurFirstName}} {{row.demandeurName}}</mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Catégorie</span>
              <span fxFlex="50" class="px-2 text-right">{{row.typeDemandeName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Type de demande</span>
              <span fxFlex="50" class="px-2 text-right">{{row.agrementationName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Nom/Société</span>
              <span fxFlex="50" class="px-2 text-right">{{row.demandeurName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Prénom</span>
              <span fxFlex="50" class="px-2 text-right">{{row.demandeurFirstName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="p-2 text-bold">Date de la demande</span>
              <span fxFlex="50" class="px-2 text-right">{{row.creationTime}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="p-2 text-bold">Statut</span>
              <span fxFlex="50" class="px-2 text-right">{{row.status}}</span>
            </div>

            <mat-action-row class="px-2">
              <div fxFlex="50" class="px-2"></div>
              <div fxFlex="50" class="px-2">
                <button mat-raised-button type="button" color="primary" class="w-100" (click)="openDemandeDetail(row)">Ouvrir</button>
              </div>
            </mat-action-row>

            <mat-action-row class="px-2">
              <div fxFlex="50" class="px-2"></div>
              <div fxFlex="50" class="px-2">
                <button mat-raised-button type="button" color="primary" class="w-100" *ngIf="row.status === 'Delivré'" (click)="openCertificateDocument(row)">Télécharger</button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>