<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form">
      <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
            <input matInput placeholder="Email *" formControlName="email" maxlength="255">
            <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <mat-form-field class="w-100">
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
            <input matInput placeholder="Numéro de téléphone *" formControlName="phone">
            <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
            <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="px-2">
          <button mat-raised-button #submitButton
            type="button" class="pull-right"
            color="primary"
            (click)="onSubmit()">
            <span>Enregistrer</span>
          </button>
        </div>

        <mat-divider class="my-3 w-100" style="margin: 0 -24px 0; padding: 0 24px;"></mat-divider>

        <span class="px-2 primary-color headline" fxFlex="100">Informations</span>

        <div fxLayout="row wrap" fxFlex="100" class="px-2">
          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
            <label>INA</label>
            <span>{{student.identifiantNationalEleve}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
            <label>Sexe</label>
            <span>{{student.genreName}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField">
            <label>Date de naissance</label>
            <span>{{student.dateNaissance | dateFormat: 'DD/MM/YYYY'}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.lieuNaissance">
            <label>Lieu de naissance</label>
            <span>{{student.lieuNaissance}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.nationalite">
            <label>Nationalité</label>
            <span>{{student.nationalite}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.nomPere">
            <label>Nom du père</label>
            <span>{{student.nomPere}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.nomMere">
            <label>Nom de la mère</label>
            <span>{{student.nomMere}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.adresse">
            <label>Adresse</label>
            <span>{{student.adresse}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.ville">
            <label>Ville</label>
            <span>{{student.ville}}</span>
          </div>

          <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="33.3" class="p-2 readonlyField"
            *ngIf="student.pays">
            <label>Pays</label>
            <span>{{student.pays}}</span>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>