<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
    </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
    <a *ngFor="let nav of navs" mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
        routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
        {{ nav.label }}
    </a>
</nav>

<form [formGroup]="searchForm">
    <mat-card class="m-3 p-3 border">
        <mat-card-content>
            <div class="subheading-1 text-bold-500 color-green-dark">
                Filtres
            </div>

            <div fxLayout="row wrap" class="px-4">

                <div fxFlex="100" fxFlex.gt-xs="75" class="px-2">
                    <mat-form-field class="w-100">
                        <input matInput #searchName formControlName="name" placeholder="Nom">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                    <mat-slide-toggle class="my-3" labelPosition="after" formControlName="isActive">
                        Filtrer par statut actif
                    </mat-slide-toggle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<div fxLayout="row" class="px-3 mb-2">
    <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addDocument()">
            Ajouter un document
        </button>
    </div>
</div>

<div fxLayout="column" class="px-3 pb-2">
    <ngx-datatable fxHide fxShow.gt-xs="true" #table class="material" [rows]="pageRows" [count]="total"
        [offset]="pageOffset" [limit]="pageSize" [externalPaging]="true" [sorts]="[sort]" [sortType]="'single'"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
        [loadingIndicator]="loadingIndicator" [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }" (page)="onChangePage($event)" (sort)="onSort($event)">

        <ngx-datatable-column name="Nom" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Format(s) accepté(s)" prop="acceptedFormat">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.acceptedFormat}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Taille maximum (Mo)" prop="maxSize">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxSize}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nombre max. fichiers" prop="maxNumberOfFiles">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxNumberOfFiles}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Modèle" prop="referenceTemplateStatusName">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.referenceTemplateStatusName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actif" prop="status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="open(row)">
                    <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>

                <button mat-icon-button (click)="delete(row)">
                    <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let row of pageRows" class="table-expansion-panel">
                <mat-expansion-panel-header class="px-3">
                    <mat-panel-title><span class="flex-text-ellipsis">{{row.name}}</span></mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Actif</span>
                    <span fxFlex="50" class="px-2 text-right">
                        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                            {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                        </mat-icon>
                    </span>
                </div>

                <mat-action-row class="px-2">
                    <div fxFlex="50" class="px-2">
                        <button mat-raised-button type="button" color="warn" (click)="delete(row)"
                            class="w-100">Supprimer</button>
                    </div>

                    <div fxFlex="50" class="px-2">
                        <button mat-raised-button type="button" color="primary" (click)="open(row)"
                            class="w-100">Modifier</button>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator style="background: transparent" [length]="total" [pageSize]="pageSize"
            (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
        </mat-paginator>
    </div>
</div>