<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
        <mat-form-field class="w-100">
          <mat-label>Nom du document *</mat-label>
          <input matInput formControlName="name">

          <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le name est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
          {{form.controls.status.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="30">
        <label>Format acceptés* :</label>
      </div>
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="70">
        <mat-checkbox formControlName="isPdf" class="mr-4">pdf</mat-checkbox>
        <mat-checkbox formControlName="isJpg" class="mr-4">jpg</mat-checkbox>
        <mat-checkbox formControlName="isJpeg" class="mr-4">jpeg</mat-checkbox>
        <mat-checkbox formControlName="isPng" class="mr-4">png</mat-checkbox>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="100">
        <mat-form-field class="w-100">
          <mat-label>Taille maximum (Mo) *</mat-label>
          <input matInput formControlName="maxSize">
          <mat-error *ngIf="form.controls.maxSize.errors?.required">La taille maximum est requise</mat-error>
          <mat-error *ngIf="form.controls.maxSize.hasError('pattern')">La taille maximum doit être un nombre</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="my-2">
      <div fxFlex="100" class="px-2 mt-3" fxFlex.gt-xs="30">
        <label>Nombre de fichiers maximum* :</label>
      </div>
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="20">
        <angular-input-counter [min]="0" [max]="10" [step]="1" [readonly]="true" formControlName="maxNumberOfFiles" [color]="'primary'"></angular-input-counter>
      </div>
    </div>

    <div fxLayout="row" class="my-2">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="30">
        <label>Ajouter un modèle* :</label>
      </div>
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="70">
        <mat-slide-toggle formControlName="referenceTemplateStatus" class="my-0" labelPosition="after">
          {{form.controls.referenceTemplateStatus.value ? 'Oui' : 'Non'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="my-3" *ngIf="!isCreation">
      <div fxFlex="100" class="px-2 mt-2" fxFlex.gt-xs="30">
        <label>Importer un modèle* :</label>
      </div>
      <div fxFlex="100" class="px-2 row" fxFlex.gt-xs="70">
        <button mat-raised-button color="secondary" type="button" (click)="uploadFile()" class="mr-3">
          Choisir le fichier
        </button>
        <input type="file" name="file" style="display:none" id="fileSelector" (change)="onFileUpload($event)"
          accept="*.*" placeholder="Choisir le fichier">
        <label>{{fileName}}</label>
        <button mat-icon-button (click)="deleteFile()" *ngIf="hasFile">
          <svg-icon [key]="'delete'" fontSize="14px"></svg-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>