<form [formGroup]="form">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="button" preventDoubleClick (throttledClick)="onDelete()">
        <svg-icon [key]="'delete'" class="mr-2"></svg-icon> Supprimer
      </button>

      <button mat-button type="button" preventDoubleClick (throttledClick)="onSubmit()">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <div fxLayout="row" class="my-3 px-4">
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="45">
      <mat-form-field class="w-100">
        <mat-label>Nom *</mat-label>
        <input matInput formControlName="name">

        <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le name est requis
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" class="px-2" fxFlex.gt-xs="40">
      <mat-form-field class="w-100">
         <mat-select placeholder="Type de demande *" formControlName="typeDemandeId">
          <mat-option (click)="changeForModification(item.name)" *ngFor="let item of typeDemandeList" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.typeDemandeId.errors?.required">Type de demande est requise</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="15" class="px-2">
      <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
        {{form.controls.status.value ? 'Actif' : 'Inactif'}}
      </mat-slide-toggle>
    </div>
  </div>
  <div fxLayout="row" class="px-4">
    <mat-slide-toggle formControlName="impactConfigurationInstitution"  class="ml-2"
      labelPosition="before" (change)="onImpactConfigurationInstitutionToggle($event)">
      Impacte la configuration de l'institution
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="isCenter"  class="ml-5"
      labelPosition="before" *ngIf="!impactConfigurationInstitution">
      Est un centre
    </mat-slide-toggle>
  </div>
  <div fxLayout="row" class="my-3 px-4">
    <label class="ml-2 labelsection">Sections de la demande : </label>
    <mat-slide-toggle *ngIf="!isModification" formControlName="hasDocuments" class="ml-3" labelPosition="before" (change)="onHasDocumentsToggle($event)">
      Documents
    </mat-slide-toggle>

    <mat-slide-toggle *ngIf="!isModification" formControlName="hasPersonnel" class="ml-5" labelPosition="before" (change)="onHasPersonnelToggle($event)">
      Personnel
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="hasAgrementPrealable" class="ml-5" labelPosition="before" (change)="onHasAgrementPrealableToggle($event)">
      Agrément préalable
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="requirePayment" class="ml-5" labelPosition="before">
      Paiement nécessaire
    </mat-slide-toggle>

    <mat-slide-toggle *ngIf="!isModification" formControlName="hasFormulaire" class="ml-5" labelPosition="before" (change)="onHasFormulaireToggle($event)">
      Formulaire
    </mat-slide-toggle>
  </div>
  <div fxLayout="row" class="my-3 px-4">
    <label class="ml-2 labelsection"></label>
    <mat-slide-toggle formControlName="hasProgrammesFormation" class="ml-3" labelPosition="before" (change)="onHasProgrammesFormationToggle($event)">
      Programmes de formation
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="hasPaymentReceipt" class="ml-3" labelPosition="before" (change)="onHasPaymentReceiptToggle($event)">
      Reçu de paiement
    </mat-slide-toggle>
  </div>

  <div fxLayout="row" class="my-3 ">
    <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true" class="w-100">
      <mat-tab label="Affichage">
        <div class="spaceItem">
          <div style="scale: 0.9;">
            <div fxLayout="row" class="px-2 mb-2">
              <div  fxFlex="100" fxFlex.gt-xs="100" fxLayoutAlign="start">
                <img src="{{_model?.logoUrl}}" alt="logo" height="100px" width="100px" class="mr-3 border rounded">
                <input type="file" name="file" style="display:none" id="logoSelector"
                      (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                      placeholder="Logo de l’agrement">
                <table>
                  <div class="mb-1 text-bold">Icone correspondant à la demande</div>
                  <button mat-raised-button color="secondary" type="button" (click)="uploadLogo()" class="mb-1" style="width: 140px;">
                    Choisir le fichier
                  </button>
                </table>
              </div>
            </div>

            <div fxLayout="row" class="px-2 mb-2">
              <div class="mt-2 mr-2 text-bold" style="width: 300px;">Template associé</div>
              <button mat-raised-button type="button" color="primary" (click)="selectTemplate()" style="width: 200px;">
                Sélectionner le template
              </button>
            </div>

            <div fxLayout="row" class="px-2 mb-2">
              <div class="mt-2 mr-2 text-bold" style="width: 300px;">Paramètres du certificat d’agrément</div>
              <button mat-raised-button type="button" color="primary" (click)="editParameter()" style="width: 200px;">
                Editer les paramètres
              </button>
            </div>

            <div fxLayout="row" class="px-2 mb-2">
              <div class="mt-2 mr-2 text-bold" style="width: 300px;">Durée de validité de l’agrémentation</div>
              <button mat-raised-button type="button" color="primary" (click)="addValidityPeriod()" style="width: 200px;">
                Editer les paramètres
              </button>
            </div>
          </div>
          <div id="HtmlTemplate">
            
            <!--here we inject the documentTemplate -->
          </div>
          
        </div>
      
      </mat-tab>
   
      <mat-tab label="Processus">
        <div class="tabprocess">
          <div class="leftside m-3">
            <div fxLayout="row" class="px-2 mb-2">
              <div class="mt-2 mr-2 text-bold">Nombre d’étapes de validation du processus (4 maximum)*</div>
              <button mat-raised-button type="button" class="boutonProcessus" color="primary" (click)="editProcessus()">
                Editer les étapes du processus
              </button>
            </div>

            <div>
              <ng-container *ngFor="let processStep of processStepList; let i = index">
                <div fxLayout="row" class="px-2 mb-1">
                  <div class="mt-2">
                    Étape {{i+1}}
                  </div>
                  <div>
                    <button mat-icon-button (click)="deleteProcessStep(processStep)">
                      <svg-icon [key]="'delete'" class="color-red mb-2" fontSize="18px"></svg-icon>
                    </button>
                  </div>
                </div>
                <div fxLayout="row" class="px-2 mb-2">
                  <div class="mt-2 mr-2">
                    Veuillez sélectionner le nombre de validateurs pour cette étape (3 maximum) *
                  </div>
                  <div>
                    <button mat-raised-button type="button" color="primary"(click)="editProcessStepValidator(processStep)">
                      Editer les validateurs de l’étape
                    </button>
                  </div>
                </div>
                <div>
                  <ng-container *ngFor="let processStepValidator of processStep.processStepValidators">
                    <div fxLayout="row" class="px-2 mb-1">
                      <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="20" class="p-2 readonlyField">
                        <label>Action de validation</label>
                        <span>{{processStepValidator.action}}</span>
                      </div>
                      <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="20" class="p-2 readonlyField">
                        <label>Type de compte atuorisé</label>
                        <span>{{processStepValidator.employeRoleName}}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="m-3 rightside">
            <div class="bloc1">
                <div class="bouton1">
               
                  <button type="button" class="radio1 bouton6"></button><br>
                  <span class="labledemandeur">{{demandeur}}</span>
                </div>
                <div class="separateur1">
                </div>
            </div>
            <ng-container *ngFor="let processStep of processStepList; last as isLast">
              <div class="bouton4" *ngIf="isLast">
               
                <button type="button" class="radio bouton6 refuse"></button>
                <div class="lable4">{{validator5}}</div>
              </div>
              <div class="bloc2">
                <ng-container *ngFor="let processStepValidator of processStep.processStepValidators">
                <div class="bouton3">
                  <button type="button" class="radio bluebutton"></button><br>
                  <div class="label3">{{processStepValidator.action}}</div>
                </div><br>
              </ng-container>
              </div>
              <div class="separateur3"*ngIf="!isLast">
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>
    
      <mat-tab label="Personnel administratif" *ngIf="hasPersonnel">
        <div class="m-3">
          <div class="margin">
            <select class="select" disabled>
              <option value="">Document obligatoire à fournir pour tous les membres du personnel adminsitratif (autres que ceux du tableau du personnel
              minimum)*</option>
            </select>
          </div>

          <div fxLayout="row" class="mb-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addPersonnelDocument()">
                Ajouter un document
              </button>
            </div>
          </div>

          <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [rows]="personnelDocumentList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Format(s) accepté(s)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.acceptedFormat}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Taille maximum (Mo)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxSize}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nombre max. fichiers">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxNumberOfFiles}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Modèle">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.referenceTemplateStatusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actif" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                  {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="editPersonnelDocument(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>

                <button mat-icon-button (click)="deletePersonnelDocument(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel *ngFor="let row of personnelDocumentList" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.name}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom</span>
                <span fxFlex="50" class="px-2 text-right">{{row.name}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Format(s) accepté(s)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.acceptedFormat}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Taille maximum (Mo)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxSize}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nombre max. fichiers</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxNumberOfFiles}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Modèle</span>
                <span fxFlex="50" class="px-2 text-right">{{row.referenceTemplateStatusName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Actif</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="warn" (click)="deletePersonnelDocument(row)"
                    class="w-100">Supprimer</button>
                </div>

                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" (click)="editPersonnelDocument(row)"
                    class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <div class="margin">
            <select class="select" disabled>
              <option value="">Si requis, membre du personnel administratif minimum devant être fournit</option>
            </select>
          </div>

          <div fxLayout="row" class="mb-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addPersonnelMember(true)">
                Ajouter un membre du personnel
              </button>
            </div>
          </div>

          <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [rows]="administratifPersonnelMemberList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Poste">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.poste}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Document(s) à fournir">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentNames}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actif" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                  {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="editPersonnelMember(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>

                <button mat-icon-button (click)="deletePersonnelMember(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel *ngFor="let row of administratifPersonnelMemberList" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.poste}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Poste</span>
                <span fxFlex="50" class="px-2 text-right">{{row.poste}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Document(s) à fournir</span>
                <span fxFlex="50" class="px-2 text-right">{{row.documentNames}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Actif</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="warn" (click)="deletePersonnelMember(row)"
                    class="w-100">Supprimer</button>
                </div>

                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" (click)="editPersonnelMember(row)"
                    class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </mat-tab>

      <mat-tab label="Personnel formateur" *ngIf="hasPersonnel && hasProgramme">
        <div class="m-3">
          <div class="margin">
            <select class="select" disabled>
              <option value="">Membre du personnel formateur et documents à fournir</option>
            </select>
          </div>
      
          <div fxLayout="row" class="my-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
              <button mat-raised-button type="button" color="primary" (click)="addPersonnelMember(false)">
                Ajouter un membre du personnel
              </button>
            </div>
          </div>
      
          <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [rows]="formateurPersonnelMemberList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
      
            <ngx-datatable-column name="Poste">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.poste}}</ng-template>
            </ngx-datatable-column>
      
            <ngx-datatable-column name="Document(s) à fournir">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentNames}}</ng-template>
            </ngx-datatable-column>
      
            <ngx-datatable-column name="Actif" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                  {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>
      
            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="editPersonnelMember(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>
      
                <button mat-icon-button (click)="deletePersonnelMember(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      
          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel *ngFor="let row of formateurPersonnelMemberList" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.poste}}</mat-panel-title>
              </mat-expansion-panel-header>
      
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Poste</span>
                <span fxFlex="50" class="px-2 text-right">{{row.poste}}</span>
              </div>
      
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Document(s) à fournir</span>
                <span fxFlex="50" class="px-2 text-right">{{row.documentNames}}</span>
              </div>
      
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Actif</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>
      
              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="warn" (click)="deletePersonnelMember(row)"
                    class="w-100">Supprimer</button>
                </div>
      
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" (click)="editPersonnelMember(row)"
                    class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </mat-tab>

      <mat-tab label="Documents" *ngIf="hasDocuments">
        <div class="m-3">
          <div fxLayout="row" class="px-2 mb-2">
            <div class="mt-2 mr-2 text-bold">Nombre de sections de documents (maximum 5)*</div>
            <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="editSections()">
              Editer les sections
            </button>
          </div>

          <div class="margin">
            <select class="select" disabled>
                <option value="">Sections de documents</option>
            </select>
          </div>

          <div>
            <ng-container *ngFor="let section of sections; let i = index">
              <div class="px-1" fxFlex.sm="{{sectionWidth}}" fxFlex.gt-sm="{{sectionWidth}}">
                <div>
                  Section {{i+1}}, révervé à : {{section.employeRoleName}}
                </div>
                <div>
                  {{section.name}}
                </div>
              </div>
            </ng-container>
          </div>
          
          <div class="margin">
            <select class="select" disabled>
                <option value="">Documents</option>
            </select>
          </div>

          <div fxLayout="row" class="mb-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
              <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="orderDocumentSection()" class="mr-2">
                Gérer l’ordre des documents
              </button>
              <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="addDocumentSection()">
                Ajouter un document
              </button>
            </div>
          </div>

          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="documentSectionList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Section">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.sectionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Format(s) accepté(s)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.acceptedFormat}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Taille maximum (Mo)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxSize}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nombre max. fichiers">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxNumberOfFiles}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Modèle">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.referenceTemplateStatusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actif" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                  {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button [disabled]="disableInputIfModification" mat-icon-button (click)="editDocumentSection(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>
        
                <button [disabled]="disableInputIfModification" mat-icon-button (click)="deleteDocumentSection(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of documentSectionList"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.documentName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom</span>
                <span fxFlex="50" class="px-2 text-right">{{row.documentName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Section</span>
                <span fxFlex="50" class="px-2 text-right">{{row.sectionName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Format(s) accepté(s)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.acceptedFormat}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Taille maximum (Mo)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxSize}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nombre max. fichiers</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxNumberOfFiles}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Modèle</span>
                <span fxFlex="50" class="px-2 text-right">{{row.referenceTemplateStatusName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Actif</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="warn" (click)="deleteDocumentSection(row)" class="w-100">Supprimer</button>
                </div>
      
                <div fxFlex="50" class="px-2">
                  <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="editDocumentSection(row)" class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </mat-tab>

      <mat-tab label="Agrément préalable" *ngIf="hasAgrementPrealable">
        <div class="m-3">
          <div class="text-bold mb-2">Agréments pouvant être un préalable à la demande de cet agrément. Seul les agréments faisant partie du même type de demande peuvent être sélectionnés :</div>
          <div fxLayout="row" class="mb-2">
            <button mat-raised-button type="button" color="primary" (click)="editAgrementPrealable()">
              Gérer les agréments préalables
            </button>
          </div>

          <div>
            <ng-container *ngFor="let targetAgrementation of targetAgrementations; let i = index">
              <div fxLayout="row" class="mb-1">
                <div>
                  <button mat-icon-button (click)="deleteAgrementPrealable(targetAgrementation)">
                    <svg-icon [key]="'delete'" class="color-red mb-2" fontSize="18px"></svg-icon>
                  </button>
                </div>
                <div class="mt-2">
                  {{targetAgrementation.typeName}} - {{targetAgrementation.name}}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Formulaire" *ngIf="hasFormulaire">
        <div class="m-3">
          <div fxLayout="row" class="px-2 mb-2">
            <div class="mt-2 mr-2 text-bold">Nombre de sections du formulaire (maximum 5)*</div>
            <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="editFormulaireSections()">
              Editer les sections
            </button>
          </div>

          <div class="margin">
            <select class="select" disabled>
                <option value="">Sections du formulaire</option>
            </select>
          </div>

          <div>
            <ng-container *ngFor="let formulaireSection of formulaireSections; let i = index">
              <div class="px-1" fxFlex.sm="{{formulaireSectionWidth}}" fxFlex.gt-sm="{{formulaireSectionWidth}}">
                <div>
                  Section {{i+1}}, réservé à : {{formulaireSection.employeRoleName}}
                </div>
                <div>
                  {{formulaireSection.name}}
                </div>
              </div>
            </ng-container>
          </div>

          <div class="margin">
            <select class="select" disabled>
                <option value="">Champs de formulaire</option>
            </select>
          </div>

          <div fxLayout="row" class="mb-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
              <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="orderFormulaireSectionChamp()" class="mr-2">
                Ordre des champs de formulaire
              </button>
              <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="addFormulaireSectionChamp()">
                Ajouter un champ de formulaire
              </button>
            </div>
          </div>

          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="formulaireSectionChampList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.champName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Section">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.formulaireSectionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Type de champs">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.champTypeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actif" prop="status">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                  {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button [disabled]="disableInputIfModification" mat-icon-button (click)="editFormulaireSectionChamp(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>
        
                <button [disabled]="disableInputIfModification" mat-icon-button (click)="deleteFormulaireSectionChamp(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of formulaireSectionChampList"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.champName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom</span>
                <span fxFlex="50" class="px-2 text-right">{{row.champName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Section</span>
                <span fxFlex="50" class="px-2 text-right">{{row.formulaireSectionName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Type de champs</span>
                <span fxFlex="50" class="px-2 text-right">{{row.champTypeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Actif</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2">
                  <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="warn" (click)="deleteFormulaireSectionChamp(row)" class="w-100">Supprimer</button>
                </div>
      
                <div fxFlex="50" class="px-2">
                  <button [disabled]="disableInputIfModification" mat-raised-button type="button" color="primary" (click)="editFormulaireSectionChamp(row)" class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>