.select {
    width: 100%;
    margin: 10px 0;
    background-color: rgb(18, 136, 233);
    border-radius: 25px;
    padding: 2px;
    color: white;
    font-weight: bold;
    height: 30px;
    padding-left: 15px;
}

.tabprocess {
    display: flex;
    width: auto;
    height: auto;
}

.bouton1,
.bouton2 {
    width: 40%;
    display: block;
    flex-direction: column;
    justify-content: space-around;
 

}

.leftside {
    width: 40%;
}

.rightside {
    display: flex;
    width: 60%;
    height: 160px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    align-items: center;

}

.radio1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #C4C4C4;
    border: none;
    cursor: pointer;
    margin-left: 14px;
    position: static;
    margin-top: 47px;
}

.radiohaut1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
     margin-top: -5px; 
}

.radiohaut2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: -20%;
}
.refuse{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    margin-top: 29px;
}

.radio {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
}

.bluebutton{
    background-color: #0288d1;
}

.lable1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 15px;
}

.labledemandeur {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.label3 {
    position: relative;
    left: 5%;
    margin-top: 7px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label3:hover{
    overflow: visible;
    z-index: 10;
}

.separateur1 {
    border-top-width: 2px;
    border-top-style: solid;
    content: "";
    display: inline-block;
    height: 0;
    border-color: #c4c4c4;
    width: 25%;
}

.separateur2 {
    border-top-width: 2px;
    border-top-style: solid;
    content: "";
    border-color: #C4C4C4;
    width: 15%;
}

.separateur3 {
    border-top-width: 2px;
    border-top-style: solid;
    content: "";
    height: 0;
    border-color: #C4C4C4;
    width: 5%;
    /* margin-top: 78px; */
}

.bloc1 {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;

}

.bloc2 {
 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: auto;
    justify-content: space-around;
    margin-top: 3%;
    align-items: center;
}

.bloc3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12%;

}

.bouton3 {
    display: flex;
    flex-direction: row;
}

.bouton6 {
    background-color: #C4C4C4;
}

.boutonProcessus {
    height: max-content;
}

.labelsection {
    min-width: 156px;
}
