<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-label class="mr-4">Couleur du TITRE 1 sur le recto du certificat (en code couleur hexadécimal)</mat-label>
        <mat-label>#</mat-label>
        <mat-form-field style="width: 230px;">
          <input matInput formControlName="certificateTitleColor" maxlength="6">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-label class="mr-4">Champs TITRE 1 (maximum 30 charactères)</mat-label>
        <mat-form-field style="width: 420px;">
          <input matInput formControlName="certificateTitle" maxlength="30">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateSubTitle" labelPosition="after">
          Afficher le champs SUITE TITRE 1
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <div>
          <mat-label>Champs SUITE TITRE 1 (maximum 50 charactères)</mat-label>
        </div>
        <mat-form-field class="w-100">
          <input matInput formControlName="certificateSubTitle" maxlength="50">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <div>
          <mat-label>Type d’école pour le nom :</mat-label>
        </div>
        <mat-form-field class="w-100">
          <mat-select formControlName="typeEcole">
            <mat-option *ngFor="let item of typeEcoleList" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateEncadre" labelPosition="after">
          Afficher l’Encadré
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <div>
          <mat-label>Champs Encadré (maximum 230 charactères)</mat-label>
        </div>
        <mat-form-field class="w-100">
          <textarea matInput formControlName="certificateEncadre" style="height: 50px; border:solid 1px;" maxlength="230"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateTexteDeLoi" labelPosition="after">
          Afficher Texte de loi
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <div>
          <mat-label>Champs Texte de loi (maximum 500 charactères)</mat-label>
        </div>
        <mat-form-field class="w-100">
          <textarea matInput formControlName="certificateTexteDeLoi" style="height: 50px; border:solid 1px;" maxlength="500"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateNoteTexteDeLoi" labelPosition="after">
          Afficher la note de texte de la loi
        </mat-slide-toggle>
      </div>
    </div>
    
    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <div>
          <mat-label>Champs de note de texte de loi (maximum 500 caractères)</mat-label>
        </div>
        <mat-form-field class="w-100">
          <textarea matInput formControlName="certificateNoteTexteDeLoi" style="height: 50px; border:solid 1px;"
            maxlength="500"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateLieuImplantation" labelPosition="after">
          Afficher lieu d’implantation
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateNiveauRecrutement" labelPosition="after">
          Afficher niveau(x) de recrutement
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateDiplomeAttendu" labelPosition="after">
          Afficher diplôme(s) attendu(s)
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateFiliereFormation" labelPosition="after">
          Afficher filière(s) de formation
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-slide-toggle formControlName="hasCertificateTypeAgrementVerso" labelPosition="after">
          Le type d’agrément au verso
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Type d’agrément" formControlName="typeAgrementVerso" maxlength="255">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>