<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error >{{error}}</mat-error>
    </div>
    
    <div fxLayout="row" class="my-3 px-2">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="p-2 readonlyField">
        <label>Type de champ *</label>
        <span>{{champ.name}}</span>
      </div>

      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="p-2 readonlyField">
        <label>Nom du champ *</label>
        <span>{{champ.typeName}}</span>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
        <span>Valeurs du champs *</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addValeur()">
          Ajouter une valeur
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="valeurs">
        <ng-container *ngFor="let valeurForm of valeurs.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1" [formGroup]="valeurForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
              <autocomplete class="w-100" placeholder="Nom de la valeur *" [values]="valeurList" 
                idField="id" valueField="name" formControlName="valeurId">
              </autocomplete>
            </div>
            <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
              <button mat-icon-button (click)="delete(i)">
                <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>