<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="my-3 w-100">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
        <mat-form-field class="w-100">
          <mat-label>Nom *</mat-label>
          <input matInput formControlName="name">

          <mat-error
            *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le
            name est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2" fxFlex.gt-xs="50">
        <mat-form-field class="w-100">
          <mat-select placeholder="Type de demande *" formControlName="typeDemandeId">
            <mat-option (click)="changeForModification(item.name)" *ngFor="let item of typeDemandeList"
              [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.typeDemandeId.errors?.required">Type de demande est requise</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <mat-slide-toggle formControlName="impactConfigurationInstitution" class="ml-2"
        labelPosition="before">
        Impacte la configuration de l'institution
      </mat-slide-toggle>
    </div>
    <div fxLayout="row" class="my-3 px-2">
      <label style="min-width: 156px;">Sections de la demande : </label>
      <mat-slide-toggle *ngIf="!isModification" formControlName="hasDocuments" class="ml-3" labelPosition="before">
        Documents
      </mat-slide-toggle>

      <mat-slide-toggle *ngIf="!isModification" formControlName="hasPersonnel" class="ml-3" labelPosition="before">
        Personnel
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasAgrementPrealable" class="ml-3" labelPosition="before">
        Agrément préalable
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="requirePayment" class="ml-3" labelPosition="before">
        Paiement nécessaire
      </mat-slide-toggle>

      <mat-slide-toggle *ngIf="!isModification" formControlName="hasFormulaire" class="ml-3" labelPosition="before">
        Formulaire
      </mat-slide-toggle>
    </div>
    <div fxLayout="row" class="my-3 px-2">
      <label style="min-width: 156px;"></label>
      <mat-slide-toggle formControlName="hasDocuments" class="ml-3" labelPosition="before">
        Programmes de formation
      </mat-slide-toggle>
    </div>

  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>