<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="column" class="p-3 pb-2">
  <div class="m-3">
    <div fxLayout="row" class="mb-2" fxLayoutAlign="end center">
      <button mat-raised-button type="button" color="primary" (click)="editDemandeurDocuments()">
        Gérer les documents de création de compte
      </button>
    </div>

    <div>
      <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="demandeurDocuments"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Format(s) accepté(s)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.acceptedFormat}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Taille maximum (Mo)">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxSize}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nombre max. fichiers">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.maxNumberOfFiles}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Obligatoire">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [ngClass]="row.isMandatory ? 'color-green' : 'color-grey'">
                  {{row.isMandatory ? 'toggle_on' : 'toggle_off'}}
                </mat-icon>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of demandeurDocuments"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.name}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom</span>
                <span fxFlex="50" class="px-2 text-right">{{row.documentName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Format(s) accepté(s)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.acceptedFormat}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Taille maximum (Mo)</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxSize}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nombre max. fichiers</span>
                <span fxFlex="50" class="px-2 text-right">{{row.maxNumberOfFiles}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Obligatoire</span>
                <span fxFlex="50" class="px-2 text-right">
                  <mat-icon [ngClass]="row.isMandatory ? 'color-green' : 'color-grey'">
                    {{row.isMandatory ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
  </div>
</div>
