<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
    </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
    <a *ngFor="let nav of navs" mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
        routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
        {{ nav.label }}
    </a>
</nav>

<div fxLayout="column" class="px-3 pb-2">
    <ngx-datatable 
    fxHide fxShow.gt-xs="true"
    class="material"
    [limit]="10"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="listOfDataFormation"
    [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

        <ngx-datatable-column name="Types de données">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valeurs">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.values}}</ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let row of listOfDataFormation" class="table-expansion-panel">
                <mat-expansion-panel-header class="px-3">
                    <mat-panel-title><span class="flex-text-ellipsis">{{row.typeName}}</span></mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" class="p-2">
                    <span fxFlex="30" class="px-2 text-bold">Valeurs</span>
                    <span fxFlex="70" class="px-2 text-right">{{row.values}}</span>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>