<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Sélectionner la section de formulaire *" formControlName="formulaireSectionId" (selectionChange)="onFormulaireSectionChange()">
            <mat-option *ngFor="let item of formulaireSections" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.formulaireSectionId.errors?.required">Section de formulaire est requise</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="100">
        <span>Veuillez effectuer un cliquer et déposer pour ordonner les champs, ou cliquer sur les icônes correspondantes</span>
      </div>
    </div>

    <div class="border rounded p-3">
      <div class="number-container">
        <div cdkDropList>
          <div class="number-box" *ngFor="let dto of formulaireSectionChamps; let i = index">
            {{i+1}}
          </div>
        </div>  
      </div>
      <div class="document-container">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="document-box" *ngFor="let dto of formulaireSectionChamps; let i = index" cdkDrag>
            {{dto.champName}}
            <div fxLayoutAlign="end center">
              <button mat-icon-button (click)="moveDown(i)" class="move-icon-button" *ngIf="allowMoveDown(i)">
                <mat-icon class="move-icon">arrow_downward</mat-icon>
              </button>
      
              <button mat-icon-button (click)="moveUp(i)" class="move-icon-button" *ngIf="allowMoveUp(i)">
                <mat-icon class="move-icon">arrow_upward</mat-icon>
              </button>

              <button mat-icon-button class="move-icon-button" *ngIf="i === 0" disabled>
              </button>
            </div>
          </div>
        </div>    
      </div> 
    </div>
    
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>