.move-icon-button {
    height: 18px;
    width: 25px;
    padding: 0 0 0 0;
}

.move-icon {
    font-size: 18px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.number-container {
    width: 50px;
    max-width: 100%;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
}

.number-box {
    padding: 5px 5px;
    border: solid 1px #51ABB3;
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: #487DE4;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    height: 40px;
}

.document-container {
    width: 650px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.document-box {
    padding: 5px 15px;
    border: solid 1px #51ABB3;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    height: 40px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}