<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error >{{error}}</mat-error>
    </div>
    
    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
        <mat-form-field class="w-100">
          <mat-label>Poste *</mat-label>
          <input matInput formControlName="poste">

          <mat-error *ngIf="form.controls.poste.errors?.required && (form.controls.poste.dirty || form.controls.poste.touched)">Le poste est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
          {{form.controls.status.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
        <span>Documents obligatoires pour ce poste *</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addPersonnelDocument()">
          Ajouter un document
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="personnelDocuments">
        <ng-container *ngFor="let personnelDocumentForm of personnelDocuments.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1" [formGroup]="personnelDocumentForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
              <mat-form-field class="w-100">
                <mat-select placeholder="Nom du document *" formControlName="personnelDocumentId">
                  <mat-option *ngFor="let item of personnelDocumentList" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
              <button mat-icon-button (click)="delete(i)">
                <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>