<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50" class="mt-2">
        <span>Étapes du processus (4 maximum) *</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addProcessStep()" *ngIf="allowAddProcessStep()">
          Ajouter une étape
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="processSteps">
        <ng-container *ngFor="let processStepForm of processSteps.controls; let i = index">
          <div fxLayout="row">
            <div class="px-1 mt-2 mr-4" [formGroup]="processStepForm">
              Étape {{i+1}}
            </div>
            <div>
              <button mat-icon-button (click)="delete(i)">
                <svg-icon [key]="'delete'" class="color-red mb-2" fontSize="18px"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>