<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error >{{error}}</mat-error>
    </div>
  
    <div fxLayout="row" class="mb-1">
      <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
        <span>Nombre de sections de documents (maximum 5) *</span>
      </div>
      
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="addSection()" *ngIf="allowAddSection()">
          Ajouter une section
        </button>
      </div>
    </div>

    <div class="border rounded p-3">      
      <ng-container formArrayName="sections">
        <ng-container *ngFor="let sectionForm of sections.controls; let i = index">
          <div fxLayout="row" [formGroup]="sectionForm">
            <div class="px-1" fxFlex="100" fxFlex.sm="45" fxFlex.gt-sm="45">
              <mat-form-field class="w-100">
                <mat-label>Nom de la section *</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="px-1" fxFlex="100" fxFlex.sm="45" fxFlex.gt-sm="45">
              <mat-form-field class="w-100">
                <mat-select placeholder="Type de compte atuorisé *" formControlName="employeRoleId">
                  <mat-option *ngFor="let item of employeRoleList" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
              <button mat-icon-button (click)="delete(i)">
                <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>