<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
        <mat-form-field class="w-100">
          <mat-label>Nom du document *</mat-label>
          <input matInput formControlName="name">

          <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le name est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
          {{form.controls.status.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="my-3">
      <div  fxFlex="100" fxFlex.gt-xs="100" fxLayoutAlign="start">
        <img *ngIf="!isCreation" src="{{model?.logoUrl}}" alt="logo" height="100px" width="100px" class="mr-3  rounded">
        <input *ngIf="!isCreation" type="file" name="file" style="display:none" id="logoSelector"
              (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
              placeholder="Logo de l’institution">
        <table *ngIf="!isCreation">
          <div class="mb-1">Icone correspondant au type de demande</div>
          <button mat-raised-button color="secondary" type="button" (click)="uploadLogo()" class="mb-1" style="width: 140px;">
            Choisir le fichier
          </button>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>