<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Veuillez entrer une durée*</mat-label>
          <input type='number' min="0" matInput formControlName="certificateValidityPeriod">
          <mat-error *ngIf="form.controls.certificateValidityPeriod.errors?.required &&
                            (form.controls.certificateValidityPeriod.dirty || form.controls.certificateValidityPeriod.touched)">
              La durée est requise
          </mat-error>
          <mat-error *ngIf="form.controls.certificateValidityPeriod.hasError('min')">La durée doit être supérieure à 0</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select formControlName="timeUnit">
            <mat-option *ngFor="let item of timeUnitsList" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.timeUnit.errors?.required">L'unité est requise</mat-error>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>