<div mat-dialog-title>{{data.title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100"class="px-2 mb-3 text-center" [innerHTML]="data.message">
      </div>
    </div>  
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        {{data.cancelBtnText ? data.cancelBtnText : 'Annuler'}}
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        [mat-dialog-close]="true">
        {{data.confirmBtnText ? data.confirmBtnText : 'Confirmer'}}
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>