<div mat-dialog-title>{{data.title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100"class="px-2 mb-3 text-center" [innerHTML]="data.message">
      </div>
    </div>  
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center" class="px-2">
    <div>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" *ngIf="!data.class">
        {{data.closeBtnText ? data.closeBtnText : 'OK'}}
      </button>
      <button mat-raised-button [mat-dialog-close]="true" [class]="data.class" *ngIf="data.class">
        {{data.closeBtnText ? data.closeBtnText : 'OK'}}
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>