<div mat-dialog-title>Modification du mot de passe</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        {{data.message}}
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 pb-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Entrez le mot de passe actuel *" 
            formControlName="password" type="password">
          <mat-error *ngIf="form.controls.password.errors?.required">Le mot de passe actuel est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap" class="mb-3">
      <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Entrez le nouveau mot de passe *" 
            formControlName="newPassword" type="password" maxlength="60">
          <mat-error *ngIf="form.controls.newPassword.errors?.required">Le nouveau mot de passe est requis</mat-error>
          <mat-error *ngIf="form.controls.newPassword.hasError('invalidPassword')">Le mot de passe doit contenir au minimum 8 caractères composés de chiffres, lettres dont une en majuscule</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Confirmez le nouveau mot de passe *" 
            formControlName="confirmPassword" type="password">
          <mat-error *ngIf="form.controls.confirmPassword.errors?.required">La confirmation du nouveau mot de passe est requise</mat-error>
          <mat-error *ngIf="form.controls.confirmPassword.hasError('mustEqual')">La confirmation du nouveau mot de passe est incorrecte</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        {{data.cancelBtnText ? data.cancelBtnText : 'Annuler'}}
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        {{data.confirmBtnText ? data.confirmBtnText : 'Modifier'}}
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>