<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content class="mb-2">
    <div fxLayout="row">
      <mat-card fxFlex="30" class="custom-card text-center mr-5">
        <mat-card-content fxLayoutAlign="center">
          <svg-icon [key]="'camera'" fontSize="72px"></svg-icon>
        </mat-card-content>
      </mat-card>

      <div fxFlex="70">
        <div fxLayout="row" class="px-2">
          <div fxFlex="100" class="p-2 readonlyField">
            <label>Nom</label>
            <span>{{payment.etudiantName}}</span>
          </div>
        </div>

        <div fxLayout="row" class="px-2">
          <div fxFlex="50" class="p-2 readonlyField">
            <label>INA</label>
            <span>{{payment.identifiantNationalEleve}}</span>
          </div>
      
          <div fxFlex="50" class="p-2 readonlyField">
            <label>Numéro de téléphone</label>
            <span>{{payment.phone}}</span>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="90" class="border rounded mt-5">
        <div class="bg-orange-dark p-2 text-center">
          <div fxLayout="row" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <div *ngIf="!isEditing">Reçu de transaction - {{payment.transactionId}}</div>
            <div *ngIf="isEditing">Reçu de transaction - </div>
            <mat-form-field *ngIf="isEditing" class="px-2 pt-3 pb-2">
              <input matInput formControlName="transactionId">
            </mat-form-field>
            <button mat-icon-button (click)="editTransaction()" *ngIf="!isEditing">
              <svg-icon [key]="'edit'" fontSize="14px"></svg-icon>
            </button>
            <button mat-icon-button (click)="saveTransaction()" *ngIf="isEditing">
              <svg-icon [key]="'save'" fontSize="14px"></svg-icon>
            </button>
          </div>
          <div>
            {{payment.etudiantName}} - {{payment.identifiantNationalEleve}}
          </div>
        </div>

        <div fxLayout="row wrap" class="px-4 py-2">
          <div fxFlex="50" class="p-2 readonlyField" *ngIf="payment.transactionTime">
            <label>Versement effectué le</label>
            <span>{{payment.transactionTime | date: 'd/M/yyyy, h:mm a'}}</span>
          </div>
      
          <div fxFlex="50" class="p-2 readonlyField">
            <label>Mode de paiement</label>
            <span>{{payment.operateur}}</span>
          </div>

          <div fxFlex="50" class="p-2 readonlyField" *ngIf="payment.processNumber">
            <label>N° de traitement</label>
            <span>{{payment.processNumber}}</span>
          </div>

          <div fxFlex="50" class="p-2 readonlyField" *ngIf="payment.institutionName">
            <label>Institution</label>
            <span>{{payment.institutionName}}</span>
          </div>

          <div fxFlex="50" class="p-2 readonlyField">
            <label>Statut</label>
            <span [ngClass]="{'color-green': isPaiementEffectue(), 'color-orange': isPaiementEchoue()}">{{payment.statusName}}</span>
          </div>

          <div fxFlex="100" class="p-2 readonlyField">
            <label>Paiement</label>
            <span>{{paymentDescription}}  &nbsp; -  &nbsp; {{payment.amount}} GNF </span>
          </div>

          <div fxFlex="100" class="p-2 readonlyField" *ngIf="payment.details">
            <label>Note</label>
            <span>{{payment.details}}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" 
    class="p-3" *ngIf="data.allowModifyPayment; else onlyCloseBtn">
    <div>
      <button mat-raised-button
        (click)="onClose()">
        Annuler
      </button>
    </div>

    <div>
      <button mat-raised-button
        [color]="isPaiementEffectue() ? 'accent' : 'primary'" 
        (click)="onConfirm()">
        {{isPaiementEffectue() ? 'Annuler le paiement' : 'Valider le paiement'}}
      </button>
    </div>
  </div>

  <ng-template #onlyCloseBtn>
    <div class="text-center my-3">
      <button mat-raised-button
        (click)="onClose()">
        Terminer
      </button>
    </div>
  </ng-template>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>