<div mat-dialog-title>{{data.title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="column">
      <div fxFlex="100" class="px-2">
        {{data.message}}
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="data.input">
        </mat-form-field>
      </div>

      <div *ngIf="data.additionalMessage" fxFlex="100" class="px-2 pb-2">
        {{data.additionalMessage}}
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        {{data.cancelBtnText ? data.cancelBtnText : 'Non'}}
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        [mat-dialog-close]="data.input">
        {{data.confirmBtnText ? data.confirmBtnText : 'Oui'}}
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>