<div mat-dialog-title>Bourses</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
      <div fxLayout="column" fxLayoutAlign="flex-start">
        <div class="my-1 text-center">
            <div class="ml-3 py-1">
                <div class="flex-container">
                    <div>
                        <p>Afin de pouvoir prochainement effectuer le paiement de votre bourse, vous devez obligatoirement renseigner vos informations de compte SmartPay.</p>
                        <p>Tant que ces informations ne seront pas fournies, votre compte ParcoursPro sera bloqué.</p>
                        <ul class="ml-3">
                            <p class="pb-1">
                              (1) Si vous n’avez pas de compte SmartPay, veuillez cliquer sur le bouton “Créer un compte SmartPay” ;
                            </p>
                            <p>
                              (2) Si vous avez déjà un compte SmartPay ou que vous venez de le créer, veuillez cliquer sur le bouton “Renseigner mon compte SmartPay”.
                            </p>
                        </ul>
                    </div>
                    <div class="button-container">
                        <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
                            <button mat-raised-button class="design-button button-add" type="button" (click)="redirectToCyclo()">
                                <div><svg-icon key="add-account-banking" fontSize="32px"></svg-icon></div>
                                <div>Créer un compte SmartPay</div>
                            </button>
                        </div>
                        <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
                            <button mat-raised-button color="primary" class="design-button" type="button" (click)="openDialog()">
                                <div><svg-icon key="edit-account-banking" fontSize="32px"></svg-icon></div>
                                <div>Renseigner mon compte SmartPay</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-1">
      <div > 
        <button mat-raised-button type="button" (click)="onClose()" color="primary">
          {{closeBtnText}}
        </button>
      </div>
    </div>
  </mat-dialog-content>  
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>