.design-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-wrapper {
    margin-bottom: 15px;
}
.button-wrapper-width{
    width: 40%;
    min-width: 40%;
    max-width: 40%;
}

.button-add {
    background-color: #5F9471 !important;
    color: white !important;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}