<app-content-header [customIcon]="'menu-bourse'" [title]="title" [hideBreadcrumb]="false" [hasBgImage]="true"
    [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div></div>
    <div fxLayout="row">
    </div>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="flex-start">
    <div class="my-3">
        <div class="ml-6 py-4">
            <span class="color-orange" style="font-size: 24px;">Bienvenue sur la page d'accueil des
                bourses</span>
            <div class="flex-container">
                <div>
                    <p>Afin de pouvoir recevoir votre bourse, vous devez vous créer un compte NSG-Banking.</p>
                    <ul class="ml-5">
                        <li class="pb-3">
                            <b>Si vous n'avez pas de compte</b>, veuillez cliquer sur le bouton &quot;Créer un compte
                            NSG
                            Banking&quot; pour
                            être redirigé vers la plateforme. Vous devrez ensuite renseigner ce compte sur ParcoursPro
                            Guinée.
                        </li>
                        <li>
                            <b>Si vous avez déjà un compte</b>, veuillez cliquer sur le bouton &quot;Renseigner mon
                            compte NSG Banking&quot;.
                        </li>
                    </ul>
                </div>
                <div class="button-container">
                    <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
                        <button mat-raised-button class="design-button button-add" type="button" (click)="redirectToCyclo()">
                            <div><svg-icon key="add-account-banking" fontSize="32px"></svg-icon></div>
                            <div>Créer un compte NSG Banking</div>
                        </button>
                    </div>
                    <div class="button-wrapper" ngClass.gt-sm="button-wrapper-width">
                        <button mat-raised-button color="primary" class="design-button" type="button" (click)="openDialog()">
                            <div><svg-icon key="edit-account-banking" fontSize="32px"></svg-icon></div>
                            <!-- <div><svg-icon key="add-account-banking" fontSize="24px"></svg-icon></div> -->
                            <div>Renseigner mon compte NSG Banking</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>