.main-card{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    width: 100%;

}

.horizontal{
    display: flex;
}

.vertical-line{
    border: 1px solid black;
    height: 100px;
}

.button{
    background-color: rgb(2,136,209);
    color: whitesmoke;
    padding: 5px 30px;
    cursor: pointer;
}