<div mat-dialog-title>Consulter mes bourses</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="m-3">
      <mat-accordion multi="true">
 
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="etudiantBourses"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom de la bourse" [width]="300" [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut" [width]="100" [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseStatusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Motif de changement de statut" [width]="500" [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.raisonStatutBourseName}}</ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of etudiantBourses"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.bourseName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom de la bourse</span>
                <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseStatusName}}</span>
              </div>
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Motif de changement de statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.raisonStatutBourseName}}</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        
      </mat-accordion>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
      <div > 
        <button mat-raised-button type="button" (click)="onClose()">
          Retour
        </button>
      </div>
    </div>
  </mat-dialog-content>  
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>