<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="column" fxLayoutAlign="flex-start">
  <div class="my-3">
    <div fxLayout="row" style="line-height: 1;" class="px-3 mb-2 mt-2">
      <div class="main-card border p-2">
        <div>
          <div>
            <span style="font-weight:bold; margin-right: 30px;">Statut boursier :</span> <span>{{bourseStatus}}</span>
          </div>
          <div class="ml-4">
            <p>{{bourseReason}}</p>
          </div>
        </div>
      </div>
    </div>

    <ngx-datatable fxHide fxShow.gt-xs="true" class="material m-3" [limit]="10" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="paiementBourses"
      [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

      <ngx-datatable-column name="Type de bourse">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Session">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseSessionName}}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mois">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.moisAnneeName}}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Montant">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}} GNF</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Statut">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mode de retrait">
        <ng-template let-row="row" ngx-datatable-cell-template>{{row.modePaiementName}}</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <mat-accordion fxHide fxShow.xs="true" multi="true">
      <mat-expansion-panel *ngFor="let row of paiementBourses" class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.bourseName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type de bourse</span>
          <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Session</span>
          <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseSessionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Mois</span>
          <span fxFlex="50" class="px-2 text-right">{{row.moisAnneeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}} GNF</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Mode de retrait</span>
          <span fxFlex="50" class="px-2 text-right">{{row.modePaiementName}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>