<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="row" class="px-2 text-center mt-3" fxLayoutAlign="center">
  Pour retirer vos bourses, veuillez choisir entre l’une des deux options suivantes.
</div>
<div fxLayout="row" class="px-2 text-center mb-3" fxLayoutAlign="center">
  Pour chacun de vos retrait, vous pouvez utilisez le mode de retrait que vous souhaitez.
</div>
<div fxLayout="row" class="px-2 text-center mb-3" fxLayoutAlign="center">
  <div fxFlex="40" style="padding: 5px; border: 1px solid black">
    <span class="text-bold">Montant disponible au retrait : {{montant}} GNF</span>
  </div>
</div>
<div fxLayout="row" class="px-2 mb-3">
  <div fxFlex="100" class="px-2">
    <div fxFlex="48.5" class="mr-3 mt-3">
      <mat-card class="custom-card">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <div fxLayoutAlign="center center"><svg-icon [key]="'ecobank'" fontSize="80px"></svg-icon></div>
            <div style="width: 100vw; padding: 5px; height: 25px; background-color: #4778BF; color: white; font-size: 16px;" class="text-center">
              Ecobank Xpress
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mb-5">
          <div fxLayout="row wrap" fxLayoutAlign="center" ngStyle.xs="height: 300px;">
            <div fxFlex="100" fxFlex.gt-xs="80">
              <li>votre compte Xpress pour gérer votre argent ;</li>
              <li>Profitez de multiples canaux de transfert et retrait de votre argent ;</li>
              <li>etc.</li>
            </div>
            <div fxFlex="100" fxLayoutAlign="center end" fxFlex.gt-xs="20">
              <div style="width: 103px; padding: 5px; height: 100px; background-color: #D97B34; color: white; font-size: 14px;" class="text-center" (click)="retirerViaEcobankXpress()">
                <div fxLayoutAlign="center center" class="my-2"><svg-icon [key]="'retirer-ecobank'" fontSize="30px"></svg-icon></div>
                Retirer via Ecobank Xpress
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="48.5" class="mt-3">
      <mat-card class="custom-card">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <div fxLayoutAlign="center center"><svg-icon [key]="'point-touch'" fontSize="80px"></svg-icon></div>
            <div style="width: 100vw; padding: 5px; height: 25px; background-color: #4778BF; color: white; font-size: 16px;" class="text-center">
              Touch Point
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mb-5">
          <div fxLayout="row wrap" fxLayoutAlign="center" ngStyle.xs="height: 300px;">
            <div fxFlex="100" fxFlex.gt-xs="80">
              <li>Faites un retrait rapide et facile en espèce ;</li>
              <li>De nombreux points de retrait proche des institutions d’enseignement;</li>
              <li>etc.</li>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="20" fxLayoutAlign="center end">
              <div style="width: 103px; padding: 5px; height: 100px; background-color: #D97B34; color: white; font-size: 14px;" class="text-center" (click)="retirerViaTouchPoint()">
                <div fxLayoutAlign="center center" class="my-2"><svg-icon [key]="'retirer-point-touch'" fontSize="30px"></svg-icon></div>
                Retirer via Touch Point
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>