<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="start end">
    <a routerLink="/login" class="w-100 mb-4 text-center">Retour à la page de connexion</a>
    
    <mat-form-field class="w-100">
      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
      <input matInput placeholder="Identifiant *" formControlName="identifiant">
      <mat-error *ngIf="form.controls.identifiant.errors?.required">L'identifiant est requis</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mb-3">
      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
      <input matInput placeholder="Email ou Numéro de téléphone *" formControlName="emailOrPhone">
      <mat-error *ngIf="form.controls.emailOrPhone.errors?.required">Ce champ est obligatoire</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" style="width: 120px" class="mat-elevation-z6 mt-3" type="submit" [disabled]="loading">
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
      <span>Envoyer</span>
    </button>
  </div>
</form>