<div mat-dialog-title>{{data.title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        {{data.message}}
      </div>

      <ng-container *ngIf="isImportResultsBAC()">
        <div fxFlex="70" class="px-2">
          <autocomplete placeholder="Option du BAC" [values]="data.optionsBACList" 
            idField="id" valueField="name" formControlName="idOptionBAC" [required]="true">
          </autocomplete>
        </div>

        <div fxFlex="30" class="px-2" *ngIf="!data.isDownloadTemplate">
          <mat-form-field class="w-100">
            <input matInput placeholder="Session *" formControlName="sessionBAC">
            <mat-error *ngIf="form.controls.sessionBAC.errors?.required">La session est requise</mat-error>
            <mat-error *ngIf="form.controls.sessionBAC.hasError('pattern')">La session doit être une année</mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <div fxFlex="100" class="px-2" *ngIf="!data.isDownloadTemplate">
        <div class="w-100">
          <input type="file" name="file" (change)="onFileChange($event)"
            placeholder="Sélectionnez le fichier" accept=".xls,.xlsx">
          <mat-error *ngIf="fileMissing">Le fichier est requis</mat-error>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton
        type="button"
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        {{data.cancelBtnText ? data.cancelBtnText : 'Annuler'}}
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        type="button"
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        {{data.confirmBtnText ? data.confirmBtnText : 'Ok'}}
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>