<div fxLayout="row" fxLayoutAlign="end center" class="m-3">
  <button mat-flat-button color="primary" (click)="OpenBacTemplateDialog()">Télécharger le template</button>
</div>

<mat-card class="importResult mat-card-p-0 m-3">
  <mat-card-content (click)="onClickImportButton()">
    <div fxLayout="column" class="p-2">
      <div fxFlex="100" class="p-2 text" fxLayoutAlign="center" >
        Importer des résultats du Baccalauréat
      </div>

      <div fxFlex="100" class="p-2" fxLayoutAlign="center">
        <svg-icon [key]="'menu-import'" fontSize="100px"></svg-icon> 
      </div>

      <div fxFlex="100" class="p-2 text" fxLayoutAlign="center" >
        cliquez pour ajouter un fichier ici
      </div>

      <div fxFlex="100" class="p-2" fxLayoutAlign="center">
        <span class="imageType">XLS</span>
        <span class="imageType">XLSX</span>
        <span class="imageType">CSV</span>
      </div>

      <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center" *ngIf="importingIndicator">
        <span>{{imported}} sur {{totalToimport}} traitées...</span>
        <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
