<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
     <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
      <app-content-header 
        [icon]="'warning'" 
        [title]="''" 
        [hideBreadcrumb]="true"
        [hasBgImage]="true" 
        [class]="'pt-4 pb-3'"
        layout="column"></app-content-header>
      <div class="p-4 text-center">
        <h2 class="py-2">Oups, un événement est survenu</h2>
        <p class="pt-2">Vous avez peut-être perdu la connexion, veuillez recommencer l'opération svp.</p> 
        <p class="pt-2">Vous pouvez aller à la page d'accueil.</p> 
        <button mat-raised-button color="primary" class="mat-elevation-z6 mt-3" type="button" (click)="goHome()">ACCUEIL</button>
      </div>
    </div>
  </div>
</mat-sidenav-container>