<app-content-header 
  [customIcon]="'menu-cursus-examens'" 
  [title]="title" 
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<div class="m-3">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
      <mat-expansion-panel-header class="px-3">
        <mat-panel-title>Examen de sortie</mat-panel-title>
        <mat-icon>school</mat-icon>
      </mat-expansion-panel-header>
      
      <div fxLayout="row" class="px-4 mb-2 mt-2" *ngIf="isShowTheExamenResult">
        <div class="mt-2 mr-6"><b>Moyenne</b> : {{finalExamenEtudiant?.displayedMoyenneTotal}}</div>
      </div>

      <div fxLayout="row" class="px-4 mb-2 mt-2">
        <div class="mt-2 mr-6"><b>Session en cours</b> : {{finalExamenEtudiant?.anneeAcademiqueName}}</div>
        <div class="mt-2 mr-6"><b>PV</b> : {{finalExamenEtudiant?.numeroPV}}</div>
        <div class="mt-2 mr-6"><b>Centre d’examen</b> : {{finalExamenEtudiant?.finalExamenCentreName}}</div>
        <div class="mt-2 mr-6"><b>Institution</b> : {{finalExamenEtudiant?.institutionName}}</div>
        <div class="mt-2 mr-6"><b>Programme</b> : {{finalExamenEtudiant?.programmeName}}</div>
        <div class="mt-2 mr-6"><b>Niveau</b> : {{finalExamenEtudiant?.niveauEtudeName}}</div>
      </div>

      <ngx-datatable
        fxHide fxShow.gt-xs="true"
        class="material m-3"
        [limit]="10"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="finalExamenEtudiantNotes"
        [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

        <ngx-datatable-column name="Nom de la matière">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.matiereName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Session">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.session}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Coefficient">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.matiereCoefficient}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Note sans le coefficient" *ngIf="isShowTheExamenResult">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenne}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Note avec le coefficient" *ngIf="isShowTheExamenResult">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenneWithCoefficient}}</ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <mat-accordion fxHide fxShow.xs="true" multi="true">
        <mat-expansion-panel 
          *ngFor="let row of finalExamenEtudiantNotes"
          class="table-expansion-panel">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>{{row.matiereName}}</mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Nom de la matière</span>
            <span fxFlex="50" class="px-2 text-right">{{row.matiereName}}</span>
          </div>
          
          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Session</span>
            <span fxFlex="50" class="px-2 text-right">{{row.session}}</span>
          </div>

          <div fxLayout="row" class="p-2">
            <span fxFlex="50" class="px-2 text-bold">Coefficient</span>
            <span fxFlex="50" class="px-2 text-right">{{row.matiereCoefficient}}</span>
          </div>

          <div fxLayout="row" class="p-2" *ngIf="isShowTheExamenResult">
            <span fxFlex="50" class="px-2 text-bold">Note sans le coefficient</span>
            <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenne}}</span>
          </div>

          <div fxLayout="row" class="p-2" *ngIf="isShowTheExamenResult">
            <span fxFlex="50" class="px-2 text-bold">Note avec le coefficient</span>
            <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenneWithCoefficient}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div fxLayout="row" class="mb-1 mt-3 px-3">
  <div fxFlex="100" fxLayoutAlign="end center">      
    <button mat-raised-button type="button" class="bg-orange" (click)="printResults()" *ngIf="allowDownloadTranscript()">
      Imprimer le relevé de notes
    </button>
  </div>
</div>