:host {
  .content-header{
    color: #fff;
    text-align: center;
    .mat-icon {
      margin: 0px 15px 0 5px;
      font-size: 32px;
    }
    .icon_container span {
      margin: 0 15px 0 15px;
      width: 32px;
      height: 32px;

      &.icon-metfpet {
        width: 150px;
        height: 75px;
        margin: 0 0 -20px;
      }
    }
    img{
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
    h1 {
      font-size: 24px;
      font-weight: 550;
      margin: 0;
      text-shadow: 1px 3px 3px rgba(58, 58, 58, 0.8);
    } 
    h4{
      font-size: 16px;
      font-weight: 300;
      max-width: 580px;
      text-align: center;
      margin: 0 auto;
    }
    &.bg-image {
      height: 112px;
      background-color: rgba(0,0,0,.35);
      background-blend-mode: overlay;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &.bg-0 {
        background-image: url("../../../assets/img/app/metfpet-header-bg.png");  
      }

      &.bg-1 {
        background-image: url("../../../assets/img/app/metfpet-header-bg-1.png");  
      }
      
      &.bg-2 {
        background-image: url("../../../assets/img/app/metfpet-header-bg-2.png");  
      }

      &.bg-3 {
        background-image: url("../../../assets/img/app/metfpet-header-bg-3.png");  
      }

      &.bg-4 {
        background-image: url("../../../assets/img/app/metfpet-header-bg-4.png");  
      }

      &.bg-5 {
        background-image: url("../../../assets/img/app/metfpet-header-bg-5.png");  
      }

      &.bg-sm.bg-0 {
        background-image: url("../../../assets/img/app/login-header-bg.png");  
      }

      &.bg-sm.bg-1 {
        background-image: url("../../../assets/img/app/login-header-bg-1.png");  
      }

      &.bg-sm.bg-2 {
        background-image: url("../../../assets/img/app/login-header-bg-1.png");  
      }

      &.bg-sm.bg-3 {
        background-image: url("../../../assets/img/app/login-header-bg-1.png");  
      }

      &.bg-sm.bg-4 {
        background-image: url("../../../assets/img/app/login-header-bg-1.png");  
      }

      &.bg-sm.bg-5 {
        background-image: url("../../../assets/img/app/login-header-bg-1.png");  
      }
    }
    div.content-header-title {
      display: inline-flex !important;
      padding: 5px 30px;
      min-width: 75%;
    }
    ::ng-deep .breadcrumb {
      margin-bottom: 12px;
    }
  }

  @media screen and (min-width: 540px) {
    .content-header {
      .mat-icon, .icon_container span {
        margin: 7px 30px 0 15px;
        font-size: 46px;
      }
      .icon_container span {
        margin: 5px 15px 0 0px;
        width: 46px;
        height: 46px;
        &.icon-metfpet {
          width: 210px;
          height: 105px;
          margin: 0 0 -25px;
        }
      }
      img {
        width: 150px;
        height: 150px;
      }
      h1 {
        font-size: 40px;
      } 
      h4 {
        font-size: 18px;
      }
      &.has-bg-image{
        background-size: 480px; 
      }
      &.bg-image {
        height: 180px;
      }
      div.content-header-title {
        margin-top: 16px;
      }
      ::ng-deep .breadcrumb {
        margin-bottom: 16px;
      }
    }
  }
}

