<div class="content-header bg-primary" 
  [class.bg-image]="hasBgImage" 
  [ngClass]="class + ' bg-' + index"
  >
  <app-breadcrumb [hidden]="hideBreadcrumb"></app-breadcrumb>
  <div [fxLayout]="layout" fxLayoutAlign="center"class="content-header-title">
    <div class="icon_container">
      <mat-icon *ngIf="icon">{{icon}}</mat-icon>
      <ng-container *ngIf="customIcon">
        <svg-icon [key]="customIcon" fontSize="42px" class="mr-3"></svg-icon>
      </ng-container>
    </div>
    <h1 *ngIf="title">{{title}}</h1>
  </div>
  <h4 *ngIf="desc" class="p-2">{{desc}}</h4>
</div>