<div class="container">
    <div class="header-">
        <a class="login_link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Connection</a>
        <div class="title">FAQ</div>
    </div>
    <div class="text-accueil">
        <div class="text-accueil-1">Questions fréquemment posées</div>
        <div style="display:flex; gap: 0px; justify-content: center; align-items: center;">
            <div class="left-line"></div>
            <div class="question-marque">?</div>
            <div class="right-line"></div>
        </div>
    </div>
    <div class="panels">
        <div class="mb-2">
            <h1 style="color:rgb(0, 102, 143)">Créer son compte sur ParcoursPro</h1>
        </div>
        <!-- PANEL 1 -->
        <div class="expansion-panel" [class.active]="panelStates[0]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[0]}" (click)="togglePanel(0)">
                <div class="panel-title">• Qu’est-ce qu’un apprenant ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[0]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[0] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[0] ? '0%' : '0px'}">
                <p>Un apprenant est une personne <span class="test-bold"> ayant obtenu le BEPC, redoublant la
                        terminale,
                        ayant obtenu le
                        Baccalauréat ou provenir du post-primaire/secondaire, admise et régulièrement inscrite dans
                        une
                        Institution de l’Enseignement Technique et la Formation Professionnelle </span>en vue d’une
                    formation.
                </p>
            </div>
        </div>
        <!-- PANEL 2 -->
        <div class="expansion-panel" [class.active]="panelStates[1]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[1]}" (click)="togglePanel(1)">
                <div class="panel-title">• Quelles sont les conditions pour participer à la session d’admission ?
                </div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[1]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[1] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[1] ? '0%' : '0px'}">
                <p>Pour participer à la session d’orientation, il faut <span class="test-bold"> être titulaire du
                        BEPC,
                        du Baccalauréat, avoir redoublé sa terminale ou provenir du post-primaire/secondaire,
                        sélectionner les institutions et programmes</span> (3 programmes par institutions
                    sélectionnée)
                    auxquels vous souhaitez postuler : maximum 3 institutions avec des choix de programmes sur
                    concours
                    et 1 Institution privé. Enfin vous devez payer 20 000 GNF par institution sélectionnée. Vous
                    recevrez ensuite votre PV de concours s’il y a lieu.
                </p>
            </div>
        </div>
        <!-- PANEL 3 -->
        <div class="expansion-panel" [class.active]="panelStates[2]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[2]}" (click)="togglePanel(2)">
                <div class="panel-title">• Comment créer votre compte / vous n’arrivez pas à créer votre compte ?
                </div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[2]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[2] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[2] ? '0%' : '0px'}">
                <p>Pour un compte, il faut <span class="test-bold"> être considéré comme admissible à participer à
                        la
                        session d’admission.</span> Ensuite, vous devez vous rendre sur <span class="test-bold"> la
                        page
                        de connexion à la plateforme ParcoursPro et cliquer sur « S’inscrire sur la plateforme
                        ».</span>
                    Vous devez ensuite <span class="test-bold"> compléter et soumettre le formulaire </span> qui
                    déterminera si vous êtes autorisé à vous créer un compte. <span class="test-bold">Veuillez bien
                        vérifier les informations que vous entrez.</span> En cas de problème, n’hésitez pas à
                    contacter
                    le support technique du Ministère de l’Enseignement Technique, de la Formation Professionnelle
                    et de
                    l’Emploi.
                </p>
            </div>
        </div>
        <!-- PANEL 4 -->
        <div class="expansion-panel" [class.active]="panelStates[3]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[3]}" (click)="togglePanel(3)">
                <div class="panel-title">• Quelles informations sont nécessaires pour créer votre compte sur
                    ParcoursPro
                    ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[3]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[3] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[3] ? '0%' : '0px'}">
                <p>Vous devrez dans un premier temps <span class="test-bold">fournir vos informations personnelles
                    </span> : Prénom, Nom, Sexe, Date de naissance et Préfecture de résidence, et créer votre mot de
                    passe. Dans un second temps, vous devrez <span class="test-bold">fournir les informations sur
                        les
                        dernières études / le dernier diplôme que vous avez obtenu,</span> comme : la session,
                    l’option,
                    le PV, la Préfecture/Commune, le Collège d’origine et Centre d’examen (ces informations peuvent
                    varier en fonction du niveau que vous avez sélectionné). Enfin, vous devrez <span
                        class="test-bold">renseigner vos informations de contact</span> : adresse e-mail et numéro
                    de
                    téléphone. <span class="text-red">Pensez à bien vérifier l’orthographe de votre e-mail, sur
                        lequel
                        vous recevrez des communications importantes. </span>
                </p>
            </div>
        </div>
        <!-- PANEL 5 -->
        <div class="expansion-panel" [class.active]="panelStates[4]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[4]}" (click)="togglePanel(4)">
                <div class="panel-title">• Vous êtes un apprenant en situation de handicap que devez vous faire ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[4]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[4] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[4] ? '0%' : '0px'}">
                <p>Les étudiants présentant un handicap doivent se référer <span class="text-bold"> directement au
                        METFPE.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="panels">
        <div class="mb-2">
            <h1 style="color:rgb(0, 102, 143)">Connexion</h1>
        </div>
        <!-- PANEL 1 -->
        <div class="expansion-panel" [class.active]="panelStates[5]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[5]}" (click)="togglePanel(5)">
                <div class="panel-title">• Vous avez perdu votre mot de passe que devez-vous faire ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[5]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[5] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[5] ? '0%' : '0px'}">
                <p>Si vous avez perdu votre mot de passe, vous pouvez le <span class="text-bold"> réinitialiser</span>
                    en cliquant sur <span class="text-bold"> « Mot de passe oublié ? » sur la page de connexion.</span>
                    Vous recevrez un e-mail indiquant la démarche à suivre pour vous connecter de nouveau.
                    Rappelez-vous que votre mot de passe est <span class="text-bold"> personnel </span> et ne doit être
                    communiqué sous aucun prétexte à une personne tierce.
                </p>
            </div>
        </div>
        <!-- PANEL 2 -->
        <div class="expansion-panel" [class.active]="panelStates[6]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[6]}" (click)="togglePanel(6)">
                <div class="panel-title">• C’est quoi l’INA ?
                </div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[6]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[6] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[6] ? '0%' : '0px'}">
                <p>L’INA, <span class="text-bold"> l’Identifiant National Apprenant est un numéro d’identification
                        unique et personnel</span> qui vous suivra tout au long de votre parcours scolaire dans
                    l’enseignement technique et la formation professionnelle.
                </p>
            </div>
        </div>
    </div>
    <div class="panels">
        <div class="mb-2">
            <h1 style="color:rgb(0, 102, 143)">Admission</h1>
        </div>
        <!-- PANEL 1 -->
        <div class="expansion-panel" [class.active]="panelStates[7]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[7]}" (click)="togglePanel(7)">
                <div class="panel-title">• Qu’est-ce qu’un programme ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[7]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[7] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[7] ? '0%' : '0px'}">
                <p>Pour accéder à l’enseignement technique et la formation professionnelle vous devez sélectionner
                    maximum 3 institutions ayant des programmes sur Concours et 1 institution avec des programmes hors
                    concours, et <span class="text-bold"> classer 3 programmes par institution selon votre
                        préférence.</span> Il existe de nombreux
                    programmes divers et variés accessibles selon votre niveau d’étude (Post-primaire/secondaire, BEPC,
                    Terminal ou Baccalauréat). Vous pouvez choisir des programmes identiques dans différentes
                    institutions.
                    Attention, <span class="text-bold"> certains programmes vous demanderont de réussir un concours, et
                        d’autres nécessiteront
                        l’étude de votre dossier. Participer à l’admission ne vous garantit pas l’accès aux
                        formations.</span>
                </p>
            </div>
        </div>
        <!-- PANEL 2 -->
        <div class="expansion-panel">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[8]}" (click)="togglePanel(8)">
                <div class="panel-title">• Qu’elle est la procédure d’admission ?
                </div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[8]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[8] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[8] ? '0%' : '0px'}">
                <p>Plusieurs critères déterminent l’admission des candidats :
                </p>
                <!-- Sub pannel -->
                <div class="expansion-panel">
                    <div class="panel-header" [ngClass]="{'active-panel' : panelStates[9]}" (click)="togglePanel(9)">
                        <div class="panel-title">Le concours d’accès (Institutions publiques et Programmes en santé) :
                        </div>
                        <div class="toggle-icon">
                            <i class="arrow" [class.down]="!panelStates[9]"></i>
                        </div>
                    </div>
                    <div [ngClass]="panelStates[9] ? 'panel-content-open' : 'panel-content-close'"
                        [ngStyle]="{'height' : panelStates[9] ? '0%' : '0px'}">
                        <p> Si vous avez sélectionné des programmes nécessitant la réussite au concours d’accès, <span
                                class="text-bold"> votre
                                admission sera conditionnée à la réussite du concours </span> (vous obtiendrez votre PV
                            de concours
                            une fois le paiement de vos choix effectué) <span class="text-bold">et à votre rang.</span>
                            Chaque programme possède <span class="text-bold">un
                                nombre de place limite.</span> Ceux ayant obtenu <span class="text-bold">la moyenne la
                                plus haute</span> au concours, <span class="text-bold">se verront
                                offrir en premier une offre</span> dans leurs premiers choix de programmes. <span
                                class="text-bold">Vous devez accepter les
                                offres qui vous sont faites.</span> Attention, <span class="text-bold">si vous acceptez
                                une offre, toutes les autres offres
                                seront automatiquement refusées.</span> Si <span class="text-bold">des offres sont
                                refusées et que des places se libèrent</span>
                            dans les programmes, <span class="text-bold">les candidats</span> n’étant <span
                                class="text-bold">pas encore orientés pourraient obtenir une offre.</span>
                        </p>
                    </div>
                </div>
                <!-- end sub-panel -->
                <!-- sub-panel 2 -->
                <div class="expansion-panel">
                    <div class="panel-header" [ngClass]="{'active-panel' : panelStates[10]}" (click)="togglePanel(10)">
                        <div class="panel-title">L’admission sur dossier (Institutions privées et Programmes hors santé)
                            :
                        </div>
                        <div class="toggle-icon">
                            <i class="arrow" [class.down]="!panelStates[10]"></i>
                        </div>
                    </div>
                    <div [ngClass]="panelStates[10] ? 'panel-content-open' : 'panel-content-close'"
                        [ngStyle]="{'height' : panelStates[10] ? '0%' : '0px'}">
                        <p> Si vous avez sélectionné des <span class="text-bold"> programmes relevant d’institutions
                                privé hors santé,</span> l’institution recevra sur ParcoursPro votre candidature. Elle
                            pourra alors communiquer avec vous pour <span class="text-bold">obtenir des informations
                                complémentaires</span> à votre dossier et vous <span class="text-bold">faire une offre
                                sur ParcoursPro.</span> Vous devrez ensuite accepter cette offre.
                        </p>
                    </div>
                </div>
                <!-- End sub-panel -->
            </div>
        </div>
        <!-- End PANEL -->
        <!-- PANEL 3 -->
        <div class="expansion-panel" [class.active]="panelStates[11]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[11]}" (click)="togglePanel(11)">
                <div class="panel-title">• Combien de choix pouvez-vous faire ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[11]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[11] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[11] ? '0%' : '0px'}">
                <p>Vous pouvez choisir <span class="text-bold">3 institutions maximum</span> avec des <span
                        class="text-bold">programmes sur concours,</span> et 3 programmes par institution. Vous pouvez
                    aussi choisir <span class="text-bold">1 institutions avec des programmes</span> hors concours et 3
                    programmes pour cette institution.
                </p>
            </div>
        </div>
        <!-- END PANEL -->
        <!-- PANEL 4 -->
        <div class="expansion-panel" [class.active]="panelStates[12]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[12]}" (click)="togglePanel(12)">
                <div class="panel-title">• Comment payer vos frais d’admission ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[12]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[12] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[12] ? '0%' : '0px'}">
                <p>Pour régler les frais d’admission, une fois que vous avez sélectionné vos institutions et programmes,
                   <span class="text-bold"> cliquez sur le bouton « Payez et terminer »,</span> situé dans la barre d’outils jaune dans la page. Vous
                    pouvez régler avec <span class="text-bold">Orange Money.</span> Cliquez sur le lien et vous serez guidé lors des différentes étapes
                    du paiement.
                    Une fois vos frais d’admission réglés vous obtiendrez votre PV de concours s’il y a lieu.
                </p>
            </div>
        </div>
        <!-- END PANEL -->
         <!-- PANEL 4 -->
        <div class="expansion-panel" [class.active]="panelStates[13]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[13]}" (click)="togglePanel(13)">
                <div class="panel-title">•	Quand seront publiés les résultats ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[13]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[13] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[13] ? '0%' : '0px'}">
                <p>Les résultats seront publiés sur la plateforme. Un sms et un e-mail vous seront envoyés pour vous avertir.
                </p>
            </div>
        </div>
        <!-- END PANEL -->
        <!-- PANEL 5 -->
        <div class="expansion-panel" [class.active]="panelStates[14]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[14]}" (click)="togglePanel(14)">
                <div class="panel-title">•	Comment pouvez-vous vous inscrire à votre institution ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[14]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[14] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[14] ? '0%' : '0px'}">
                <p>Une fois les résultats de votre admission publiés, et votre offre acceptée, rendez-vous sur la plateforme ParcoursPro pour vous inscrire à votre institution.
                </p>
            </div>
        </div>
        <!-- END PANEL -->
         <!-- PANEL -->
        <div class="expansion-panel" [class.active]="panelStates[15]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[15]}" (click)="togglePanel(15)">
                <div class="panel-title">•	Quelles sont les erreurs à éviter ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[15]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[15] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[15] ? '0%' : '0px'}">
                <p>Pour mettre toutes les chances de votre côté nous vous conseillons de : <br>
                    •   Tenir compte de vos études passés en vue de vos choix de programme et des concours relatifs ;<br>
                    •	Faites attention aux dates qui vous seront communiquées pour ne pas rater une étape importante de votre admission.
                    
                </p>
            </div>
        </div>
        <!-- END PANEL -->
         <!-- PANEL -->
        <div class="expansion-panel" [class.active]="panelStates[16]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[16]}" (click)="togglePanel(16)">
                <div class="panel-title">•	Que faire si vous ne payez pas ou si vous vous déconnectez suite à votre choix d’institutions et de programmes ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[16]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[16] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[16] ? '0%' : '0px'}">
                <p>Tant que <span class="text-bold"> vous n’aurez pas payé, votre choix</span> d’institutions et de programmes <span class="text-bold">ne sera pas enregistré.</span> Vous devrez donc recommencer votre sélection. Veuillez noter que <span class="text-bold">vous ne pourrez pas participer aux concours d’accès sans avoir procédé au paiement. </span>
                </p>
            </div>
        </div>
        <!-- END PANEL -->
         <!-- PANEL -->
        <div class="expansion-panel" [class.active]="panelStates[17]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[17]}" (click)="togglePanel(17)">
                <div class="panel-title">•	Que faire si vous n’êtes pas admis dans une Institution publique et/ou un programme en Santé ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[17]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[17] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[17] ? '0%' : '0px'}">
                <p>Une fois la session d’admission terminé, si vous n’êtes pas orienté, vous pouvez faire une demande depuis ParcoursPro pour un programme hors santé d’une institution privée. Vous pouvez aussi contacter le Ministère pour connaitre les autres options à votre disposition. 
                </p>
            </div>
        </div>
        <!-- END PANEL -->  
    </div>
    <div class="panels">
        <div class="mb-2">
            <h1 style="color:rgb(0, 102, 143)">Formation</h1>
        </div>
        <!-- PANEL 1 -->
        <div class="expansion-panel" [class.active]="panelStates[18]">
            <div class="panel-header" [ngClass]="{'active-panel' : panelStates[18]}" (click)="togglePanel(18)">
                <div class="panel-title">•	Quels programmes ?</div>
                <div class="toggle-icon">
                    <i class="arrow" [class.down]="!panelStates[18]"></i>
                </div>
            </div>
            <div [ngClass]="panelStates[18] ? 'panel-content-open' : 'panel-content-close'"
                [ngStyle]="{'height' : panelStates[18] ? '0%' : '0px'}">
                <p>Vous pouvez retrouver la liste des institutions et programmes directement depuis le site internet de ParcoursPro, depuis la section « Formations et Institutions », ou en cliquant sur le lien : <a href="https://www.parcoursproguinee.org/formations-et-institutions/">https://www.parcoursproguinee.org/formations-et-institutions/</a> 
                </p>
            </div>
        </div>
    </div>
</div>
