p {
    font-size: 16px;
}
.container {
    max-height: 100vh;
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    display: none;
  }
.header- {
    width: 100%;
    height: 150px;
    background-color: rgb(235, 152, 0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    justify-content: center;
    justify-content: center;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
}
.text-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text-accueil-1 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(0, 102, 143) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.left-line {
    height: 4px;
    width: 250px;
    margin-right: 20px;
    background-color: rgb(0, 102, 143) !important;
}
.right-line {
    height: 4px;
    width: 250px;
    margin-left: 20px;
    background-color: rgb(0, 102, 143) !important;
}
.question-marque {
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: rgb(0, 102, 143) !important;
    border: 4px solid rgb(0, 102, 143) !important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expansion-panel {
    margin-bottom: 20px !important;
}
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    color: rgb(0, 102, 143);
    border: 3px solid rgb(0, 102, 143) !important;
    border-radius: 5px !important;
    transition:padding 0.2s ease-in-out;
}
.panel-header:hover{
    padding: 8px 18px;
    transition:padding 0.2s ease-out;
}
.panel-title {
    font-weight: 500;
    font-size: 20px;
}
.toggle-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.3s ease-out;
}
.panel-content-open {
    padding: 0 10px;
    color: rgb(0, 55, 77) !important;
    overflow: hidden;
    transition: height 0.3s ease-out, padding 0.5s ease-out, opacity 0.5s ease-out;
    border: 1px solid rgb(0, 102, 143);
    opacity: 1;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    margin-top: -5px;
}
.panel-content-close {
    height: 0px;
    color: rgb(0, 55, 77) !important;
    overflow: hidden;
    transition: height 0.3s ease-out, padding 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    padding: 0 10px;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(0, 102, 143);
}
.test-bold {
    font-weight: bold;
}
.text-red {
    color: red
}
.panels{
    padding: 0px 50px;
}
.active-panel{
    background-color: rgb(0, 102, 143, 1) !important;
    color: whitesmoke !important;
    padding: 8px 18px;
    transition:padding 0.2s ease-in-out;
}

.login_link{
    font-weight: 500;
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
}