<div mat-dialog-title>{{data.title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        {{data.message}}
      </div>

      <ng-container>
        <div fxFlex="70" class="px-2">
          <autocomplete placeholder="Session" [values]="data.sessionAdmissionList" 
            idField="id" valueField="sessionAdmissionName" formControlName="sessionId" [required]="true">
          </autocomplete>
        </div>
      </ng-container>

      <div fxFlex="100" class="px-2" *ngIf="data.isImport">
        <div class="w-100">
          <input type="file" name="file" (change)="onFileChange($event)"
            placeholder="Sélectionnez le fichier" accept=".xls,.xlsx">
          <mat-error *ngIf="fileMissing">Le fichier est requis</mat-error>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="px-2">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton
        type="button"
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        {{data.cancelBtnText ? data.cancelBtnText : 'Annuler'}}
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        type="button"
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        {{data.confirmBtnText ? data.confirmBtnText : 'Ok'}}
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>