<div class="ios-prompt">
  <button class="close-ios-inv" mat-icon-button color="primary" (click)="close()"><mat-icon>close</mat-icon></button>
  <div>To install this web app on your device tap the Menu button and then 'Add to Home screen' button</div>
  <div><img src="./assets/img/app/ios-menu-btn.png"> <mat-icon>navigate_next</mat-icon> <img src="./assets/img/app/ios-add-btn.png"></div>
</div>