.ios-prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .close-ios-inv {
    position: absolute;
    right: 0px;
    top: 0;
  }
  div {
    text-align: center;
    padding: 10px 25px 0;
    mat-icon {
      position: relative;
      top: -7px;
    }
  }
  img {
    display: inline;
  }
}