:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-numeroPV,
    .datatable-body-cell.col-numeroPV {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-ine,
    .datatable-body-cell.col-ine {
      max-width: 170px !important;
    }

    .datatable-header-cell.col-annee,
    .datatable-body-cell.col-annee {
      max-width: 150px !important;
    }

    .datatable-header-cell.col-decision,
    .datatable-body-cell.col-decision {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-concours,
    .datatable-body-cell.col-concours {
      max-width: 210px !important;
    }
  }
}

