<app-content-header 
  [customIcon]="'menu-export-import'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>

  <div>
    <button mat-button (click)="exportAdmissions()">
      <mat-icon>save_alt</mat-icon> Exporter les resultats
    </button>
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>
      
      <div fxLayout="row wrap" class="px-5">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Session d'admission" [values]="sessionAdmissionList" 
            idField="id" valueField="anneeAcademiqueName" formControlName="sessionAdmission">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Centre de concours" [values]="centreConcoursList" 
            idField="id" valueField="name" formControlName="centreConcours">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchPVNumber formControlName="numeroPV" placeholder="PV">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Institution" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institution">
          </autocomplete>
        </div>
        
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Département" [values]="faculteList" 
            idField="id" valueField="name" formControlName="faculte">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Programme" [values]="programList" 
            idField="id" valueField="name" formControlName="programme">
          </autocomplete>
        </div>  

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Decision" [values]="decisionList" 
            idField="value" valueField="name" formControlName="decision">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Année" [values]="anneeList" 
            idField="id" valueField="name" formControlName="annee">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" fxLayoutAlign="end center">
          <button mat-button type="button" color="primary"
            #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
            Recherche avancée<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #filterMenu="matMenu">
        <button mat-icon-button class="closeAction" (click)="menuTrigger.closeMenu()" type="button">
          <mat-icon>close</mat-icon>
        </button>

        <div fxLayout="row wrap" class="filter-ctn px-2 pt-5 pb-2">
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Option du BAC" [values]="optionsBACList" 
              idField="id" valueField="name" formControlName="optionBACId">
            </autocomplete>
          </div>
  
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Session du BAC" [values]="sessionsBACList" 
              idField="name" valueField="name" formControlName="sessionBAC">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
              idField="id" valueField="name" formControlName="lyceeId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
              idField="id" valueField="name" formControlName="centreExamenId">
            </autocomplete>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <div class="mat-radio-group-container" >
              <mat-radio-group formControlName="genreId" class="w-100">
                <label>Sexe</label>
                <mat-radio-button value="">Tout</mat-radio-button>
                <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <autocomplete placeholder="Statut de l'institution" [values]="statusEtablissementList" 
              idField="id" valueField="name" formControlName="statusEtablissement">
            </autocomplete>
          </div>

          <div fxFlex="100" class="px-2 mt-2">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="triggerSearch(); menuTrigger.closeMenu();">
              <mat-icon class="mr-1">search</mat-icon>Rechercher
            </button>
            <button mat-stroked-button type="button" class="pull-right mr-3" (click)="resetSearchForm()">
              Réinitialiser
            </button>
          </div>
        </div>
      </mat-menu>

      <div fxLayout="row" fxLayoutAlign="start center" class="px-5 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >    
  
    <ngx-datatable-column name="PV" prop="numeroPV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Nom" prop="etudiantName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="INA" prop="identifiantNationalEleve" [headerClass]="'col-ine'" [cellClass]="'col-ine'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Institution" prop="institution" [headerClass]="'col-choix'" [cellClass]="'col-choix'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Année" prop="anneeAcademiqueName" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Décision" prop="decision" [headerClass]="'col-decision'" [cellClass]="'col-decision'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.decisionName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Concours Statut global" prop="concoursStatutGlobal" [headerClass]="'col-concours'" [cellClass]="'col-concours'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.concoursStatutGlobal}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Concours Notes moyenne" prop="concoursNotesMoyenne" [headerClass]="'col-concours'" [cellClass]="'col-concours'">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.concoursNotesMoyenne}}</ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.etudiantName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">PV</span>
          <span fxFlex="50" class="px-2 text-right col-numeroPV">{{row.numeroPV}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">INA</span>
          <span fxFlex="50" class="px-2 text-right col-ine">{{row.identifiantNationalEleve}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Institution</span>
          <span fxFlex="50" class="px-2 text-right col-choix">{{row.institutionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Année</span>
          <span fxFlex="50" class="px-2 text-right col-annee">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Décision</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.decisionName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Concours Statut global</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.concoursStatutGlobal}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Concours Notes moyenne</span>
          <span fxFlex="50" class="px-2 text-right col-decision">{{row.concoursNotesMoyenne}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
