div.button_label {
    /* display: inline-block; */
    min-width: 15rem;
    margin-inline: 1rem;
    border-radius: 5rem;
    border: 0.5px solid #57a17a;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: #57a17a;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
}
.button_label.active{
    background-color: #57a17a;
    color: white;
}
#typeDemande{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width:430px) {
    div.button_label:first-child{
        margin-bottom: 10px;
    }
    #typeDemande{
        justify-content: center;
    }
}