.card{
    height: 150px;
    width: 150px;
    border: 0.2px rgb(172, 171, 171) solid;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-width: thin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.card:hover{
    cursor: pointer;
}