<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
    <button mat-button (click)="exportListOfDemandes()">
      <mat-icon>save_alt</mat-icon> Exporter la liste
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>
<div id="typeDemande">
  <div class="button_label active" (click)="toggleActive($event);viewMyBasketFunction(false)">
    <svg-icon [key]="'grid'" fontSize="16px" style="margin-right: 10px;"></svg-icon>
    Toutes les demandes
  </div>
  <div class="button_label" (click)="toggleActive($event);viewMyBasketFunction(true)">
    <svg-icon [key]="'shopping_basket'" fontSize="16px" style="margin-right: 10px;"></svg-icon>
    Mon pannier de travail
  </div>
</div>
<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Catégorie" [values]="typeDemandes" 
            idField="id" valueField="name" formControlName="typeDemandeId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Type de demande" [values]="agrementations" 
            idField="id" valueField="name" formControlName="agrementationId">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Période de la demande" [values]="sessionsList" 
            idField="name" valueField="name" formControlName="periode">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="demandeurStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNumero formControlName="numero" placeholder="Numero">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchIdentifiant formControlName="identifiant" placeholder="Numéro d’identification">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Date d'expiration</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="expirationDateFrom" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="expirationDateTo" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Attribution" [values]="attributionValues" 
            idField="value" valueField="name" formControlName="attribution">
          </autocomplete>
        </div>
        <ng-container *ngIf="!myWorkingFunction">

          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete placeholder="En charge" [values]="inChargeList" 
              idField="id" valueField="fullName" formControlName="inCharge">
            </autocomplete>
          </div>
          
          <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
            <autocomplete placeholder="Superviseur" [values]="superviseurList" 
              idField="id" valueField="fullName" formControlName="superviseur">
            </autocomplete>
          </div>
        </ng-container>

      </div>

      <div fxLayout="row" fxLayoutAlign=" center" class="px-4 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    
    <ngx-datatable-column name="Catégorie" prop="typeDemandeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDemandeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Type de demande" prop="agrementationName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.agrementationName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Numero" prop="numero">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.numero}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom/Société" prop="demandeurName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.demandeurName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom" prop="demandeurFirstName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.demandeurFirstName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date d'expiration" prop="expirationDate">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.expirationDate}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date de la demande" prop="creationTime">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Reconnaissance" prop="isRecognition">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.isRecognition ? 'Reconnaissance Agrément' : ''}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut" prop="status">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.status}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Attribution" prop="attribution">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngIf="!myWorkingFunction;else basketFunction">
          {{row.attributionId?'Oui':'Non'}}
        </ng-container>
        <ng-template #basketFunction>
            <ng-container *ngIf="row.attributionId; else showOpenAttributionDialogButton">
              {{row.attributionName}} {{row.attributionFirstName}}
            </ng-container>
            <ng-template #showOpenAttributionDialogButton>
              <a (click)="openAttributionDialog(row)" class="color-blue">Ouvrir</a>
            </ng-template>
        </ng-template>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Attribuer" prop="attribuer" *ngIf="!myWorkingFunction">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="openAttributionDialog(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Agrément">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="openDocument(row)" class="color-blue" *ngIf="row.status === 'Delivré' || row.status === 'Réactivé'">Télécharger</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.firstName}} {{row.name}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Catégorie</span>
          <span fxFlex="50" class="px-2 text-right">{{row.typeDemandeName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Type de demande</span>
          <span fxFlex="50" class="px-2 text-right">{{row.agrementationName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom/Société</span>
          <span fxFlex="50" class="px-2 text-right">{{row.demandeurName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.demandeurFirstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date d'expiration</span>
          <span fxFlex="50" class="px-2 text-right">{{row.expirationDate}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Date de la demande</span>
          <span fxFlex="50" class="px-2 text-right">{{row.creationTime}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Reconnaissance</span>
          <span fxFlex="50" class="px-2 text-right">{{row.isRecognition ? 'Reconnaissance Agrément' : ''}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{row.status}}</span>
        </div>
        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Attribution</span>
          <span fxFlex="50" class="px-2 text-right">
            <ng-container *ngIf="!myWorkingFunction;else basketFunction">
              {{row.attributionId?'Oui':'Non'}}
            </ng-container>
            <ng-template #basketFunction>
                <ng-container *ngIf="row.attributionId; else showOpenAttributionDialogButton">
                  {{row.attributionName}} {{row.attributionFirstName}}
                </ng-container>
                <ng-template #showOpenAttributionDialogButton>
                  <a (click)="openAttributionDialog(row)" class="color-blue">Ouvrir</a>
                </ng-template>
            </ng-template>
          </span>
        </div>
        <mat-action-row class="px-2" *ngIf="!myWorkingFunction">
          <div fxFlex="50" class="px-2">Attribuer</div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="openAttributionDialog(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="openDocument(row)" class="w-100" *ngIf="row.status === 'Delivré'">Télécharger</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
