.message-subject {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.message-content {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
}

.custom-submit-button {
    background-color: #27cfed; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }