<div class="mat-dialog-title" >{{title}}</div>
<form  [formGroup]="form" class="mat-dialog-body">

    <div class="w-100" style="display: flex; flex-direction: column;">

        <h4 class="mt-3" >Veillez entrer l'une des deux informations</h4>

      <div formGroupName="demandeur" style="display: flex; flex-direction: column;" >
        <div fxFlex="100" class="px-2" >
          <mat-form-field class="w-100">
            <mat-label>Addresse du couriel du demandeur du couriel *</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.get('demandeur.email').errors?.email && (form.get('demandeur.email').dirty || form.get('demandeur.email').touched)" >Veillezentrer un email valide
            </mat-error>
          </mat-form-field>
        </div>

          <h3>ou</h3>
          
        <div fxFlex="100" class="px-2" >
          <mat-form-field class="w-100">
            <mat-label>Numéro d'identification du demandeur du couriel *</mat-label>
            <input matInput formControlName="identifiant">
            <mat-error *ngIf="form.get('demandeur.identifiant').errors?.minlength && (form.get('demandeur.identifiant').dirty ||form.get('demandeur.identifiant').touched)" >Minimum 14
            </mat-error>
            <mat-error *ngIf="form.get('demandeur.identifiant').errors?.maxlength && (form.get('demandeur.identifiant').dirty || form.get('demandeur.identifiant').touched)" >Maximum 14
            </mat-error>
          </mat-form-field>
        </div>

        <mat-error *ngIf="form.get('demandeur').errors?.required && ((form.get('demandeur.identifiant').dirty ||form.get('demandeur.identifiant').touched) || (form.get('demandeur.email').dirty || form.get('demandeur.email').touched))" >
          Veillez entrer l'email ou l'indentifiant
        </mat-error>

      </div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
        <div class="cancelAction">
          <button mat-raised-button #cancelButton 
            (click)="onClose()"
            (keydown.arrowright)="submitButton.focus()">
            Annuler
          </button>
        </div>
  
        <div class="submitAction">
          <button mat-raised-button #submitButton
            color="primary" 
            (click)="onSubmit()"
            (keydown.arrowleft)="cancelButton.focus()">
            Enregistrer
          </button>
        </div>
    </div>
</form>