label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .custom-textarea {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  
  .custom-submit-button {
    background-color: #ED7F27; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-submit-button:hover {
    background-color: #ED7F27; 
  }
  