<div style="font-size: 16px">
    <div mat-dialog-title>Générer le reçu de paiment</div>
    <form [formGroup]="form" class="mat-dialog-body">
        <div *ngIf="loading" style="height: 100px; display: flex; justify-content: center; align-items: center;">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
        <div *ngIf="!loading">
            <div>
                <p style="font-weight: bold">Statut : {{data.status}}</p>
            </div>
            <div style="max-width: 450px; display: flex; justify-content: space-between; align-items: center;">
                <p>Montant payé* : </p>
                <input  formControlName="amount"   type="number" style="width: 50%; min-width: 40%; height: 35px; border-radius: 5px; text-align:center">
                <mat-error style="margin-left: 15px; margin-right: 15px;" *ngIf="form.controls.amount?.errors?.required && (form.controls?.amount?.dirty || form.controls?.amount?.touched)">Le montant est resquis</mat-error>
                <mat-error style="margin-left: 15px; margin-right: 15px;" *ngIf="form.controls.amount?.errors?.max && (form.controls?.amount?.dirty || form.controls?.amount?.touched)">Maximum 3 000 000 000 GNF</mat-error>
                <p>GNF</p>
            </div>
            <div>
                <div>
                    <p>Reçu de paiement de l'agrément (format pdf)*</p>
                </div>
                <div  style="display: flex; align-items: center; width:400px; padding-bottom:20px">
                    <label for="file" style="margin-right: 30px; height: 35px; width:150px ; border: 2px solid black; border-radius: 5px; font-size: 16px; display: flex; align-items: center; justify-content: center;">
                        <span>Choisir le fichier</span> 
                    </label>
                    <input  accept="application/pdf" formControlName="file" type="file" id="file" style="display: none;" (change)="onFileChange($event)">
                    <span (click)="displayPaymentReceipt()" style="max-width: 100px; overflow:hidden; text-overflow: ellipsis;white-space: nowrap; color:rgb(35, 101, 245); cursor: pointer;" #selectedFilename></span>
                    <mat-error *ngIf="form.controls?.file?.errors?.required && (form.controls?.file?.dirty && form.controls?.file?.touched)">Le fichier est resquis</mat-error>
                    <mat-error *ngIf="!isPdfFile">le fichier doit etre en format pdf!</mat-error>
                    <svg-icon (click)="onRemovePaymentReceipt()" *ngIf="canRemovePaymentReceipt" [key]="'delete'" class="color-red" style="margin-left: 15px; cursor: pointer"></svg-icon>
                </div>
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" flexLayoutAlign="space-evenly stretch">
            <div class="cancelAction">
                <button #cancelButton mat-raised-button (keydown.arrowright)="submitButton.focus()" (click)="onClose()">Annuler</button>
            </div>
        
            <div class="submitAction">
                <button #submitButton mat-raised-button color="primary" (keydown.arrowleft)="cancelButton.focus()" (click)="onSubmit()">{{submitButtonText}}</button>
            </div>

            
        </div>
    </form>
</div>
