<div mat-dialog-title>Gérer les agrements</div>

<div *ngIf="displayItem && !displayHistoricTab" class="mat-dialog-body" style="max-width: 800px">
    <div style="font-weight: bolder;">
        Statut : {{data.statusName}}
    </div>
    <div style="display: flex; justify-content: center; text-align: center; margin-bottom: 20px;">
        <div *ngIf=" data.status === demandeStatus.Annule || data.status === demandeStatus.Suspendu" class="card" (click)="onButtonClick(demandeStatus.Reactive)">
            <svg-icon style="height: 50px; width: auto;" [key]="'reactiver'" ></svg-icon>
            <p>Reactiver</p>
        </div>

        <div *ngIf="data.status === demandeStatus.Delivre || data.status === demandeStatus.Reactive" class="card" (click)="onButtonClick(demandeStatus.Suspendu)">
            <svg-icon style="height: 50px; width: auto;" [key]="'suspendre'" ></svg-icon>
            <p>Suspendre</p>
        </div>

        <div *ngIf="data.status === demandeStatus.Delivre || data.status === demandeStatus.Suspendu || data.status === demandeStatus.Reactive" class="card" (click)="onButtonClick(demandeStatus.Annule)">
            <svg-icon style="height: 50px; width: auto;" [key]="'annuler'" ></svg-icon>
            <p>Annuler</p>
        </div>
        <div  *ngIf=" data.status === demandeStatus.Annule || data.status === demandeStatus.Suspendu || data.status === demandeStatus.Delivre || data.status === demandeStatus.Reactive" class="card" (click)="displayHistoric()">
            <svg-icon style="height: 50px; width: auto;" [key]="'historique'" ></svg-icon>
            <p>Historique de gestion</p>
        </div>
        <div  *ngIf="data.status === demandeStatus.Delivre && isAdministrateur()" class="card" (click)="generateCertificate()">
            <svg-icon style="height: 50px; width: auto;" [key]="'checked'" ></svg-icon>
            <p>Régénérer le certificat d’agrément</p>
        </div>
    </div>
</div>

<form *ngIf="!displayItem && !displayHistoricTab" [formGroup]="form" class="mat-dialog-body" style="max-width: 800px">
    <div style="font-weight: bolder;" class="mb-2">
        Objet: {{objetTitle}}
    </div>
    <mat-dialog-content>
        <div fxLayout="column">
            <mat-content *ngIf="status == demandeStatus.Suspendu" fxFlex fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-form-field fxFlex="49" >
                    <input matInput [matDatepicker]="datePicker1" placeholder="Date Debut" formControlName="dateDebut">
                    <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker1></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field fxFlex="49">
                    <input matInput [matDatepicker]="datePicker2" placeholder="Date Fin" formControlName="dateFin">
                    <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker2></mat-datepicker>
                </mat-form-field>
            </mat-content>

            <mat-form-field fxFlex>
                <textarea matInput rows="5" placeholder="Raison" formControlName="raison"></textarea>
            </mat-form-field>

            <mat-error *ngIf="form.get('raison').errors?.required && (form.get('raison').dirty ||form.get('raison').touched)">
              Veillez saisir la raison de cette action
            </mat-error>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
        <div class="cancelAction">
            <button (click)="close()" mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()">
                Annuler
            </button>
        </div>

        <div class="submitAction">
            <button (click)="onSubmit()" mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()">
                Enregistrer
            </button>
        </div>
    </div>
</form>

<div *ngIf="displayHistoricTab" class="mat-dialog-body" >
  <div style="font-weight: bolder;" class="mb-4">
    Objet: Historique de gestion
  </div>
    <div fxLayout="column" class="px-3 pb-2" style="width: 100%;">
        <ngx-datatable
          fxHide fxShow.gt-xs="true"
          #table
          class="material"
          [rows]="pageRows"
          [count]="total"
          [offset]="pageOffset"
          [limit]="2"
          [externalPaging]="true"
          [sorts]="[sort]"
          [sortType]="'single'"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [loadingIndicator]="loadingIndicator"
          [messages]="{
            emptyMessage: 'Aucune information',
            totalMessage: ' au total'
          }"
          (page)="onChangePage($event)"
          (sort)="onSort($event)"
        >
          
          <ngx-datatable-column name="Action" prop="actionName">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.actionName}}</ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="Nom utilisateur" prop="userName">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.userName}} {{row.userFirstName}}</ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="ID de l'utilisateur" prop="userId">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantUser}}</ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="Date" prop="creationTime">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime}}</ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="Raison" prop="raison">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.raison}}</ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
        <div class="cancelAction">
            <button (click)="close()" mat-raised-button color="primary" #cancelButton>
                Fermer
            </button>
        </div>
    </div>
</div>

<button (click)="close()" mat-icon-button class="mat-dialog-close-btn">
    <mat-icon>close</mat-icon>
</button>