<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
    <mat-dialog-content>
        <ng-container *ngIf="isCreation == false">
            <div fxlayout="row" class="px-3">
                <div fxFlex="100" fxflex.gt-xs="25" fxLayoutAlign="flex-end">
                    <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
                        {{form.controls.status.value ? 'Actif' : 'Inactif'}}
                    </mat-slide-toggle>
                </div>
            </div> 
        </ng-container>
        <div fxLayout="column" class="m-3">
            <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.name != model?.previousName" matTooltip="{{model?.previousName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <input matInput placeholder="Nom *" formControlName="name">
                        <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
                        <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.demandeFaculteId != model?.previousDemandeFaculteId" matTooltip="{{model?.previousDemandeFaculteName}}"
                            class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Département *" formControlName="demandeFaculteId">
                            <mat-option *ngFor="let item of demandeFaculteList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.demandeFaculteId.errors?.required">Le département est requis</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2" *ngIf="!isCenter">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.niveauAccesId != model?.previousNiveauAccesId" matTooltip="{{model?.previousNiveauAccesName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Niveau d’accès *" formControlName="niveauAccesId">
                            <mat-option *ngFor="let item of niveauAccesList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.niveauAccesId.errors?.required">Le niveau d'accès est requis</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2" *ngIf="!isCenter">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.typeAdmissionId != model?.previousTypeAdmissionId" matTooltip="{{model?.previousTypeAdmissionName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Type d’admission *" formControlName="typeAdmissionId">
                            <mat-option *ngFor="let item of typeAdmissionList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.typeAdmissionId.errors?.required">L'admission de type est requise</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2" *ngIf="!isCenter">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.duree != model?.previousDuree" matTooltip="{{model?.previousDuree}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <input matInput placeholder="Durée (années) *" formControlName="duree">
                        <mat-error *ngIf="form.controls.duree.errors?.required">La durée est requise</mat-error>
                        <mat-error *ngIf="form.controls.duree.hasError('pattern')">La durée doit être un nombre</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="20" class="px-2" *ngIf="!isCenter">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.moyenneSeuilMin != model?.previousMoyenneSeuilMin" matTooltip="{{model?.previousMoyenneSeuilMin}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <input matInput placeholder="Moyenne :minimale d’accès *" formControlName="moyenneSeuilMin">
                        <mat-error *ngIf="form.controls.moyenneSeuilMin.errors?.required">Un accès minimum est requis</mat-error>
                        <mat-error *ngIf="form.controls.moyenneSeuilMin.hasError('pattern')">L'accès minimum doit être un nombre</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="13.33" class="px-2" *ngIf="!isCenter">
                    <mat-form-field class="w-100" class="none-border-bottom">
                        <input matInput placeholder="maximale d’accès *" value="/ 20" readonly>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.typeDiplomeId != model?.previousTypeDiplomeId" matTooltip="{{model?.previousTypeDiplomeName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Type de diplôme *" formControlName="typeDiplomeId">
                            <mat-option *ngFor="let item of typeDiplomeList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.typeDiplomeId.errors?.required">Le type de diplôme est requis</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.langueId != model?.previousLangueId"  matTooltip="{{model?.previousLangueName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Langue *" formControlName="langueId">
                            <mat-option *ngFor="let item of langueList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.langueId.errors?.required">La langue est requise</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                    <mat-form-field class="w-100">
                        <div matPrefix *ngIf="model?.keepOldValeur && model?.typeProgrammeId != model?.previousTypeProgrammeId" matTooltip="{{model?.previousTypeProgrammeName}}" class="mr-2">
                            <svg-icon [key]="'modification'"></svg-icon>
                        </div>
                        <mat-select placeholder="Type de filière *" formControlName="typeProgrammeId" (valueChange)="changeTypeProgramme($event)">
                            <mat-option *ngFor="let item of typeProgrammeList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.typeProgrammeId.errors?.required">Le type de programme est requis</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="mt-3" *ngIf="!isCenter">
            <div class="margin">
                <select class="mb-0 select hide-arrow text-center" disabled>
                    <option value="">Disciplines enseignées</option>
                </select>
            </div>
        </div>
        <div fxLayout="row" class="m-3" *ngIf="!isCenter">
            <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
                <button mat-raised-button type="button" color="primary" (click)="addDemandeDiscipline()">
                    Ajouter une discipline
                </button>
            </div>
        </div>
        <div class="border rounded p-3 mx-3" *ngIf="!isCenter">
            <ng-container formArrayName="demandeDisciplines">
                <ng-container *ngFor="let demandeDisciplineForm of demandeDisciplines.controls; let i = index">
                    <div fxLayout="column" class="m-3">
                        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2" [formGroup]="demandeDisciplineForm">
                            <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Discipline *" formControlName="name">
                                    <mat-error *ngIf="demandeDisciplineForm.controls.name.errors?.required">Le nom est requis</mat-error>
                                    <mat-error *ngIf="demandeDisciplineForm.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
                                </mat-form-field>
                            </div>
        
                            <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                                <mat-form-field class="w-100">
                                    <mat-select placeholder="Niveau d’étude minimum *" formControlName="niveauEtudeId">
                                        <mat-option *ngFor="let item of filteredNiveauEtudeList" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="demandeDisciplineForm.controls.niveauEtudeId.errors?.required">Le niveau d'étude est requis</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                                <mat-form-field class="w-100">
                                    <mat-select placeholder="Type de discipline *" formControlName="typeDisciplineId">
                                        <mat-option *ngFor="let item of typeDisciplineList" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="demandeDisciplineForm.controls.typeDisciplineId.errors?.required">Le type de discipline est requis</mat-error>
                                </mat-form-field>
                            </div>
        
                            <div fxFlex="100" fxFlex.gt-xs="10" class="px-2 mt-2">
                                <mat-slide-toggle formControlName="status" labelPosition="before">
                                    {{demandeDisciplineForm.controls.status.value ? 'Actif' : 'Inactif'}}
                                </mat-slide-toggle>
                            </div>
        
                            <div fxFlex="100" fxFlex.gt-xs="15" class="px-2">
                                <button mat-stroked-button class="delete-button" (click)="delete(i)">
                                    <svg-icon [key]="'delete'" class="mr-2"></svg-icon> Supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </mat-dialog-content>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div class="cancelAction">
            <button mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()" (click)="onClose()">
                Annuler
            </button>
        </div>
        <div class="submitAction">
            <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()" (click)="onSubmit()">
                Créer
            </button>
        </div>
    </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
