<div mat-dialog-title class="mat-dialog-title warn">{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body" style="max-width: 700px;">
    <mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
        <label for="userMessage">Veuillez indiquer les raisons du refus *</label>
      <textarea formControlName="message" formeContro id="userMessage" name="message" rows="5" class="custom-textarea " placeholder="Votre message..."></textarea>
    </mat-dialog-content>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">

        <div class="submitAction">
            <button class="custom-submit-button" (click)="onSubmit()">Enregistrer</button>
        </div>
    </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>
