.select {
    width: 100%;
    margin: 10px 0;
    background-color: rgb(18, 136, 233);
    border-radius: 25px;
    padding: 2px;
    color: white;
    font-weight: bold;
    height: 30px;
    padding-left: 15px;
}
.select.hide-arrow {
    -moz-appearance: none;
    -webkit-appearance: none;
}
.select.hide-arrow::-ms-expand {
    display: none;
}
.border-left {
    border-left: 5px rgb(18, 136, 233) solid;
    padding-left: 14px;
}


.container {
  width: 98%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.stepperContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 750px;
  width: 75%;
}

.stepper {
  min-width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.stepDefault, #stepDefault{
  width: 40px;
  height: 40px;
  white-space: wrap;
} 

#stepDefault{
white-space: nowrap;
} 

.step, .stepDefault, #stepDefault{
  min-width: 35px;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  position: relative;
}

.separator {
  margin: 5px;
  min-width: 30px;
  width: 30px;
  height: 0px;
  border: 1px solid gray;
}


.stepText { 
  font-size: 12px;
  position: absolute;
  top: 100%;
  margin-top: 5px;
}

.stepTextRow{
  display: block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stepTextRow:hover{
overflow: initial;
text-wrap: wrap;
}

.defaultSeparator {
  width: 20px;
  min-width: 20px;
}

.icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.circleTextAlign{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
}

.valide{
  background-color: #1DB43E;
}

.refuse{
  border: 1px solid #e44343;
  background-color: #e9acac;
}

.correctionsNecessaire{
  background-color: #E78831;
}

.enAttente{
  background-color: #468899;
}

.enCours{
  background-color: #468899;
}

.analyseEnCours{
  background-color: #C4C4C4;
  box-shadow: inset 0 0 5px #494848;
}

.agrementPrealable:hover{
  cursor: pointer;
}

#personnelButton {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.blockButton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.blockButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #57a17a;
}

#personnelButton .button {
  position: relative;
  z-index: 2;
  padding: 5px;
  border-radius: 20px;
  background: #FFFFFF;
  width: 16rem;
  min-width: 16rem;
  border: 2px solid #57a17a;
  margin: 0 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#personnelButton .button:hover {
  background-color: #57a17a;
  color: #FFFFFF;
  cursor: pointer;
}

#personnelButton .onActive {
  background-color: #57a17a;
  color: #FFFFFF;
  cursor: pointer;
}

.none-border-bottom .mat-form-field-underline {
  background: transparent !important;
}

.delete-button {
  color: #FFFFFF !important;
  border-radius: 20px;
  background-color: #D81F1F !important;
  text-align: left;
  padding: 0 30px;
}
