<div class="mat-dialog-title">{{title}}</div>
<form [formGroup]="form" class="mat-dialog-body">
    <div class="w-100" fxLayout="row wrap">
        <div fxFlex="100" class="px-2">
            <mat-form-field class="w-100">
                <mat-select formControlName="gestionnaire" placeholder="Gestionnaire">
                    <mat-option *ngFor="let gestionnaire of gestionnaireList" [value]="gestionnaire.id">
                        {{gestionnaire.name}} {{gestionnaire.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="100" class="px-2">
            <mat-form-field class="w-100">
                <mat-select formControlName="attribution" placeholder="Attribution">
                    <mat-option *ngFor="let attribution of attributionList" [value]="attribution.id">
                        {{attribution.name}} {{attribution.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions fxLayout="row" class="p-3" fxLayoutAlign="space-between">
        <div>
            <button mat-button class="button-like-link" #cancelButton color="primary" (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
                Annuler
            </button>
        </div>

        <div class="submitAction">
            <button mat-stroked-button #submitButton color="warn" class="m-r-10"  (click)="deleteAttribution()" [disabled]="!canModify">
                Supprimer
            </button>
            <button mat-raised-button color="primary" (click)="onSubmit()"
                (keydown.arrowleft)="cancelButton.focus()" [disabled]="!canModify">
                Enregistrer
            </button>
        </div>
    </div>
</form>
<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>