<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
    <div fxLayout="row">
    </div>
    <div fxLayout="row">
    </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
    <a *ngFor="let nav of navs" mat-tab-link class="mat-tab-label" [disableRipple]="true" [routerLink]="nav.routerLink"
        routerLinkActive="mat-tab-label-active" #rla="routerLinkActive" [active]="rla.isActive">
        {{ nav.label }}
    </a>
</nav>

<div class="mainPageMenu ">
    <!-- ******************** TYPE DE DEMANDES******************** -->
    <form *ngIf="typeDemandesList" class="mx-4 formTypeDemande">
        <div id="typeDemande">
            <label *ngFor="let item of typeDemandesList" (click)="onClick(item)"
                [ngClass]="{'onActive': isActive(item)}" class="my-2" (mouseenter)="logEvent($event,true)"
                (mouseout)="logEvent($event,false)">
                <input (change)="changes($event)" type="checkbox" [value]="item.name">
                {{item.name }}
            </label>
        </div>

        <mat-icon class="arrow_back" (click)="scrollLeft()">arrow_back</mat-icon>
        <mat-icon class="arrow_forward" (click)="scrollRight()">arrow_forward</mat-icon>

    </form>

    <!-- ********************AGREMENTATION******************** -->
    <div class="caroussel mx-2">
        <div *ngIf="testDataShown" class="content-cards">

            <mat-icon class="left_arrow " (click)="preview()"
                [ngClass]="{'hide' : hideLeftArrow}">arrow_back_ios</mat-icon>
            <mat-icon class="right_arrow" (click)="next()"
                [ngClass]="{'hide' : hideRightArrow}">arrow_forward_ios</mat-icon>

            <mat-card class="m-3 card border" *ngFor="let item of testDataShown" (click)="openDemandeDialog(item)">
                <mat-card-header>
                    <mat-card-title>
                        <img src="{{item?.logoUrl}}" alt="" height="100px" width="100px" class="mr-3  rounded">
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="cardName">{{item.name}}</p>
                </mat-card-content>
                <div class="icon">
                    <img src="{{item?.typeDemandeIconeUrl}}" alt="" height="30px" width="30px" class="mr-3  rounded">
                </div>
            </mat-card>
        </div>
    </div>

</div>