<app-content-header [customIcon]="'menu-management'" [title]="title" [hideBreadcrumb]="false" [hasBgImage]="true"
  [class]="'pb-4'">
</app-content-header>
<form [formGroup]="form" *ngIf="form">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="button" preventDoubleClick (throttledClick)="onDelete()" *ngIf="showDeleteButton">
        <svg-icon [key]="'delete'" class="mr-2"></svg-icon> Supprimer ma demande
      </button>

      <button mat-button type="button" preventDoubleClick (throttledClick)="onSave(false)" *ngIf="showSaveButton">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <div *ngIf="hasPaymentReceipet" mt-3 style="width: 350px; padding-left: 10px; display: flex; align-items: center; justify-content: space-between;" >
    <p style="font-weight: bold; font-size: 15px;">Reçu de paiment : {{paymentReceiptStatusName}}</p>
    <button [disabled]="!activeButtonReceiptPayment" mt-2 mat-raised-button style="height: 35px; width: 150px;" color="primary" (click)="openPaymentReceipDailog()">Gérer le reçu</button>
  </div>

  <div class="mb-3 px-2 mt-2 container">
    <div class="border rounded p-2 stepperContainer">
      <div class="m-2" style="min-width: 30%;">
        <div>Nom et prénom du demandeur: {{_model?.demandeurName}}</div>
        <div>Type de demande : {{_model?.agrementationName}}</div>
        <div>No de demande : {{_model?.numero}}</div>
        <div>Statut du paiement : {{_model?.statusName}}</div>
      </div>
      <div class="stepper">
        <div class="stepContainer">
          <div>
            <div id="stepDefault" [style.background-color]="enAttente? '#468899' : '#1DB43E'">
              <svg-icon [key]="enAttente? 'enAttente' : 'valide'"></svg-icon>
              <p class="stepText ">{{firstStepTitle}}</p>
            </div>
          </div>
        </div>

        <ng-container *ngIf="!noRepeatedStep">
          <div class="separator"></div>
          <mat-spinner [diameter]="30"></mat-spinner>
        </ng-container>

        <ng-container *ngFor="let step of noRepeatedStep">
          <div class="separator"></div>
          <div [ngClass]="{'columns' : isVerticalCircle(step)} ">
            <div *ngFor="let process of circleByStep(step)" class="stepContainer">
              <div class="circleTextAlign">
                <div class="step"
                  [ngStyle]="{ 'width': circleWidth(process.step), 'height': circleHeight(process.step) }"
                  [ngClass]="circleBgColor(process)">
                  <div class="icon">
                    <svg-icon [key]="stepIcon(process)"></svg-icon>
                  </div>
                  <div truncateText *ngIf="!isVerticalCircle(process.step)" class="stepText">{{process.action}}</div>
                </div>
                <div truncateText *ngIf="isVerticalCircle(process.step)" class="stepTextRow">{{process.action}}</div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="separator"></div>

        <div class="stepContainer">
          <div>
            <div class="stepDefault analyseEnCours">
              <svg-icon [key]="''"></svg-icon>
              <p class="stepText">Refusée</p>
            </div>
          </div>
        </div>

        <div class="defaultSeparator "></div>

        <ng-container>
          <div class="stepContainer">
            <div>
              <div *ngIf="lastStep" class="stepDefault" [ngClass]="circleBgColor(lastStep.status)">
                <svg-icon [key]="stepIcon(lastStep.status)"></svg-icon>
                <p truncateText class="stepText">{{lastStep.action}}</p>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

    <div fxLayout="column" class="ml-2" *ngIf="isValidated">
      <button mat-stroked-button style="color:green; border-color:green; text-align: left;" (click)="onAccept()">
        <svg-icon [key]="'accept'" class="mr-2"></svg-icon> {{currentProcessStep.action}}
      </button>
      <button mat-stroked-button style="color:orange; border-color:orange; text-align: left;" class="my-3"
        (click)="onCorrect()">
        <svg-icon [key]="'correct'" class="mr-2"></svg-icon> Corrections nécessaires
      </button>
      <button mat-stroked-button style="color:red; border-color:red; text-align: left;" (click)="onRefuse()">
        <svg-icon [key]="'refuse'" class="mr-2"></svg-icon> Refuser le dossier
      </button>
    </div>

    <div fxLayout="column" class="ml-2">
      <div class="mb-2"
        *ngIf="_model.status == demandeStatus.Delivre || _model.status == demandeStatus.Refuse || _model.status == demandeStatus.Suspendu || _model.status == demandeStatus.Annule || _model.status == demandeStatus.Reactive">
        <span style="font-weight: bold;">Status : </span> <span>{{_model.statusName}}</span>
      </div>
      <button (click)="openAgrementManagementDialog()" mat-stroked-button
        style="color:rgb(255, 255, 255); background-color:rgb(87,161,122);">
        Gérer l'agrement
      </button>
      <button (click)="openDemandeCertificat(_model)" class="mt-3" mat-stroked-button
        style="color:rgb(248, 248, 248); background-color:rgb(29, 97, 223);">
        Ouvrir le certificat d'agrément
      </button>
      <button (click)="onSubmit()" *ngIf="allowSubmit()" class="mt-3" mat-stroked-button
        style="color:rgb(248, 248, 248); background-color:rgb(29, 97, 223);">
        Soumettre la demande
      </button>
    </div>
  </div>

  <div fxLayout="row">
    <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true" class="w-100">
      <mat-tab label="Informations sur l’établissement">
        <div class="m-3">
          <div class="margin">
            <select class="select" disabled>
              <option value="">Informations nominative et localisation</option>
            </select>
          </div>
          <form [formGroup]="demandeInstitutionForm">
            <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
              <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                <mat-form-field class="w-100">
                  <div matPrefix
                    *ngIf="demandeInstitutionModel?.keepOldValeur && demandeInstitutionModel?.name != demandeInstitutionModel?.previousName"
                    matTooltip="{{demandeInstitutionModel?.previousName}}" class="mr-2">
                    <svg-icon [key]="'modification'"></svg-icon>
                  </div>
                  <input matInput placeholder="Institution *" formControlName="name">
                  <mat-error *ngIf="demandeInstitutionForm.controls.name.errors?.required">Le nom de l'institution est
                    requis</mat-error>
                  <mat-error *ngIf="demandeInstitutionForm.controls.name.hasError('minlength')">Le nom de l'institution
                    doit avoir un minimum de 3 caractères</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                <mat-form-field class="w-100">
                  <mat-select placeholder="Préfecture / ville / commune *" formControlName="prefectureId">
                    <mat-option *ngFor="let item of prefecturesList" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="demandeInstitutionForm.controls.prefectureId.errors?.required">La préfecture est
                    requise</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Complément de localisation" formControlName="description">
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                <mat-form-field class="w-100">
                  <mat-select placeholder="Statut" formControlName="statusEtablissementId">
                    <mat-option *ngFor="let item of statusEtablissementList" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="demandeInstitutionForm.controls.statusEtablissementId.errors?.required">Le statut
                    est requis</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
                <mat-form-field class="w-100">
                  <mat-select placeholder="Type d’institution" formControlName="typeInstitutionId">
                    <mat-option *ngFor="let item of typeInstitutionList" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="demandeInstitutionForm.controls.typeInstitutionId.errors?.required">Le type de
                    l'institution est requis</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="margin m-3" *ngIf="_model.hasProgrammesFormation">
          <select class="select" disabled>
            <option value="">Programmes de formation</option>
          </select>
        </div>
        <mat-tab-group *ngIf="_model.hasProgrammesFormation" class="custom green-dark mt-3" [disableRipple]="true"
          class="w-100">
          <mat-tab label="Programmes">
            <div class="m-3">
              <div class="m-3">Le champs “Personnel : Filière / Discipline” est automatiquement mis à jour relativement
                à vos entrées
                dans la section “Personnel et formateurs”.</div>
              <div fxLayout="row" class="pr-3">
                <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end">
                  <button mat-raised-button type="button" color="primary" (click)="createDemandeProgramme()">
                    Ajouter une filière de formation
                  </button>
                </div>
              </div>
              <div fxLayout="column" class="px-3 pt-2 pb-3">
                <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="demandeProgrammeListView"
                  [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

                  <ngx-datatable-column name="Nom" prop="name">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Département" prop="departmentName">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.departmentName}}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Niveau d’accès" prop="niveauAccesName">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauAccesName}}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Durée (années)" prop="duree">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.duree}}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Personnel : Filière / Discipline" prop="disciplineNames">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{row.disciplineNames}}</ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Actif" prop="status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                        {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                      </mat-icon>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Changement">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <button mat-icon-button *ngIf="row.isModification">
                        <svg-icon [key]="'modification'"></svg-icon>
                      </button>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Action" [sortable]="false" maxWidth="200">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <button mat-icon-button (click)="editDemandeProgramme(row)">
                        <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                      </button>
                      <button mat-icon-button (click)="deleteDemandeProgramme(row)">
                        <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                      </button>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

                <div fxHide fxShow.xs="true">
                  <mat-accordion multi="true">
                    <mat-expansion-panel *ngFor="let programme of demandeProgrammeListView"
                      class="table-expansion-panel">
                      <mat-expansion-panel-header class="px-3">
                        <mat-panel-title><span class="flex-text-ellipsis">{{programme.name}}</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Département</span>
                        <span fxFlex="50" class="px-2 text-right">{{programme.departmentName}}</span>
                      </div>
                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Niveau d’accès</span>
                        <span fxFlex="50" class="px-2 text-right">{{programme.niveauAccesName}}</span>
                      </div>
                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Durée (années)</span>
                        <span fxFlex="50" class="px-2 text-right">{{programme.duree}}</span>
                      </div>
                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Personnel : Filière / Discipline</span>
                        <span fxFlex="50" class="px-2 text-right">{{programme.disciplineNames}}</span>
                      </div>
                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Actif</span>
                        <span fxFlex="50" class="px-2 text-right">
                          <mat-icon [ngClass]="programme.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                            {{programme.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                          </mat-icon>
                        </span>
                      </div>
                      <div fxLayout="row" class="p-2">
                        <span fxFlex="50" class="px-2 text-bold">Changement</span>
                        <span fxFlex="50" class="px-2 text-right" *ngIf="programme.isModification">
                          <svg-icon [key]="'modification'"></svg-icon>
                        </span>
                      </div>
                      <mat-action-row class="px-2">
                        <div fxFlex="50" class="px-2">
                          <button mat-raised-button type="button" color="warn"
                            (click)="deleteDemandeProgramme(programme)" class="w-100">Supprimer</button>
                        </div>
                        <div fxFlex="50" class="px-2">
                          <button mat-raised-button type="button" color="primary"
                            (click)="editDemandeProgramme(programme)" class="w-100">Modifier</button>
                        </div>
                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Départements"></mat-tab>
        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Formulaire" *ngIf="_model.hasFormulaire || _model.agrementPrealable">
        <div class="m-3">
          <div *ngIf="_model.agrementPrealable">
            <div class="margin" *ngFor="let number of agrementPrealableNumbers">
              <span style="font-weight: bold; font-size: 18px;">{{agrementPrealableTitle}} :</span> <span
                class="agrementPrealable" (click)="navigateToAgrementPrealable(number)"
                style="color: blue; font-size: 18px;"> No {{number}}</span>
            </div>
          </div>
          <div *ngIf="_model.isRecognition">
            <span style="font-weight: bold; font-size: 18px;">Reconnaissance Agrément</span>
          </div>
          <div>
            <ng-container *ngFor="let formulaireSectionChamp of formulaireSectionChampValeurs">
              <div class="margin">
                <select class="select" disabled>
                  <option value="">{{formulaireSectionChamp?.formulaireSection?.name}}</option>
                </select>
              </div>
              <div fxLayout="row wrap" class="my-3 px-4">
                <ng-container
                  *ngFor="let formulaireSectionChampValeur of formulaireSectionChamp.formulaireSectionChampValeurs">
                  <div fxFlex="100" class="px-3" fxFlex.gt-xs="33.33">
                    <div fxFlex="100" fxFlex.gt-xs="100">
                      <mat-form-field class="w-100" *ngIf="isShortText(formulaireSectionChampValeur)">
                        <mat-label>{{formulaireSectionChampValeur.champName}}</mat-label>
                        <input [readonly]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                          matInput [formControlName]="formulaireSectionChampValeur.formControlName">
                      </mat-form-field>

                      <mat-form-field class="w-100" *ngIf="isLongText(formulaireSectionChampValeur)">
                        <mat-label>{{formulaireSectionChampValeur.champName}}</mat-label>
                        <textarea [readonly]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                          matInput [formControlName]="formulaireSectionChampValeur.formControlName"
                          style="height: 30px; border:solid 1px;"></textarea>
                      </mat-form-field>

                      <mat-form-field class="w-100" *ngIf="isDropdownList(formulaireSectionChampValeur)">
                        <mat-select
                          [disabled]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                          placeholder="{{formulaireSectionChampValeur.champName}}"
                          [formControlName]="formulaireSectionChampValeur.formControlName">
                          <mat-option *ngFor="let item of formulaireSectionChampValeur.possibleValeurs"
                            [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <ng-container *ngIf="isCheckBox(formulaireSectionChampValeur)">
                        <mat-form-field class="w-100"
                          *ngIf="isCheckBoxWithMultipleValues(formulaireSectionChampValeur);else checkboxTemplate">
                          <mat-select
                            [disabled]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                            placeholder="{{formulaireSectionChampValeur.champName}}"
                            [formControlName]="formulaireSectionChampValeur.formControlName" [multiple]="true">
                            <mat-option *ngFor="let item of formulaireSectionChampValeur.possibleValeurs"
                              [value]="item.id">
                              {{item.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <ng-template #checkboxTemplate>
                          <mat-checkbox
                            [disabled]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                            [formControlName]="formulaireSectionChampValeur.formControlName">{{formulaireSectionChampValeur.champName}}</mat-checkbox>
                        </ng-template>
                      </ng-container>

                      <mat-radio-group
                        [disabled]="!canEditFormulaireSectionChamp(formulaireSectionChamp?.formulaireSection)"
                        [formControlName]="formulaireSectionChampValeur.formControlName" class="w-100"
                        *ngIf="isRadioButton(formulaireSectionChampValeur)">
                        <label>{{formulaireSectionChampValeur.champName}}</label>
                        <mat-radio-button *ngFor="let item of formulaireSectionChampValeur.possibleValeurs"
                          [value]="item.id">{{item.name}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <button mat-icon-button *ngIf="formulaireSectionChampValeur?.isModification"
                      matTooltip="Ancienne donnée : {{formulaireSectionChampValeur?.oldValeurText}}" class="mt-2">
                      <svg-icon [key]="'modification'"></svg-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Personnel et formateurs">
        <div id="personnelButton">
          <div class="blockButton">
            <div class="button" [ngClass]="{'onActive': isSelectedAdministratifPersonnelTab}"
              (click)="changePersonnelTab(true)">Personnel Administratif</div>
            <div class="button" [ngClass]="{'onActive': !isSelectedAdministratifPersonnelTab}"
              (click)="changePersonnelTab(false)" *ngIf="_model.hasProgrammesFormation">Formateurs</div>
          </div>
        </div>

        <div class="m-3" *ngIf="isSelectedAdministratifPersonnelTab">
          <div fxLayout="row" class="px-3 pt-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="space-between center">
              <div class="wrap text-left">
                <span>
                  Doit comprendre au minimum : {{ requiredAdministratifPosteListString }}
                </span>
              </div>
            </div>
          </div>

          <div fxLayout="row" class="pr-3 pt-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end">
              <button mat-raised-button type="button" color="primary"
                (click)="createDemandePersonnelMember(false, true)">
                Ajouter d’autres membres du personnel
              </button>
              <button mat-raised-button type="button" color="primary" (click)="createDemandePersonnelMember(true, true)"
                class="ml-2">
                Ajouter membres du personnel obligatoire
              </button>
            </div>
          </div>

          <div fxLayout="column" class="px-3 pt-2 pb-3">
            <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [rows]="administratifDemandePersonnelMemberList"
              [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

              <ngx-datatable-column name="Poste" prop="poste" maxWidth="100">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.poste}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Nom" prop="name" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Prénom" prop="firstName" maxWidth="300">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date de naissance" prop="dateNaissance" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <ng-container *ngIf="row.dateNaissance != null;  then hasDateNaissance; else haveNoDateNaissance">
                  </ng-container>

                  <ng-template #hasDateNaissance>{{row.dateNaissance | date: 'dd/MM/yyyy'}}
                  </ng-template>
                  <ng-template #haveNoDateNaissance>A determiner
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Adresse mail" prop="email">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.email}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Numéro de télépone" prop="phone">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.phone}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Documents" prop="documents">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentNames}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actif" prop="status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action" [sortable]="false" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button (click)="editPersonnelDetails(row)">
                    <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                  </button>
                  <button mat-icon-button (click)="deletePersonnelMember(row)">
                    <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <div fxHide fxShow.xs="true">
              <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let personnel of administratifDemandePersonnelMemberList"
                  class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title><span class="flex-text-ellipsis">{{personnel.name}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">poste</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.poste}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">name</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.name}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">firstName</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.firstName}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">dateNaissance</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.dateNaissance | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">email</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.email}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">phone</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.phone}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">documents</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.documentNames}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Actif</span>
                    <span fxFlex="50" class="px-2 text-right">
                      <mat-icon [ngClass]="personnel.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                        {{personnel.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                      </mat-icon>
                    </span>
                  </div>
                  <mat-action-row class="px-2">
                    <div fxFlex="50" class="px-2">
                      <button mat-raised-button type="button" color="warn" (click)="deletePersonnelMember(personnel)"
                        class="w-100">Supprimer</button>
                    </div>
                    <div fxFlex="50" class="px-2">
                      <button mat-raised-button type="button" color="primary" (click)="editPersonnelDetails(personnel)"
                        class="w-100">Modifier</button>
                    </div>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <div class="m-3" *ngIf="!isSelectedAdministratifPersonnelTab">
          <div fxLayout="row" class="px-3 pt-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="space-between center">
              <div class="wrap text-left">
                <span>
                  Doit comprendre au minimum: un formateur quafifé pour chaque discipline enseignée.
                </span>
              </div>
            </div>
          </div>

          <div fxLayout="row" class="pr-3 pt-2">
            <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end">
              <button mat-raised-button type="button" color="primary"
                (click)="createDemandePersonnelMember(true, false)" class="ml-2">
                Ajouter membres du personnel obligatoire
              </button>
            </div>
          </div>

          <div fxLayout="column" class="px-3 pt-2 pb-3">
            <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="formateurDemandePersonnelMemberList"
              [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

              <ngx-datatable-column name="Poste" prop="poste" maxWidth="100">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.poste}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Filière de formation" prop="programmeNames">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeNames}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Nom" prop="name" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Prénom" prop="firstName" maxWidth="300">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date de naissance" prop="dateNaissance" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <ng-container *ngIf="row.dateNaissance != null;  then hasDateNaissance; else haveNoDateNaissance">
                  </ng-container>

                  <ng-template #hasDateNaissance>{{row.dateNaissance | date: 'dd/MM/yyyy'}}
                  </ng-template>
                  <ng-template #haveNoDateNaissance>A determiner
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Documents" prop="documents">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.documentNames}}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actif" prop="status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                    {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                  </mat-icon>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action" [sortable]="false" maxWidth="200">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button (click)="editPersonnelDetails(row)">
                    <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                  </button>
                  <button mat-icon-button (click)="deletePersonnelMember(row)">
                    <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <div fxHide fxShow.xs="true">
              <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let personnel of formateurDemandePersonnelMemberList"
                  class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title><span class="flex-text-ellipsis">{{personnel.name}}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">poste</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.poste}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Filière de formation</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.programmeNames}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">name</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.name}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">firstName</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.firstName}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">dateNaissance</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.dateNaissance | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">documents</span>
                    <span fxFlex="50" class="px-2 text-right">{{personnel.documentNames}}</span>
                  </div>
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Actif</span>
                    <span fxFlex="50" class="px-2 text-right">
                      <mat-icon [ngClass]="personnel.statusName === 'Actif' ? 'color-green' : 'color-grey'">
                        {{personnel.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
                      </mat-icon>
                    </span>
                  </div>
                  <mat-action-row class="px-2">
                    <div fxFlex="50" class="px-2">
                      <button mat-raised-button type="button" color="warn" (click)="deletePersonnelMember(personnel)"
                        class="w-100">Supprimer</button>
                    </div>
                    <div fxFlex="50" class="px-2">
                      <button mat-raised-button type="button" color="primary" (click)="editPersonnelDetails(personnel)"
                        class="w-100">Modifier</button>
                    </div>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Documents joints à la demande">
        <div class="m-3">
          <div class="row wrap text-center">
            Veuillez joindre tous les documents requis ci-dessous
          </div>

          <div class="row wrap text-italic text-center">
            Tous les documents doivent être lisibles et sans reflets
          </div>
          <div class="row wrap warn-color text-italic text-center" *ngIf="showAttachedDocumentSectionWarning()">
            * Certains documents sont manquants, veuillez les insérer avant de continuer. Dans le cas contraire, vous
            deverez les communiquer en personne.
          </div>

          <div>
            <ng-container *ngFor="let attachedDocumentSection of attachedDocumentSections">
              <div class="margin">
                <select class="select" disabled>
                  <option value="">{{attachedDocumentSection?.section?.name}}</option>
                </select>
              </div>
              <ng-container *ngFor="let attachedDocument of attachedDocumentSection.attachedDocumentSections">
                <div class="row wrap mb-3">
                  <div [class]="getCss(attachedDocument)">
                    {{attachedDocument.documentName}} (format {{attachedDocument.acceptedFormat}} ; max.
                    {{attachedDocument.maxSize}} ko) *
                  </div>
                  <div class="row">
                    <button *ngIf="isValidToDownloadModel(attachedDocument)" mat-raised-button color="secondary"
                      type="button" (click)="openDocumentModel(attachedDocument)" class="mr-2">
                      Télécharger modèle
                    </button>
                    <button [disabled]="!canEditAttachedDocumentSection(attachedDocumentSection?.section)"
                      mat-raised-button color="secondary" type="button" (click)="uploadDocument(attachedDocument)"
                      class="mr-2">
                      Choisir le fichier
                    </button>
                    <input [disabled]="!canEditAttachedDocumentSection(attachedDocumentSection?.section)" type="file"
                      name="file" style="display:none" [id]="getSelectorId(attachedDocument)"
                      (change)="onFileUpload($event, attachedDocument)" accept="{{attachedDocument.acceptedFormat}}"
                      placeholder="Choisir le fichier">

                    <a *ngIf="attachedDocument.link" (click)="openDocument(attachedDocument)"
                      class="color-blue">{{attachedDocument.fileName}}</a>
                    <span *ngIf="!attachedDocument.link">Aucun document n'a été importé</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Communications / notes au dossier">
        <div fxLayout="row" class="px-5 pt-4">
          <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
            <button mat-raised-button type="button" color="primary" (click)="createCommunicationNote(null)">
              Ajouter une communication
            </button>
          </div>
        </div>
        <div fxLayout="column" class="px-3 pt-2 pb-3">
          <ngx-datatable fxHide fxShow.gt-xs="true" class="material" [limit]="10" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [rows]="communicationNoteList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Date" prop="creationTime" maxWidth="200">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nom" prop="name" maxWidth="300">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Rôle" prop="roleName" maxWidth="300">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.roleName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Object" prop="object" maxWidth="300">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.object}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Message" prop="message">
              <ng-template let-row="row" ngx-datatable-cell-template>{{truncateMessage(row.message, 100)}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [sortable]="false" maxWidth="200">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="color-blue" (click)="createCommunicationNote(row.id)"
                *ngIf="row.employeMinisterielId === employeMinisterielId">Ouvrir</a>
                <a *ngIf="row.employeMinisterielId !== employeMinisterielId"
                class="color-blue" (click)="openReadMessageDialog(row)">
                <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
              </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <div fxHide fxShow.xs="true">
            <mat-accordion multi="true">
              <mat-expansion-panel *ngFor="let communicationNote of communicationNoteList"
                class="table-expansion-panel">
                <mat-expansion-panel-header class="px-3">
                  <mat-panel-title><span class="flex-text-ellipsis">{{communicationNote.name}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="row" class="p-2">
                  <span fxFlex="50" class="px-2 text-bold">Date</span>
                  <span fxFlex="50" class="px-2 text-right">{{communicationNote.creationTime}}</span>
                </div>

                <div fxLayout="row" class="p-2">
                  <span fxFlex="50" class="px-2 text-bold">Rôle</span>
                  <span fxFlex="50" class="px-2 text-right">{{communicationNote.roleName}}</span>
                </div>

                <div fxLayout="row" class="p-2">
                  <span fxFlex="50" class="px-2 text-bold">Object</span>
                  <span fxFlex="50" class="px-2 text-right">{{communicationNote.object}}</span>
                </div>

                <div fxLayout="row" class="p-2">
                  <span fxFlex="50" class="px-2 text-bold">Message</span>
                  <span fxFlex="50" class="px-2 text-right">{{communicationNote.message}}</span>
                </div>

                <mat-action-row class="px-2">
                  <div fxFlex="50" class="px-2"></div>
                  <div fxFlex="50" class="px-2">
                    <button mat-raised-button type="button" color="primary" class="w-100"
                      (click)="createCommunicationNote(communicationNote.id)"
                      *ngIf="communicationNote.employeMinisterielId === employeMinisterielId">Ouvrir</button>
                      <a *ngIf="communicationNote.employeMinisterielId !== employeMinisterielId"
                      class="color-blue" (click)="openReadMessageDialog(communicationNote)">
                      <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                    </a>
                  </div>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>