.button-like-link {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    /* color: inherit; */
    cursor: pointer;
    text-decoration: underline;
    border: none;
    /* color: blue; */
  }