<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" >
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
  <mat-card fxLayout="row" fxLayoutAlign="space-around center" class="user-info p-0">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>{{user.firstName}} {{user.name}}</h2>
      <h3 class="secondary-text-color">{{userRole}}</h3>
    </div>
  </mat-card>

  <mat-divider></mat-divider>

  <a mat-menu-item (click)="openProfileDialog()"> 
    <mat-icon>person_outline</mat-icon>
    <span>Profil</span> 
  </a>
  
  <mat-divider></mat-divider>

  <a mat-menu-item (click)="openModifyPasswordDialog()"> 
    <mat-icon>password</mat-icon>
    <span>Modifier le mot de passe</span> 
  </a>

  <mat-divider></mat-divider>

  <a mat-menu-item (click)="disconnect()"> 
    <mat-icon>power_settings_new</mat-icon>
    <span>Déconnexion</span> 
  </a>
</mat-menu>