<app-content-header 
  [icon]="'home'" 
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<div class="mainPageMenu py-2" *ngIf="isUniversitaireUser()">
  <div fxLayout="column" fxLayout.gt-xs="row wrap" class="px-2">
    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToStudentDossiers()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-dossier-students'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Dossier Apprenants</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToInscriptions()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-clipboard'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Inscriptions</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

