<div mat-dialog-title>Ajouter un outil</div>
<div class="mat-dialog-body ">
<form [formGroup]="form" >
  <div fxLayout="row" class="my-3">
    <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
      <mat-form-field class="w-100">
        <mat-label>Nom de l’outil *</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le nom est requis
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
      <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
        {{form.controls.status.value ? 'Actif' : 'Inactif'}}
      </mat-slide-toggle>
    </div>
  </div>
      
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onSubmit()">
        Enregistrer
      </button>
    </div>
  </div>
  </form>
