<div mat-dialog-title>Ajouter un kit scolaire</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div *ngIf="error" class="mb-3 text-center">
      <mat-error>{{error}}</mat-error>
    </div>
    <div fxLayout="row" class="mb-3">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
        <mat-form-field class="w-100">
          <mat-label>Nom du kit *</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le nom est requis
          </mat-error>
        </mat-form-field>
      </div>
    
      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
          {{form.controls.status.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row" class="mr-2 mb-3">
      <div fxFlex="100" fxFlex.sm="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" color="primary" (click)="add()">
          Ajouter un outil
        </button>
      </div>
    </div>
    <div class="border rounded mx-2 mb-3" *ngIf="schoolSupplies.controls.length > 0">
      <ng-container formArrayName="schoolSupplies">
        <ng-container *ngFor="let schoolSupplyForm of schoolSupplies.controls; let i = index">
          <div fxLayout="column" class="mt-2 ml-3">
            <div fxLayout="column" fxLayout.gt-xs="row wrap" [formGroup]="schoolSupplyForm">
              <div fxFlex="70" fxFlex.gt-xs="85">
                <autocomplete placeholder="Nom de l’outil *" [values]="schoolSupplyList"
                  idField="id" valueField="name" formControlName="id">
                </autocomplete>
              </div>
              <div fxFlex="30" fxFlex.gt-xs="15" fxLayoutAlign="center center">
                <button mat-icon-button (click)="delete(i)">
                  <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (keydown.arrowright)="submitButton.focus()" (click)="onClose()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()" (click)="onSubmit()">
        Ajouter
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>