<app-content-header 
  [customIcon]="'menu-profil'" 
  [title]="title" 
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<mat-action-row class="px-3">
  <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
    <mat-icon>edit</mat-icon> Editer mon profil
  </button>
</mat-action-row>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
  <mat-tab label="Informations sur le profil">
    <form [formGroup]="form">      
      <div fxLayout="column" class="m-3">
        <mat-accordion multi="true">
          <mat-expansion-panel expanded hideToggle="false" disabled="true">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Informations personnelles du Fondateur (trice) ou du déclarant responsable</mat-panel-title>
            </mat-expansion-panel-header>
    
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 mt-3">
                <label>Numéro d’identification du compte : {{demandeur?.identifiant}}</label>
              </div>
            </div>
            
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Prénom *" formControlName="firstName">
                  <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
                  <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
                </mat-form-field>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Nom *" formControlName="name">
                  <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
                  <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
                </mat-form-field>
              </div>
              
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">                
                <div class="mat-radio-group-container" >
                  <mat-radio-group formControlName="genreId" class="w-100">
                    <label>Sexe *</label>
                    <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
                  </mat-radio-group>
                  <mat-error style="font-size: 75%" *ngIf="form.controls.genreId.errors?.required 
                  && (form.controls.genreId.dirty || form.controls.genreId.touched)">Le sexe est requis</mat-error>
                </div>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput autocomplete="new-password" [matDatepicker]="dateNaissance" formControlName="dateNaissance" placeholder="Date de naissance *">
                  <mat-datepicker-toggle matSuffix [for]="dateNaissance">
                    <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dateNaissance disabled="false"></mat-datepicker>
                  <mat-error *ngIf="form.controls.dateNaissance.errors?.required">La date de naissance est requise</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
    
          <mat-expansion-panel expanded hideToggle="false" disabled="true">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Contacts et informations de connexion</mat-panel-title>
            </mat-expansion-panel-header>
    
            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
                  <input matInput autocomplete="new-password" placeholder="Email *" formControlName="email" maxlength="255">
                  <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
                  <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
                </mat-form-field>
              </div>
    
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
                  <input matInput autocomplete="new-password" placeholder="Numéro de téléphone *" formControlName="phone">
                  <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
                  <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </mat-tab>
   
  <mat-tab label="Documents joints au profil">
    <div class="m-3">
      <ng-container *ngFor="let attachedDocument of attachedTypeDemandeurDocuments; let i = index">
        <div class="row wrap mb-3" *ngIf="attachedDocument.fileName">
          <div class="row mb-2">
            {{attachedDocument.documentName}} (format {{attachedDocument.acceptedFormat}} ; max. {{attachedDocument.maxSize}} ko) *
          </div>
          <div class="row">
            <a (click)="openAttachedTypeDemandeurDocument(attachedDocument)" class="color-blue">{{attachedDocument.fileName}}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>