<app-content-header 
  [customIcon]="'menu-dossier-students'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
  <div fxLayout="row">
  </div>
</mat-toolbar>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-4">

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Nom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstname formControlName="firstName" placeholder="Prénom">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput formControlName="email" placeholder="Adresse courriel">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Période de la demande" [values]="sessionsList" 
            idField="name" valueField="name" formControlName="periode">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <autocomplete placeholder="Statut" [values]="statusList" 
            idField="value" valueField="name" formControlName="demandeurStatus">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2" *ngIf="false">
          <autocomplete placeholder="Statut biométrique" [values]="biometricList" 
            idField="value" valueField="name" formControlName="biometricStatus">
          </autocomplete>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign=" center" class="px-4 py-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    
    <ngx-datatable-column name="Numéro d’identification" prop="identifiant">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiant}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Nom/Société" prop="name">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Prénom" prop="firstName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Adresse courriel" prop="email">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.email}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Statut biométrique" *ngIf="false">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.biometricStatus}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" *ngIf="!isMinistre()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">Ouvrir</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.firstName}} {{row.name}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Numéro d’identification</span>
          <span fxFlex="50" class="px-2 text-right">{{row.identifiant}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom/Société</span>
          <span fxFlex="50" class="px-2 text-right">{{row.name}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Prénom</span>
          <span fxFlex="50" class="px-2 text-right">{{row.firstName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="p-2 text-bold">Adresse courriel</span>
          <span fxFlex="50" class="px-2 text-right">{{row.email}}</span>
        </div>

        <div fxLayout="row" class="p-2" *ngIf="false">
          <span fxFlex="50" class="p-2 text-bold">Statut biométrique</span>
          <span fxFlex="50" class="px-2 text-right">{{row.biometricStatus}}</span>
        </div>

        <mat-action-row class="px-2" *ngIf="!isMinistre()">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">Ouvrir</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
