<app-content-header 
  [customIcon]="'menu-frais'"
  [title]="'Frais d’agrémentations'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
    
  </div>
  <div fxLayout="row">
    <button mat-button (click)="add()">
      <mat-icon>add</mat-icon> Ajouter
    </button>
  </div>
</mat-toolbar>

<div fxLayout="column" class="p-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom de la demande">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.agrementationName}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Montant">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actif" prop="statusName">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
          {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
        </mat-icon>
      </ng-template>
    </ngx-datatable-column>
  
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-icon-button (click)="edit(row)">
          <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
        </button>

        <button mat-icon-button (click)="delete(row)">
          <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>
            <span class="flex-text-ellipsis">
              {{row.agrementationName}}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Montant</span>
          <span fxFlex="50" class="px-2 text-right">{{row.montant}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Actif</span>
          <span fxFlex="50" class="px-2 text-right">
            <mat-icon [ngClass]="row.statusName === 'Actif' ? 'color-green' : 'color-grey'">
              {{row.statusName === 'Actif' ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
          </span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="warn" (click)="delete(row)" class="w-100">Supprimer</button>
          </div>

          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="edit(row)" class="w-100">Modifier</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
