<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="75">
        <mat-form-field class="w-100">
          <mat-select placeholder="Nom de la demande *" formControlName="agrementationId">
            <mat-option *ngFor="let item of agrementationList" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.agrementationId.errors?.required">Le nom de la demande est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-slide-toggle formControlName="status" class="my-2" labelPosition="after">
          {{form.controls.status.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Montant *</mat-label>
          <input matInput formControlName="montant">

          <mat-error *ngIf="form.controls.montant.errors?.required && (form.controls.montant.dirty || form.controls.montant.touched)">Le montant est requis
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>