<div mat-dialog-title>Ajout d’un kit</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="m-3">
      <form [formGroup]="form" fxLayout="column">
        <autocomplete placeholder="Nom du kit *" [values]="schoolKitList" 
          idField="id" valueField="name" formControlName="schoolKitId">
        </autocomplete>
      </form>
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
        <button mat-raised-button (click)="onClose()">Annuler</button>
        <button mat-raised-button (click)="onSubmit()" color="primary">Enregistrer</button>
      </div>
    </div>
  </mat-dialog-content>
</div>
<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>