<div mat-dialog-title>Décision</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{admissionInstitutionRowViewModel.institutionName}}
    </div>
    <div class="text-center mb-3">
      {{admissionInstitutionRowViewModel.localisation}}
    </div>

    <div class="border rounded p-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Prénom et Nom de l’apprenant :</strong></td>
            <td>{{admissionInstitutionRowViewModel.etudiantName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>PV :</strong></td>
            <td>{{admissionInstitutionRowViewModel.numeroPV}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{admissionInstitutionRowViewModel.identifiantNationalEleve}}</td>
          </tr>
        </table>
        <div class="border rounded p-2">
          <div fxFlex="100" class="px-2">
            <div>
              Décision :
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              ADMIS
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              -
            </div>
            <div class="text-center text-bold mb-3 title color-green">
              {{admissionInstitutionRowViewModel.programmeName}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row wrap">
      * Tout choix est définitif ;
    </div>
    <div class="row wrap">
      * Vous ne pouvez accepter qu’une offre par session ;
    </div>
    <div class="row wrap">
      * En acceptant une offre, vous fermez vos autres demandes.
    </div>
  </mat-dialog-content>

  <div class="text-center text-bold mb-3 title warn" *ngIf="isRefuseTheOffer()">
    L’offre a été refusée
  </div>

  <div class="text-center text-bold mb-3 title color-green" *ngIf="isAcceptTheOffer()">
    L’offre a été acceptée
  </div>

  <div class="border rounded p-2" *ngIf="showAttachedDocument">
    <div class="row mb-2 text-bold">
      Documents joints à la demande d’admission
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Extrait d’acte de naissance :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.acteNaissanceFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openActeNaissance()">
          Télécharger
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Photo d’identité :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.photoFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openPhoto()">
          Télécharger
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Lettre de demande manuscrite et numérisée :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.lettreFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openLettre()">
          Télécharger
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Attestation de niveau CEE et de niveau collège :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.attestationFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openAttestation()">
          Télécharger
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Diplôme CEE :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.diplomeCEEFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openDiplomeCEE()">
          Télécharger
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div fxFlex="40">
        Certificat de visite médicale :
      </div>
      <div fxFlex="45">
        {{attachedDocumentInfo.certificatVMFileName}}
      </div>
      <div fxFlex="15">
        <button mat-raised-button color="secondary" type="button" (click)="openCertificatVM()">
          Télécharger
        </button>
      </div>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>