<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div class="text-center">
        Veuillez entrer la moyenne de l'apprenant et confirmer l‘action :
      </div>
    </div>

    <div fxLayout="row" class="my-3">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-label>Note sur 20 *</mat-label>
          <input matInput formControlName="moyenne">
          <mat-error *ngIf="form.controls.moyenne.errors?.required">Le note est requis</mat-error>
          <mat-error *ngIf="form.controls.moyenne.hasError('pattern')">La note est un nombre</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Confirmer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>