<div mat-dialog-title>Décision</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center text-bold mb-3 title">
      {{admissionInstitutionRowViewModel.institutionName}}
    </div>
    <div class="text-center mb-3">
      {{admissionInstitutionRowViewModel.localisation}}
    </div>

    <div class="border rounded p-2 mb-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Prénom et Nom de l’apprenant :</strong></td>
            <td>{{admissionInstitutionRowViewModel.etudiantName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>PV :</strong></td>
            <td>{{admissionInstitutionRowViewModel.numeroPV}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{admissionInstitutionRowViewModel.identifiantNationalEleve}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded p-2 mb-2" *ngIf="showAttachedDocument">
      <div class="row mb-2">
        <div fxFlex="35">
          Extrait d’acte de naissance :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.acteNaissanceFileName}}
        </div>
        <div fxFlex="15" *ngIf="!acteNaissanceImport">
          <button mat-raised-button color="secondary" type="button" (click)="openActeNaissance()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="acteNaissanceImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadActeNaissance()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="acteNaissanceSelector"
              (change)="onActeNaissanceFileUpload($event)" accept=".pdf"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle labelPosition="before" [checked]="acteNaissanceChecked" (change)="changeActeNaissanceChecked($event)">
            {{attachedDocumentInfo.acteNaissanceStatus}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row mb-2">
        <div fxFlex="35">
          Photo d’identité :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.photoFileName}}
        </div>
        <div fxFlex="15" *ngIf="!photoImport">
          <button mat-raised-button color="secondary" type="button" (click)="openPhoto()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="photoImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadPhoto()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="photoSelector"
              (change)="onPhotoFileUpload($event)" accept=".png"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle labelPosition="before" [checked]="photoChecked" (change)="changePhotoChecked($event)">
            {{attachedDocumentInfo.photoStatus}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row mb-2">
        <div fxFlex="35">
          Lettre de demande manuscrite et numérisée :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.lettreFileName}}
        </div>
        <div fxFlex="15" *ngIf="!lettreImport">
          <button mat-raised-button color="secondary" type="button" (click)="openLettre()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="lettreImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadLettre()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="lettreSelector"
              (change)="onLettreFileUpload($event)" accept=".pdf"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle labelPosition="before" [checked]="lettreChecked" (change)="changeLettreChecked($event)">
            {{attachedDocumentInfo.lettreStatus}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row mb-2">
        <div fxFlex="35">
          Attestation de niveau CEE et de niveau collège :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.attestationFileName}}
        </div>
        <div fxFlex="15" *ngIf="!attestationImport">
          <button mat-raised-button color="secondary" type="button" (click)="openAttestation()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="attestationImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadAttestation()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="attestationSelector"
              (change)="onAttestationFileUpload($event)" accept=".pdf"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle labelPosition="before" [checked]="attestationChecked" (change)="changeAttestationChecked($event)">
            {{attachedDocumentInfo.attestationStatus}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row mb-2">
        <div fxFlex="35">
          Diplôme CEE :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.diplomeCEEFileName}}
        </div>
        <div fxFlex="15" *ngIf="!diplomeCEEImport">
          <button mat-raised-button color="secondary" type="button" (click)="openDiplomeCEE()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="diplomeCEEImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadDiplomeCEE()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="diplomeCEESelector"
              (change)="onDiplomeCEEFileUpload($event)" accept=".pdf"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle labelPosition="before" [checked]="diplomeCEEChecked"  (change)="changeDiplomeCEEChecked($event)">
            {{attachedDocumentInfo.diplomeCEEStatus}}
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row mb-2">
        <div fxFlex="35">
          Certificat de visite médicale :
        </div>
        <div fxFlex="40">
          {{attachedDocumentInfo.certificatVMFileName}}
        </div>
        <div fxFlex="15" *ngIf="!certificatVMImport">
          <button mat-raised-button color="secondary" type="button" (click)="openCertificatVM()">
            Télécharger
          </button>
        </div>
        <div fxFlex="15" *ngIf="certificatVMImport">
          <button mat-raised-button color="secondary" type="button" (click)="uploadCertificatVM()" [disabled]="isPublique">
            Importer
          </button>
          <input type="file" name="file" style="display:none" id="certificatVMSelector"
              (change)="onCertificatVMFileUpload($event)" accept=".pdf"
              placeholder="Importer">
        </div>
        <div fxFlex="10">
          <mat-slide-toggle class="my-2" labelPosition="before" [checked]="certificatVMChecked" (change)="changeCertificatVMChecked($event)">
            {{attachedDocumentInfo.certificatVMStatus}}
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="border rounded p-2">
      <form [formGroup]="form" fxLayout="row wrap">
        <div fxFlex="100" class="px-2">
          <table>
            <tr>
              <label id="radio-group-label">Décision :</label>
            </tr>
            <tr>
              <mat-radio-group aria-labelledby="radio-group-label" formControlName="programmeId" class="decision-radio-group">
                <mat-radio-button class="decision-radio-button" style="margin-right: 20px;" *ngFor="let item of choixAdmissionInstitutionDTOs;" [value]="item.programmeId" [disabled]="isPublique">
                  {{item.programmeName}}
                </mat-radio-button>
                <mat-radio-button class="decision-radio-button" style="margin-right: 20px;" [value]="-1" [disabled]="isPublique">
                  Candidature rejetée
                </mat-radio-button>
                <mat-radio-button class="decision-radio-button" style="margin-right: 20px;" [value]="-2" *ngIf="showAttachedDocument" [disabled]="isPublique">
                  En attente - Document(s) invalide(s)
                </mat-radio-button>
              </mat-radio-group>       
            </tr> 
          </table>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()" [disabled]="isPublique">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>