.payment-biometrics-circle {
  box-sizing: border-box;
  width: 139px;
  height: 139px;
  border: 5px solid;
  border-radius: 50%;
}

.initial {
  border-color: #4A4A4A;
}

.passed {
  border-color: #699D33;
}

.error {
  border-color: #C82B2B;
}

.border-3 {
  box-sizing: border-box;
  border: 3px solid #8F8F8F;
  border-radius: 5px;
}

.payment-info-box {
  min-width: 647px;
}

.biometrics-wrapper {
  padding-bottom: 1em;
  padding-top: 0.75em;
}
.biometrics-wrapper .icon-group{
  position: relative;
}
.payment-biometrics-circle .fingerprint mat-icon {
  font-size: 82px;
  height: auto;
  width: auto;
}
.payment-biometrics-circle.passed .fingerprint mat-icon {
  color: rgba(0, 0, 0, 0.11);
}
.payment-available {
  position: absolute;
  left: 0;
  top: 0;
  color: #699D33;
}
.payment-available mat-icon {
  font-size: 6rem;
  width: 88px;
  height: 88px;
}