<div mat-dialog-title>Fiche de réception</div>
<form class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="mb-2" fxFlex.gt-xs="30">
        <button mat-raised-button [ngClass]="getTabClasses(tabs[0].id)" (click)="setTab(tabs[0].id)">
          Générer une fiche de réception
        </button>
      </div>
      <div fxFlex.gt-xs="5"></div>
      <div fxFlex="100" class="mb-2" fxFlex.gt-xs="30">
        <button mat-raised-button [ngClass]="getTabClasses(tabs[1].id)" (click)="setTab(tabs[1].id)">
          Importer une fiche
        </button>
      </div>
    </div>
    <div *ngIf="currentTab === tabs[0].id">
      <div class="text-center text-italic my-2">
        Veuillez sélectionner les outils à intégrer à la fiche. Par défaut, les outils ajoutés aujourd’hui et leur quantité sont présélectionnés.
      </div>
      <div class="text-center text-italic mb-3">
        Seuls les outils préalablement ajoutés peuvent être sélectionnés, de même, leur quantité maximum ne peut excéder celle
        précédemment indiquée. Les outils pour lesquels une fiche de réception a déjà été générée ne peuvent être ajoutés.
      </div>
      <button mat-raised-button class="bg-green-dark" [disabled]="!allowGenerateReceiptForm()"
        (click)="generateReceiptFormKit()">
        Générer la fiche
      </button>
      <div class="mt-3" *ngIf="receiptFormFileName">
        <a class="color-blue" (click)="openReceiptForm()">{{receiptFormFileName}}</a>
      </div>
      <div fxLayout="column" class="pb-3 mt-3">
        <ngx-datatable fxHide fxShow.gt-xs="true" #schoolSupplyTable class="material" [rows]="schoolSupplyList"
          [count]="schoolSupplyTotal" [offset]="schoolSupplyPageOffset" [limit]="10" [sortType]="'single'"
          [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" (page)="onChangeSchoolSupplyTable($event)"
          [selectionType]="SelectionType.checkbox" [messages]="{
            emptyMessage: 'Aucune information',
            totalMessage: ' au total'
          }">

          <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template ngx-datatable-header-template>
              <mat-checkbox [checked]="isCheckedAll()" (change)="onCheckboxAllChange($event)" [disabled]="disableCheckedAll()">
              </mat-checkbox>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-checkbox [checked]="row.checked" [disabled]="row.quantity === 0" (change)="onCheckboxChange(row)">
              </mat-checkbox>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Outils" prop="supplyName">
            <ng-template let-row="row" ngx-datatable-cell-template>{{row.supplyName}}</ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Quantité" prop="quantity">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div style="margin-top:-2%">
                <button mat-icon-button (click)="decreaseSupplyQuantity(row)">-</button>
                <span class="px-2">{{row.quantity}}</span>
                <button *ngIf="row.quantity < row.originalQuantity" mat-icon-button (click)="increaseSupplyQuantity(row)">+</button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <div fxHide fxShow.xs="true">
          <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let row of schoolSupplyPagedRows" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title><span class="flex-text-ellipsis">{{row.supplyName}}</span></mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Quantité</span>
                <span fxFlex="50" class="px-2 text-right">{{row.quantity}}</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-paginator style="background: transparent" [length]="schoolSupplyTotal"
            [pageIndex]="schoolSupplyPageOffset" [pageSize]="10" (page)="onChangeSchoolSupplyMaterialTable($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div *ngIf="currentTab === tabs[1].id">
      <div>Import d’une fiche de réception <span class="text-italic">(format pdf uniquement)</span></div>
      <button mat-raised-button color="secondary" type="button" (click)="uploadFile()" class="mr-3 my-2">
        Choisir le fichier
      </button>
      <input type="file" name="file" style="display:none" id="attachedFileSelector" (change)="onFileUpload($event)"
        accept=".pdf" placeholder="Choisir le fichier">

      <ngx-datatable fxHide fxShow.gt-xs="true" #table class="material mb-3 mt-2" [rows]="receiptFormList"
        [count]="receiptFormTotal" [offset]="receiptFormPageOffset" [limit]="receiptFormPageSize"
        [externalPaging]="true" [sortType]="'single'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [messages]="{
            emptyMessage: 'Aucune information',
            totalMessage: ' au total'
          }" (page)="onChangeReceiptFormTable($event)">
        <ngx-datatable-column name="Nom" prop="fileName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.fileName}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Utilisateur">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.firstName + " " + row.name}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Date" prop="creationTime">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime | date: 'dd/MM/yyyy'}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="openFile(row.link)" class="color-blue">Ouvrir</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let row of receiptFormList" class="table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title><span class="flex-text-ellipsis">{{row.fileName}}</span></mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Utilisateur</span>
              <span fxFlex="50" class="px-2 text-right">{{row.firstName + " " + row.name}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Date</span>
              <span fxFlex="50" class="px-2 text-right">{{row.creationTime | date: 'dd/MM/yyyy'}}</span>
            </div>

            <mat-action-row class="px-2">
              <div fxFlex="50" class="px-2"></div>
              <div fxFlex="50" class="px-2">
                <button mat-raised-button type="button" color="primary" (click)="openFile(row.link)"
                  class="w-100">Ouvrir</button>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator style="background: transparent" [length]="receiptFormTotal" [pageIndex]="receiptFormPageOffset"
          [pageSize]="receiptFormPageSize" (page)="onChangeReceiptFormMaterialTable($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" class="p-3">
    <button mat-raised-button #cancelButton (click)="onClose()">Fermer</button>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>