<div mat-dialog-title>Générer une bourse</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form" fxLayout="row wrap">
      
      <div fxFlex="100" fxFlex.gt-xs="100" class="px-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Nom de la bourse *" formControlName="bourseId">
            <mat-option *ngFor="let bourse of bourses" [value]="bourse.id">
              {{bourse.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.bourseId.errors?.required">Le nom de la bourse est requis</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="100" class="px-2 mb-2 mt-2">
        <div fxFlex="100">
          Veuillez sélectionner les mois concernés et le statut
        </div>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isSeptembre">Septembre</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="septembreStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isOctobre">Octobre</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="octobreStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isNovembre">Novembre</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="novembreStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isDecembre">Décembre</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="decembreStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isJanvier">Janvier</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="janvierStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isFevrier">Février</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="fevrierStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isMars">Mars</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="marsStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isAvril">Avril</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="avrilStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isMai">Mai</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="maiStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isJuin">Juin</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="juinStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isJuillet">Juillet</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="juilletStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2 pb-2">
          <mat-checkbox formControlName="isAout">Août</mat-checkbox>
          <mat-form-field>
            <mat-select placeholder="Statut" formControlName="aoutStatus">
              <mat-option *ngFor="let item of statusList" [value]="item.value">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Retour
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Générer la bourse
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>