<div mat-dialog-title>{{viewModel?.typeName}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div><b>Type de bourse :</b> {{viewModel?.bourseName}}</div>
    <div><b>Nom du motif de perte de la bourse :</b> {{viewModel?.raisonStatutBourseName}}</div>
    <div><b>Date de la perte :</b> {{viewModel?.modificationTime | date: 'dd/MM/yyyy'}}</div>
    <div><b>Utilisateur :</b> {{viewModel?.utilisateurModificationName}}</div>
    <div><b>Notes / commentaires :</b></div>
    <textarea matInput readonly class="w-100" matTextareaAutosize>
      {{model?.commentaires}}
    </textarea>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (click)="onClose()">
        Fermer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>