<div mat-dialog-title>Modifier le statut admission</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    
    <div class="text-center text-bold mb-3 title">
      {{admissionInstitutionRowViewModel.institutionName}}
    </div>
    <div class="text-center mb-3">
      {{admissionInstitutionRowViewModel.localisation}}
    </div>

    <div class="border rounded p-2 mb-2">
      <div fxFlex="100">
        <table>
          <tr>
            <td class="px-1"><strong>Prénom et Nom de l’apprenant :</strong></td>
            <td>{{admissionInstitutionRowViewModel.etudiantName}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>PV :</strong></td>
            <td>{{admissionInstitutionRowViewModel.numeroPV}}</td>
          </tr>
          <tr>
            <td class="px-1"><strong>INA :</strong></td>
            <td>{{admissionInstitutionRowViewModel.identifiantNationalEleve}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded p-2">
      <form [formGroup]="form" fxLayout="row wrap">
        <div fxFlex="100" class="px-2">
          <mat-form-field class="w-100">
             <mat-select placeholder="Option *" formControlName="option">
              <mat-option *ngFor="let optionItem of optionList" [value]="optionItem.value">
                {{optionItem.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.option.errors?.required">L'option est requise</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>