<div mat-dialog-title>Inscription</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <div class="color-green-dark border-bottom green-dark m-2">
      Profil
    </div>

    <div fxLayout="row wrap" class="mb-5">
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Prénom</label>
        <span>{{student.firstName}}</span>
      </div>
  
      <div fxFlex="50" class="p-2 readonlyField">
        <label>Nom</label>
        <span>{{student.name}}</span>
      </div>

      <div fxFlex="100" class="p-2 readonlyField">
        <label>INA</label>
        <span>{{student.identifiantNationalEleve}}</span>
      </div>
    </div>

    <div class="color-green-dark border-bottom green-dark m-2">
      Inscription {{inscriptionProgramme?.anneeAcademiqueName}}
    </div>

    <form [formGroup]="form" fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <input matInput 
            placeholder="Veuillez saisir le matricule de l'apprenant *" 
            formControlName="matricule">
          <mat-error *ngIf="form.controls.matricule.errors?.required">Le matricule est requis</mat-error>
          <mat-error *ngIf="form.controls.matricule.hasError('containsSpecialCharacter')"> Le matricule ne doit pas comporter de caractères spéciaux @, &, ), (, /, «</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <autocomplete placeholder="Institution *" [values]="institutionList" 
            idField="id" valueField="name" formControlName="institutionId">
        </autocomplete>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Département *" formControlName="faculteId">
            <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">
              {{faculty.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.faculteId.errors?.required">La département est requise</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Programme *" formControlName="programmeId">
            <mat-option *ngFor="let program of programList" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.programmeId.errors?.required">Le programme est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Année scolaire *" formControlName="anneeAcademiqueId">
            <mat-option *ngFor="let anneeAcademique of anneeAcademiqueList" [value]="anneeAcademique.id">
              {{anneeAcademique.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.anneeAcademiqueId.errors?.required">L'année scolaire est requise</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Niveau *" formControlName="niveauEtudeId">
            <mat-option *ngFor="let niveauEtude of niveauEtudeList" [value]="niveauEtude.id">
              {{niveauEtude.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.niveauEtudeId.errors?.required">Le niveau est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field class="w-100">
          <input matInput placeholder="Moyenne" formControlName="moyenne">
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Statut *" formControlName="status" [disabled]="blockEditStatut()">
            <mat-option *ngFor="let statusItem of statusList" [value]="statusItem.value">
              {{statusItem.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.status.errors?.required">Le statut est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2 my-3">
        <label style="margin-right: 20px;">Type de formation *</label>
        <mat-radio-group formControlName="typeFormationId">
          <mat-radio-button style="margin-right: 20px;" *ngFor="let item of typeFormationList;" [value]="item.id">
            {{item.name}}
          </mat-radio-button>
          <mat-error *ngIf="form.controls.typeFormationId.errors?.required && 
          (form.controls.typeFormationId.dirty || form.controls.typeFormationId.touched)">Le type de formation est requis</mat-error>
        </mat-radio-group>
      </div>

      <div fxFlex="100" class="px-2 my-3">
        <label style="margin-right: 20px;">Régime *</label>
        <mat-radio-group formControlName="regime">
          <mat-radio-button style="margin-right: 20px;" *ngFor="let item of regimeList;" [value]="item.value" [disabled]="!allowToModifyStatus()">
            {{item.name}}
          </mat-radio-button>
          <mat-error *ngIf="form.controls.regime.errors?.required && 
          (form.controls.regime.dirty || form.controls.regime.touched)">Le régime est requis</mat-error>
        </mat-radio-group>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>