<mat-progress-bar *ngIf="loadingIndicator" mode="indeterminate"></mat-progress-bar>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar" >
  <div fxLayout="row">
    <button mat-button type="button" (click)="goBack()">
      <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
    </button>
  </div>
</mat-toolbar>

<mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
  <mat-tab label="Profil">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
        <div > 
          <img [src]="profilePhoto" alt="user-image"  height="150px">
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="p-3">
        <div > 
          <button mat-raised-button color="primary" type="button" (click)="openFile()" *ngIf="this.allowModifyProfilePhoto()">
            Modifier photo
          </button>
          <input type="file" name="file" style="display:none" id="photoSelector"
                (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                placeholder="Téléverser une photo">
        </div>
      </div>
      
      <div fxLayout="column" class="m-3">
        <mat-accordion multi="true">
          <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>Informations</mat-panel-title>
              <mat-icon>person_outline</mat-icon>
            </mat-expansion-panel-header>

            <div class="px-3 pb-3 accent-color">Informations personnelles</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="!isCreation">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="INA *" formControlName="identifiantNationalEleve" autofocus="true" [readonly]="this.isDiplomeInformationsReadOnly()">
                  <mat-error *ngIf="form.controls.identifiantNationalEleve.errors?.required">L'INA est requis</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" fxLayoutAlign="start end">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Prénom *" formControlName="firstName" [readonly]="this.isReadOnly()">
                  <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
                  <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" fxLayoutAlign="start end">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
                  <input matInput placeholder="Nom *" formControlName="name" [readonly]="this.isReadOnly()">
                  <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
                  <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 3 caractères</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">                
                <div class="mat-radio-group-container" >
                  <mat-radio-group formControlName="genreId" class="w-100" [disabled]="this.isReadOnly()">
                    <label>Sexe *</label>
                    <mat-radio-button *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-radio-button>
                  </mat-radio-group>
                  <mat-error style="font-size: 75%" *ngIf="form.controls.genreId.errors?.required 
                  && (form.controls.genreId.dirty || form.controls.genreId.touched)">Le sexe est requis</mat-error>
                </div>
              </div>
              
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput [matDatepicker]="dateNaissance" formControlName="dateNaissance" placeholder="Date de naissance *" [readonly]="this.isReadOnly()">
                  <mat-datepicker-toggle matSuffix [for]="dateNaissance">
                    <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dateNaissance disabled="false"></mat-datepicker>
                  <mat-error *ngIf="form.controls.dateNaissance.errors?.required">La date de naissance est requise</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Préfecture de résidence *" [values]="prefectureList" 
                  idField="id" valueField="name" formControlName="prefectureId" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>
    
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Lieu de naissance" formControlName="lieuNaissance" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Nationalité" [values]="countryList" 
                  idField="name" valueField="name" formControlName="nationalite" required="true" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Nom du père" formControlName="nomPere" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Nom de la mère" formControlName="nomMere" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Adresse" formControlName="adresse" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Ville" formControlName="ville" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Pays" formControlName="pays" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Numéro de photo" formControlName="numeroPhoto" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33.3" class="px-2 readonlyField" *ngIf="!isCreation">
                <label>Statut biométrique</label>
                <span>{{model?.biometricStatus}}</span>
              </div>
            </div>

            <div class="p-3 accent-color">Informations d'examen</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Numéro PV" formControlName="numeroPV" [readonly]="this.isDiplomeInformationsReadOnly()">
                  <mat-error *ngIf="form.controls.numeroPV.hasError('pattern')">Le PV du BAC n'a pas le bon format</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Centre d'examen" [values]="centreExamenList" 
                  idField="id" valueField="name" formControlName="centreExamenId" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Moyenne Générale" formControlName="moyenneGenerale" [readonly]="this.isDiplomeInformationsReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Moyenne Examen" formControlName="moyenneExamen" [readonly]="this.isDiplomeInformationsReadOnly()">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Rang" formControlName="rang" [readonly]="this.isReadOnly()">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" class="p-3">
              <div class="mat-radio-group-container" >
                <mat-radio-group formControlName="typeDiplomeSelection" (change)="onTypeDiplomeChange()" class="w-100" [disabled]="this.isDiplomeInformationsReadOnly()">
                  <label>Type de diplôme  *</label>
                  <mat-radio-button *ngFor="let typeDiplome of typeDiplomeList" [value]="typeDiplome.id">{{typeDiplome.name}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            
            <div class="p-3 accent-color" *ngIf="isBacSelected">Informations du BAC</div>

            <div fxLayout="row wrap" class="px-2" *ngIf="isBacSelected">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBacSelected">
                <autocomplete placeholder="Session du BAC *" [values]="sessionsBACList" 
                  idField="name" valueField="name" formControlName="sessionBAC" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
                  idField="id" valueField="name" formControlName="lyceeId" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBacSelected">
                <autocomplete placeholder="Option du BAC" [values]="optionsBACList" 
                  idField="id" valueField="code" formControlName="optionBACId" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBacSelected">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Moyenne BAC" formControlName="moyenneBAC" [readonly]="this.isDiplomeInformationsReadOnly()">
                </mat-form-field>
              </div>
            </div>

            <div class="p-3 accent-color" *ngIf="isBrevetSelected">Informations du BEPC</div>

            <div fxLayout="row wrap" class="px-2" *ngIf="isBrevetSelected">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBrevetSelected">
                <autocomplete placeholder="Session du BEPC *" [values]="sessionsBEPCList" 
                  idField="name" valueField="name" formControlName="sessionBEPC" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Collège d'origine" [values]="collegeList" 
                  idField="id" valueField="name" formControlName="collegeId" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBrevetSelected">
                <autocomplete placeholder="Option du BEPC" [values]="optionsBEPCList" 
                  idField="id" valueField="code" formControlName="optionBEPCId" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isBrevetSelected">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Moyenne BEPC" formControlName="moyenneBEPC" [readonly]="this.isDiplomeInformationsReadOnly()">
                </mat-form-field>
              </div>
            </div>

            <div class="p-3 accent-color" *ngIf="isTerminaleSelected">Informations de Terminale</div>

            <div fxLayout="row wrap" class="px-2" *ngIf="isTerminaleSelected">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isTerminaleSelected">
                <autocomplete placeholder="Session de Terminale *" [values]="sessionsBACList" 
                  idField="name" valueField="name" formControlName="sessionTerminale" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <autocomplete placeholder="Lycée d'origine" [values]="lyceesList" 
                  idField="id" valueField="name" formControlName="lyceeTerminaleId" [readonly]="this.isReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isTerminaleSelected">
                <autocomplete placeholder="Option de Terminale" [values]="optionsTerminaleList" 
                  idField="id" valueField="code" formControlName="optionTerminaleId" [readonly]="this.isDiplomeInformationsReadOnly()">
                </autocomplete>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2" *ngIf="isTerminaleSelected">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Moyenne Terminale" formControlName="moyenneTerminale" [readonly]="this.isDiplomeInformationsReadOnly()">
                </mat-form-field>
              </div>
            </div>

            <div class="p-3 accent-color">Contact</div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
                  <input matInput placeholder="Email *" formControlName="email" maxlength="255" [readonly]="this.isExamAgent() || this.isMinistre()">
                  <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
                  <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
                  <input matInput placeholder="Numéro de téléphone *" formControlName="phone" [readonly]="this.isExamAgent() || this.isMinistre() || this.isDirectionsNationales()">
                  <mat-error *ngIf="form.controls.phone.errors?.required">Le numéro de téléphone est requis</mat-error>
                  <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33.3" class="px-2">
                <mat-form-field class="w-100">
                  <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
                  <input matInput placeholder="Numéro de téléphone vérifié" [value]="studenVerifiedPhoneNumber"  [readonly]="true">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" class="px-2">
              <div fxFlex="100" class="px-2">
                <mat-form-field class="w-100">
                  <textarea  matInput placeholder="Remarque" formControlName="remarque"
                    matTextareaAutosize 
                    matAutosizeMinRows="5"
                    matAutosizeMaxRows="10" [readonly]="this.isExamAgent() || this.isMinistre() || this.isDirectionsNationales()">
                  </textarea>
                </mat-form-field>
              </div>
            </div>

            <mat-action-row class="px-3" style="display:flex;flex-wrap:wrap;gap:5px">
              <button mat-raised-button color="warn" type="button" (click)="overWriteBiometry()" *ngIf="allowOverWritingBiometry()">
                Ecraser les données biométriques
              </button>
              <button mat-raised-button color="primary" type="button" (click)="synchronizeWithInserjeune()" *ngIf="allowSynchronizeWithInserjeune()">
                Synchroniser avec Inserjeune
              </button>
              <button mat-raised-button color="primary" type="button" (click)="activateOrDeactivateStudent()" *ngIf="allowResetPassword()">
                {{getActivateButtonText()}}
              </button>
              <button mat-raised-button color="primary" type="button" (click)="synchronizeWithIdentity()" *ngIf="allowSynchronizeWithIdentity()">
                Synchroniser avec identity
              </button>
              <button mat-raised-button color="primary" type="button" (click)="resetPassword()" *ngIf="allowResetPassword()">
                Réinitialiser le mot de passe
              </button>
              <button mat-raised-button color="primary" type="button" (click)="updateStudentStatus()" *ngIf="allowUpdateStatus()">
                Modifier le statut apprenant
              </button>
              <button mat-raised-button color="primary" type="button" (click)="save()" *ngIf="!this.isExamAgent() && !this.isMinistre() && !this.isDirectionsNationales()">
                Enregistrer
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </form>
  </mat-tab>
  
  <mat-tab label="Historique scolaire" *ngIf="model">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>{{historiqueScolaireTitle}}</mat-panel-title>
            <mat-icon>assessment</mat-icon>
          </mat-expansion-panel-header>
          
          <ngx-datatable
            #table
            class="material mx-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="resultatsMatieres"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
            
            <ngx-datatable-column name="Matière">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Note">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.ponderation | number:'1.0-2'}}</ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  
  <mat-tab label="Session d’admission" *ngIf="model && !isExamRole()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Résultats du session d’admission</mat-panel-title>
            <mat-icon>menu-admission</mat-icon>
          </mat-expansion-panel-header>
          
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="admissionInstitutions"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Etablissement" [headerClass]="'col-etablissement'" [cellClass]="'col-etablissement'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.etablissement}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Choix" [headerClass]="'col-etablissement'" [cellClass]="'col-etablissement'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.choixAdmissionInstitution}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Année" [headerClass]="'col-annee'" [cellClass]="'col-annee'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="PV" [headerClass]="'col-numeroPV'" [cellClass]="'col-numeroPV'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{getPV(row)}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut" [headerClass]="'col-status'" [cellClass]="'col-status'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Modalités" [headerClass]="'col-modalite'" [cellClass]="'col-modalite'">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="showModalite(row)" class="color-blue">{{getModalite(row)}}</a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Décision" [headerClass]="'col-decision'" [cellClass]="'col-decision'">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="changeAdmissionDecision(row)" class="color-blue" *ngIf="allowChangeAdmissionDecision(row)">Ouvrir</a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [headerClass]="'col-decision'" [cellClass]="'col-decision'">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="changeAdmissionStatus(row)" class="color-blue" *ngIf="allowChangeAdmissionDecision(row)">Ouvrir</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of admissionInstitutions"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.etudiantName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Etablissement</span>
                <span fxFlex="50" class="px-2 text-right col-etablissement">{{row.etablissement}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Choix</span>
                <span fxFlex="50" class="px-2 text-right col-etablissement">{{row.choixAdmissionInstitution}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Année</span>
                <span fxFlex="50" class="px-2 text-right col-annee">{{row.anneeAcademiqueName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">PV</span>
                <span fxFlex="50" class="px-2 text-right col-numeroPV">{{getPV(row)}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right col-status">{{row.statusName}}</span>
              </div>
              
              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="showModalite(row)" >{{getModalite(row)}}</button>
                </div>
              </mat-action-row>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="changeAdmissionDecision(row)" *ngIf="allowChangeAdmissionDecision(row)">Ouvrir</button>
                </div>
              </mat-action-row>

              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="changeAdmissionStatus(row)" *ngIf="allowChangeAdmissionDecision(row)">Ouvrir</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-action-row class="px-3">
            <button mat-raised-button type="button" (click)="addAdmission()" class="bg-orange" [disabled]="!isSessionExists()" *ngIf="isAdmin && !this.isMinistre() && !this.isDirectionsNationales()">
              Ajouter une admission
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Concours d’entrée" *ngIf="model && isAllowedExam()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Concours d’entrée</mat-panel-title>
            <mat-icon>menu-admission</mat-icon>
          </mat-expansion-panel-header>
  
          <ngx-datatable fxHide fxShow.gt-xs="true" class="material mx-3" [limit]="10" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="concoursEtudiantList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">
  
            <ngx-datatable-column name="Nom du concours">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.concoursName}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Niveau">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauAcces}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Session">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Centre de concours">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.centreConcoursName}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="PV">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.numeroPV ? row.numeroPV : "-"}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Note" *ngIf="isAdmin">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenneTotal ? row.displayedMoyenneTotal : "-"}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Résultat" *ngIf="isAdmin">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.resultName}}</ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column [sortable]="false" name="Modalités du concours">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="color-blue" (click)="openStudentConcoursDetail(row, false)">Afficher</a>
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column [sortable]="false" name="Résultats" *ngIf="isAdmin">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="color-blue" (click)="openStudentConcoursDetail(row, true)">Ouvrir</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
  
          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel *ngFor="let row of concoursEtudiantList" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.concoursName}}</mat-panel-title>
              </mat-expansion-panel-header>
  
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Niveau</span>
                <span fxFlex="50" class="px-2 text-right">{{row.niveauAcces}}</span>
              </div>
  
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Session</span>
                <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
              </div>
  
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Centre de concours</span>
                <span fxFlex="50" class="px-2 text-right">{{row.centreConcoursName}}</span>
              </div>
  
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">PV</span>
                <span fxFlex="50" class="px-2 text-right">{{row.numeroPV ? row.numeroPV : "-"}}</span>
              </div>
  
              <div fxLayout="row" class="p-2" *ngIf="isAdmin">
                <span fxFlex="50" class="px-2 text-bold">Note</span>
                <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenneTotal ? row.displayedMoyenneTotal : "-"}}</span>
              </div>
  
              <div fxLayout="row" class="p-2" *ngIf="isAdmin">
                <span fxFlex="50" class="px-2 text-bold">Résultat</span>
                <span fxFlex="50" class="px-2 text-right">{{row.resultName}}</span>
              </div>
  
              <mat-action-row class="px-2">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="openStudentConcoursDetail(row, false)">Afficher</button>
                </div>
              </mat-action-row>
  
              <mat-action-row class="px-2" *ngIf="isAdmin">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="openStudentConcoursDetail(row, true)">Ouvrir</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Inscription et réinscription" *ngIf="model && !isExamRole()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Inscriptions et réinscriptions</mat-panel-title>
            <mat-icon>school</mat-icon>
          </mat-expansion-panel-header>
          
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="inscriptionsProgrammes"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Date" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.date}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Matricule" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.matricule}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Période" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Niveau" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.niveauEtudeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Frais" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedFrais}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Institution">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Localisation">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.localisation}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Programme">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [sortable]="false" [headerClass]="'col-inscription'" [cellClass]="'col-inscription'" *ngIf="!this.isMinistre() && !this.isDirectionsNationales()">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button (click)="editInscription(row)">
                  <svg-icon [key]="'view'" class="color-blue" fontSize="22px"></svg-icon>
                </button>

                <button mat-icon-button (click)="removeInscription(row)">
                  <svg-icon [key]="'delete'" class="color-blue" fontSize="18px"></svg-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of inscriptionsProgrammes"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.matricule}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Date</span>
                <span fxFlex="50" class="px-2 text-right">{{row.date}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Matricule</span>
                <span fxFlex="50" class="px-2 text-right">{{row.matricule}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Période</span>
                <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Niveau</span>
                <span fxFlex="50" class="px-2 text-right">{{row.niveauEtudeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Frais</span>
                <span fxFlex="50" class="px-2 text-right">{{row.displayedFrais}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Institution</span>
                <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Localisation</span>
                <span fxFlex="50" class="px-2 text-right">{{row.localisation}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Programme</span>
                <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
              </div>

              <mat-action-row class="px-2" *ngIf="!this.isMinistre() && !this.isDirectionsNationales()">
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="warn" (click)="removeInscription(row)" class="w-100">Supprimer</button>
                </div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" (click)="editInscription(row)" class="w-100">Modifier</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row class="px-3">
            <button mat-raised-button type="button" (click)="addInscription()" class="bg-orange" *ngIf="isAdmin && !this.isMinistre() && !this.isDirectionsNationales()">
              Ajouter Inscription
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Documents officels" *ngIf="model && !isExamRole() && (isMinisterielUser() || isMinistre() || isDirectionsNationales())">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Documents officels</mat-panel-title>
            <mat-icon>folder_open</mat-icon>
          </mat-expansion-panel-header>
          
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="impressionDocuments"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom du document">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.name}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Institution">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Programme">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Période" [headerClass]="'col-document'" [cellClass]="'col-document'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut" [headerClass]="'col-document'" [cellClass]="'col-document'">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [headerClass]="'col-document'" [cellClass]="'col-document'" *ngIf="!this.isMinistre() && !this.isDirectionsNationales()">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="processDocument(row)" class="color-blue">Ouvrir</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of impressionDocuments"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.name}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom du document</span>
                <span fxFlex="50" class="px-2 text-right">{{row.name}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Institution</span>
                <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Programme</span>
                <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Période</span>
                <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
              </div>

              <mat-action-row class="px-2" *ngIf="!this.isMinistre()">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" color="primary" class="w-100" (click)="processDocument(row)">Ouvrir</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row class="px-3">
            <button mat-raised-button type="button" (click)="generateDocument()" class="bg-orange" *ngIf="allowRequestDocument && !this.isMinistre() && !this.isDirectionsNationales()">
              Générer un document
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Bourses" *ngIf="model && !isExamRole()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Liste des bourses</mat-panel-title>
            <mat-icon>attach_money</mat-icon>
          </mat-expansion-panel-header>

          <div fxLayout="row" style="line-height: 1;" class="px-3 mb-2 mt-2">
            <div class="main-card border p-2">
              <div>
                <div style="display: flex; align-items: center;">
                  <h4 class="mr-4" >Compte NSG Banking :</h4>
                  <button mat-raised-button type="button" color="primary" (click)="updateAccount()" *ngIf="isAdmin && !this.isMinistre() && !this.isDirectionsNationales()">
                    Editer le compte
                  </button>
                </div>
                <div class="ml-4" *ngIf="!etudiantNSGBankingInfo">
                  <p>Aucun compte configuré</p>
                </div>
                <div class="ml-4" *ngIf="etudiantNSGBankingInfo">
                  <p>
                    <span>Identifiant</span> : <span>{{etudiantNSGBankingInfo?.identifiantCompte}}</span>
                  </p>
                  <p>
                    <span>Numéro de téléphone du compte</span> : <span>{{etudiantNSGBankingInfo?.numeroCompte}}</span>
                  </p>
                  <p>
                    <span>Adresse courriel du compte</span> : <span>{{etudiantNSGBankingInfo?.emailCompte}}</span>
                  </p>
                </div>
              </div>
              <div  style="display:flex; justify-content:center; justify-items:center">
                <div style="margin-top: 10% ;" class="vertical-line"></div>
              </div>
  
              <div >
                <div>
                  <span style="font-weight:bold; margin-right: 30px;">Liste des bourses :</span>
                  <button mat-raised-button type="button" color="primary" (click)="manageBourses()" *ngIf="isAdminAndSuperviseurMinisterielUser()">
                    Gérer les bourses
                  </button>
                  <button mat-raised-button type="button" color="primary" (click)="payEtudiantBourseTrimestre()" class="ml-2" *ngIf="isMinisterielUser()">
                    Payer les bourses du trimestre
                  </button>
                  <button mat-raised-button type="button" color="primary" (click)="generateBourseManual()" class="ml-2" *ngIf="isAdminUser()">
                    Générer une bourses
                  </button>
                </div>
                <div class="ml-4">
                  <div class="mt-2 mr-6">Statut apprenant : Guinéen</div>
                  <div class="mt-2 mr-6">Nombre de bourses actives : {{activeBoursesNumber}}</div>
                </div>
              </div>
            </div>
          </div>
          
          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="paiementBourses"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Type de bourse">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Session">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseSessionName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Mois">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.moisAnneeName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Montant">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}} GNF</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Statut">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Paiement" [headerClass]="'col-document'" [cellClass]="'col-document'" *ngIf="isAdminAndSuperviseurMinisterielUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a *ngIf="row.statusName === 'À payer'" (click)="payEtudiantBourse(row)" class="color-blue">Payer</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of paiementBourses"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.bourseName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Type de bourse</span>
                <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Session</span>
                <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseSessionName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Mois</span>
                <span fxFlex="50" class="px-2 text-right">{{row.moisAnneeName}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Montant</span>
                <span fxFlex="50" class="px-2 text-right">{{row.montant}} GNF</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
              </div>

              <mat-action-row class="px-2" *ngIf="isAdminAndSuperviseurMinisterielUser()">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button *ngIf="row.statusName === 'À payer'" mat-raised-button type="button" color="primary" class="w-100" (click)="payEtudiantBourse(row)">Payer</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Historique de bourses" *ngIf="model && allowToShowTheBourseHistory()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Historique de bourses</mat-panel-title>
            <mat-icon>attach_money</mat-icon>
          </mat-expansion-panel-header>

          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="touchPointHistories"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Date Paiement">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.datePaiement}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Mode de retrait">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.typePaiement}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Montant">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.montant}} GNF</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Identifiant de transaction">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.guTransactionId}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Code de transaction">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.transactionCode}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Raison">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.transferReason}}</ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of touchPointHistories"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.datePaiement}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Date Paiement</span>
                <span fxFlex="50" class="px-2 text-right">{{row.datePaiement}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Mode de retrait</span>
                <span fxFlex="50" class="px-2 text-right">{{row.typePaiement}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Montant</span>
                <span fxFlex="50" class="px-2 text-right">{{row.montant}} GNF</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Identifiant de transaction</span>
                <span fxFlex="50" class="px-2 text-right">{{row.guTransactionId}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Code de transaction</span>
                <span fxFlex="50" class="px-2 text-right">{{row.transactionCode}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Raison</span>
                <span fxFlex="50" class="px-2 text-right">{{row.transferReason}}</span>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Examen de sortie" *ngIf="model && finalExamenEtudiant && isAllowedExam()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Examen de sortie</mat-panel-title>
            <mat-icon>school</mat-icon>
          </mat-expansion-panel-header>
          
          <div fxLayout="row" class="px-4 mb-2 mt-2">
            <div class="mt-2 mr-6"><b>Statut notes</b> : {{finalExamenEtudiant?.statusResultName}}</div>
            <div class="mt-2 mr-6"><b>Statut global</b> : {{finalExamenEtudiant?.statusGlobalName}}</div>
            <div class="mt-2 mr-6" *ngIf="!this.isUniversitaireUser()"><b>Moyenne</b> : {{finalExamenEtudiant?.displayedMoyenneTotal}}</div>
          </div>

          <div fxLayout="row" class="px-4 mb-2 mt-2">
            <div class="mt-2 mr-6"><b>Session en cours</b> : {{finalExamenEtudiant?.anneeAcademiqueName}}</div>
            <div class="mt-2 mr-6"><b>PV</b> : {{finalExamenEtudiant?.numeroPV}}</div>
            <div class="mt-2 mr-6"><b>Centre d’examen</b> : {{finalExamenEtudiant?.finalExamenCentreName}}</div>
            <div class="mt-2 mr-6"><b>Institution</b> : {{finalExamenEtudiant?.institutionName}}</div>
            <div class="mt-2 mr-6"><b>Programme</b> : {{finalExamenEtudiant?.programmeName}}</div>
            <div class="mt-2 mr-6"><b>Niveau</b> : {{finalExamenEtudiant?.niveauEtudeName}}</div>
            <button mat-raised-button type="button" color="primary" (click)="downloadTranscript()" *ngIf="this.allowDownloadTranscript()">
              Télécharger le relevé de notes
            </button>
          </div>

          <ngx-datatable
            fxHide fxShow.gt-xs="true"
            class="material m-3"
            [limit]="10"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="finalExamenEtudiantNotes"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

            <ngx-datatable-column name="Nom de la matière">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.matiereName}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Session">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.session}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Coefficient">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.matiereCoefficient}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Note sans le coefficient" *ngIf="isShowTheExamenResult && !this.isUniversitaireUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenne}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Note avec le coefficient" *ngIf="isShowTheExamenResult && !this.isUniversitaireUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.displayedMoyenneWithCoefficient}}</ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <mat-accordion fxHide fxShow.xs="true" multi="true">
            <mat-expansion-panel 
              *ngFor="let row of finalExamenEtudiantNotes"
              class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.matiereName}}</mat-panel-title>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Nom de la matière</span>
                <span fxFlex="50" class="px-2 text-right">{{row.matiereName}}</span>
              </div>
              
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Session</span>
                <span fxFlex="50" class="px-2 text-right">{{row.session}}</span>
              </div>

              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Coefficient</span>
                <span fxFlex="50" class="px-2 text-right">{{row.matiereCoefficient}}</span>
              </div>

              <div fxLayout="row" class="p-2" *ngIf="isShowTheExamenResult && !this.isUniversitaireUser()">
                <span fxFlex="50" class="px-2 text-bold">Note sans le coefficient</span>
                <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenne}}</span>
              </div>

              <div fxLayout="row" class="p-2" *ngIf="isShowTheExamenResult && !this.isUniversitaireUser()">
                <span fxFlex="50" class="px-2 text-bold">Note avec le coefficient</span>
                <span fxFlex="50" class="px-2 text-right">{{row.displayedMoyenneWithCoefficient}}</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Diplômes et certifications" *ngIf="model && !isExamRole()">
    <div class="m-3">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true" hideToggle="true" disabled="true" class="has-nested">
          <mat-expansion-panel-header class="px-3">
            <mat-panel-title>Diplômes et certifications</mat-panel-title>
            <mat-icon>school</mat-icon>
          </mat-expansion-panel-header>

          <ngx-datatable fxHide fxShow.gt-xs="true" class="material m-3" [limit]="10" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [rows]="diplomeList"
            [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}" [loadingIndicator]="loadingIndicator">
        
            <ngx-datatable-column name="Type">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeDiplomeName}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Période de diplomation">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.dateDebut}} - {{row.dateFin}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Institution">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.institutionName}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Programme">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.programmeName}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="URL du diplôme" *ngIf="!this.isUniversitaireUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.diplomaUrl}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Statut">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.statusName}}</ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Actions" [sortable]="false" *ngIf="!this.isMinistre() && !this.isDirectionsNationales() && !this.isUniversitaireUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="color-orange" (click)="processDiplome(row)">{{row.actionName}}</a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actualiser" [sortable]="false" *ngIf="!this.isMinistre() && !this.isDirectionsNationales() && !this.isUniversitaireUser()">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="color-orange" (click)="actualizeDiplome(row)">Actualiser</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      
          <mat-accordion fxHide fxShow.xs="true" multi="true" class="m-3">
            <mat-expansion-panel *ngFor="let row of diplomeList" class="table-expansion-panel">
              <mat-expansion-panel-header class="px-3">
                <mat-panel-title>{{row.typeDiplomeName}}</mat-panel-title>
              </mat-expansion-panel-header>
        
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Type</span>
                <span fxFlex="50" class="px-2 text-right">{{row.typeDiplomeName}}</span>
              </div>
        
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Période de diplomation</span>
                <span fxFlex="50" class="px-2 text-right">{{row.dateDebut}} - {{row.dateFin}}</span>
              </div>
        
              <div fxLayout="row" class="p-2" *ngIf="!this.isUniversitaireUser()">
                <span fxFlex="50" class="px-2 text-bold">Institution</span>
                <span fxFlex="50" class="px-2 text-right">{{row.institutionName}}</span>
              </div>
        
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Programme</span>
                <span fxFlex="50" class="px-2 text-right">{{row.programmeName}}</span>
              </div>
        
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">URL du diplôme</span>
                <span fxFlex="50" class="px-2 text-right">{{row.diplomaUrl}}</span>
              </div>
        
              <div fxLayout="row" class="p-2">
                <span fxFlex="50" class="px-2 text-bold">Statut</span>
                <span fxFlex="50" class="px-2 text-right">{{row.statusName}}</span>
              </div>
        
              <mat-action-row class="px-2" *ngIf="!this.isMinistre() && !this.isDirectionsNationales() && !this.isUniversitaireUser()">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" class="bg-orange w-100" (click)="processDiplome(row)">{{row.actionName}}</button>
                </div>
              </mat-action-row>

              <mat-action-row class="px-2" *ngIf="!this.isMinistre() && !this.isDirectionsNationales() && !this.isUniversitaireUser()">
                <div fxFlex="50" class="px-2"></div>
                <div fxFlex="50" class="px-2">
                  <button mat-raised-button type="button" class="bg-orange w-100" (click)="actualizeDiplome(row)">Actualiser</button>
                </div>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Gestion des kits scolaires" *ngIf="model && allowToShowKitManagement()">
    <table class="mx-3 mt-3">
      <tbody>
        <tr>
          <td>Institution :</td>
          <td class="text-bold pl-2">{{lastInscription?.institutionName}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Niveau - Session :</td>
          <td class="text-bold pl-2">{{lastInscription ? (lastInscription.niveauEtudeName + " - " +
            lastInscription.anneeAcademiqueName) : ''}}</td>
          <td class="pl-4">Programme :</td>
          <td class="text-bold pl-2">{{lastInscription?.programmeName}}</td>
        </tr>
      </tbody>
    </table>
    <div fxLayout="row wrap" class="m-3">
      <div fxFlex="100" fxFlex.gt-xs="20">
        <div class="mb-3">
          <button mat-raised-button class="bg-green-dark w-100" (click)="addSchoolKit()">
            Liste des kits scolaires<mat-icon class="ml-2">add</mat-icon>
          </button>
          <div class="kit-menu-container w-100">
            <ul class="menu-list">
              <li *ngFor="let item of schoolKitList" (click)="onKitMenuClick(item)" [class.active]="item === selectedKit">
                <span class="menu-label mr-2">{{ item.kitName }}</span>
                <button mat-icon-button class="mr-2" *ngIf="item.allowDeleteKit" (click)="deleteKit(item)">
                  <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="80" [ngClass.gt-xs]="'pl-3'">
        <mat-card class="mb-3 p-3 border">
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <div fxFlex="100" fxFlex.gt-xs="50" class="subheading-1 color-green-dark text-bold-500">
                {{selectedKit?.kitName}}
              </div>
              <div fxFlex="50" fxFlex.gt-xs="25" fxLayoutAlign="end center" class="pr-2">
                <button mat-raised-button class="bg-green-dark w-100" (click)="generateReceiptFormKit()">
                  Fiche de réception
                </button>
              </div>

              <div fxFlex="50" fxFlex.gt-xs="25" fxLayoutAlign="end center" class="pl-2">
                <button mat-raised-button class="bg-green-dark w-100" (click)="openHistory()">
                  Historique
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <form [formGroup]="schoolKitForm">
          <div formArrayName="schoolSupplies">
            <ngx-datatable #table fxHide fxShow.gt-xs="true" class="material" [rows]="schoolSupplies.controls"
              [offset]="schoolSupplyKitPageOffset" [limit]="schoolSupplyKitPageSize" [sortType]="'single'"
              (page)="onChangePageSchoolSupplyKitTable($event)" [count]="schoolSupplyKitTotal"
              [loadingIndicator]="schoolSupplyKitLoadingIndicator" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [messages]="{
              emptyMessage: 'Aucune information',
              totalMessage: ' au total'
            }">
              <ngx-datatable-column name="Outils" [sortable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  {{row.value.name}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Réception" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                  <mat-checkbox (change)="onCheckboxAllChange($event)" [checked]="isCheckedAll()">
                    Réception
                  </mat-checkbox>
                </ng-template>
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <mat-checkbox [formControl]="row.controls['hasReception']" (change)="onHasReceptionChange(rowIndex)">
                    {{row.value.hasReception ? 'Oui' : 'Non'}}
                  </mat-checkbox>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date 1ère réception" [sortable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <mat-form-field class="w-100" style="margin-top: -50%">
                    <input matInput [matDatepicker]="dateOfFirstReception"
                      [formControl]="row.controls['dateOfFirstReception']">
                    <mat-datepicker-toggle matSuffix [for]="dateOfFirstReception">
                      <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dateOfFirstReception disabled="false"></mat-datepicker>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Quantité" [sortable]="false" minWidth>
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <div style="min-width: 150px;margin-top: -4%">
                    <button mat-icon-button (click)="decreaseSupplyQuantity(rowIndex)">-</button>
                    <span class="px-2">{{row.value.quantity}}</span>
                    <button mat-icon-button (click)="increaseSupplyQuantity(rowIndex)">+</button>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Observation" [sortable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <mat-form-field class="w-100" style="margin-top: -50%">
                    <mat-select [formControl]="row.controls['observationType']">
                      <mat-option *ngFor="let observation of observationTypeValues" [value]="observation.value">
                        {{observation.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Commentaire" [sortable]="false">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <mat-form-field class="w-100" style="margin-top: -50%">
                    <input matInput [formControl]="row.controls['comment']">
                  </mat-form-field>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Enregistrer" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                  <button mat-icon-button style="margin-top:-50%" (click)="saveAll()">
                    <svg-icon [key]="'save'" style="color: white !important" fontSize="18px" class="mr-1"></svg-icon>
                    Enregistrer
                  </button>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                  <button mat-icon-button (click)="addReason(rowIndex)">
                    <svg-icon [key]="'save'" style="color: #357AC5 !important" fontSize="18px"></svg-icon>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <div fxHide fxShow.xs="true">
              <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let row of schoolSupplyEtudiantPagedRows" class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title><span class="flex-text-ellipsis">{{row.value.name}}</span></mat-panel-title>
                  </mat-expansion-panel-header>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Réception</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.value.hasReception ? 'Oui' : 'Non'}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Date 1ère réception</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.value.dateOfFirstReception ? (row.value.dateOfFirstReception | date : 'dd/MM/yyyy') : ''}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Quantité</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.value.quantity}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Commentaire</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.value.comment}}</span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-paginator style="background: transparent" [length]="schoolSupplyKitTotal"
                [pageSize]="schoolSupplyKitPageSize" [pageIndex]="schoolSupplyKitPageOffset"
                (page)="onChangePageMaterial($event)">
              </mat-paginator>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>