:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-body-cell.col-etablissement,
    .col-etablissement {
      white-space: pre-line;
    }

    .datatable-header-cell.col-selection,
    .datatable-body-cell.col-selection {
      max-width: 130px !important;
    }

    .datatable-header-cell.col-annee,
    .datatable-body-cell.col-annee {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-numeroPV,
    .datatable-body-cell.col-numeroPV {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-modalite,
    .datatable-body-cell.col-modalite {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-decision,
    .datatable-body-cell.col-decision {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-inscription,
    .datatable-body-cell.col-inscription {
      max-width: 120px !important;
    }

    .datatable-header-cell.col-document,
    .datatable-body-cell.col-document {
      max-width: 150px !important;
    }
  }
}

.main-card{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;

}

.horizontal{
  display: flex;
}

.vertical-line{
  border: 1px solid black;
  height: 100px;
}

.kit-menu-container {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background: white;

  .menu-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .menu-list li:hover {
    background-color: #fafafa;
  }

  .menu-list li.active {
    background-color: #fafafa;
    font-weight: bold;
  }
}