<div mat-dialog-title>Admission {{currentSessionAdmission?.anneeAcademiqueName}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form" fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Localisation *" formControlName="prefectureId">
            <mat-option *ngFor="let prefecture of prefectureList" [value]="prefecture.id">
              {{prefecture.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.prefectureId.errors?.required">Le localisation est requis</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Institution *" formControlName="institutionId">
            <mat-option *ngFor="let institution of institutionList" [value]="institution.id">
              {{institution.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.institutionId.errors?.required">L'institution est requise</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Option *" formControlName="option">
            <mat-option *ngFor="let optionItem of optionList" [value]="optionItem.value">
              {{optionItem.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.option.errors?.required">L'option est requise</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isProgramRequired" fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Programme *" formControlName="programmeId">
            <mat-option *ngFor="let program of programList" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="allowChoose3Program" fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Programme 1" formControlName="programme1Id">
            <mat-option value="">N/A</mat-option>
            <mat-option *ngFor="let program of programList" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="allowChoose3Program" fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Programme 2" formControlName="programme2Id">
            <mat-option value="">N/A</mat-option>
            <mat-option *ngFor="let program of programList" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="allowChoose3Program" fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Programme 3" formControlName="programme3Id">
            <mat-option value="">N/A</mat-option>
            <mat-option *ngFor="let program of programList" [value]="program.id">
              {{program.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>