<div mat-dialog-title>Modifier le statut apprenant</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form" fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="Statut *" formControlName="status">
            <mat-option *ngFor="let item of statusList" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.status.errors?.required">L'option est requise</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>