<div mat-dialog-title>Gérer les bourses</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <mat-tab-group class="custom green-dark mt-3" [disableRipple]="true">
      <mat-tab label="Bourses actives">
        <div class="m-3">
          <mat-accordion multi="true">
            <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
     
              <ngx-datatable
                fxHide fxShow.gt-xs="true"
                class="material m-3"
                [limit]="10"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [rows]="activeEtudiantBourses"
                [selected]="selectedActiveRows"
                [selectionType]="SelectionType.checkbox"
                (select)="onSelectActive($event)"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

                <ngx-datatable-column
                  [width]="60"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                  [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>

                <ngx-datatable-column name="Nom de la bourse" [width]="400" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Session" [width]="250" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Statut" [width]="250" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseStatusName}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
    
              <mat-accordion fxHide fxShow.xs="true" multi="true">
                <mat-expansion-panel 
                  *ngFor="let row of activeEtudiantBourses"
                  class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title>{{row.bourseName}}</mat-panel-title>
                  </mat-expansion-panel-header>
    
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Nom de la bourse</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
                  </div>
                  
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Session</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Statut</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseStatusName}}</span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
    
              <mat-action-row class="px-3">
                <button mat-raised-button type="button" (click)="onClose()" color="secondary">
                  Retour
                </button>
                <button mat-raised-button type="button" (click)="deactiveBourses()" color="warn">
                  Perte de bourse
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Bourses inactives">
        <div class="m-3">
          <mat-accordion multi="true">
            <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
     
              <ngx-datatable
                fxHide fxShow.gt-xs="true"
                class="material m-3"
                [limit]="10"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [rows]="inactiveEtudiantBourses"
                [selected]="selectedInactiveRows"
                [selectionType]="SelectionType.checkbox"
                (select)="onSelectInactive($event)"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

                <ngx-datatable-column
                  [width]="60"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                  [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>

                <ngx-datatable-column name="Nom de la bourse" [width]="400" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Session" [width]="250" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Statut" [width]="250" [canAutoResize]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.etudiantBourseStatusName}}</ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
    
              <mat-accordion fxHide fxShow.xs="true" multi="true">
                <mat-expansion-panel 
                  *ngFor="let row of inactiveEtudiantBourses"
                  class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title>{{row.bourseName}}</mat-panel-title>
                  </mat-expansion-panel-header>
    
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Nom de la bourse</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
                  </div>
                  
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Session</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
                  </div>
                  
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Statut</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.etudiantBourseStatusName}}</span>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
    
              <mat-action-row class="px-3">
                <button mat-raised-button type="button" (click)="onClose()" color="secondary">
                  Retour
                </button>
                <button mat-raised-button type="button" (click)="reactiveBourses()" color="primary">
                  Réactiver la/les bourse(s)
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Historique des bourses">
        <div fxLayout="row" class="mb-2 mt-2">
          <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="end center">
            <button mat-raised-button type="button" color="primary" (click)="downloadHistories()">
              Télécharger l’historique
            </button>
          </div>
        </div>
        <div class="m-3">
          <mat-accordion multi="true">
            <mat-expansion-panel expanded="true" hideToggle="true" disabled="true"  class="has-nested">
     
              <ngx-datatable
                fxHide fxShow.gt-xs="true"
                class="material m-3"
                [limit]="10"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [rows]="etudiantBourseModifications"
                [messages]="{emptyMessage: 'Aucune information', totalMessage: ' au total'}">

                <ngx-datatable-column name="Type bourse">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.bourseName}}</ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Sujet">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Motif">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.raisonStatutBourseName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Date">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.modificationTime | date: 'dd/MM/yyyy'}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Utilisateur">
                  <ng-template let-row="row" ngx-datatable-cell-template>{{row.utilisateurModificationName}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Action">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a (click)="openEtudiantBourseModification(row)" class="color-blue">Ouvrir</a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
    
              <mat-accordion fxHide fxShow.xs="true" multi="true">
                <mat-expansion-panel 
                  *ngFor="let row of etudiantBourseModifications"
                  class="table-expansion-panel">
                  <mat-expansion-panel-header class="px-3">
                    <mat-panel-title>{{row.bourseName}}</mat-panel-title>
                  </mat-expansion-panel-header>
    
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Type bourse</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.bourseName}}</span>
                  </div>
                  
                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Sujet</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.typeName}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Motif</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.raisonStatutBourseName}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Date</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.modificationTime | date: 'dd/MM/yyyy'}}</span>
                  </div>

                  <div fxLayout="row" class="p-2">
                    <span fxFlex="50" class="px-2 text-bold">Utilisateur</span>
                    <span fxFlex="50" class="px-2 text-right">{{row.utilisateurModificationName}}</span>
                  </div>

                  <mat-action-row class="px-2">
                    <div fxFlex="50" class="px-2"></div>
                    <div fxFlex="50" class="px-2">
                      <button mat-raised-button type="button" color="primary" class="w-100" (click)="openEtudiantBourseModification(row)">Ouvrir</button>
                    </div>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>