<div mat-dialog-title>Diminution de quantité</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="100" class="px-2" fxFlex.gt-xs="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Raison *" formControlName="reasonId">
            <mat-option *ngFor="let reason of reasonList" [value]="reason.id">
              {{reason.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.reasonId.errors?.required">La raisons est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
          <textarea class="pr-2" matInput placeholder="Commentaire" formControlName="comment" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>