<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <!-- sub breadcrum -->
    <div fxLayout="row" class="mb-0 mt-0">
      <div fxFlex="100">
        <div>
          <span [class]="getCurrentStepCss('Identification')">Identification</span> &gt;
          <span [class]="getCurrentStepCss('Confirmer le redoublement')">Confirmer le redoublement</span>
        </div>
      </div>
    </div>
    <!-- end of sub breadcrum -->

    <!-- Step 1: Identification -->
    <ng-container *ngIf="currentStepName === 'Identification'">
      <div fxLayout="row">
        <div fxFlex="100">
          <div>
            <span class="heading">Veuilles entrer l’INA de l’apprenant qui redouble son année</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">INA * :</mat-label>
        </div>
        <div fxFlex="65">
          <mat-form-field class="w-100">
            <input matInput formControlName="ina">
            <mat-error *ngIf="form.controls.ina.errors?.required && (form.controls.ina.dirty || form.controls.ina.touched)">L’INA de l’apprenant est requis</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">Période * :</mat-label>
        </div>
        <div fxFlex="65">
          <mat-form-field class="w-100">
            <mat-select formControlName="periode">
             <mat-option *ngFor="let anneeAcademique of anneeAcademiqueList" [value]="anneeAcademique.name">
               {{anneeAcademique.name}}
             </mat-option>
           </mat-select>
           <mat-error *ngIf="form.controls.periode.errors?.required">La période est requise</mat-error>
         </mat-form-field>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 1: Identification -->

    <!-- Step 2: 'Confirmer le redoublement' -->
    <ng-container *ngIf="currentStepName === 'Confirmer le redoublement'">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span>Veuillez confirmer le redoublement de l’apprenant</span> 
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <div class="px-2 py-3 border-3 payment-info-box">
          <div fxLayout="row">
            <div fxFlex="50" class="text-right ml-3 mr-3">
              INA :
            </div>
            <div fxFlex="50" class="text-bold">
              {{curINA}}
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50" class="text-right ml-3 mr-3">
              Institution :
            </div>
            <div fxFlex="50" class="text-bold">
              {{inscription?.institutionName}}
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50" class="text-right ml-3 mr-3">
              Programme :
            </div>
            <div fxFlex="50" class="text-bold">
              {{inscription?.programmeName}}
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50" class="text-right ml-3 mr-3">
              Niveau :
            </div>
            <div fxFlex="50" class="text-bold">
              {{inscription?.niveauEtudeName}}
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50" class="text-right ml-3 mr-3">
              Session :
            </div>
            <div fxFlex="50" class="text-bold">
              {{inscription?.anneeAcademiqueName}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- End of Step 2: 'Confirmer le redoublement' -->
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction" [hidden]="currentStepName !== 'Identification'">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="goToNextStep()">
        Suivant
      </button>
    </div>

    <ng-container *ngIf="currentStepName === 'Confirmer le redoublement'">
      <div class="submitAction">
        <button mat-raised-button color="primary" (click)="save()">
          Confirmer redoublement
        </button>
      </div>

      <div class="submitAction">
        <button mat-raised-button color="primary" (click)="saveAndEnterNewCase()">
          Confirmer redoublement et en indiquer un nouveau
        </button>
      </div>
    </ng-container>
  </div>

</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>