<div mat-dialog-title>Veuillez renseigner votre compte NSG Banking</div>

<div class="mat-dialog-body">
    <mat-dialog-content>
        <div class="m-3">
            <form [formGroup]="form"  fxLayout="column">
                <mat-form-field>
                    <mat-label>Identifiant utilisateur pour le compte</mat-label>
                    <input matInput formControlName="identifiantCompte">
                    <mat-error *ngIf="form.controls.identifiantCompte.errors?.required">
                        L'Identifiant de est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Numéro de téléphone associé au compte</mat-label>
                    <input matInput formControlName="numeroCompte">
                    <mat-error *ngIf="form.controls.numeroCompte.errors?.required">
                        Le Numéro de téléphone de est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Adresse mail du compte (facultatif) :</mat-label>
                    <input matInput formControlName="emailCompte">
                </mat-form-field>
            </form>
            <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
                <button mat-raised-button (click)="onClose()">Annuler</button>
                <button mat-raised-button (click)="OnSubmit()" color="primary">Enregistrer</button>
            </div>
        </div>
    </mat-dialog-content>
</div>
<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
</button>