<div mat-dialog-title>Historique</div>
<form class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="searchForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchNationalStudentIdentifier formControlName="identifiantNationalEleve" placeholder="INA">
          </mat-form-field>
        </div>
      
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <mat-label>Période de création</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="JJ/MM/AAAA" formControlName="from" (dateChange)="triggerSearch()">
              <input matEndDate placeholder="JJ/MM/AAAA" formControlName="to" (dateChange)="triggerSearch()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker">
              <svg-icon [key]="'calendar'" matDatepickerToggleIcon fontSize="18px" class="mb-2"></svg-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchFirstName formControlName="firstName" placeholder="Utilisateur Prénom">
          </mat-form-field>
        </div>
      
        <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
          <mat-form-field class="w-100">
            <input matInput #searchName formControlName="name" placeholder="Utilisateur Nom">
          </mat-form-field>
        </div>
      </div>
    </form>

    <div fxLayout="column" class="px-2 pb-3">
      <ngx-datatable
        fxHide fxShow.gt-xs="true"
        #table
        class="material"
        [rows]="pageRows"
        [count]="total"
        [offset]="pageOffset"
        [limit]="pageSize"
        [externalPaging]="true"
        [sortType]="'single'"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [loadingIndicator]="loadingIndicator"
        [messages]="{
          emptyMessage: 'Aucune information',
          totalMessage: ' au total'
        }"
        (page)="onChangePage($event)"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column name="INA" prop="identifiantNationalEleve">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.identifiantNationalEleve}}</ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Date et heure" prop="creationTime">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.creationTime | dateFormat: 'DD/MM/YYYY hh:mm A'}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fait par" prop="userName">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.userName}}</ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Action" prop="details">
          <ng-template let-row="row" ngx-datatable-cell-template>{{row.details}}</ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div fxHide fxShow.xs="true">
        <mat-accordion multi="true">
          <mat-expansion-panel 
            *ngFor="let row of pageRows" class="table-expansion-panel">
            <mat-expansion-panel-header class="px-3">
              <mat-panel-title>{{row.identifiantNationalEleve}}</mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">INA</span>
              <span fxFlex="50" class="px-2 text-right">{{row.identifiantNationalEleve}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Date et heure</span>
              <span fxFlex="50" class="px-2 text-right">{{row.creationTime | dateFormat: 'DD/MM/YYYY hh:mm A'}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="px-2 text-bold">Fait par</span>
              <span fxFlex="50" class="px-2 text-right">{{row.userName}}</span>
            </div>

            <div fxLayout="row" class="p-2">
              <span fxFlex="50" class="p-2 text-bold">Action</span>
              <span fxFlex="50" class="px-2 text-right">{{row.details}}</span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-paginator 
          style="background: transparent"
          [length]="total"
          [pageSize]="pageSize" 
          (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
        </mat-paginator>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" class="p-3">
    <button mat-raised-button #cancelButton (click)="onClose()">Fermer</button>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
