<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <mat-dialog-content>
    <form [formGroup]="form" fxLayout="row wrap">
      <div fxFlex="100" class="px-2">
        <mat-form-field class="w-100">
           <mat-select placeholder="{{motifText}}" formControlName="raisonStatutBourseId">
            <mat-option *ngFor="let raisonStatutBourse of raisonStatutBourses" [value]="raisonStatutBourse.id">
              {{raisonStatutBourse.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" class="px-2">
        <div fxFlex="100">
          <mat-form-field class="w-100">
            <textarea  matInput placeholder="Notes / commentaires" formControlName="commentaires" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>
    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>