<div mat-dialog-title>{{title}}</div>

<div class="mat-dialog-body">
  <form [formGroup]="form">
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold pb-1">Nom du concours : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="pb-1">{{_model?.concoursName}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold py-1">Niveau : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="py-1">{{_model?.niveauAcces}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold py-1">Session : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="py-1">{{_model?.anneeAcademiqueName}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold py-1" *ngIf="isCompetitionResult">PV : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="py-1" *ngIf="isCompetitionResult">{{_model?.numeroPV}}</div>
      <div fxFlex="50" fxFlex.gt-xs="25" class="text-bold py-1" *ngIf="isCompetitionResult">Centre de concours : </div>
      <div fxFlex="50" fxFlex.gt-xs="75" class="py-1" *ngIf="isCompetitionResult">{{_model?.centreConcoursName}}</div>
    </div>

    <div fxLayout="row wrap" class="px-3 pt-3 my-2" style="border: 1px solid" *ngIf="!isCompetitionResult">
      <div fxFlex="100" fxFlex.gt-xs="30"></div>
      <div fxFlex="50" fxFlex.gt-xs="30" class="text-bold">PV :</div>
      <div fxFlex="50" fxFlex.gt-xs="40">{{_model?.numeroPV}}</div>
      <div fxFlex="100" fxFlex.gt-xs="30"></div>
      <div fxFlex="50" fxFlex.gt-xs="30" class="text-bold" style="margin:auto">Centre de concours :</div>
      <div fxFlex="50" fxFlex.gt-xs="40" *ngIf="isReadOnly">{{_model?.centreConcoursName}}</div>
      <div fxFlex="50" fxFlex.gt-xs="40" *ngIf="!isReadOnly">
        <mat-form-field class="w-100">
          <mat-select formControlName="centreConcoursId">
            <mat-option *ngFor="let item of centreList" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.centreConcoursId.errors?.required">Le nom du centre est requis</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="px-3 py-2 my-2" style="border: 1px solid" *ngIf="isCompetitionResult">
      <div class="text-center">Résultat et mention</div>
      <div class="text-center"style="font-size: 18px">{{_model?.resultMention}}</div>
    </div>

    <div class="p-3 my-3" style="border: 1px solid" *ngIf="!isCompetitionResult">
      <div class="text-bold">Matières et coefficient :</div>
      <div *ngFor="let matiere of _model?.concoursEtudiantNotes" class="pl-2 pt-2">{{matiere.matiereName}} - coef: {{matiere.matiereCoefficient}}</div>
      <div class="text-right" *ngIf="isPublished()"><span class="text-bold">Note de passage : </span>{{_model?.successMoyenneMin}}/{{_model?.successMoyenneMax}}</div>
    </div>

    <div class="p-3 my-3" style="border: 1px solid" *ngIf="isCompetitionResult">
      <div class="text-bold">Matières (coefficient) - Résultat</div>
        <div class="pl-4">
          <ng-container formArrayName="concoursEtudiantNotes">
            <ng-container *ngFor="let concoursEtudiantNoteForm of concoursEtudiantNotes.controls">
              <div fxLayout="row wrap" [formGroup]="concoursEtudiantNoteForm">
                <div style="margin: auto 0">
                  {{getMatiereNameAndCoefficientText(concoursEtudiantNoteForm)}}<span class="mx-1">-</span>
                </div>
                <div fxFlex="40" fxFlex.gt-xs="40">
                  <mat-form-field class="w-100">
                    <input matInput formControlName="moyenne" [disabled]="isReadOnly || isUniversitaireUser">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      <div class="text-right">Note : <span class="text-bold">{{_model?.moyenneTotal}}/{{_model?.successMoyenneMax}}</span></div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="!isReadOnly">
      <div class="cancelAction">
        <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
          Annuler
        </button>
      </div>
      <div class="submitAction">
        <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
          (click)="onSubmit()">
          Enregistrer
        </button>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3" *ngIf="isReadOnly">
      <div class="cancelAction">
        <button mat-raised-button color="primary" (click)="onClose()">
          Fermer
        </button>
      </div>
    </div>
  </form>
</div>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>