@import '../../theme/styles/variables';

:host {
  .snackbar-text {
    font-weight: bold;
    vertical-align: super;
  }

  .success {
    .mat-icon, .snackbar-text {
      color: $color-green;
    }
  }

  .error {
  	.mat-icon, .snackbar-text {
      color: red;
    }
  }
}