<div [class]="data.className">
  <mat-icon class="mr-3 align-bottom">done</mat-icon>
  <mat-icon class="pull-right" role="button" (click)="close()">close</mat-icon>
  <span class="snackbar-text" [innerHTML]="data.message"></span>
</div>