<app-content-header 
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<div class="mainPageMenu py-2">
  <div fxLayout="column" fxLayout.gt-xs="row wrap" class="px-2">
    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToDemandes()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'agrement'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Agréments</mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="50" class="p-2"> 
      <mat-card class="custom-card" (click)="goToDemandeurDossier()">
        <mat-card-header class="p-1" fxLayoutAlign="center">
          <mat-card-title>
            <svg-icon [key]="'menu-profil'" fontSize="74px"></svg-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center">Mon profil</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>