<app-content-header 
  [customIcon]="'menu-examen-operation'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>
  
<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a *ngFor="let nav of navs"
    mat-tab-link 
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink" 
    routerLinkActive="mat-tab-label-active" 
    #rla="routerLinkActive" [active]="rla.isActive">
    {{ nav.label }}
  </a>
</nav>

<div fxLayout="row" class="mb-1 mt-3 px-3" *ngIf="!this.isMinistre() && !this.isAdministrateur()">
  <div fxFlex="100" fxLayoutAlign="end center">
    <button mat-raised-button type="button" color="primary" (click)="generateReport()">
      Génération des rapports
    </button>
  </div>
</div>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">
        Filtres
      </div>

      <div fxLayout="row wrap" class="px-2">

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Nom du rapport" [values]="reportTypeList" 
            idField="value" valueField="name" formControlName="type">
          </autocomplete>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
          <autocomplete placeholder="Session" [values]="anneeAcademiqueList" 
            idField="id" valueField="name" formControlName="anneeAcademique">
          </autocomplete>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="p-2">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
          <i>Total d'entrées :</i>
          <span>{{total | number:'1.0-0'}}</span>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column name="Nom du rapport" prop="typeName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.typeName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Session" prop="anneeAcademiqueName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.anneeAcademiqueName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date de génération" prop="generationDate">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.generationDate}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Action" [sortable]="false" [headerClass]="'col-action'" [cellClass]="'col-action'" *ngIf="!this.isMinistre() && !this.isAdministrateur()">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue">
          Télécharger
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel 
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel">
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{row.typeName}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Session</span>
          <span fxFlex="50" class="px-2 text-right">{{row.anneeAcademiqueName}}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Date de génération</span>
          <span fxFlex="50" class="px-2 text-right">{{row.generationDate}}</span>
        </div>

        <mat-action-row class="px-2" *ngIf="!this.isMinistre() && !this.isAdministrateur()">
          <div fxFlex="50" class="px-2">
          </div>
          <div fxFlex="50" class="px-2">
            <button mat-raised-button type="button" color="primary" (click)="open(row)" class="w-100">
              Télécharger
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator 
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize" 
      (page)="onChangePage({'pageSize': $event.pageSize, 'offset': $event.pageIndex})">
    </mat-paginator>
  </div>
</div>
