<app-content-header 
  [customIcon]="'menu-cursus-gestion'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'"></app-content-header>

<mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2 content-toolbar">
  <div fxLayout="row">
  </div>
  <div fxLayout="row">
  </div>
</mat-toolbar>

<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Générer candidats, PV et centres d’examens des apprenants de la session : {{currentAnneeAcademique?.name}}</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateNewCandidates()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">GÉNÉRATION</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer *ngIf="currentAnneeAcademique?.dateDerniereGenererCandidats" class="text-center text-italic">
        Dernière détermination : {{currentAnneeAcademique?.dateDerniereGenererCandidats | dateFormat: 'DD/MM/YYYY'}}
      </mat-card-footer>
    </mat-card>
  </div>
  
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Générer les relevés de notes et fichier des admis</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="generateTranscripts()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">GÉNÉRATION</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Archiver le statut des apprenants n’ayant pas terminés le processus d’examen de sortie</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="archiveFailedStudents()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ARCHIVAGE</div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="!processing">
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Envoyer message de candidature générée</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="sendExamenCandidatureMessage()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ENVOI</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        <div *ngIf="finalExamenMessageStatus">{{finalExamenMessageStatus?.totalSentExamenCandidature}} / {{finalExamenMessageStatus?.totalExamenCandidature}} envoyés ; Limite quotidienne atteinte</div>
        <div *ngIf="currentAnneeAcademique?.dateSentExamenCandidature">Dernier envoi : {{currentAnneeAcademique?.dateSentExamenCandidature | dateFormat: 'DD/MM/YYYY'}}</div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="100" class="px-2" fxFlex.gt-xs="33.33">
    <mat-card>
      <mat-card-content>
        <div class="text-center text-bold">Envoyer message de publication des résultats</div>
        <div class="p-2" fxLayoutAlign="center">
          <button mat-raised-button class="bg-green" (click)="sendExamenResultatsMessage()" style="height: 150px; width: 180px;">
            <mat-icon style="transform: scale(3);">play_arrow</mat-icon> 
            <div class="title mt-2">LANCER</div>
            <div class="title">ENVOI</div>
          </button>
        </div>
      </mat-card-content>
      <mat-card-footer class="text-center text-italic">
        <div *ngIf="finalExamenMessageStatus">{{finalExamenMessageStatus?.totalSentExamenResultats}} / {{finalExamenMessageStatus?.totalExamenResultats}} envoyés ; Limite quotidienne atteinte</div>
        <div *ngIf="currentAnneeAcademique?.dateSentExamenResultats">Dernier envoi : {{currentAnneeAcademique?.dateSentExamenResultats | dateFormat: 'DD/MM/YYYY'}}</div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div fxLayout="row" class="p-3 pb-2" *ngIf="processing">
  <div fxFlex="100" class="p-2" fxLayout="column" fxLayoutAlign="center center">
    <span>{{processed}} sur {{totalToprocess}} traitées...</span>
    <span *ngIf="showWarningMessage" class="warn-color">Ne pas quitter ou actualiser la page</span>
  </div>
</div>