:host {
  ::ng-deep {
    .datatable-body-cell {
      width: 100% !important;
    }

    .datatable-header-cell {
      width: 100% !important;
    }

    .datatable-header-cell.col-status,
    .datatable-body-cell.col-status {
      max-width: 100px !important;
    }

    .datatable-header-cell.col-action,
    .datatable-body-cell.col-action {
      max-width: 100px !important;
    }
  }
}