<app-content-header
  [customIcon]="'menu-cursus-examens'"
  [title]="title"
  [hideBreadcrumb]="false"
  [hasBgImage]="true"
  [class]="'pb-4'"
></app-content-header>

<mat-toolbar
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
  class="px-2 content-toolbar"
>
  <div fxLayout="row"></div>
  <div fxLayout="row">
    <button mat-button (click)="createExamenCentre()"><mat-icon>add</mat-icon> Ajouter</button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar class="my-3 mat-tab-group custom blue">
  <a
    *ngFor="let nav of navs"
    mat-tab-link
    class="mat-tab-label"
    [disableRipple]="true"
    [routerLink]="nav.routerLink"
    routerLinkActive="mat-tab-label-active"
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ nav.label }}
  </a>
</nav>

<form [formGroup]="searchForm">
  <mat-card class="m-3 p-3 border">
    <mat-card-content>
      <div class="subheading-1 text-bold-500 color-green-dark">Filtres</div>

      <div fxLayout="row wrap" class="px-4">
        <div fxFlex="100" fxFlex.gt-xs="40" class="px-2">
          <mat-form-field class="w-100">
            <input
              matInput
              #searchCenterName
              formControlName="searchName"
              placeholder="Rechercher par nom"
            />
            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">search</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="40" class="px-2">
          <autocomplete
            placeholder="Rechercher par école rattaché"
            [values]="institutionList"
            idField="id"
            valueField="name"
            formControlName="institution"
          >
          </autocomplete>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="20" class="px-2">
          <mat-slide-toggle class="my-3" labelPosition="after" formControlName="isActive">
            Filtrer par statut actif
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div fxLayout="column" class="px-3 pb-2">
  <ngx-datatable
    fxHide
    fxShow.gt-xs="true"
    #table
    class="material"
    [rows]="pageRows"
    [count]="total"
    [offset]="pageOffset"
    [limit]="pageSize"
    [externalPaging]="true"
    [sorts]="[sort]"
    [sortType]="'single'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [loadingIndicator]="loadingIndicator"
    [messages]="{
      emptyMessage: 'Aucune information',
      totalMessage: ' au total'
    }"
    (page)="onChangePage($event)"
    (sort)="onSort($event)"
  >
    <ngx-datatable-column
      name="Nom "
      prop="name"
      [headerClass]="'col-name'"
      [cellClass]="'col-name'"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>{{
        row.name
      }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Écoles rattachées"
      [sortable]="false"
      prop="institutionName"
      [headerClass]="'col-institution'"
      [cellClass]="'col-institution'"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>{{
        row.institutionName
      }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Statut"
      [sortable]="false"
      [headerClass]="'col-status'"
      [cellClass]="'col-status'"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
      <mat-slide-toggle [checked]="row.status === 1" [disabled]="true" class="my-0">
      </mat-slide-toggle>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="Action"
      [sortable]="false"
      [headerClass]="'col-action'"
      [cellClass]="'col-action'"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a (click)="open(row)" class="color-blue"> Ouvrir </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div fxHide fxShow.xs="true">
    <mat-accordion multi="true">
      <mat-expansion-panel
        *ngFor="let row of pageRows"
        class="mx-2 table-expansion-panel"
      >
        <mat-expansion-panel-header class="px-3">
          <mat-panel-title>{{ row.name }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Nom</span>
          <span fxFlex="50" class="px-2 text-right">{{
            row.name
          }}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Écoles rattachées</span>
          <span fxFlex="50" class="px-2 text-right">{{ row.institutionName }}</span>
        </div>

        <div fxLayout="row" class="p-2">
          <span fxFlex="50" class="px-2 text-bold">Statut</span>
          <span fxFlex="50" class="px-2 text-right">{{ row.statusName }}</span>
        </div>

        <mat-action-row class="px-2">
          <div fxFlex="50" class="px-2"></div>
          <div fxFlex="50" class="px-2">
            <button
              mat-raised-button
              type="button"
              color="primary"
              (click)="open(row)"
              class="w-100"
            >
              Ouvrir
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-paginator
      style="background: transparent"
      [length]="total"
      [pageSize]="pageSize"
      (page)="
        onChangePage({ pageSize: $event.pageSize, offset: $event.pageIndex })
      "
    >
    </mat-paginator>
  </div>
</div>
