<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="end center">      
      <div class="px-2" *ngIf="isEditMode">
        <mat-slide-toggle formControlName="isActive" class="" labelPosition="before">
          {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="25">
        <mat-label class="w-100">Nom du centre :</mat-label>
      </div>
      <div fxFlex="75">
        <mat-form-field class="w-100">
          <input matInput formControlName="name">
          <mat-error
            *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le
            Nom de la mention est requis
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" class="pt-4 mb-1">
      <div fxFlex="100" fxFlex.sm="100" fxLayoutAlign="space-between">
        <div class="mt-2">
          <span>Veuillez entrer les institution liées à ce centre</span>
        </div>
        <button mat-raised-button type="button" color="primary" (click)="addInstitution()">
          Ajouter une institution
        </button>
      </div>
    </div> 

    <div fxLayout="row" fxLayoutAlign="center center">
      
      <div fxFlex="100" class="border rounded p-3 mt-2 centre-list">      
        <ng-container formArrayName="institutions">
          <ng-container *ngFor="let institutionForm of institutionListControl.controls; let i = index">
            <div class="pb-3">  
              <div fxLayout="row" class="">
                <div class="px-1" [formGroup]="institutionForm" fxFlex="100" fxFlex.sm="90" fxFlex.gt-sm="90">
                  <div class="px-1" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
                    <autocomplete placeholder="Nom de l’institution" [values]="institutionList" 
                      idField="id" valueField="name" formControlName="id">
                    </autocomplete>
                  </div>
                  <div class="px-1" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="50">
                    <mat-form-field class="w-100">
                      <mat-select placeholder="Nom du/des programmes *" formControlName="programmeId">
                        <mat-option *ngFor="let item of getProgrammes(institutionForm.controls.id.value)" [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.sm="10" fxFlex.gt-sm="10">
                  <button mat-icon-button (click)="remove(i)">
                    <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly st retch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>

</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>