<div mat-dialog-title>{{title}}</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
      <div fxLayout="row">
        <div fxFlex="100" fxLayoutAlign="center center">
          <div>
            <span class="heading">Veuillez indiquer le nom de la mention et le seuil d’obtention</span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">Nom de la mention :</mat-label>
        </div>
        <div fxFlex="75">
          <mat-form-field class="w-100">
            <input matInput formControlName="name">
            <mat-error
              *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Le
              Nom de la mention est requis
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25">
          <mat-label class="w-100">Moyenne total minimal :</mat-label>
        </div>
        <div fxFlex="75">
          <mat-form-field class="w-100">
            <input matInput formControlName="moyenneTotalMin">
            <mat-error
              *ngIf="form.controls.moyenneTotalMin.errors?.required && (form.controls.moyenneTotalMin.dirty || form.controls.moyenneTotalMin.touched)">Le
              Moyenne total minimal est requis
            </mat-error>
          </mat-form-field>
        </div>
      </div> 
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly st retch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton (click)="onClose()" (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton color="primary" (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Enregistrer
      </button>
    </div>
  </div>

</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>