<div mat-dialog-title>Télécharger de rapport</div>

<form [formGroup]="form" class="mat-dialog-body">
  <mat-dialog-content>
    <div class="text-center mb-2">Veuillez sélectionner le programme à effectuer</div>
    <div fxLayout="row">
      <div fxFlex="100">
        <mat-form-field class="w-100">
          <mat-select placeholder="Programme *" formControlName="programmeName">
           <mat-option *ngFor="let program of programmeList" [value]="program.value">
             {{program.name}}
           </mat-option>
         </mat-select>
         <mat-error *ngIf="form.controls.programmeName.errors?.required">Le programme est requis</mat-error>
       </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly stretch" class="p-3">
    <div class="cancelAction">
      <button mat-raised-button #cancelButton 
        (click)="onClose()"
        (keydown.arrowright)="submitButton.focus()">
        Annuler
      </button>
    </div>

    <div class="submitAction">
      <button mat-raised-button #submitButton
        color="primary" 
        (keydown.arrowleft)="cancelButton.focus()"
        (click)="onConfirm()">
        Télécharger
      </button>
    </div>
  </div>
</form>

<button mat-icon-button class="mat-dialog-close-btn" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>