<form [formGroup]="form">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-3 content-toolbar">
    <div fxLayout="row">
      <button mat-button (click)="goBack()">
        <svg-icon [key]="'back'" class="mr-2"></svg-icon>Retour
      </button>
    </div>

    <div fxLayout="row">
      <button mat-button type="button" preventDoubleClick (throttledClick)="resetPassword()" *ngIf="!isCreation">
        <mat-icon>password</mat-icon> Réinitialiser le mot de passe
      </button>

      <button mat-button type="button" preventDoubleClick (throttledClick)="onSubmit()">
        <svg-icon [key]="'save'" class="mr-2"></svg-icon> Enregistrer
      </button>
    </div>
  </mat-toolbar>

  <mat-card class="m-3 p-2">
    <mat-card-content>
      <div fxLayout="column" class="m-3">

        <div *ngIf="!isCreation" class="px-3 pb-3 accent-color">Biométrie</div>
        
        <div *ngIf="!isCreation" fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 readonlyField">
            <label>Statut biométrique</label>
            <span>{{_model?.biometricStatus}}</span>
          </div>
          <div  fxFlex="100" fxFlex.gt-xs="50" fxLayout="row" class="p-2"> 
            <div  fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign="start"> 
              <img src="{{_model?.photoPath}}" alt="image" (click)="openFile()" height="100px">
              <input type="file" name="file" style="display:none" id="photoSelector"
                    (change)="onFileUpload($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"
                    placeholder="Téléverser une photo">
            </div>
            <div  fxFlex="100" fxFlex.gt-xs="50" fxLayoutAlign="end"> 
              <mat-slide-toggle formControlName="isActive" class="my-3" labelPosition="before">
                {{form.controls.isActive.value ? 'Actif' : 'Inactif'}}
              </mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="px-3 pb-3 accent-color">Informations personnelles et accès à la plateforme</div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Prénom *" formControlName="firstName" autofocus="true">
              <mat-error *ngIf="form.controls.firstName.errors?.required">Le prénom est requis</mat-error>
              <mat-error *ngIf="form.controls.firstName.hasError('minlength')">Le prénom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>
          
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Nom *" formControlName="name">
              <mat-error *ngIf="form.controls.name.errors?.required">Le nom est requis</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')">Le nom doit avoir un minimum de 2 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail_outline</mat-icon>
              <input matInput placeholder="Email *" formControlName="email">
              <mat-error *ngIf="form.controls.email.errors?.required">L'email est requis</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Le format de l'email est invalide</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">phone</mat-icon>
              <input matInput placeholder="Numéro de téléphone" formControlName="phone">
              <mat-error *ngIf="form.controls.phone.hasError('pattern')">Le numéro de téléphone n'a pas le bon format, 9 chiffres requis</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person_outline</mat-icon>
              <input matInput placeholder="Identifiant *" formControlName="identifiant">
              <mat-error *ngIf="form.controls.identifiant.errors?.required">L'identifiant est requis</mat-error>
              <mat-error *ngIf="form.controls.identifiant.hasError('minlength')">L'identifiant doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-select placeholder="Accès *" formControlName="acces" (selectionChange)="onAccesChange()">
                <mat-option *ngFor="let access of accessList" [value]="access.value">
                  {{access.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.acces.errors?.required">L'accès est requis</mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="user.type == (autorityEnum.AdministrateurMinisteriel || autorityEnum.Administrateur || autorityEnum.AgrementAgentMinisteriel || autorityEnum.AgrementSupervisorMinisteriel)" fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-select placeholder="Rôle *" formControlName="employeRoleId">
                <mat-option *ngFor="let employe of employeRoles" [value]="employe.id">
                  {{employe.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <mat-select placeholder="Autorisation de documents" formControlName="documentIds" multiple>
                <mat-option *ngFor="let document of documentList" [value]="document.id">
                  {{document.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="allowInserjeuneAccount && !isCreation">
            <mat-slide-toggle formControlName="hasInserjeuneAccount" class="my-3" labelPosition="after">
              Accès inserjeune
            </mat-slide-toggle>
          </div>
        </div>

        <div class="px-2" *ngIf="!isCreation && _model?.employeRoleName !== 'Administrateur' && (user.type == (autorityEnum.AdministrateurMinisteriel || autorityEnum.Administrateur || autorityEnum.AgrementAgentMinisteriel || autorityEnum.AgrementSupervisorMinisteriel))">
          <div>
            <span class="mr-3">Types d’agréments autorisés</span>
            <button mat-raised-button color="primary" type="button" (click)="addAgrementType()" class="mr-3 my-2">
              Gérer les types d’agréments
            </button>
          </div>
        </div>
        <div class="border rounded px-3 mx-2" *ngIf="!isCreation && _model?.employeRoleName !== 'Administrateur' && (user.type == (autorityEnum.AdministrateurMinisteriel || autorityEnum.Administrateur || autorityEnum.AgrementAgentMinisteriel || autorityEnum.AgrementSupervisorMinisteriel))" style="min-height: 33px; max-height: 300px; overflow: auto;">
          <div class="row" *ngFor="let typeDemandeAuthorization of typeDemandeAuthorizationList?.typeDemandeAuthorizationDtos">
            <div class="pl-3 my-4" style="border-left: 5px solid #51ABB3;">
              <span class="mr-3">{{typeDemandeAuthorization.typeDemandeName}}</span>
              <button type="button" mat-raised-button color="primary" (click)="addAgrementationAuthorization(typeDemandeAuthorization.id, typeDemandeAuthorization.typeDemandeId)">
                Gérer les agréments autorisés
              </button>
              <button mat-icon-button (click)="deleteAgrementationAuthorization(typeDemandeAuthorization.id)">
                <svg-icon [key]="'delete'" class="color-red" fontSize="18px"></svg-icon>
              </button>
              <div *ngFor="let agrementationName of typeDemandeAuthorization.agrementationNames">
                <div class="ml-2 pl-3" style="border-left: 5px solid #487DE4;">{{agrementationName}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-3 accent-color">Informations sur l'emploi</div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" class="pt-2">
          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Matricule" formControlName="matricule">
              <mat-error *ngIf="form.controls.matricule.hasError('minlength')">Le matricule doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Catégorie" formControlName="categorie">
              <mat-error *ngIf="form.controls.categorie.hasError('minlength')">La catégorie doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Service" formControlName="service">
              <mat-error *ngIf="form.controls.service.hasError('minlength')">Le service doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Fonction" formControlName="fonction">
              <mat-error *ngIf="form.controls.fonction.hasError('minlength')">La fonction doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Hiérarchie" formControlName="hierarchie">
              <mat-error *ngIf="form.controls.hierarchie.hasError('minlength')">La hiérarchie doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
            <mat-form-field class="w-100">
              <input matInput placeholder="Type de personnel" formControlName="typePersonnel">
              <mat-error *ngIf="form.controls.typePersonnel.hasError('minlength')">Le type de personnel doit avoir un minimum de 3 caractères</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
