<div id="main" perfectScrollbar (psScrollY)="onPsScrollY($event)" class="h-100">
  <app-progress-spinner [displayProgressSpinner]="loading">
</app-progress-spinner>

  <header class="header" [class.over]="showInfoContent">
    <mat-toolbar class="top-toolbar" [class.mat-elevation-z2]="settings.fixedHeader">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center">
          <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" class="logo-agrement" ngClass.xs="mobile" (click)="closeSubMenus()">
            <img src="assets/img/card-back-logo-small.png" alt="logo">
          </a>
        </div> 
        <div fxLayout="row" fxLayoutAlign="start center" class="w-100"> 
          <button *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button> 
          <button *ngIf="settings.menu == 'vertical'" mat-icon-button (click)="settings.sidenavIsPinned = !settings.sidenavIsPinned" fxShow="false" fxShow.gt-xs>
            <svg class="pin">
              <path *ngIf="!settings.sidenavIsPinned" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
              <path *ngIf="settings.sidenavIsPinned" d="M2,5.27L3.28,4L20,20.72L18.73,22L12.8,16.07V22H11.2V16H6V14L8,12V11.27L2,5.27M16,12L18,14V16H17.82L8,6.18V4H7V2H17V4H16V12Z" />
            </svg> 
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <app-install-pwa></app-install-pwa>
          <app-fullscreen></app-fullscreen> 
          <app-user-menu [user]="user"></app-user-menu>
        </div>
      </div>
    </mat-toolbar>
  </header>

  <mat-drawer-container class="page-wrapper">
    <mat-drawer #sidenav *ngIf="settings.menu == 'vertical'" [opened]="settings.sidenavIsOpened" [mode]="(settings.sidenavIsPinned) ? 'side' : 'over'" (openedStart)="showSidenav = !showSidenav" (closedStart)="showSidenav = !showSidenav" class="sidenav mat-elevation-z6" autoFocus="false">
      <mat-toolbar *ngIf="settings.fixedSidenav" class="top-toolbar">
        <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" class="logo-agrement">
          <img src="assets/img/card-back-logo-small.png" alt="logo">
          <span class="mx-2">Metfpet</span> 
        </a>
      </mat-toolbar>
      <app-sidenav [user]="user"></app-sidenav>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

  <div #backToTop fxLayout="row" fxLayoutAlign="center center" class="back-to-top" (click)="scrollToTop()">
    <mat-icon>arrow_upward</mat-icon>
  </div>

  <mat-toolbar color="#f2f8fa" class="footer caption" [class.full-width]="!showSidenav" fxLayoutAlign="center center">
    Powered by Netsen Group
  </mat-toolbar>
</div>