<div fxLayout="row" fxFill>
  <div fxFlex="0" fxFlex.gt-xs="60" class="picture-box">
  </div>
  
  <div fxFlex="100" fxFlex.gt-xs="40" class="content-box">
    <div class="content-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/img/enseignement-technique-logo-large.png" class="logo-mers mb-3" />
  
      <div class="logo-caption">
        Ministère de l’Enseignement Technique, de la Formation Professionnelle et de l’Emploi
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="content-body">
      <div fxFlex="100">
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <div class="content-footer">
      <span>Powered by <span class="color-orange text-bold-500">Netsen Group</span> @ 2022</span>
    </div>
  </div>
</div>
