@import '../theme/styles/variables';
:host ::ng-deep {
  .picture-box {
    background: url('../../assets/img/app/agrement_public_page.png') 50% 50% no-repeat;
    background-size: cover;
  }

  .content-box {
    padding: 0 5%;
    position: relative;
  
    .content-header {
      padding: 20% 10% 60px;
      text-align: center;
      .logo-mers {
        width: 200px;
      }
  
      .logo-caption {
        font-size: 18px;
        font-weight: 600;
      }
    }
  
    .content-footer {
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 80%;
      font-size: 12px;
      color: $color-grey;
    }
  }
}
