<div fxLayout="row" style="min-height: 100%">
  <div fxFlex="0" fxFlex.gt-xs="45" class="picture-box">
    <div class="content-header" fxLayout="column" fxLayoutAlign="center center" fxHide.xs>
    </div>
  </div>
  
  <div fxFlex="100" fxFlex.gt-xs="55" class="content-box">
    <div fxLayout="row" fxLayoutAlign="center center" class="content-body">
      <div fxFlex="100">
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <div class="content-footer">
      <span>Powered by <span class="color-orange text-bold-500">Netsen Group</span> @ 2022</span>
    </div>
  </div>
</div>
