@import '../theme/styles/variables';

:host ::ng-deep {
  .picture-box {
    background: url('../../assets/img/app/public-page.jpg') 50% 50% no-repeat;
    background-size: cover;

    .content-header {
      color: white;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      padding: 0 10%;
      height: 100vh;
      .logo-mers {
        width: 300px;
      }
      .logo-caption {
        margin-bottom: 100px;
      }
    }
  }

  .content-box {
    position: relative;
    background: #F3F9F9;
  
    .content-header {
      padding: 5px 3%;
      text-align: center;
    }

    .content-body {
      padding: 0 3%;
      margin-bottom: 50px;
    }
  
    .content-footer {
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: $color-grey;
    }
  }
}
