.mask {
    border: none;
    width: 45px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
}

input[type="text"]::-webkit-autocomplete {
    visibility: hidden;
}

.text-blue{
    color: blue;
    text-decoration: underline;
}

.text-blue:active{
    color: red;
}