<div mat-dialog-title>Confirmation de l’adresse e-mail</div>

<div class="mat-dialog-body">
    <mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="100" class="px-2 mb-4 text-center">
                <div class="text-bold mb-3">
                    Un code unique vient de vous être envoyé par e-mail afin de confirmer celle-ci. Veuillez entrer
                    ci-dessous le code reçu afin de pouvoir compléter la procédure.
                </div>
                <div class="mb-3" style="font-style: italic;">
                    Si vous n’avez pas reçu le courriel dans les 5 prochaines minutes, veuillez en premier actualiser
                    votre boite e-mail, puis vérifier dans vos spams. En dernier lieux vous pouvez demander un nouveau
                    code.
                </div>
            </div>
            <div style="background-color: white;" fxFlex="80" class="border p-2" fxLayout="row wrap"
                fxLayoutAlign="center center">
                <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px"
                    [formGroup]="form">
                    <input matInput formControlName="char1" type="text" maxlength="1" class="mask" autofocus (paste)="onPaste($event)">
                    <input matInput formControlName="char2" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char3" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char4" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char5" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char6" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char7" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                    <input matInput formControlName="char8" type="text" maxlength="1" class="mask" autocomplete="off" (paste)="onPaste($event)">
                </div>
            </div>
            <div fxFlex="80" fxLayoutAlign="end" class="my-3">
                <ng-container *ngIf="!loading">
                    <a class="text-blue" *ngIf="showResendButton; else timerTemplate"
                        (click)="sendEmailVerification()">Renvoyer le code</a>
                    <ng-template #timerTemplate>
                        <div class="timer">
                            Temps retant avant expiration du code: {{ time | date:'mm:ss' }}
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </mat-dialog-content>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" class="px-2">
        <div>
            <a class="text-blue" mat-dialog-close>Retour</a>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="loading || form.invalid">
                <mat-icon *ngIf="loading">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                Soumettre
            </button>
        </div>
    </div>
</div>

<button mat-icon-button class="mat-dialog-close-btn" mat-dialog-close="">
    <mat-icon>close</mat-icon>
</button>